<div fxLayout="row" fxLayoutAlign="start center" fxShow.xs fxHide>{{ row.firstName }}</div>
<div
[ngClass]="{ 'clickable': row.level === 0, 'non-clickable': row.level > 0, 'non-empty': !row.isEmpty && row.level < 2 }"
class="expandable"
fxLayoutAlign="start center"
fxHide.xs>
  <i
    *ngIf="row.level < 1"
    [class.active]="row.isExpanded"
    (click)="toggleRow.emit(row)"
    aria-hidden="true"
    class="material-icons">
  </i>
  <span *ngIf="row.level === 0" (click)="showDieter.emit(row)" fxFlex>{{ row.firstName }}</span>
  <span *ngIf="row.level > 0">
    <span *ngIf="row.name !== 'load-more-pkgs' && row.name !== 'load-more-orgs'" [class.subitem-name]="row.level === 2">
      {{ row.name | translate }} {{ row.level === 2 ? '(' + row.id + ')' : '' }}
    </span>
    <span
    *ngIf="row.name === 'load-more-pkgs' || row.name === 'load-more-orgs'"
    (click)="onLoadMore.emit({ name: row.name, row: row })"
    class="load-more-prompt">
      {{ 'LIBRARY.CONTENT.LOAD_MORE' | translate }}
    </span>
  </span>
</div>