<div class="wellcore-header">
  <a class="wellcore-logo" [routerLink]="['../wellcore']">
    <img src="/assets/wellcore/images/wellcore-logo.png" alt="Wellcore Logo" />
  </a>
  <div class="wellcore-nav">
    <a href="https://www.teamwellcore.com/#whatwedo" target="_blank">What We Do</a>
    <a href="https://www.teamwellcore.com/#howitworks" target="_blank">How It Works</a>
    <a href="https://www.teamwellcore.com/#faqs" target="_blank">FAQ</a>
    <a href="https://www.teamwellcore.com" target="_blank" class="btn">Join Wellcore</a>
  </div>
</div>