@import 'variables';

@font-face {
  font-family: 'Trade Gothic Bold Condensed';
  font-style: normal;
  font-weight: bold;
  src: url(/assets/wellcore/fonts/trade-gothic.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter Light';
  font-style: normal;
  font-weight: lighter;
  src: url(/assets/wellcore/fonts/inter-light.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: normal;
  src: url(/assets/wellcore/fonts/inter-regular.woff2) format('woff2');
}

ccr-wellcore-container {
  .host {
    background: rgb(29, 18, 31);
    background: linear-gradient(
      135deg,
      rgba(46, 78, 103, 1) 0%,
      rgba(29, 18, 31, 1) 100%
    );
    min-height: 100vh;

    & > div {
      color: mat-color($wellcore, white);
      font-family: 'Inter Regular';
      margin: 0 auto;
      padding: 25px;
      width: 90%;
    }
  }

  button.ccr-button.mat-button,
  button.mat-flat-button.ccr-button {
    font-size: 16px;
    height: 42px;
    line-height: 32px;
    padding: 0 25px;
    border-radius: 24px !important;
  }

  .mat-button-disabled {
    border: 1px solid rgba(mat-color($wellcore, platinum), 0.3) !important;
    color: rgba(mat-color($wellcore, platinum), 0.3) !important;
  }

  .mat-step-header {
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 50%;
    max-height: 24px;
    max-width: 24px;
    border: 1px solid transparent;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-step-header-ripple {
      width: 10px;
      height: 10px;
      background: white;
      border-radius: 50%;
      max-height: 10px;
      max-width: 10px;
      padding: 0;
      margin: 0;
      position: relative;
    }

    .mat-step-icon {
      display: none;
    }

    .mat-step-label {
      display: none;
    }
  }

  .mat-stepper-horizontal-line {
    border-top-color: #8dbdd8;
  }

  .mat-step-header[aria-selected='true'] {
    border: 1px solid #8dbdd8;
  }

  .ccr-wellcore-form-title {
    font-weight: 200;
    font-size: 40px;
    font-family: 'Inter Light';
    color: linear-gradient(
        112.99deg,
        rgba(141, 189, 216, 0.6) 22.93%,
        rgba(255, 255, 255, 0) 89.69%
      ),
      linear-gradient(0deg, #ffffff, #ffffff);
    line-height: 48px;
    margin-bottom: 40px;
  }
  .ccr-wellcore-form {
    .mat-form-field {
      .mat-form-field-flex {
        .mat-form-field-infix {
          border-top: 0px;
          padding: 0px;
          font-weight: 200;
          font-size: 14px;
          width: 100%;

          input {
            height: 36px;
            margin-top: 5px;
            font-family: 'Inter Light';
          }

          mat-select {
            margin-top: 5px;
            padding: 10px 0;

            .mat-select-value {
              color: white;
              font-family: 'Inter Light';
            }

            .mat-select-arrow-wrapper {
              .mat-select-arrow {
                margin-top: 10px;
                color: white;
              }
            }
          }
        }

        .mat-form-field-suffix {
          border: 0;
          .mat-datepicker-toggle {
            color: white;
          }
        }
      }
      .mat-form-field-outline {
        color: #8dbdd8;
      }
      &.mat-focused {
        .mat-form-field-outline-thick {
          color: #8dbdd8;
        }
      }

      .mat-input-element {
        caret-color: #8dbdd8;
      }
    }

    .ccr-wellcore-field {
      display: flex;
      width: 100%;

      .ccr-wellcore-label {
        width: 150px;
        font-weight: 200;
        font-size: 14px;
        font-family: 'Inter Light';
        padding-top: 15px;
      }
    }
  }

  .mat-datepicker-content {
    .mat-calendar {
      mat-calendar-header {
        .mat-calendar-header {
          max-width: 100%;
          width: 100%;
          background-color: #2a3f55;
        }
      }
    }
  }
}
