@import '~libs/common/src/lib/styles/variables/colors';

:host {
  & > div {
    border: 1px solid mat-color($wellcore, slate);
    height: 187px;
    padding: 20px 25px;
  }

  .button-container {
    width: 100%;
  }

  .day {
    font-size: 20px;
    margin: 0;
  }

  .extra-info {
    font-size: 14px;
    margin: 0;
    margin-bottom: 15px !important;
  }

  .schedule-new-appointment {
    font-size: 24px;
    margin: 0;
    height: 75%;
  }
}
