<div *ngIf="meeting; else newMeeting" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
  <p class="day">{{ meeting.date | amDateFormat:'dddd' }}</p>
  <p class="day">{{ meeting.date | amDateFormat:'MMMM D, YYYY' }}</p>
  <p class="day">{{ meeting.date | amDateFormat:'h:mm a' }}</p>
  <p class="extra-info">{{ meeting.type.description }}, {{ meeting.duration }} {{ 'GLOBAL.MINUTES' | translate | lowercase }}</p>

  <div *ngIf="meeting.isFuture" class="button-container" fxLayout="row" fxLayoutAlign="center center">
    <button
    [disabled]="disabled"
    (click)="onReschedule()"
    class="ccr-button"
    color="accent"
    mat-button>
      {{ 'BOARD.RESCHEDULE_CANCEL' | translate }}
    </button>
  </div>
</div>

<ng-template #newMeeting>
  <div fxLayout="column" fxLayoutAlign="space-evenly start" fxLayoutGap="5px">
    <p class="schedule-new-appointment" [innerHTML]="'BOARD.SCHEDULE_ANOTHER_APPOINTMENT' | translate"></p>

    <div class="button-container" fxLayout="row" fxLayoutAlign="center center">
      <button
      (click)="onSchedule()"
      class="ccr-button"
      color="accent"
      mat-button>
        {{ 'BOARD.TO_SCHEDULE' | translate }}
      </button>
    </div>
  </div>
</ng-template>