@import 'variables';

$preview-width: 200px;

.mat-icon {
  font-size: 20px;
  line-height: 20px;
  height: 20px;
}

.mic-block {
  border: 1px solid var(--toolbar, mat-color($ccr-background, tools));
  height: 15px;
  width: 5px;

  &-warning-wrapper {
    text-align: center;
    width: $preview-width;
  }

  &-wrapper {
    width: calc(#{$preview-width} - 24px);
  }

  &.active {
    background-color: var(--primary);
  }
}
