<div dir="rtl">
  <h3 #top>كيفية إعداد حسابك</h3>

  <p>حساب مطور آبل مطلوب لاستضافة تطبيق iOS الخاص بك (لأجهزة آيفون وآيباد) في متجر تطبيقات آبل. يشرح هذا المستند خطوات التسجيل في برنامج برنامج آبل للمطورين.</p>
  <p>بعد إعداد حساب مطوّر آبل (أو إذا كان لديك حساب بالفعل)، يرجى دعوة CoachCare للتعاون في حسابك. سيساعدك CoachCare في إدارة تطبيقك وتحديثه باستمرار وتشغيله بشكل صحيح.</p>
  <p><em>ستستغرق هذه العملية بكاملها لتسجيل حساب مطوّر آبل ما بين بضعة أيام إلى بضعة أسابيع. للمساعدة في تسريع هذه العملية، يُرجى التأكد من إرسال جميع المواد الصحيحة والرد الفوري على أي اتصالات من آبل.</em></p>

  <h3>قبل ان تبدأ</h3>

  <p>إذا كان لديك بالفعل حساب مطوّر آبل لشركتك، فيمكنك التخطي للأسفل إلى قسم <a href="/register/apple#invite">دعوة CoachCare إلى حساب مطوِّر</a> آبل.</p>
  <p>لإنشاء حساب لشركتك، ستحتاج إلى ما يلي:</p>
  <ol>
    <li>جهاز كمبيوتر أو جهاز يمكنه استخدام المصادقة الثنائية من آبل.<a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/ar-sa/HT205075">قد يكون هذا إما جهاز iOS (آيفون أو آيباد أو آيبود تاتش) أو جهاز آبل مكتبي أو لابتوب آبل أو جهاز ويندوز مكتبي أو لابتوب ويندوز</a>. إذا كان لديك أي أسئلة حول هذا المطلب فيرجى الاتصال <a href="mailto:implementation@coachcare.com">بفريق التنفيذ لدينا</a>.</li>
    <li>التنظيم القانوني أو اسم الشركة</li>
    <li>موقع ويب متاح للجمهور يحمل اسم نطاق مرتبط بشركتك</li>
    <li>رقم هاتف جهة اتصال ستقوم آبل بالاتصال به للتحقق من المعلومات الخاصة بشركتك</li>
    <li>عنوان بريد إلكتروني مرتبط بشركتك، سيتم استخدامه لتسجيل الحساب</li>
  </ol>

  <h3>عملية الانضمام لبرنامج مطوري آبل</h3>

  <ol>
    <li>قم بإنشاء Apple ID لشركتك
      <p>يجب عليك أولاً إنشاء Apple ID لشركتك، والذي ستستخدمه بعد ذلك لإنشاء حساب مطور آبل لشركتك. لا يمكنك استخدام Apple ID الشخصي الخاص بك. بالإضافة إلى ذلك، يجب أن يستخدم عنوان البريد الإلكتروني المستخدم لإنشاء Apple ID الخاص بك اسم نطاق موقع الويب الخاص بشركتك. لا تستخدم حساب البريد الإلكتروني الخاص بالمستهلكين (@ gmail.com و @ yahoo.com و @ hotmail.com، إلخ). إذا لم يكن لديك بالفعل Apple ID لشركتك، فقم <a target="_blank" rel="noopener noreferrer" href="https://appleid.apple.com/account">بإنشاء Apple ID</a>.</p>
    </li>
    <li>إعداد المصادقة الثنائية لحساب Apple ID الخاص بك
      <p>
        اعتبارًا من 29 يونيو 2018، تشترط آبل وجود مصادقة ثنائية على حساب Apple ID الخاص بشركتك لتحسين أمان الحساب. يرجى <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/ar-sa/HT204915">تمكين المصادقة الثنائية</a> لحساب Apple ID الخاص بك. يرجى ملاحظة أن هذه الخطوة تتطلب أن يكون لديك <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/ar-sa/HT205075">جهاز كمبيوتر آبل أو ويندوز مثبت عليه iCloud for Windows وiTunes</a>. ضع في اعتبارك أنه يجب تسجيل دخول الجهاز أو الكمبيوتر المستخدم في المصادقة الثنائية باستخدام حساب Apple ID الخاص بعملك. هناك خياران متاحان:</p>
        <ol>
          <li><small><strong>الطريقة الموصى بها</strong></small> شراء و/أو الاحتفاظ بجهاز آبل منفصل (آيفون أو آيباد أو كمبيوتر مكتبي أو لابتوب) أو جهاز كمبيوتر أو لابتوب يعمل بنظام ويندوز يظل مسجل الدخول دائمًا باستخدام Apple ID هذا. سيتم اقتران هذا الجهاز أو الكمبيوتر واستخدامه لأغراض العمل فقط، ولا يتم استخدام جهازك الشخصي أو هاتفك.</li>
          <li>استخدم جهازًا شخصيًا أو هاتفًا، وسجّل الدخول باستخدام Apple ID التابع لشركتك حسب الحاجة. فمثلا:
            <ul>
              <li>يكون جهاز آيفون الخاص بك مسجل الدخول بشكل طبيعي في حساب Apple ID الشخصي الخاص بك.</li>
              <li>حسب الحاجة لأغراض العمل، قم بتسجيل الخروج من حساب Apple ID الشخصي الخاص بك على هاتفك أو جهاز الكمبيوتر الخاص بك، وقم بتسجيل الدخول باستخدام Apple ID الخاص بعملك</li>
              <li>بعد اكتمال المصادقة (والتي يفترض أن تستغرق بضع دقائق فقط) قم بتسجيل الخروج من Apple ID الخاص بعملك والعودة إلى Apple ID الشخصي الخاص بك.</li>
            </ul>
            في العادة، ستحتاج العيادات إلى الوصول إلى حسابات Apple ID للأعمال الخاصة بها مرة كل شهرين أو ثلاثة، لذلك فإنه يمكن إنجاز هذه العملية بسهولة.
          </li>
        </ol>
    </li>
    <li>سجل أو حدد موقع رقم D-U-N-S
      <p>يجب أن يكون لدى مؤسستك رقم D-U-N-S حتى تتمكن آبل من التحقق من هوية مؤسستك وحالة الكيان القانوني. يتم تعيين هذه الأرقام المكونة من تسعة أرقام فريدة من قبل Dun &amp; Bradstreet وتستخدم على نطاق واسع كمعرّفات تجارية قياسية.</p>
      <ul>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/enroll/duns-lookup/#/search">سجل للحصول على رقم D-U-N-S أو حدد موقعه</a><br><em><strong>حساب Apple ID مطلوب قبل التسجيل للحصول على رقم D-U-N-S</strong>.<br>يرجى إكمال الخطوة السابقة (إنشاء Apple ID) قبل المتابعة إلى هذه النقطة.</em></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/support/d-u-n-s/">مزيد من المعلومات حول رقم D-U-N-S</a></li>
      </ul>
    </li>
    <li>سجل للحصول على حساب مطور آبل
      <p>بعد ذلك، <a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/programs/enroll/">أكمل نموذج التسجيل</a> للانضمام إلى برنامج حساب مطوري آبل.</p>
      <p>في بداية عملية التسجيل، يرجى التسجيل كشر <strong>كة/منظمة</strong>. إذا كانت لديك أية أسئلة حول نوع الكيان أو تنوي التسجيل كنوع مختلف، فيرجى الاتصال <a href="mailto:implementation@coachcare.com">بفريق التنفيذ لدينا</a> قبل أولا.</p>
      <p>بعد إكمال هذه العملية، سيتصل بك ممثل من آبل على عنوان البريد الإلكتروني ورقم الهاتف المقدمين خلال 24-72 ساعة. سيتحقق من المعلومات الخاصة بشركتك.</p>
    </li>
    <li>أدخل معلومات الدفع
      <p>بعد اكتمال عملية التحقق من الحساب من جانب آبل، ستتلقى رسالة تأكيد عبر البريد الإلكتروني. سيتم تضمين تعليمات دفع رسوم عضوية برنامج مطوري آبل.</p>
    </li>
  </ol>

  <h3 id="invite">قم بدعوة CoachCare إلى حساب مطور آبل الخاص بك</h3>

  <p>بمجرد اكتمال تفعيل حساب مطور آبل الخاص بك يجب عليك دعوة CoachCare لحسابك كمسؤول. ستحتاج إلى دعوة CoachCare إلى حساب مطور iTunes الخاص بك وحساب اتصال iTunes الخاص بك. لتبدأ:</p>
  <ol>
    <li>انتقل إلى <a target="_blank" rel="noopener noreferrer" href="https://itunesconnect.apple.com/access/users">قسم المستخدم والوصول</a> في حساب اتصال متجر التطبيقات.</li>
    <li>انقر على علامة التبويب <strong>الأشخاص</strong> في الجزء العلوي من الصفحة.</li>
    <li>انقر فوق الزر "+" لإضافة مستخدم جديد (CoachCare).</li>
    <li>استخدم "CoachCare" لكل من حقلي <strong>الاسم الأول</strong> و <strong>اسم العائلة</strong>.</li>
    <li>بالنسبة إلى "البريد الإلكتروني" ، استخدم <strong>mobile@coachcare.com</strong>.</li>
    <li>ضمن <strong>الأدوار</strong> حدد مربع <strong>المشرف</strong>.</li>
    <li>ثم انقر على زر <strong>دعوة</strong> في الأسفل.</li>
  </ol>

  <p>يفترض أن تكون العملية قد انتهت الآن. يمكنك توجيه أي أسئلة دعم أو متابعة إلى <a target="_blank" rel="noopener noreferrer" href="https://coachcare.zendesk.com/hc/ar-sa/requests/new">صفحة دعم CoachCare</a> أو مسؤول المبيعات الإقليمي لديك.</p>
</div>
