<div>
  <h3 #top>Sådan sætter du din konto op</h3>

  <p>En Apple Udvikler Konto er nødvendig for at være vært for din iOS (iPhone og iPad) app i Apple App Store. Dette dokument gennemgår oprettelsen i Apples udviklerprogram.</p>
  <p>Når du har oprettet en Apple Udvikler-konto (eller hvis du allerede har en), skal du invitere CoachCare til at samarbejde på din konto. CoachCare hjælper derefter med at administrere din app og med at holde den opdateret og at sørge for at den fungerer korrekt.</p>
  <p><em>Hele processen med at registrere din Apple Udvikler-konto tager mellem et par dage og et par uger. For at hjælpe med at fremskynde processen, skal du sørge for at indsende alle de rigtige materialer og reagere hurtigt på enhver kommunikation fra Apple.</em></p>

  <h3>Før du går i gang</h3>

  <p>Hvis du allerede har en Apple Udvikler-konto til din virksomhed, kan du springe ned til <a href="/register/apple#invite">Invitér CoachCare til din Apple Udvikler konto-sektion</a>.</p>
  <p>For at oprette en konto til din virksomhed skal du have følgende:</p>
  <ol>
    <li>En computer eller en enhed, der kan bruge to-faktor-autentificering fra Apple. Dette kan enten være en <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/da-dk/HT205075">iOS-enhed (iPhone, iPad eller iPod Touch), Apple-stationær eller bærbar computer eller Windows-PC eller bærbar computer</a>. Hvis du har spørgsmål til dette krav, bedes du kontakte vores <a href="mailto:implementation@coachcare.com">Implementeringshold</a>.
    <li>Juridisk organisation eller Firmanavn</li>
    <li>En offentligt tilgængelig hjemmeside med et domænenavn, der er tilknyttet din virksomhed</li>
    <li>Et kontakttelefonnummer, som Apple vil ringe til for at bekræfte oplysninger om din virksomhed</li>
    <li>En e-mailadresse, der er knyttet til din virksomhed, der bruges til at registrere kontoen</li>
  </ol>

  <h3>Apple Udvikler Oprettelse Proces</h3>

  <ol>
    <li>Opret et Apple-ID til din virksomhed
      <p>Du skal først oprette et Apple-ID til din virksomhed, som du derefter bruger til at oprette en Apple Udvikler-konto for din virksomhed. Du kan ikke bruge dit eget personlige Apple-ID. Desuden skal den e-mailadresse, der bruges til dit Apple-ID, bruge domænenavnet på din virksomheds hjemmeside. Brug ikke en forbruger e-mail-konto (som fx @ gmail.com, @ yahoo.com, @ hotmail.com osv.). Hvis du ikke allerede har et Apple-ID til din virksomhed, skal du <a target="_blank" rel="noopener noreferrer" href="https://appleid.apple.com/account">oprette et Apple-ID</a>.</p>
    </li>
    <li>Opsætning af to faktor godkendelse af dit Apple-ID
      <p>Pr. 29. juni 2018 kræver Apple din virksomheds Apple ID-konto for at få to faktors godkendelse til en  forbedret kontosikkerhed. Aktivér venligst to-faktor-godkendelse til din Apple ID-konto. Bemærk, at dette trin kræver, at du har <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/da-dk/HT205075">en Apple-enhed eller Windows-PC med iCloud til Windows og iTunes installeret</a>. Vær opmærksom på, at der skal logges ind ved hjælp af din virksomheds Apple-ID på den enhed eller computer, der bruges til tofaktor-autentificering. Der er to muligheder:
        <ol>
          <li><small><strong>Anbefalet procedure</strong></small> Køb og/eller vedligeholde en separat Apple-enhed (iPhone, iPad, Computer, Laptop) eller Windows-computer eller bærbar computer, der altid er logget ind med dette Apple-ID. Her vil denne enhed kun være forbundet og den skal kun anvendes til erhvervsmæssige formål. Din personlige enhed eller telefon bliver ikke brugt.</li>
          <li>Brug en personlig enhed eller telefon, og log ind ved hjælp af din virksomheds Apple-ID efter behov. For eksempel:
            <ul>
              <li>Din personlige iPhone logger ind som på normal vis på din personlige Apple ID-konto.</li>
              <li>Log ud af din personlige Apple ID-konto på din telefon eller computer, og log ind med din virksomheds Apple-ID, hvis det er nødvendigt til erhvervsmæssige formål</li>
              <li>Når autentificering er gennemført (som kun tager et par minutter), logger du af din med din virksomheds Apple-ID og tilbage til dit personlige Apple-ID.</li>
            </ul>
            Normalt har klinikker brug for adgang til deres Apple-ID-konto hver 2-3 måned og derfor er denne praksis håndterbar.
          </li>
        </ol>
    </li>
    <li>Registrer eller Find D-U-N-S Nummer
      <p>Din organisation skal have et D-U-N-S-nummer, så Apple kan bekræfte din organisations identitet og status for juridiske enheder. Disse unikke ni-cifrede numre bliver sendt af Dun &amp; Bradstreet og det bliver generelt anvendt som standard identificering i forretningsmæssig regi.</p>
      <ul>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/enroll/duns-lookup/#/search">Tilmeld dig eller find dit D-U-N-S nummer</a><br><em><strong>Du skal have et Apple-ID før du registrer dig til et D-U-N-S nummer.</strong>.<br>Udfyld det forrige trin (Opret Apple ID), før du fortsætter til dette punkt.</em></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/support/d-u-n-s/">Flere oplysninger om D-U-N-S nummer</a></li>
      </ul>
    </li>
    <li>Tilmeld dig en Apple Udvikler-konto
      <p>Udfyld derefter <a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/programs/enroll/">oprettelsesformularen</a> for at tilmelde dig i Apple Udvikler-Konto programmet.</p>
      <p>I begyndelsen af oprettelsesprocessen skal du registrere dig som et <strong>firma eller en organisation</strong>. Hvis du har spørgsmål vedrørende din identitetstype eller har til hensigt at registrere dig som en anden type, bedes du kontakte vores <a href="mailto:implementation@coachcare.com">implementeringsteam</a>, inden du fortsætter.</p>
      <p>Når du har gennemført denne proces, vil en repræsentant fra Apple kontakte dig på den oplyste e-mailadresse og det oplyste telefonnummer inden for 24-72 timer. De vil bekræfte oplysninger om din virksomhed.</p>
    </li>
    <li>Indtast betalingsoplysninger
      <p>Når kontoen er blevet bekræftet af Apple, vil du modtage en bekræftelses-e-mail. Instruktioner til betaling af Apple Udvikler Program-medlemskabet vil også følge med.</p>
    </li>
  </ol>

  <h3 id="invite">Inviter CoachCare til din Apple Udvikler-konto</h3>

  <p>Når din Apple Udvikler-konto er helt aktiv, skal du invitere CoachCare som administrator til din konto. Du skal invitere CoachCare til både din iTunes Udvikler-konto og din iTunes Connect-konto. Til at starte med:</p>
  <ol>
    <li>Gå til afsnittet <a target="_blank" rel="noopener noreferrer" href="https://itunesconnect.apple.com/access/users">Bruger og adgang</a> til din App Store Connect-konto.</li>
    <li>Klik på fanen <strong>Personer</strong> øverst på siden.</li>
    <li>Klik på knappen "+" for at tilføje en ny bruger (CoachCare)</li>
    <li>Brug "CoachCare" til både feltet <strong>Fornavn</strong> og <strong>Efternavn</strong>.</li>
    <li>For "Email", brug <strong>mobile@coachcare.com</strong></li>
    <li>Under <strong>Roller</strong> skal du tjekke <strong>Admin-feltet</strong>.</li>
    <li>Klik derefter på knappen <strong>Inviter</strong> nederst.</li>
  </ol>

  <p>Processen bør være gennemført nu. Eventuelle support- eller opfølgningsspørgsmål kan henvises til <a target="_blank" rel="noopener noreferrer" href="https://coachcare.zendesk.com/hc/en-us/requests/new">CoachCare Support-siden</a> eller din regionale salgsrepræsentant.</p>
</div>
