<ccr-datasource-overlay class="ccr-table" [source]="source">

    <mat-table [dataSource]="source">

      <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef>ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
          {{ row.id }}
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>{{'BOARD.NAME' | translate}}</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
          <span>{{'BOARD.NAME' | translate}}</span>
          {{ row.title }}
          <i class="ccr-marker" *ngIf="row.isInherited">&nbsp;*</i>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="description">
        <mat-header-cell *cdkHeaderCellDef>{{'LIBRARY.CONTENT.DESCRIPTION' | translate}}</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
          <span>{{'LIBRARY.CONTENT.DESCRIPTION' | translate}}</span>
          {{ row.description }}
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="organization">
        <mat-header-cell *cdkHeaderCellDef>{{'BOARD.CLINIC' | translate}}</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
          <span>{{'BOARD.CLINIC' | translate}}</span>
          {{ row.organization.name }} ({{ row.organization.id }})
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <mat-header-cell *cdkHeaderCellDef>{{'BOARD.ACTIONS' | translate}}</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxLayoutAlign="center center" fxLayoutAlign.xs=" center" fxFlex.xs="grow">
          <ng-container>
            <span (click)="onRemove(row)">{{'BOARD.REMOVE' | translate}}</span>
            <button
            [class.disabled]="!isAdmin || row.isInherited"
            [disabled]="!isAdmin || row.isInherited"
            (click)="onRemove(row)"
            mat-icon-button
            title="{{'BOARD.REMOVE' | translate}}"><mat-icon>delete</mat-icon></button>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="columns"></mat-header-row>
      <mat-row fxLayoutWrap
        *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
        [ngClass]="{
          'row-even': even,
          'row-odd': odd
        }">
      </mat-row>
    </mat-table>

    <p class="footnotes" *ngIf="source.hasInheritedPackage">
      <i class="ccr-marker">*</i> {{ 'BOARD.INHERITED_PHASE_FOOTNOTE' | translate }}
    </p>

  </ccr-datasource-overlay>
