<form
[formGroup]="form"
(ngSubmit)="onSubmit()"
fxLayout="column"
fxLayoutAlign="center stretch"
fxLayoutGap="25px">
  <h2 class="title">Medical Intake Questionnaire</h2>
  <h4 class="subtitle">These questions will help your team provide you with a personalized treatment.</h4>

  <div>
    <ccr-wellcore-main-form
    formControlName="patient">
    </ccr-wellcore-main-form>
  </div>

  <div>
    <ccr-wellcore-additional-questions-form
    [questions]="additionalQuestions"
    formControlName="additionalQuestions">
    </ccr-wellcore-additional-questions-form>
  </div>

  <div>
    <ccr-wellcore-activities-form
    [questions]="activityQuestions"
    formControlName="activityQuestions">
    </ccr-wellcore-activities-form>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch">
    <button
    [disabled]="isLoading || form.invalid"
    (click)="onSubmit()"
    class="ccr-button"
    mat-flat-button>Submit</button>
  </div>
</form>