@import 'variables';

$row-height: 42px;

ccr-wellcore-medical-intake-form {
  & > form,
  & > div {
    border: 1px solid mat-color($wellcore, platinum);
    margin: 0 25px;
    padding: 30px;
  }

  ccr-date-input {
    .mat-form-field-suffix {
      border: 0;
      top: 0;

      button.mat-icon-button {
        color: mat-color($wellcore, wellcore-blue);
        font-size: 14px !important;
        height: $row-height !important;
        width: 24px !important;
      }
    }

    input.mat-input-element {
      margin-top: 0.9em;
    }

    .mat-form-field-appearance-outline {
      .mat-form-field-infix {
        padding: 0;
      }
    }
  }

  input.generic.mat-input-element {
    &:disabled {
      color: mat-color($wellcore, white);
    }
    caret-color: mat-color($wellcore, wellcore-blue);
    margin-top: 0.1em;
  }

  p.input-label {
    font-family: 'Inter Light';
    margin: 0;
  }

  h5,
  h6 {
    &.input-label {
      color: mat-color($wellcore, wellcore-blue);
      font-family: 'Inter Light';
      margin: 0;
    }
  }

  h5.input-label {
    font-size: 20px;
  }

  h6.input-label {
    font-size: 18px;
  }

  .generic {
    label.mat-radio-label {
      height: $row-height;
    }
  }

  .mat-checkbox-checked {
    &:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
    .mat-checkbox-background {
      background: mat-color($wellcore, wellcore-blue);
      background-color: mat-color($wellcore, wellcore-blue) !important;
    }
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      border-top: none;
      padding: 0.7em 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-outline-end,
    .mat-form-field-outline-start {
      border: 1px solid mat-color($wellcore, wellcore-blue);
      border-radius: 0;
    }

    .mat-form-field-outline-end {
      border-left: none;
    }

    .mat-form-field-outline-start {
      border-right: 0;
    }
  }

  .mat-radio-button {
    &.mat-accent,
    &.mat-radio-disabled {
      &.mat-radio-checked .mat-radio-outer-circle,
      .mat-radio-outer-circle {
        border-color: mat-color($wellcore, platinum);
      }

      .mat-radio-label-content {
        color: mat-color($wellcore, white);
      }

      .mat-radio-inner-circle {
        background-color: mat-color($wellcore, platinum);
      }
    }
  }

  .subtitle {
    font-family: 'Inter Light';
    font-size: 32px;
    font-weight: lighter;
    margin: 0 auto 80px auto !important;
    text-align: center;
    width: 80%;
  }

  .title {
    font-family: 'Trade Gothic Bold Condensed';
    font-size: 84px;
    font-weight: bold;
    margin: 50px auto !important;
    text-align: center;
    text-transform: uppercase;
    width: 85%;
  }

  @media #{$small-and-down} {
    & > div {
      margin: 0 10px;
      padding: 15px;
    }

    .subtitle {
      font-size: 24px;
      margin: 0 auto 40px auto !important;
    }

    .title {
      font-size: 36px;
      margin: 25px auto !important;
    }
  }
}
