hr {
  border-color: var(--bg-panel);
  margin-bottom: 25px !important;
  margin-top: 25px;
  width: 100%;
}

mat-dialog-actions {
  background-color: transparent !important;
}

.item-label {
  font-weight: bold;
  margin: 0;

  &.subtitle {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.price-label {
  font-size: 24px;
  text-align: right;

  &.total {
    font-weight: bold;
  }
}
