<div class="ccr-container-mini" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center stretch" fxLayoutWrap.xs>

  <a mat-button class="ccr-icon-button" fxFlex="0 0 150px" fxFlex.xs="grow" (click)="toggleView()">
    <mat-icon *ngIf="view === 'table'">show_chart</mat-icon>
    <span *ngIf="view === 'table'">{{ 'BOARD.VIEW_AS_CHART' | translate }}</span>

    <mat-icon *ngIf="view === 'chart'">view_headline</mat-icon>
    <span *ngIf="view === 'chart'">{{ 'BOARD.VIEW_AS_TABLE' | translate }}</span>
  </a>
</div>
<div class="ccr-dashboard-pane" [ngSwitch]="view">
  <ng-container *ngSwitchCase="'chart'">

    <app-levl-chart
      [dates]="dates"
    ></app-levl-chart>

  </ng-container>
  <ng-container *ngSwitchCase="'table'">

    <app-levl-table
    [dates]="dates"
    ></app-levl-table>

  </ng-container>
</div>

