<div class="ccr-wellcore-form-title">Account Information</div>
<form class="ccr-wellcore-form" [formGroup]="formGroup">
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="start stretch"
    fxLayoutGap="50px"
    fxLayoutGap.sm="0px"
  >
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">First Name <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="firstName">
        <mat-error *ngIf="formGroup.get('firstName').getError('required')">First name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Last Name <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="lastName">
        <mat-error *ngIf="formGroup.get('lastName').getError('required')">Last name is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="start stretch"
    fxLayoutGap="50px"
    fxLayoutGap.sm="10px"
  >
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Email Address <span>*</span></label>
      <mat-form-field appearance="outline">
        <input [readonly]="accountCreated" matInput formControlName="email">
        <mat-error *ngIf="formGroup.get('email').getError('required')">Email is required</mat-error>
        <mat-error *ngIf="formGroup.get('email').getError('email')">Email is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Confirm Email <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="emailConfirmation">
        <mat-error *ngIf="formGroup.get('emailConfirmation').getError('required')">Confirm Email is required</mat-error>
        <mat-error *ngIf="formGroup.get('emailConfirmation').getError('email')">Confirm Email is invalid</mat-error>
        <mat-error *ngIf="formGroup.get('emailConfirmation').getError('wrongMatch')">Email does not matched</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="start stretch"
    fxLayoutGap="50px"
    fxLayoutGap.sm="10px"
  >
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Password <span>*</span></label>
      <mat-form-field appearance="outline">
        <input [readonly]="accountCreated" type="password" matInput formControlName="password">
        <mat-error *ngIf="formGroup.get('password').getError('required')">Password is required</mat-error>
      </mat-form-field>
    </div>
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Confirm<br>Password <span>*</span></label>
      <mat-form-field appearance="outline">
        <input [readonly]="accountCreated" type="password" matInput formControlName="passwordConfirmation">
        <mat-error *ngIf="formGroup.get('passwordConfirmation').getError('wrongMatch')">Password does not match</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="start stretch"
    fxLayoutGap="50px"
    fxLayoutGap.sm="0px"
  >
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Phone Number <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="phoneNumber">
        <mat-error *ngIf="formGroup.get('phoneNumber').getError('required')">Phone number is required</mat-error>
      </mat-form-field>
    </div>
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Birthday <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" formControlName="birthday">
        <mat-datepicker-toggle matSuffix class="wellcore-calendar-wrap" [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker class="wellcore-calendar" #picker [startAt]="startDate" startView="multi-year"></mat-datepicker>
        <mat-error *ngIf="formGroup.get('birthday').getError('required')">Birthday is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="start stretch"
    fxLayoutGap="50px"
    fxLayoutGap.sm="0px"
  >
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Height <span>*</span></label>
      <mat-form-field appearance="outline">
        <mat-select
        formControlName="height">
          <mat-option *ngFor="let height of heights" [value]="height.value">{{ height.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('height').getError('required')">Height is required</mat-error>
      </mat-form-field>
    </div>
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Gender <span>*</span></label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">{{ gender.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('gender').getError('required')">Gender is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="ccr-wellcore-field-select">
    <mat-checkbox
      formControlName="agreements"
    >
      <label class="ccr-wellcore-label mat-checkbox-label">
        By checking this box and selecting Continue, I agree to the
        <a href="https://www.termsfeed.com/live/b6ed6406-c147-4de6-bf53-bc6ec292fb14" target="_blank">Terms and Conditions</a>,
        <a href="https://www.termsfeed.com/live/5fd9bc6a-0ade-431f-8e4c-4acb2969dbff" target="_blank">Privacy Policy</a>, and
        <a href="https://privacy.teamwellcore.com/" target="_blank">Privacy Center</a>
        agreements.
        <span>*</span>
      </label>
    </mat-checkbox>
  </div>
</form>