<div class="messages-header" *ngIf="thread?.recipients.length" fxFlex="nogrow" fxLayout="row"
  fxLayoutAlign="start center">
  <div fxFlex fxLayoutAlign="start center" fxLayoutGap="5px">
    <mat-icon (click)="backToUserList()" class='arrow_back'>arrow_back_ios</mat-icon>
    <ng-container *ngFor="let recipient of shownRecipients">
      <ccr-avatar [account]="recipient.id" size="messages"></ccr-avatar>
    </ng-container>

    <span class='mobile-message-top'>
      <ng-container *ngIf="shownRecipients.length === 1; else recipients">
        <span (click)="showProfile(shownRecipients[0])" class="patient-link">{{shownRecipients[0].name}}</span>
      </ng-container>
      <ng-template #recipients>
        <ng-container *ngFor="let recipient of shownRecipients; let last = last">
          <span (click)="showProfile(recipient)" class="patient-link">{{recipient.shortName}}</span>
          <ng-container *ngIf="!last">, </ng-container>
          <ng-container *ngIf="last && shownRecipients.length < thread?.recipients.length">
            <br>
            <span>
              {{ 'BOARD.MESSAGES_PLUS_MORE' | translate:{amount: thread?.recipients.length - shownRecipients.length} }}
            </span>
          </ng-container>
        </ng-container>
      </ng-template>
    </span>
  </div>
  <div *ngIf="thread?.recipients.length === 1" fxFlex fxLayoutAlign="end center" fxLayoutGap="5px" fxHide.xs>
    <ccr-call-control [targets]="thread.recipients"></ccr-call-control>
    <a mat-button color="primary" class="ccr-icon-button"
      (click)="showProfile(thread.recipients[0])">
      <mat-icon>person_outline</mat-icon>
      <span fxHide.xs>{{'BOARD.VIEW_PROFILE' | translate}}</span>
    </a>
  </div>
  <div class="info-button" fxHide.xs fxFlex="nogrow" fxLayout="row" fxLayoutAlign="end center">
    <button (click)="onToggleChatInfo()" class="ccr-icon-button" color="primary" mat-button>
      <mat-icon class="info-icon">info</mat-icon>
      {{ 'BOARD.THREAD_INFO' | translate }}
    </button>
  </div>
</div>
<div class='mobile-messages-icons'>
  <div>
    <ccr-call-control [targets]="thread?.recipients" [showDisabledIcon]="true"></ccr-call-control>
  </div>
  <div>
    <mat-icon class="clickable info-icon" (click)="onToggleChatInfo()">info</mat-icon>
  </div>
</div>


<div class="messages-body" #messageBody fxFlex="grow">

  <span class="message-heading message-first" *ngIf="messages && messages.length === 0">
    {{'BOARD.MESSAGES_START' | translate}}
  </span>
  <div *ngIf="account && messages.length > 0">
    <a mat-button class="ccr-button" (click)="loadPrevious()" *ngIf="offset !== 0 && offset !== null">
      {{'BOARD.MESSAGES_LOAD' | translate}}
    </a>
    <ng-container *ngFor="let message of messages">
      <span class="message-heading" *ngIf="message.timestamp">{{message.timestamp}}</span>
      <div class="message-wrap" [class.message-input]="account.id !== message.author" [class.message-output]="account.id === message.author">
        <ccr-avatar size="big" class="message-img" [account]="message.author" [matTooltip]="message.account.firstName + ' ' + message.account.lastName"></ccr-avatar>
        <span [class.force-word-break]="message.hasLongWord" class="message-text">
          <small class="name">{{ message.account.firstName + ' ' + message.account.lastName }}</small>
          <br>
          <span [innerHTML]="message.content"></span>
        </span>
      </div>
    </ng-container>
  </div>
</div>

<div class="messages-footer" fxFlex="nogrow">
  <textarea
  rows="2"
  [(ngModel)]="newMessage"
  [detectKey]="'Enter'"
  supressOnShiftKeyHold="true"
  (ngModelChange)="onTextInputChange($event)"
  (keyPressed)="sendMessage()"
    [placeholder]="'BOARD.TYPE_YOUR_MESSAGES_HERE' | translate"></textarea>
  <button mat-button class="ccr-button" [disabled]="newMessage.length < 1" (click)="sendMessage()">
    <mat-icon>send</mat-icon> <span fxHide.xs>{{'GLOBAL.SEND' | translate}}</span>
  </button>
  <ccr-popup-description
    fxHide.xs
    [title]="'BOARD.MESSAGES_HELP_TITLE' | translate"
    [description]="'BOARD.MESSAGES_HELP_DESCRIPTION' | translate"
    [showIntro]="false"
  ></ccr-popup-description>
</div>

<div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="loading || disabled">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
