<div>
  <p>For at konfigurere din kliniks brugerdefinerede mobil-app, vil CoachCare have brug for oplysninger om din klinik og nogle af de tilpasninger, som du ønsker. Vær venligst opmærksom på at levere de ønskede oplysninger i tide. Jo hurtigere vi modtager din kliniks detaljer, jo hurtigere vil vi have mulighed for at offentliggøre din app.</p>
  <p>Send venligst en e-mail til <a href=mailto:implementation@coachcare.com>implementation@coachcare.com</a> med dine svar til følgende punkter:</p>

  <h3 #top>Indstillinger og Foretrukne egenskaber</h3>

  <ol>
    <li>
      <strong>App navn</strong>
      <ul>
        <li>Dette vil være det navn, som dine kunder vil søge på i App Store (iOS) eller Google Play Butik (Android). <strong>Begræns det venligst til 12 tegn.</strong>.</li>
      </ul>
    </li>
    <li>
      <strong>Kort beskrivelse af dine tjenester</strong>
      <ul>
        <li>Begræns venligst denne beskrivelse til maks. 80 tegn</li>
        <li>Dette vil blive vist i App Store (iOS) og Google Play Butik (Android)</li>
      </ul>
    </li>
    <li>
      <strong>Komplet beskrivelse af dine tjenester</strong>
      <ul>
        <li>Begræns venligst denne beskrivelse til maks. 4000 tegn.</li>
        <li>Dette vil blive vist i App Store (iOS) og Google Play Butik (Android)</li>
      </ul>
    </li>
    <li>
      <strong>Link til din kliniks hjemmeside</strong>
    </li>
    <li>
      <strong>Kosttilskud</strong>&nbsp;<em>Valgfri</em>
      <ul>
        <li>En liste over alle kosttilskud, der anvendes i din klinik, sammen med daglig dosering.</li>
        <li>For eksempel:
          <ul>
            <li>MultiVitamin, 2 pr. dag</li>
            <li>Kalktilskud, 1 pr. dag</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>Planlægningsstruktur</strong>&nbsp;<em>Valgfri</em>
      <ul>
        <li>En liste over alle mødetyper, der bruges på din klinik, med længde(r) på hver aftale</li>
        <li>For eksempel:
          <ul>
            <li>Indledende konsultation, 60 minutter</li>
            <li>Ugentlig konsultation, 30 minutter</li>
            <li>Telefon tjek, 15 minutter</li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>

  <h3>Design</h3>

  <ol>
    <li>
      <strong>App-logo i høj opløsning</strong>
      <ul>
        <li><strong>VALGMULIGHED A: Indsend dit eget logo</strong>
            <ul>
                <li>Størrelse: 1024px Bredde og 1024px Højde til App Store (iOS) og Google Play Butik (Android).</li>
                <li>Foretrukket format: filen skal være i .AI, .SVG eller .EPS-format.</li>
            </ul>
        </li>
        <li><strong>VALGMULIGHED B: Giv CoachCare rettigheder til at skabe din kliniks logo</strong>
          <ul>
            <li>Omkostningerne er $ 250,00</li>
            <li>CoachCare design team vil skabe dit logo baseret på din klinik hjemmeside og/eller notater sendt af klinikkens mellemmand. Du vil blive forsynet med tre udkast at vælge imellem. <em>Ændringer/redigering af disse udkast kan medføre yderligere gebyrer</em>.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>Fremhævede billede</strong>
      <ul>
        <li><strong>VALGMULIGHED A: Indsend dit eget fremhævede billede</strong>
          <ul>
            <li>Størrelse: 1024px Bredde og 500px Højde.</li>
            <li>Foretrukken format: png-format.</li>
            <li>Dette vil blive vist på Google Play Butik (Android).<br><em><a href="/assets/google-maps.jpg" target="_blank">Eksempel på et funktion billede i Google Play Butik (Google Maps App)</a></em></li>
          </ul>
        </li>
        <li><strong>VALGMULIGHED B: Brug CoachCares fremhævede billede</strong></li>
      </ul>
    </li>
    <li>
      <strong>Primær og sekundær farver</strong>
      <ul>
        <li><strong>VALGMULIGHED A: Indsend dine egne farver</strong>
          <ul>
            <li>Format: primære og sekundære farver skal være i enten HEX- eller RGB-format.</li>
            <li>For eksempel:
              <ul>
                <li>(HEX) Primær farve: #f05d5c, sekundær farve: #514d4a</li>
                <li>(RGB) Primær farve: 240,93,92, sekundær farve: 81,77,74</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><strong>VALGMULIGHED B: Giv CoachCare rettigheder til at vælge din kliniks farver</strong></li>
      </ul>
    </li>
  </ol>
</div>
