app-rightpanel-measurements-v2 {
  form {
    padding: 0 15px;
  }

  input {
    text-align: right !important;
  }

  .radio-group-container {
    max-height: 150px;
    overflow-y: auto;
  }

  .notes-container {
    margin-bottom: 15px;
    max-height: 35vh !important;
    overflow-y: auto;

    mat-spinner {
      display: block;
      margin: 0 auto;
    }
  }

  .timezone-notice-container {
    margin: 0 20px 15px 20px;

    small {
      max-width: 90%;
      word-wrap: break-word;
    }
  }
}
