<div matDialogTitle>
  <div>
      <mat-icon>add_circle_outline</mat-icon>
      <span>{{ 'GLOBAL.ADD_COACH' | translate }}</span>
  </div>
  <button matDialogClose><mat-icon>cancel</mat-icon></button>
</div>

<div class="mat-dialog-separator"></div>

<mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
    <p [innerHTML]="'BOARD.CLINIC_ADD_SUP_PROVIDER_DESC' | translate:{clinic: clinic}"></p>
    <user-search
      *ngIf="!selectedAccount"
      [allowSelf]="true"
      [label]="'MENU.SEARCH'"
      [organization]="clinic.id"
      [type]="'2'"
      (onSelect)="onUserSelect($event)">
    </user-search>

    <div
    *ngIf="selectedAccount"
    class="account-selection-container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="end center"
    fxLayoutAlign.xs="start stretch"
    fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px">
        <div fxFlex fxFlex.xs="grow" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">
          <p class="account-type">{{ 'BOARD.NAME' | translate }}</p>
          <p class="account-type">{{ 'LIBRARY.CONTENT.ID' | translate }}</p>
          <p class="account-type">{{ 'BOARD.EMAIL' | translate }}</p>
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
          <p class="account-value">{{ selectedAccount.firstName }} {{ selectedAccount.lastName }}</p>
          <p class="account-value">{{ selectedAccount.id }}</p>
          <p class="account-value">{{ selectedAccount.email }}</p>
        </div>
      </div>

      <div fxFlex="40%" fxFlex.xs>
        <button
        (click)="selectedAccount = undefined"
        mat-button
        class="ccr-icon-button">
          <mat-icon>account_circle</mat-icon>
          {{ 'BOARD.SELECT_DIFFERENT_ACCOUNT' | translate }}
        </button>
      </div>
    </div>

    <small *ngIf="selectedAccount && !hasPhi" class="ccr-highlighted">
      {{ 'BOARD.COACH_NO_PHI_PERM' | translate:{clinicName: clinic.name, clinicId: clinic.id} }}
    </small>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
  [disabled]="!selectedAccount || !hasPhi"
  (click)="onSubmit()"
  class="ccr-icon-button"
  color="primary"
  mat-button>
  <mat-icon>check</mat-icon> {{'GLOBAL.ADD_COACH' | translate}}
  </button>

  <button mat-button class="ccr-icon-button" matDialogClose>
  <mat-icon>close</mat-icon> {{'GLOBAL.CANCEL' | translate}}
  </button>
</mat-dialog-actions>