.error {
  background-color: var(--warn-a26);
  color: var(--text);
  display: flex;
  flex-direction: row;
  font-style: italic;
  padding: 20px;
  margin-bottom: 30px;

  .mat-icon {
    margin-right: 5px;
  }
}
