<ccr-datasource-overlay class="ccr-table" [source]="source" [showErrors]="false" [inaccessible]="!canAccessPhi || !canViewAll">

  <mat-table class="table-card-mobile" [dataSource]="source">

    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.NAME' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
        <span>{{ 'BOARD.NAME' | translate }}</span>
        <span
          class="patient-link"
          (click)="showDieter(row.triggeredBy)">
          {{ row.triggeredBy.firstName }} {{ row.triggeredBy.lastName }}
        </span>
        <mat-icon class="new-tab-link" (click)="showDieter(row.triggeredBy, true)">open_in_new</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="type">
      <mat-header-cell *cdkHeaderCellDef>{{ 'REPORTS.ALERT_TYPE' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
        <span>{{ 'REPORTS.ALERT_TYPE' | translate }}</span>
        <ng-container [ngSwitch]="row.alertCode">
          <ng-container *ngSwitchCase="'data-point-threshold'">
            <ccr-alert-icon [icon]="row.icon"></ccr-alert-icon>
            {{ getAlertTypeName(row) | translate }} - {{ row.payload.dataPoint.type | dataTypeName | async }}
          </ng-container>

          <ng-container *ngSwitchDefault>
            <ccr-alert-icon [icon]="row.icon"></ccr-alert-icon>
            {{ getAlertTypeName(row) | translate }}
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="notice">
      <mat-header-cell *cdkHeaderCellDef>{{ 'REPORTS.ALERT_NOTICE' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
        <span>{{ 'REPORTS.ALERT_NOTICE' | translate }}</span>
        <ng-container [ngSwitch]="row.alertCode">
          <ng-container *ngSwitchCase="'data-point-threshold'">
            <span [innerHTML]="row.payload | dataThresholdNotifHint | async"></span>
          </ng-container>

          <ng-container *ngSwitchDefault>
            {{ row.detail | translate: row.params }}
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="details">
      <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.DETAILS' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
        <span>{{ 'BOARD.DETAILS' | translate }}</span>
        {{ row.detail | translate: row.params }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="date">
      <mat-header-cell *cdkHeaderCellDef>{{ 'GLOBAL.DATE' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
        <span>{{ 'GLOBAL.DATE' | translate }}</span>
        {{ row.createdAt | ccrUtc | amTimeAgo }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.MARK_AS_VIEWED' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="grow">
        <button mat-icon-button type="button"
        *ngIf="row.groupId"
        [matTooltip]="'BOARD.MARK_AS_VIEWED_FOR_ALL' | translate"
        (click)="onDismissForAll(row)">
          <ccr-icon-dismiss-all></ccr-icon-dismiss-all>
        </button>
        <button mat-icon-button type="button"
        [matTooltip]="'BOARD.MARK_AS_VIEWED_FOR_ME' | translate"
        (click)="onDismiss(row)">
          <ccr-icon-dismiss-one size="20"></ccr-icon-dismiss-one>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="columns"></mat-header-row>
    <mat-row fxLayoutWrap
      *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
      [ngClass]="{ 'row-even': even, 'row-odd': odd }"
    ></mat-row>
  </mat-table>

</ccr-datasource-overlay>
