@import 'shared/directed-styles';

.ccr-table {
  .mat-table {
    .mat-cell {
      max-height: 32px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .cdk-column-details {
      flex: 2 !important;
    }
    .cdk-column-actions {
      min-width: 60px;
      max-width: 75px;
      text-align: center;
    }
  }
}
