<div class="item">
  <ccr-icon-dismiss-one
    [matTooltip]="'BOARD.MARK_AS_VIEWED_FOR_ME' | translate"
    (click)="onDismiss(alert)" size="16"
  ></ccr-icon-dismiss-one>
  <ccr-icon-dismiss-all
    *ngIf="alert.groupIds.length"
    [matTooltip]="'BOARD.MARK_AS_VIEWED_FOR_ALL' | translate"
    (click)="onDismissAll(alert)" size="16"
  ></ccr-icon-dismiss-all>

  <div class="item-heading no-margin-bottom">
    <ccr-alert-icon [icon]="alert.icon" [size]="18"></ccr-alert-icon>

    <ng-container [ngSwitch]="alert.code">
      <ng-container *ngSwitchCase="'data-point-threshold'">
        <span [innerHTML]="alert.payload | dataThresholdNotifHint | async"></span>
      </ng-container>

      <ng-container *ngSwitchDefault>
        {{ alert.detail | translate: alert.params }}
      </ng-container>
    </ng-container>
  </div>
  <div class="item-body">
    <small *ngIf="alert.texts" class="alert-type">{{ alert.texts?.title | translate }}<br></small>
    <span>{{ alert.createdAt | ccrUtc | amTimeAgo }}</span>
  </div>
</div>
