<div>
  <div *ngIf="entryIsActive">
    <p class="notice entry" *ngIf="entryPending">
        {{ entryPending === 'same-day' ? ('RPM.RPM_WILL_BE_ENABLED_AT_6_AM' | translate) : ('RPM.RPM_WILL_BE_ENABLED_TOMORROW' | translate) }}
    </p>
    <p class="notice entry" *ngIf="!entryPending">
        {{ 'RPM.RPM_ENABLED' | translate:{
            patient: client.firstName + ' ' + client.lastName,
            date: rpmEntry.rpmState.createdAt | amDateFormat:'ddd, MMM D YYYY' }
        }}
    </p>
    <div *ngIf="!canDisableRPM">
        <p>{{ 'RPM.EDIT_NOT_ALLOWED_FOR_CLINIC' | translate:{org: rpmEntry.organization.name} }}</p>
    </div>
  </div>

  <div *ngIf="!entryIsActive">
    <p class="notice entry">
        {{ 'RPM.RPM_DISABLED' | translate:{
            patient: client.firstName + ' ' + client.lastName,
            date: rpmEntry.rpmState.createdAt | amDateFormat:'ddd, MMM D YYYY' }  }}
    </p>
    <div *ngIf="!accessibleOrganizations || !accessibleOrganizations.length">
        <p>{{ 'RPM.EDIT_NOT_ALLOWED' | translate }}</p>
        <ul>
            <li *ngFor="let organization of inaccessibleOrganizations">{{ organization.organization.name }}</li>
        </ul>
    </div>
  </div>

  <div class="separator"></div>

  <div>
    <app-rpm-status-info [rpmEntry]="rpmEntry"></app-rpm-status-info>
  </div>
</div>