<div [formGroup]="form">
  <p *ngIf="!reordering">{{ 'BOARD.CLINIC_MEASUREMENTS_DESC' | translate }}</p>

  <div class="ccr-content">
    <div *ngIf="!reordering" class="ccr-panel">
      <h3>{{ 'GLOBAL.SETTINGS' | translate }}</h3>
      <div class="ccr-grid" fxLayout="column">
        <mat-grid-list [cols]="colSpan" rowHeight="80px">
          <mat-grid-tile [colspan]="colSpan">
            <ccr-feature-toggle-input
            data-cy="org-settings-section-features-messages-autothread"
            [inheritable]="false"
            [label]="'BOARD.CLINIC_USE_DEFAULT_MEASUREMENT_PREFERENCE' | translate"
            [popupDescription]="useDefaultMeasurementPreferenceAbout"
            [readonly]="!isAdmin || (inheritedClinic && !descendantTypeManagement)"
            [subLabel]="inheritedClinic ? ('BOARD.CLINIC_MEASUREMENT_PREF_INHERITED_FROM' | translate:inheritedClinic) : undefined"
            formControlName="inheritMeasurementPreference"
            fxFlex></ccr-feature-toggle-input>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list *ngIf="!inheritedClinic" [cols]="colSpan" rowHeight="80px">
          <mat-grid-tile [colspan]="colSpan">
            <ccr-feature-toggle-input
            data-cy="org-settings-section-features-messages-autothread"
            [inheritable]="false"
            [label]="'BOARD.CLINIC_MEASUREMENT_ALLOW_TO_CHILD_CLINICS' | translate"
            [readonly]="!isAdmin || inheritedClinic"
            [popupDescription]="measurementAllowToChildClinicsAbout"
            formControlName="descendantTypeManagement"
            fxFlex></ccr-feature-toggle-input>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div [hidden]="inheritedClinic" class="ccr-panel">
      <h3>{{ 'BOARD.CLINIC_MEASUREMENT_LABELS' | translate }}</h3>
      <div class="ccr-grid" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <button [disabled]="inheritedClinic || !isAdmin"
          mat-button type="button" color="primary"
          class="ccr-icon-button" (click)="showAddMeasurementLabelDialog()">
            <mat-icon>add</mat-icon>
            {{ 'BOARD.CLINIC_ADD_MEASUREMENT_LABEL' | translate }}
          </button>
          <button [disabled]="inheritedClinic || !isAdmin"
          mat-button type="button" color="primary"
          class="ccr-icon-button" (click)="showAddDataPointTypeDialog()">
            <mat-icon>add</mat-icon>
            {{ 'BOARD.CLINIC_ADD_DATA_POINT_TYPE' | translate }}
          </button>
          <button *ngIf="!isCoachcareOrg" [disabled]="inheritedClinic || !isAdmin"
          mat-button type="button" color="primary"
          class="ccr-icon-button" (click)="showCloneTemplateConfirmDialog()">
            <mat-icon>content_copy</mat-icon>
            {{ 'BOARD.CLONE_DEFAULT_TEMPLATE' | translate }}
          </button>
          <button *ngIf="currentMeasurementPref" [disabled]="inheritedClinic || !isAdmin"
          mat-button type="button" color="primary"
          class="ccr-icon-button" (click)="showClearTemplateConfirmDialog()">
            {{ 'BOARD.CLEAR_TEMPLATE' | translate }}
          </button>
          <div fxFlex fxLayout="row" fxLayoutAlign="end center">
            <button [disabled]="inheritedClinic || !isAdmin"
            mat-button type="button" color="primary"
            class="ccr-button" (click)="toggleMeasurementLabelReordering()">
              {{ reordering ? ('GLOBAL.STOP_REORDERING' | translate) : ('GLOBAL.REORDER' | translate) }}
            </button>
          </div>
        </div>
        <mat-grid-list [cols]="colSpan" [rowHeight]="reordering ? '44vh' : '275px'">
          <mat-grid-tile [colspan]="colSpan" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="measurement-labels-container">
              <app-clinic-measurement-labels
              [disableActions]="inheritedClinic || !isAdmin"
              [reordering]="reordering"
              [source]="source">
              </app-clinic-measurement-labels>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>