<ccr-datasource-overlay
[emptyMsg]="'SEQUENCING.ENROLLMENTS_EMPTY_LIST' | translate"
[source]="source"
class="ccr-table">
    <mat-table [dataSource]="source">
        <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.NAME' | translate }}</mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        (click)="onSelectEnrollment(row)"
        fxLayoutAlign="start center"
        fxLayoutAlign.xs=" center" fxFlex.xs="grow">
            {{ row.sequence.name }}
        </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="startDate">
        <mat-header-cell *cdkHeaderCellDef>{{ 'SEQUENCING.CREATED_AT' | translate }}</mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        (click)="onSelectEnrollment(row)"
        fxLayoutAlign="start center"
        fxLayoutAlign.xs=" center"
        fxFlex.xs="grow">
            {{ row.createdAt | amDateFormat:'ddd, MMM D YYYY' }}
        </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="status">
        <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.STATUS' | translate }}</mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        (click)="onSelectEnrollment(row)"
        fxLayoutAlign="start center"
        fxLayoutAlign.xs=" center"
        fxFlex.xs="grow">
            {{ row.isActive ? ('GLOBAL.ACTIVE' | translate) : ('GLOBAL.INACTIVE' | translate) }}
        </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
        <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.ACTIONS' | translate }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex.xs="grow">
            <mat-icon (click)="onViewEnrollmentTriggers(row)">search</mat-icon>
            <mat-icon (click)="onDeleteEnrollment(row)">delete</mat-icon>
        </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="columns"></mat-header-row>
        <mat-row fxLayoutWrap
          *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
          [ngClass]="{ 'row-even': even, 'row-odd': odd }"
          class="clickable"
        ></mat-row>
    </mat-table>
</ccr-datasource-overlay>