<mat-card>
  <mat-card-header>
    <img alt="logo" [src]="logoUrl" />
  </mat-card-header>

  <mat-card-content>
    <div [ngSwitch]="mode">
      <div *ngSwitchCase="'default'" fxLayout="column" fxLayoutGap="12px">
        <ng-container *ngTemplateOutlet="badgeButtons;context:{wrapper:'badge-button-wrapper-md-and-down'}"></ng-container>

        <form [formGroup]="form" (keydown.enter)="onSubmit()" fxLayout="column" fxLayoutGap="10px">
          <ccr-form-field-email
          focus required
          formControlName="email"
          [placeholder]="'GLOBAL.EMAIL' | translate">
            <mat-error>{{ 'NOTIFY.ERROR.INVALID_EMAIL' | translate }}</mat-error>
          </ccr-form-field-email>

          <mat-form-field>
            <input type="password" minlength="6"
              matInput required
              formControlName="password"
              [placeholder]="'GLOBAL.PASSWORD' | translate">
            <mat-error [translate]="'NOTIFY.ERROR.MIN_CHARS'" [translateParams]="{min: 6}"></mat-error>
          </mat-form-field>

          <button mat-flat-button color="primary" type="button" class="ccr-button" [disableRipple]="isLoggingIn" (click)="onSubmit()">
            <span *ngIf="!isLoggingIn">
              {{ 'GLOBAL.SIGN_IN' | translate }}
            </span>
            <span *ngIf="isLoggingIn">
              <mat-spinner strokeWidth="3" diameter="20"></mat-spinner>
            </span>
          </button>
        </form>

        <a mat-button color="primary" routerLink="/password/reset" class="ccr-button">
          {{ 'GLOBAL.FORGOT_PASSWORD' | translate }}
        </a>

        <span class="text-center">{{ 'GLOBAL.SIGN_FROM_APP' | translate }}</span>

        <ng-container *ngTemplateOutlet="badgeButtons;context:{wrapper:'badge-button-wrapper-lg-and-up'}"></ng-container>
        <a *ngIf="showRegisterCompany" class="new-clinic-prompt text-center" color="primary" routerLink="/register/clinic">
          {{ 'GLOBAL.REGISTER_NEW_CLINIC' | translate }}
        </a>
      </div>

      <div *ngSwitchCase="'patient'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
        <p class="text-center">{{ 'GLOBAL.SIGN_FROM_APP' | translate }}</p>
        <a mat-button color="primary" routerLink="/password/reset" class="ccr-button">
          {{ 'GLOBAL.FORGOT_PASSWORD' | translate }}
        </a>
        <ng-container *ngTemplateOutlet="badgeButtons;context:{wrapper:''}"></ng-container>
      </div>

      <div *ngSwitchDefault [formGroup]="mfaForm">
        <ccr-mfa-code-input
        [loading]="isLoggingIn"
        [mode]="mode"
        [useParentForm]="false"
        (modeChange)="mode = $event || mode"
        (resendSMS)="onSubmit()"
        (reset)="setMode('default')"
        (submit)="onSubmitMFA()"
        ccrBindForm="code"></ccr-mfa-code-input>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #badgeButtons let-wrapperClass="wrapper">
  <div fxLayout="row" fxLayoutAlign="space-around center" [class]="wrapperClass">
    <a *ngIf="iosLink" [href]="iosLink" target="_blank">
      <img class="badge-button" [src]="iosButtonLink">
    </a>
    <a *ngIf="androidLink" [href]="androidLink" target="_blank">
      <img *ngIf="androidLink" class="badge-button" [src]="androidButtonLink">
    </a>
  </div>
</ng-template>
