p {
  display: inline;
  font-size: 12px;
  left: -25px;
  margin: 0;
  position: relative;
  top: -5px;
}

svg {
  g {
    text {
      fill: var(--text) !important;
      stroke: var(--text) !important;
    }
  }

  &.completed {
    path {
      fill: var(--primary) !important;
    }
  }
}
