app-content-copy-dialog {
  app-content-file-explorer-table {
    .cdk-column-name {
      flex: 0 0 70% !important;
    }
  }

  .first-step-container {
    overflow: auto;
  }

  .selected-folder-container {
    margin-top: 15px;
    padding: 5px 15px;
  }

  .step-container {
    margin-top: 15px;
  }

  .selected-contents-container {
    margin-top: 22px;
  }
}
