@import 'variables';

table {
  min-width: 100%;

  td,
  th {
    text-align: center;
  }

  th {
    &.column-date,
    &.column-toggle {
      background-color: mat-color($ccr-background, header);
    }
  }

  tr {
    &.row-even {
      .column-date,
      .column-toggle {
        background: mat-color($ccr-background, even);
      }
    }

    &.row-odd {
      .column-date,
      .column-toggle {
        background: mat-color($ccr-background, odd);
      }
    }
  }

  .column {
    &-date {
      text-align: left;
      left: 15px;
      min-width: 120px;
      max-width: 120px;
      width: 125px;
    }

    &-toggle {
      line-height: 12px;
      max-width: 20px;
      min-width: 20px;
      left: 0;
      padding: 0;
      padding-left: 10px;
    }
  }

  .level1 {
    td.column-date {
      padding-left: 25px;
    }
  }
}
