@import 'variables';

.ccr-table .mat-table mat-cell.cdk-column-actions button.disabled .mat-icon {
  color: mat-color($ccr-foreground, divider) !important;
  cursor: default;
  fill: mat-color($ccr-foreground, divider);
}

mat-header-cell {
  &.cdk-column-attendees {
    min-width: 175px !important;
  }

  &.cdk-column-date {
    min-width: 125px !important;
  }
}

mat-cell {
  &.cdk-column-attendees {
    min-width: 200px !important;
  }

  &.cdk-column-date {
    min-width: 125px !important;

    .time {
      display: none;
    }
  }

  .attendance {
    padding-left: 16px;
  }
}

.attendance-editor {
  margin: 10px 0;
  padding-left: 16px;
}

@media #{$medium-only} {
  mat-header-cell {
    &.cdk-column-time {
      display: none;
    }
  }

  mat-cell {
    &.cdk-column-date {
      .time {
        display: block;
      }
    }

    &.cdk-column-time {
      display: none !important;
    }
  }
}
