.wellcore-footer {
  display: flex;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(236, 237, 232, 0.5);
  margin-top: 30px;

  img {
    width: 120px;
  }

  .footer_link {
    margin-right: 2em;
    margin-left: 2em;
    opacity: 0.8;
    font-size: 0.9vw;
    color: white;
    text-decoration: none;
    font-family: 'Inter Light';
  }

  .footer_text {
    margin-right: 2em;
    margin-left: 2em;
    color: #868686;
    font-size: 0.9vw;
    font-family: 'Inter Light';
  }
}
