<div class="wellcore-footer">
  <img src="/assets/wellcore/images/wellcore-hipaa-compliant.png" alt="Wellcore Hippa" />
  <a href="https://www.termsfeed.com/live/b6ed6406-c147-4de6-bf53-bc6ec292fb14" target="_blank" class="footer_link">Terms of Use</a>
  <a href="https://www.termsfeed.com/live/5fd9bc6a-0ade-431f-8e4c-4acb2969dbff" target="_blank" class="footer_link">Privacy Policy</a>
  <a href="https://privacy.teamwellcore.com/" target="_blank" class="footer_link">Privacy Center</a>
  <a href="https://www.teamwellcore.com" target="_blank" class="footer_link">Contact Us</a>
  <div class="footer_text">©2021 WellCore</div>
</div>