@import 'variables';

:host {
  color: var(--text);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 10px 10px 10px;
}

.rpm-status-panel-container {
  background-color: white;
  position: absolute;
  right: -25px;
  z-index: 9999;
}

.rpm-status-completed-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.timer {
  line-height: 24px;
  position: relative;
}

.current-code {
  border: 1px solid var(--text);
  padding: 6px 15px;
}

mat-icon {
  color: var(--primary);
  cursor: pointer;
}

span {
  line-height: 5px;
}

div {
  position: relative;

  > .info-icon {
    background-color: #fff;
    border: 1px solid var(--primary);
    border-radius: 3px;
    height: 15px;
    position: absolute;
    right: -10px;
    width: 15px;

    &::after {
      color: var(--primary);
      content: 'i';
      font-size: 0.8em;
      font-weight: bold;
      height: 100%;
      left: 0;
      line-height: 15px;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}
