<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" (click)="toggleRPMStatusPanel()">
    <mat-spinner *ngIf="loading" diameter="24" strokeWidth="3"></mat-spinner>
    <div class="current-code" *ngIf="!loading && currentCodeString">
        {{ currentCodeString }}
    </div>
    <span class="timer"><strong>{{ timerDisplay }}</strong> / {{ requiredIterationSecondsDisplay }}</span>
    <div class="info-icon" #toggleButton></div>
</div>

<div #statusPanel>
    <div *ngIf="showStatusPanel" class="rpm-status-panel-container">
        <app-rpm-status-panel
            [account]="account"
            [serviceType]="serviceType"
            [trackingStartsTomorrow]="this.timerUnavailableError === 'active-tomorrow'"
            (openSettings)="onOpenSettings()"
        ></app-rpm-status-panel>
    </div>
</div>