@import 'variables';

app-rpm {
  background-color: var(--primary-lighten);
  padding: 3px 10px;

  mat-select {
    border: 1px solid #000;

    &.no-tracking {
      .mat-select-trigger {
        background: transparent !important;
      }
    }

    .mat-select-trigger {
      background: #fff !important;
      height: auto !important;

      .mat-select-value {
        line-height: 30px !important;
      }
    }
  }
}
