@import 'variables';

$toggle-base-color: saturate(
  lighten(adjust-hue(mat-color($ccr-background, success), -25%), 10%),
  10%
);

app-rpm {
  button.ccr-icon-button {
    padding: 0 15px 0 10px !important;
  }

  .rpm-state {
    &-container {
      border: 1px solid var(--bg-panel, mat-color($ccr-background, chart));
      margin: 15px 0;
      padding: 15px;
      width: 100%;

      h3 {
        margin-top: 0;
      }
    }
  }

  div,
  div > button {
    width: 100%;
  }

  .mat-slide-toggle.mat-checked {
    .mat-slide-toggle-bar {
      background-color: lighten($toggle-base-color, 20%) !important;
    }

    .mat-slide-toggle-thumb {
      background-color: $toggle-base-color !important;
    }
  }
}
