@import 'shared/directed-styles';

// global style for search-box
.search-box {
  background: transparent;
  border: 1px solid var(--contrast);
  border-radius: 14px;
  box-shadow: 0 0 1px 0px var(--contrast) inset, 0 0 1px 0px var(--contrast);
  font-size: 1rem;
  height: 30px;
  outline: none;
  padding: 0px 40px 0 15px;
}

.mat-autocomplete-panel {
  mat-option {
    line-height: initial;
    margin: 8px auto;

    .mat-option-text {
      flex-direction: column !important;
      height: 100%;
      small {
        font-size: 0.85em;
        font-weight: 300;
        opacity: 0.8;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      i {
        font-size: 0.72em;
        font-style: italic;
        @include horizontal-margin-left(5px);
        opacity: 0.8;
        text-transform: uppercase;
      }
    }
  }
}

app-search {
  > div {
    width: 100%;
    position: relative;
    > ccr-icon-search {
      position: absolute;
      right: 0;
      top: 0;

      height: 34px;
      padding-right: 12px;
    }
  }
}

// top menubar styles for search-box
app-topbar {
  app-search {
    align-items: center;
    display: flex;
    @include horizontal-padding-left(30px);
    width: 400px;
    @media #{$small-and-down} {
      display: none;
    }
    @media #{$medium-only} {
      padding: 0 15px;
    }
  }
  .search-box {
    color: var(--contrast);
    width: calc(100% - 57px);
  }
  .search-box::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: mat-color($ccr-primary, darker-contrast);
  }
  .search-box::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: mat-color($ccr-primary, darker-contrast);
    opacity: 1;
  }
}

// sidenav styles for search-box
app-menu {
  .sidenav-search-container {
    text-align: center;
    app-search {
      display: none;
      padding: 0 7px 15px;
      @media #{$small-and-down} {
        display: inline-block;
      }
      ccr-icon-search {
        top: 5px;
      }
      .search-box {
        border-color: var(--base);
        width: 151px;
      }
    }
  }
}
