@import 'variables';

$warning-background-color: #fffaec;
$warning-outline-color: #ffdb7e;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/wellcore/fonts/montserrat.ttf') format('ttf'),
    url('/provider/assets/wellcore/fonts/montserrat.ttf') format('ttf');
}

ccr-wellcore-layout,
.force-wellcore-layout {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;

  a {
    color: var(--accent);
    text-decoration: none;

    &:hover,
    &:visited,
    &:active {
      color: var(--accent);
    }
  }

  ccr-avatar.wellcore-avatar {
    &.wellcore-avatar-large {
      margin-bottom: 20px;
    }
    div {
      border-radius: 10%;
    }
  }

  h4.title {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.4em;
    text-transform: uppercase;
  }

  .mat-drawer-content.ng-star-inserted {
    & > div > div {
      height: calc(100% - #{$footer-height});
    }
  }

  .mat-button {
    &.mat-accent .mat-button-ripple {
      background-color: transparent;
    }
  }

  .mat-stroked-button {
    border-radius: 8px;
    border-width: 2px;
    font-size: 16px;

    &.mat-accent .mat-button-ripple {
      background-color: transparent;
    }
  }

  .wellcore-body {
    background: var(--accent-light);

    button.mat-flat-button {
      color: white;
      font-size: 16px;
    }

    section {
      background-color: white;
      border-radius: 14px;
      padding: 20px 36px;

      &.warning {
        background-color: $warning-background-color;
        border: 1px dashed $warning-outline-color;
      }

      header {
        border-bottom: 1px solid var(--text-lightest);
        padding-bottom: 15px;
        margin-bottom: 15px;

        .title {
          margin: 7px 0;
        }
      }

      input {
        background-color: var(--bg-panel);
        border: none;
        border-radius: 5px;
        font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
        height: 30px;
        max-width: 100%;
        min-width: 0;
        padding: 0 10px;
        font-weight: 400 !important;

        &:focus {
          outline: 1px solid var(--accent);
        }

        &[readonly] {
          background-color: transparent;
        }
      }

      input,
      label {
        color: var(--text);
        font-size: 14px;
        font-weight: 300;
      }

      mat-form-field {
        font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
        padding: 0 10px;
        background-color: var(--bg-panel);
        border-radius: 5px;

        &.mat-form-field {
          line-height: 11px;

          &-disabled {
            background-color: transparent;

            div.mat-select-arrow-wrapper {
              display: none;
            }

            span.mat-select-value-text {
              color: var(--text);
              font-size: 14px;
            }
          }
        }

        .mat-form-field-wrapper {
          padding: 6px 0;

          .mat-form-field-flex {
            align-items: center;
          }

          .mat-form-field-infix {
            border: none;
            padding: 0;

            .mat-select-value {
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              text-align: left;
            }
          }

          .mat-form-field-underline {
            display: none;
          }
        }
      }

      .subtitle {
        font-size: 16px;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;

        .subtext {
          font-size: 14px;
          font-weight: normal;
          text-transform: none;
        }
      }
    }

    .empty-list-notice {
      color: var(--text-lighter);
      margin: 15px 0;
    }
  }

  .wellcore-toolbar {
    background: white !important;

    wellcore-topbar {
      padding: 0 42px;
      width: 100%;

      h4.title {
        line-height: 42px;
      }

      mat-icon {
        color: var(--text-lighter);
        font-size: 20px;
        line-height: 24px;
      }

      menu {
        padding-inline-start: 0;
      }

      .hamburger {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 45px;

        .slice {
          background-color: mat-color($ccr-foreground, text);
          height: 3px;
          margin: 3px 0;
          width: 25px;
        }
      }

      .logo {
        img {
          height: auto;
          width: 80%;
        }
      }

      .main-topbar {
        width: 100%;
      }
    }
  }
}

.wellcore-sidenav {
  background: var(--primary);

  app-menu-wellcore {
    mat-sidenav-content > mat-nav-list {
      padding-bottom: 0;

      .mat-list-item {
        font-family: 'Montserrat', 'Helvetica Neue', sans-serif;

        &:focus {
          background: transparent;
        }

        &.active,
        &:active,
        &:focus {
          outline: none;
          .mat-list-item-content {
            color: var(--accent);
            font-weight: bold;
          }
        }

        &.level1 {
          &:hover {
            background: transparent;
            .mat-list-item-content {
              color: var(--accent);
            }
          }
        }
        &.level2 {
          background-color: transparent;
          &:hover {
            background-color: transparent;
            .mat-list-item-content {
              color: var(--accent);
            }
          }
          &.active {
            background-color: transparent;
            .mat-list-item-content {
              color: var(--accent);
            }
          }
        }

        i.material-icons {
          position: absolute;
          right: 10px;
        }

        .ccr-badge {
          background-color: var(--accent);
          color: var(--text);
          top: 17px;
        }

        .mat-list-item-content {
          color: white;
          text-align: left;

          text-transform: capitalize;

          @media #{$medium-only} {
            mat-icon {
              display: initial !important;
            }
          }
        }
      }

      .mat-nav-list.nav-children {
        mat-icon {
          display: none !important;
        }

        .mat-list-item {
          span {
            margin-left: 0;

            &::before {
              content: '•';
              margin-left: 5px;
              margin-right: 15px;
            }
          }
        }
      }
    }

    .account-info {
      .user-avatar {
        transition: all 0.75s cubic-bezier(0.35, 0, 0.25, 1) !important;
      }
      .user-name {
        transition: all 0.75s cubic-bezier(0.35, 0, 0.25, 1) !important;
      }
      @media #{$medium-only} {
        .user-avatar {
          height: 40px !important;
          width: 40px !important;
        }

        .user-name {
          font-size: 0px !important;
        }
      }
    }

    .logo {
      max-width: 100%;
      max-height: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }

    .mat-toolbar {
      background-color: transparent;
    }
  }

  &.open app-menu-wellcore {
    .account-info {
      @media #{$medium-only} {
        .user-avatar {
          height: 100px !important;
          width: 100px !important;
        }

        .user-name {
          font-size: 20px !important;
        }
      }
    }
  }
}

@media #{$large-and-up} {
  ccr-wellcore-layout {
    mat-sidenav {
      padding: 0 20px;
    }
  }
}

@media #{$medium-only} {
  mat-sidenav.wellcore-sidenav {
    &:not(.open) {
      mat-sidenav-content > mat-nav-list .mat-nav-list.nav-children {
        mat-icon {
          display: flex !important;
        }

        .mat-list-item {
          span {
            margin-left: 0;

            &::before {
              content: '';
            }
          }
        }
      }
    }

    &.open {
      mat-sidenav-content
        > mat-nav-list
        .mat-nav-list.nav-children
        .mat-list-item
        span {
        &::before {
          margin-left: 15px;
        }
      }
    }
  }
}

@media #{$small-and-down} {
  ccr-wellcore-layout {
    .mat-drawer {
      margin-top: 55px;

      &-content.ng-star-inserted {
        & > div > div {
          height: calc(100% - 120px);
        }

        & > div > div > div > :last-child {
          padding: 25px;
        }
      }
    }

    .wellcore-toolbar {
      &.mat-toolbar {
        height: 100px;
      }

      wellcore-topbar {
        background-color: var(--primary);
        padding: 0;

        h4.title {
          background-color: white;
          color: var(--text);
          line-height: 64px;
          text-align: center;
          width: 100%;
        }

        .hamburger {
          display: flex;

          div.slice {
            background-color: white;
          }
        }

        .main-topbar {
          color: white;
          height: 64px;
          padding: 0 30px;

          .actions-container {
            margin-top: 3px;

            ccr-avatar {
              margin-top: 22px;
            }
          }
        }
      }
    }
  }
}
