<div fxLayout="row" fxLayoutGap="1%">
  <div fxLayout="row" fxFlex fxLayoutGap="1%">
    <ccr-stat-count fxFlex
      title="{{ 'STATS.SPO2' | translate }}"
      [record]="spo2"
    ></ccr-stat-count>
  </div>
  <div fxLayout="row" fxFlex fxLayoutGap="1%">
    <ccr-stat-count fxFlex
      title="{{ 'STATS.CURRENT_PERFUSION' | translate }}"
      [record]="currentPerfusion"
    ></ccr-stat-count>
  </div>
  <div fxLayout="row" fxFlex fxLayoutGap="1%">
    <ccr-stat-count fxFlex
      title="{{ 'STATS.HEART_RATE' | translate }}"
      [record]="heartRate"
    ></ccr-stat-count>
  </div>
</div>
