@import 'variables';

.form-actions {
  @media #{$medium-and-down} {
    margin-bottom: 10px;
  }
}

.ccr-htools {
  height: 60px;
}

.mat-form-field ::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em + 0.5;
}
