        <div class="expandable" [ngClass]="{ 'non-empty': !row.isEmpty && row.level < 2 }" fxLayoutAlign=" start">
          <i *ngIf="row.level < 2 && !row.isEmpty" aria-hidden="true"
            class="material-icons" [class.active]="row.isExpanded">
          </i>
          <span *ngIf="row.level === 0">
            {{ row.consumedDate | amDateFormat:'dddd, MMM D' }}
          </span>
          <div *ngIf="row.image?.thumbnail" (click)="onOpenThumbnail(row)" class="meal-image-thumbnail" [ngClass]="{'clickable' : row.image.thumbnail !== 'assets/image-placeholder.png'}">
            <img [src]="row.image.thumbnail">
          </div>
          <span *ngIf="row.level !== 0">
            <span [class.meal-name]="row.level > 1">{{ row.level === 1 ? (row.type | translate) : row.name }}</span>
            <br *ngIf="row.serving">
            <small *ngIf="row.serving" class="lowercase-text serving-amount">
              {{ row.serving | fraction }} {{ 'GLOBAL.FOOD_KEYS' | translate }}
            </small>
            <br *ngIf="row.level !== 1 && !row.consumedAtMidnight">
            <small *ngIf="row.level !== 1 && !row.consumedAtMidnight">{{ row.consumedDate | amDateFormat:'h:mm a' }}</small>
            <div *ngIf="row.serving">
              <small>
                <p *ngFor="let ingredient of row.ingredients" class="ingredient-item">
                  {{ ingredient.ingredient.name }}
                  <span *ngIf="ingredient.ingredient.brand">({{ ingredient.ingredient.brand }})</span><br />
                  <span class="lowercase-text">{{ ingredient.quantity }} x {{ ingredient.description }}</span>
                </p>
              </small>
            </div>
          </span>
        </div>