<mat-toolbar>
  <mat-toolbar-row>
    <strong>
      {{ organization?.name | translate }}
      <ng-container *ngIf="organization?.id">
        (ID {{ organization.id }})
      </ng-container>
    </strong>

    <ul>
      <li *ngIf="linkTerms">
        <a href="{{ linkTerms }}" target="_blank" rel="noopener noreferrer">{{ 'LAYOUT.TOS' | translate }}</a>
      </li>
      <li *ngIf="linkPrivacy">
        <a href="{{ linkPrivacy }}" target="_blank" rel="noopener noreferrer">{{ 'LAYOUT.PRIVACY_POLICY' | translate }}</a>
      </li>
      <li *ngIf="linkHipaa">
        <a href="{{ linkHipaa }}" target="_blank" rel="noopener noreferrer">{{ 'LAYOUT.HIPAA' | translate }}</a>
      </li>
      <li *ngIf="linkMsa">
        <a href="{{ linkMsa }}" target="_blank" rel="noopener noreferrer">{{ 'LAYOUT.MSA' | translate }}</a>
      </li>
    </ul>

    <span>
      &#9400;&nbsp;{{ currentYear }}
      <span translate [translateParams]="{company: 'Lexington Wellness Holdings, Inc.'}">LAYOUT.POWEREDBY</span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
