<div fxLayout="column" fxLayoutAlign="start stretch">
  <ccr-datasource-overlay [source]="source">
    <div class="ccr-table ccr-expand-table ccr-table-stats">
      <div [class.reordering]="reordering" class="ccr-expandable-table">
        <table>
          <caption hidden>{{ 'BOARD.CLINIC_MEASUREMENT_LABELS' | translate }}</caption>
          <thead>
            <th [class.large-padding-left]="reordering" class="id-header" scope="col">{{ 'GLOBAL.ID' | translate }}</th>
            <th scope="col">{{ 'BOARD.NAME' | translate }}</th>
            <th scope="col">{{ 'BOARD.DESCRIPTION' | translate }}</th>
            <th scope="col">{{ 'BOARD.VISIBILITY' | translate }}</th>
            <th scope="col">{{ 'BOARD.BOUNDS' | translate }}</th>
            <th scope="col">{{ 'BOARD.UNIT' | translate }}</th>
            <th class="ccr-text-center" scope="col">{{ 'BOARD.ACTIONS' | translate }}</th>
          </thead>
          <tbody>
            <tr
            *ngFor="let row of rows; let i = index;"
            [ccrDraggable]="{ data: row, isDraggable: reordering }"
            [ccrDropzone]="{ data: row, isDroppable: reordering, isLongDroppable: reordering }"
            (ccrDrop)="onDropRow($event)"
            (ccrLongDrop)="onDropRow($event)"
            class="level{{row.level}}"
            [ngClass]="{
              'row-even': i % 2 === 0,
              'row-odd': i % 2 === 1,
              'hidden': row.isHidden,
              'row-expanded': row.isExpanded,
              'row-nested': row.level > 0,
              'row-bottom-border': row.level > 1
            }">
              <td style="width: 70px;">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <mat-icon
                  *ngIf="reordering"
                  [class.medium-margin-left]="reordering && row.level > 0"
                  class="drag-handle drag-icon">
                    reorder
                  </mat-icon>
                  <i
                  *ngIf="row.level === 0 && !row.isEmpty"
                  [class.active]="row.isExpanded"
                  (click)="toggleRow(row)"
                  aria-hidden="true"
                  class="material-icons dropdown-icon">
                  </i>
                  <span
                  [class.medium-margin-left]="!reordering && row.isEmpty"
                  [class.large-margin-left]="reordering && row.isEmpty && row.level === 0">
                    {{ row.id }}
                  </span>
                </div>
              </td>
              <td>
                <span *ngIf="row.level === 0"><strong>{{ row.name }}</strong></span>
                <span *ngIf="row.level === 1">{{ row.type.name }}</span>
              </td>
              <td [attr.colspan]="row.level === 0 ? 4 : 1">
                <span *ngIf="row.level === 0">{{ row.description }}</span>
                <span *ngIf="row.level === 1">
                  {{ row.type.description }}
                </span>
              </td>
              <td *ngIf="row.level === 1">
                <div [hidden]="reordering">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                    <span>{{ 'VISIBILITY.EXPOSED_TO_PATIENTS' | translate }}:</span>
                    <ccr-popup-description
                    [title]="'VISIBILITY.EXPOSED_TO_PATIENTS' | translate"
                    [description]="'VISIBILITY.EXPOSED_TO_PATIENTS_DESCRIPTION' | translate"
                    >
                    </ccr-popup-description>
                  </div>
                  <select
                  [(ngModel)]="row.client.isExposed"
                  [disabled]="disableActions"
                  (change)="updateVisibility(row, 'isExposed')">
                    <option [value]="true">{{ 'GLOBAL.YES' | translate }}</option>
                    <option [value]="false">{{ 'GLOBAL.NO' | translate }}</option>
                  </select>
                </div>

                <div [hidden]="!row.client.isExposed" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                    <span>{{ 'VISIBILITY.MODIFIABLE_BY_PATIENTS' | translate }}:</span>
                    <ccr-popup-description
                    [title]="'VISIBILITY.MODIFIABLE_BY_PATIENTS' | translate"
                    [description]="'VISIBILITY.MODIFIABLE_BY_PATIENTS_DESCRIPTION' | translate"
                    >
                    </ccr-popup-description>
                  </div>
                  <select
                  [(ngModel)]="row.client.isModifiable"
                  [disabled]="disableActions"
                  (change)="updateVisibility(row, 'isModifiable')">
                    <option [value]="true">{{ 'GLOBAL.YES' | translate }}</option>
                    <option [value]="false">{{ 'GLOBAL.NO' | translate }}</option>
                  </select>
                </div>

                <div [hidden]="!row.client.isExposed" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                    <span>{{ 'VISIBILITY.DEFAULT_FOR_PATIENTS' | translate }}:</span>
                    <ccr-popup-description
                    [title]="'VISIBILITY.DEFAULT_FOR_PATIENTS' | translate"
                    [description]="'VISIBILITY.DEFAULT_FOR_PATIENTS_DESCRIPTION' | translate"
                    >
                    </ccr-popup-description>
                  </div>
                  <select
                  [(ngModel)]="row.client.isDefault"
                  [disabled]="disableActions"
                  (change)="updateVisibility(row, 'isDefault')">
                    <option [value]="true">{{ 'GLOBAL.YES' | translate }}</option>
                    <option [value]="false">{{ 'GLOBAL.NO' | translate }}</option>
                  </select>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                  <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                    <span>{{ 'VISIBILITY.MODIFIABLE_BY_COACHES' | translate }}:</span>
                    <ccr-popup-description
                    [title]="'VISIBILITY.MODIFIABLE_BY_COACHES' | translate"
                    [description]="'VISIBILITY.MODIFIABLE_BY_COACHES_DESCRIPTION' | translate"
                    >
                    </ccr-popup-description>
                  </div>
                  <select
                  [(ngModel)]="row.provider.isModifiable"
                  [disabled]="disableActions"
                  (change)="updateVisibility(row, 'isModifiable', 'provider')">
                    <option [value]="true">{{ 'GLOBAL.YES' | translate }}</option>
                    <option [value]="false">{{ 'GLOBAL.NO' | translate }}</option>
                  </select>
                </div>
                </div>
              </td>
              <td *ngIf="row.level === 1">
                <div [hidden]="reordering">
                  {{ 'BOARD.ALLOWED_RANGE' | translate }}: <strong>{{ row.parsedBounds.lower }} - {{ row.parsedBounds.upper }}</strong>
                </div>
              </td>
              <td *ngIf="row.level === 1">
                <div [hidden]="reordering">
                  {{ convertUnitToReadableFormat(row.type) }}
                </div>
              </td>
              <td>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                  <mat-icon
                  *ngIf="row.level === 0"
                  [class.disabled]="disableActions"
                  (click)="showEditRowDialog(row)"
                  class="clickable">
                    edit
                  </mat-icon>
                  <mat-icon
                  [class.disabled]="disableActions"
                  (click)="showDeleteRowDialog(row)"
                  class="clickable">
                    delete
                  </mat-icon>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ccr-datasource-overlay>
</div>