div.ccr-table {
  max-width: 100%;
  overflow: auto;

  mat-table {
    min-width: 100%;
    width: 1600px;

    .cdk-column-name,
    .cdk-column-parentOrg,
    .cdk-column-plan {
      min-width: 300px;
    }

    .cdk-column-androidAppId,
    .cdk-column-iosAppId {
      min-width: 200px;
    }

    .cdk-column-actions {
      min-width: 100px;
    }
  }
}
