button.disabled {
  opacity: 0.5;
  mat-icon {
    cursor: auto !important;
  }
}

.cdk-column-type {
  flex: 0.7 !important;
  word-break: break-word;
}

.participant {
  margin: 5px 0;
}

.table-hint {
  margin: 15px 0;
}
