<div
class="user"
fxLayout="row"
fxLayoutAlign="start center"
fxLayoutGap="10px">
    <ccr-avatar [account]="user.account || user.id"  size="messages"></ccr-avatar>
    <small fxFlex
    *ngIf="currentAccount && (currentAccount.id === user.account || currentAccount.id === user.id); else defaultName">
        {{ 'GLOBAL.YOU' | translate }}
    </small>
    <ng-template #defaultName>
        <div
        fxFlex
        fxLayoutAlign="start center"
        fxLayoutGap="10px">
            <small
            [class.patient-link]="allowUserLinking"
            (click)="onGoToUserProfile(user)"
            [fxFlex]="fullWidth"
            >
                {{ user.firstName }} {{ user.lastName }}

            </small>
            <mat-icon *ngIf="allowUserLinkingBlank" class="clickable" (click)="onGoToUserProfile(user, true)">launch</mat-icon>
        </div>
    </ng-template>
    <mat-icon
    *ngIf="showRemoveButton && (!currentAccount || currentAccount.id !== user.account)"
    (click)="onRemove(user.account)" class="clickable float-right">close</mat-icon>
    <ccr-call-control *ngIf="showCallButton" [mode]="1" [targets]="[user]"></ccr-call-control>
</div>
