
<div [formGroup]="form" fxLayout="row" fxLayoutGap="5%">
  <div fxLayout="column" fxLayoutGap="3%" [fxFlex]="url ? 'grow' : '100%'">
      <mat-form-field>
          <input type="text" matInput formControlName="embedUrl"
          [placeholder]="'LIBRARY.CONTENT.VIMEO_LINK' | translate"
          required>
      </mat-form-field>
      <mat-error *ngIf="form.controls.embedUrl.hasError('invalidLink')">{{ 'LIBRARY.CONTENT.INVALID_LINK' | translate }}</mat-error>

      <app-content-content-form bindForm="details" [details]="details" [mode]="mode"></app-content-content-form>
  </div>

  <div *ngIf="url" fxLayout="column" fxLayoutAlign="center center" class="youtube-embed">
      <iframe [src]="url" frameborder="0"></iframe>
  </div>
</div>
