<div class="test-container" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="50px">
  <div>
    <img class="main-product-image" src="/assets/wellcore/images/wellcore-blood-kit.png" alt="Wellcore Blood Sample Kit" />
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutGap="15px">
    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
      <small class="product-category">Starter Package</small>

      <p class="main-product-title">Blood Sample Kit</p>

      <p class="main-product-price">$0</p>

      <button [routerLink]="['../cart']" mat-flat-button class="ccr-button">Add to Cart</button>
    </div>

    <div class="product-container" fxFlex fxLayout="column" fxLayoutGap="30px">
      <p class="product-paragraph">Our easy, virtually painless blood sampling kit collects enough blood to allow our doctors to analyze and evaluate 36 different biomarkers, giving you a comprehensive look at your health and wellness.</p>
      <small>Your body is a complex machine, and you only look and feel your best when every part of the system is working at peak efficiency. Through comprehensive blood testing, we analyze your inner workings to help you surpass your potential.</small>
    </div>
  </div>
</div>