<mat-grid-list [cols]="1" [formGroup]="form" rowHeight="70px">
  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-video"
    [inheritable]="featureSettings.videoConference.isInheritable"
    [subLabel]="(featureSettings.videoConference.inheritedFrom ? 'GLOBAL.INHERITED_FROM' : '') | translate:{org: featureSettings.videoConference.inheritedFrom}"
    [label]="'GLOBAL.VIDEOCONFERENCE' | translate"
    formControlName="videoconference"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-library"
    [inheritable]="featureSettings.digitalLibrary.isInheritable"
    [label]="'GLOBAL.DIGITAL_LIBRARY' | translate"
    [subLabel]="(featureSettings.digitalLibrary.inheritedFrom ? 'GLOBAL.INHERITED_FROM' : '') | translate:{org: featureSettings.digitalLibrary.inheritedFrom}"
    formControlName="content"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-messaging"
    [inheritable]="featureSettings.messaging.isInheritable"
    [label]="'GLOBAL.MESSAGING' | translate"
    [subLabel]="(featureSettings.messaging.inheritedFrom ? 'GLOBAL.INHERITED_FROM' : '') | translate:{org: featureSettings.messaging.inheritedFrom}"
    formControlName="messaging"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <div fxFlex *ngIf="form?.value.messaging === null" fxLayout="row" fxLayoutAlign="space-between center">
      <span fxFlex>
        <strong>{{ 'GLOBAL.AUTO_THREAD_PARTICIPATION' | translate }}</strong>
      </span>
      <span>{{ 'GLOBAL.INHERIT' | translate }}</span>
    </div>

    <ccr-feature-toggle-input
    *ngIf="form?.value.messaging !== null"
    data-cy="org-settings-section-features-autothread"
    [inheritable]="featureSettings.useAutoThreadParticipation.isInheritable"
    [label]="'GLOBAL.AUTO_THREAD_PARTICIPATION' | translate"
    [readonly]="disabledAutothread"
    formControlName="useAutoThreadParticipation"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-openClient"
    [inheritable]="featureSettings.openAddClient.isInheritable"
    [label]="'GLOBAL.OPEN_PATIENT_ENROLLMENT' | translate"
    formControlName="openAddClient"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-patientAutoDisassociate"
    [inheritable]="featureSettings.patientAutoUnenroll.isInheritable"
    [label]="'GLOBAL.PATIENT_AUTOMATIC_DISASSOCIATION' | translate"
    formControlName="patientAutoUnenroll"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-sequences"
    [inheritable]="featureSettings.sequences.isInheritable"
    [label]="'GLOBAL.SEQUENCES' | translate"
    [subLabel]="(featureSettings.sequences.inheritedFrom ? 'GLOBAL.INHERITED_FROM' : '') | translate:{org: featureSettings.sequences.inheritedFrom}"
    formControlName="sequences"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-rpm"
    [inheritable]="featureSettings.rpm.isInheritable"
    [label]="'GLOBAL.RPM' | translate"
    [subLabel]="(featureSettings.rpm.inheritedFrom ? 'GLOBAL.INHERITED_FROM' : '') | translate:{org: featureSettings.rpm.inheritedFrom}"
    formControlName="rpm"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-filevault"
    [inheritable]="featureSettings.fileVault.isInheritable"
    [subLabel]="(featureSettings.fileVault.inheritedFrom ? 'GLOBAL.INHERITED_FROM' : '') | translate:{org: featureSettings.fileVault.inheritedFrom}"
    [label]="'GLOBAL.FILE_VAULT' | translate"
    formControlName="fileVault"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-remove-enrollments-on-assoc"
    [inheritable]="featureSettings.removeEnrollmentsOnAssoc.isInheritable"
    [label]="'GLOBAL.REMOVE_ENROLLMENTS_ON_ASSOC' | translate"
    formControlName="removeEnrollmentsOnAssoc">
    </ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-autoenroll"
    [inheritable]="featureSettings.autoEnroll.isInheritable"
    [label]="'GLOBAL.AUTO_ENROLL_CLIENT' | translate"
    formControlName="autoEnroll">
    </ccr-feature-toggle-input>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="form?.value.autoEnroll">
    <div fxFlex fxLayout="column" fxLayoutAlign="start start">
      <ccr-organizations-label-selector
        [orgId]="orgId"
        [packages]="clientPackages"
        (packagesChange)="form && form.updateValueAndValidity()"
        ccrBindForm="autoEnrollClientLabelId">
      </ccr-organizations-label-selector>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-settings-section-features-schedule"
    [inheritable]="featureSettings.schedule.isInheritable"
    [isConfigureOption]="featureSettings.schedule.isConfigureOption"
    [label]="'GLOBAL.SCHEDULING' | translate"
    [subLabel]="(featureSettings.schedule.inheritedFrom ? 'GLOBAL.INHERITED_FROM' : '') | translate:{org: featureSettings.schedule.inheritedFrom}"
    formControlName="schedule"></ccr-feature-toggle-input>
  </mat-grid-tile>

  <ng-container *ngIf="form?.value.schedule">
    <mat-grid-tile>
      <ccr-feature-toggle-input
      data-cy="org-settings-section-features-schedule-primary"
      [inheritable]="featureSettings.scheduleIsPrimary.isInheritable"
      [label]="'GLOBAL.SCHEDULING_PRIMARY' | translate"
      formControlName="scheduleIsPrimary"></ccr-feature-toggle-input>
    </mat-grid-tile>

    <mat-grid-tile>
      <ccr-feature-toggle-input
      data-cy="org-settings-section-features-schedule-address-display-providers"
      [inheritable]="featureSettings.scheduleAddressDisplayProviders.isInheritable"
      [label]="'GLOBAL.SCHEDULING_ADDRESS_DISPLAY_PROVIDERS' | translate"
      formControlName="scheduleAddressDisplayProviders"></ccr-feature-toggle-input>
    </mat-grid-tile>

    <mat-grid-tile>
      <ccr-feature-toggle-input
      data-cy="org-settings-section-features-schedule-address-display-patients"
      [inheritable]="featureSettings.scheduleAddressDisplayPatients.isInheritable"
      [label]="'GLOBAL.SCHEDULING_ADDRESS_DISPLAY_PATIENTS' | translate"
      formControlName="scheduleAddressDisplayPatients"></ccr-feature-toggle-input>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>