@import 'variables';

button {
  margin-bottom: 10px;
}

ccr-feature-toggle-input {
  margin: auto;
  width: 60%;
}

.ccr-grid {
  border: 1px solid mat-color($ccr-foreground, icon);
  margin-bottom: 15px;
}
