<div class="ccr-grid" fxLayout="column">
<mat-grid-list [cols]="1" [formGroup]="form" rowHeight="70px">
  <mat-grid-tile>
    <ccr-feature-toggle-input
    data-cy="org-marketing-activeCampaign"
    [inheritable]="false"
    [label]="'GLOBAL.ACTIVE_CAMPAIGN' | translate"
    formControlName="useActiveCampaign"></ccr-feature-toggle-input>
  </mat-grid-tile>
</mat-grid-list>
</div>

<div
[hidden]="!activeCampaignIsEnabled"
fxLayout="column"
fxLayoutAlign="start stretch"
fxLayoutGap="10px">
  <p [innerHTML]="'ADMIN.ORGS.MARKETING_DESCRIPTION' | translate"></p>

  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
    <button (click)="onAssociateActiveCampaign()" class="ccr-icon-button" mat-button>
      <mat-icon>add</mat-icon>
      {{ 'ADMIN.ORGS.ASSOC_ACTIVE_CAMPAIGN' | translate }}
    </button>

    <button [disabled]="!source.result?.length" (click)="onEnrollProviderCampaign()" class="ccr-icon-button" mat-button>
      <mat-icon>person</mat-icon>
      {{ 'ADMIN.ORGS.ASSOC_PROVIDER_CAMPAIGN' | translate }}
    </button>

    <button [disabled]="!source.result?.length" (click)="onEnrollAllProviders()" class="ccr-icon-button" mat-button>
      <mat-icon>supervisor_account</mat-icon>
      {{ 'ADMIN.ORGS.ASSOC_ALL_PROVIDERS' | translate }}
    </button>
  </div>

  <div>
    <ccr-organizations-active-campaign-table [source]="source"></ccr-organizations-active-campaign-table>
  </div>
</div>

<div [hidden]="activeCampaignIsEnabled" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <p [innerHTML]="'ADMIN.ORGS.ACTIVE_CAMPAIGN_DISABLED' | translate"></p>
</div>