<!-- CAUTION: any change in this layout needs CSS sync -->
<mat-sidenav-container fxFlexFill>
  <mat-sidenav
    (click)="menuOpen($event)"
    [class.open]="layout?.menu.opened"
    class="wellcore-sidenav"
    disableClose="true"
    mode="side"
    opened="true">

    <app-menu-wellcore [isOpened]="layout?.menu.opened"></app-menu-wellcore>
  </mat-sidenav>

  <div fxLayout="column">
    <mat-toolbar class="wellcore-toolbar">
      <wellcore-topbar></wellcore-topbar>
    </mat-toolbar>

    <div fxLayout="row">
      <div fxFlex class="wellcore-body">
        <router-outlet>
          <ccr-call-rating *ngIf="showVideoRating"></ccr-call-rating>
        </router-outlet>
      </div>

      <app-right-panel *ngIf="panelEnabled && layout?.panel.enabled" [class.open]="layout?.panel.opened"></app-right-panel>
    </div>
  </div>
</mat-sidenav-container>

<app-footer></app-footer>