<div>
  <h3 #top>Cómo configurar tu cuenta</h3>

  <p>Para alojar tu aplicación iOS (iPhone y iPad) en la tienda de aplicaciones de Apple, necesitas una Cuenta de Desarrollador de Apple. Este documento te guiará en la inscripción del Programa de Desarrolladores de Apple.</p>
  <p>Después de configurar tu Cuenta de Desarrollador de Apple (o en caso de que ya tengas una), invita a CoachCare a colaborar en tu cuenta. CoachCare te ayudará a administrar tu aplicación y la mantendrá actualizada y funcionando correctamente.</p>
  <p><em>El proceso completo de registro de tu Cuenta de Desarrollador de Apple tomará entre unos pocos días y unas pocas semanas. Para ayudar a agilizarlo, asegúrate de enviar todos los materiales correctos y responder rápidamente a cualquier comunicación de Apple.</em></p>

  <h3>Antes de empezar</h3>

  <p>Si ya tienes una Cuenta de Desarrollador de Apple para tu empresa, puedes proceder directamente a la sección de <a href="/register/apple#invite">Invitar a CoachCare a tu Cuenta de Desarrollador</a>.</p>
  <p>Para crear una cuenta para tu empresa, necesitarás lo siguiente:</p>
  <ol>
    <li>Una computadora o dispositivo en el que se pueda utilizar la autenticación de dos factores de Apple. Puede ser un <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/es-cl/HT205075">dispositivo iOS (iPhone, iPad o iPod Touch), una computadora de escritorio o un portátil con sistema Apple, o también una computadora de escritorio o portátil con sistema Windows</a>. Si tienes alguna pregunta sobre este requisito, comunícate con nuestro <a href="mailto:implementation@coachcare.com">Equipo de Implementación</a>.</li>
    <li>Organización legal o nombre de la empresa</li>
    <li>Un sitio web disponible públicamente con un nombre de dominio asociado a tu empresa.</li>
    <li>Un número de teléfono de contacto al que Apple llamará para verificar la información de tu empresa.</li>
    <li>Una dirección de correo electrónico, asociada con tu empresa, que se utilizará para registrar la cuenta.</li>
  </ol>

  <h3>Proceso de inscripción para desarrolladores de Apple</h3>

  <ol>
    <li>Crea una ID de Apple para tu empresa
      <p>Lo primero que debes hacer es crear una ID de Apple para tu empresa, que luego utilizarás para crear una Cuenta de Desarrollador de Apple para tu empresa. No es posible utilizar tu propia ID de Apple personal. Además, la dirección de correo electrónico utilizada para tu ID de Apple debe tener el mismo nombre de dominio del sitio web de tu empresa. No puedes utilizar una cuenta de correo electrónico con dominio general (@ gmail.com, @ yahoo.com, @ hotmail.com, etc.). Si aún no tienes un ID de Apple para tu empresa, debes <a target="_blank" rel="noopener noreferrer" href="https://appleid.apple.com/account">crear un ID de Apple</a>.
      </p>
    </li>
    <li>Configura la autenticación en dos pasos para tu ID de Apple
      <p>Desde el 29 de junio de 2018, Apple introdujo el requerimiento de que las cuentas empresariales de ID de Apple cuenten con una autenticación de dos factores para mejorar la seguridad de las mismas. Debes habilitar la <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/es-cl/HT204915">autenticación de dos factores</a> para tu cuenta de ID de Apple. Ten en cuenta que este paso requiere de <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/es-cl/HT205075">un dispositivo Apple o una PC de Windows con iCloud para Windows e iTunes instalados</a>. Considera que debes iniciar sesión con el ID de Apple de la empresa en el dispositivo o la computadora que se uses para la autenticación de dos factores. Hay dos opciones disponibles:
        <ol>
          <li><small><strong>Enfoque Recomendado</strong></small> Compra y/o mantén un dispositivo Apple (iPhone, iPad, computadora, computadora portátil) o computadora con Windows que esté siempre conectado con este ID de Apple. Este dispositivo o computadora solamente podrá ser utilizado para la empresa y no podrá ser usado como tu dispositivo o teléfono personal.</li>
          <li>Usar un dispositivo o teléfono personal e iniciar sesión con la ID de Apple de tu negocio, cuando sea necesario. Por ejemplo:
            <ul>
              <li>Tu iPhone personal normalmente está conectado a tu cuenta personal de ID de Apple.</li>
              <li>Cuando sea necesario para las actividades de negocios, cierra sesión en tu cuenta personal de ID de Apple en tu teléfono o computadora, e inicia sesión con tu ID de Apple empresarial.</li>
              <li>Después de que la autenticación se complete (debería tomar unos pocos minutos), cierra sesión en la cuenta de ID de Apple de tu empresa e inicia sesión en tu cuenta personal de ID de Apple.</li>
            </ul>
            En general, las clínicas necesitarán acceder a sus cuentas comerciales de Apple ID una vez cada 2-3 meses, por lo que esta práctica es posible de implementar sin problemas.
          </li>
        </ol>
    </li>
    <li>Registrar o localizar el número D-U-N-S
      <p>Tu organización debe tener un Número D-U-N-S para que Apple pueda verificar la identidad de la misma y el estatus de la entidad legal. Dun &amp; Bradstreet asigna estos números únicos de nueve dígitos y se utilizan en general como identificadores comerciales estándar.</p>
      <ul>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/enroll/duns-lookup/#/search">Regístrate o localiza tu número D-U-N-S</a><br><em><strong>Se requiere una ID de Apple antes de registrarse para obtener un número D-U-N-S</strong>.<br>Por favor, completa el paso anterior (crear ID de Apple) antes de continuar con este punto.</em></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/support/d-u-n-s/">Más información sobre el número D-U-N-S.</a></li>
      </ul>
    </li>
    <li>Registrarse para una Cuenta de Desarrollador de Apple
      <p>A continuación, <a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/programs/enroll/">completa el formulario de registro</a> para inscribirte en el programa Cuenta de Desarrollador de Apple.</p>
      <p>Al inicio del proceso de registro, regístrate como una <strong>Empresa/Organización</strong>. Si tienes alguna pregunta sobre tu tipo de entidad o prefieres registrarte como un tipo diferente, comunícate con nuestro <a href="mailto:implementation@coachcare.com">Equipo de Implementación</a> antes de continuar.</p>
      <p>Después de completar este proceso, un representante de Apple se pondrá en contacto contigo a la dirección de correo electrónico y el número de teléfono que hayas proporcionado dentro de las 24 a 72 horas posteriores. Apple verificará la información de tu empresa.</p>
    </li>
    <li>Introducir información sobre el pago
      <p>Una vez que Apple haya verificado la cuenta, recibirás un correo electrónico de confirmación. En el mismo, se incluirán instrucciones para pagar la membresía del Programa de Desarrolladores de Apple.</p>
    </li>
  </ol>

  <h3 id="invite">Invitar CoachCare a tu Cuenta de Desarrollador de Apple</h3>

  <p>Una vez que tu Cuenta de Desarrollador de Apple esté completamente activa, deberás invitar a CoachCare como <em>Administrador</em> a tu cuenta de App Store Connect. Para empezar:</p>
  <ol>
    <li>Dirígete a la <a target="_blank" rel="noopener noreferrer" href="https://itunesconnect.apple.com/access/users">sección de Usuarios y Acceso</a> en tu cuenta de App Store Connect.</li>
    <li>Haz clic en la pestaña de <strong>Personas</strong> en la parte superior de la página.</li>
    <!-- <li>En la sección "Invitar como administradores", ingresa la dirección de correo electrónico de la cuenta de CoachCare: <strong>mobile@coachcare.com</strong>.</li> -->
    <!-- <li>En la parte inferior de la página, haz clic en <strong>Invitar</strong>.</li> -->
    <!-- <li>A continuación, <a target="_blank" rel="noopener noreferrer" href="https://itunesconnect.apple.com/login">inicia sesión en iTunes Connect</a>, dirígete a la <a target="_blank" rel="noopener noreferrer" href="https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/users_roles">sección Usuarios y Roles</a> de tu cuenta de iTunes Connect. -->
    <li>Haz clic en el botón "+" para añadir un nuevo usuario (Coachcare).</li>
    <li>Utiliza "CoachCare" para los campos de <strong>Nombre</strong> y <strong>Apellido</strong>.</li>
    <li>Para el "correo electrónico", utiliza <strong>mobile@coachcare.com</strong>.</li>
    <li>En <strong>Roles</strong> activa la casilla de <strong>Administrador</strong>.</li>
    <li>Luego, haz clic en el botón de <strong>Invitar</strong> en la parte inferior.</li>
  </ol>

  <p>El proceso debería estar completo. Puedes solicitar asistencia o dirigir tus preguntas a la <a target="_blank" rel="noopener noreferrer" href="https://coachcare.zendesk.com/hc/en-us/requests/new">página de Soporte de CoachCare</a> o a tu ejecutivo de ventas regional.</p>
</div>
