@import 'variables';

app-reports-rpm-billing {
  $date-highlight-color: saturate(
    lighten(adjust-hue(mat-color($ccr-background, success), -25deg), 20%),
    20%
  );

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .top-level-accout-label {
    margin-bottom: 0 !important;
  }

  small {
    margin: 5px 0;
  }

  .ccr-expandable-table {
    overflow-y: hidden;
    padding-bottom: 15px;
  }

  .clinic-label {
    margin-top: 5px;
  }

  .count {
    line-height: 0;

    i {
      font-weight: 400;
    }
  }

  .minus-margin-bottom .mat-form-field-wrapper {
    bottom: -17px;
  }

  .org-search-container {
    position: relative;
    top: 10px;
  }

  mat-icon.prefix-icon {
    margin-right: 10px;
  }

  .title-icon {
    line-height: 36px;
  }

  mat-icon.active {
    color: var(--primary);
  }

  table {
    td {
      line-height: 50px !important;

      &.activation-date-cell,
      &.code-cell {
        border-left: 1px solid mat-color($ccr-foreground, secondary-text);
        border-right: 1px solid mat-color($ccr-foreground, secondary-text);
      }
    }

    th {
      font-size: 14px;
      font-weight: 500;

      .code {
        &-subtitle {
          font-size: 12px;
          line-height: 24px;
          height: 100%;
          margin: 0;
          text-align: center;

          &:first-of-type {
            border-right: 1px solid mat-color($ccr-foreground, secondary-text);
          }
        }

        &-title {
          border-bottom: 1px solid mat-color($ccr-foreground, secondary-text);
          height: 24px;
          line-height: 24px;
          margin: 0;
          text-align: center;
          text-transform: lowercase;
        }
      }

      &.activation-date-cell,
      &.code-cell {
        border-left: 1px solid mat-color($ccr-foreground, secondary-text);
        border-right: 1px solid mat-color($ccr-foreground, secondary-text);
        border-top: 1px solid mat-color($ccr-foreground, secondary-text);
      }

      &.code-cell {
        padding: 0;
      }
    }

    tr {
      &.last-row {
        td {
          &.activation-date-cell,
          &.code-cell {
            border-bottom: 1px solid mat-color($ccr-foreground, secondary-text);
          }
        }
      }

      &.row-even {
        .open-in-new-tab-cell,
        .id-cell,
        .first-name-cell,
        .last-name-cell {
          background: mat-color($ccr-background, even);
        }
      }

      &.row-odd {
        .open-in-new-tab-cell,
        .id-cell,
        .first-name-cell,
        .last-name-cell {
          background: mat-color($ccr-background, odd);
        }
      }

      & > td.first-name-cell,
      & > td.last-name-cell,
      & > td.supervising-provider-cell {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .activation-date-cell {
      min-width: 175px;
      text-align: center !important;
    }

    .code-cell {
      min-width: 330px;

      ccr-rpm-dependency-icon,
      ccr-rpm-calendar-icon,
      ccr-rpm-clock-icon,
      ccr-rpm-chat-icon,
      ccr-rpm-scale-icon {
        height: 42px;
      }

      ccr-rpm-dependency-icon {
        padding-top: 5px;
      }
    }

    .claim-date-subcell {
      border-right: 1px solid mat-color($ccr-foreground, secondary-text);
      height: 50px;
    }

    .device-type-cell {
      min-width: 225px;
    }

    .diagnosis-cell {
      max-width: 225px;
      min-width: 225px;

      .diagnosis-ellipsis {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;

        &.expanded {
          white-space: normal;
          word-break: break-all;
        }
      }

      .mat-icon {
        margin-left: 5px;
        cursor: pointer;
      }
    }
    .supervising-provider-cell {
      min-width: 200px;
    }

    .highlighted-cell {
      color: $date-highlight-color;
      font-size: 14px;
    }

    .open-in-new-tab-cell {
      left: 0;
      max-width: 25px;
      min-width: 25px;
      text-align: center !important;

      .mat-icon {
        color: mat-color($ccr-foreground, icon);
      }
    }

    .id-cell {
      left: 53px;
      max-width: 25px;
      min-width: 25px;
      text-align: center !important;
    }

    .first-name-cell {
      left: 106px;
      max-width: 150px;
      min-width: 150px;
    }

    .last-name-cell {
      left: 284px;
      max-width: 150px;
      min-width: 150px;
    }

    .first-name-cell,
    .last-name-cell {
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .status-cell {
      font-size: 12px;

      p {
        margin: 0;
        text-align: center;
      }
    }
  }
}
