<div
[formGroup]="form"
class="cart"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign="space-between start"
fxLayoutAlign.sm="start stretch"
fxLayoutAlign.xs="start stretch"
fxLayoutGap="50px"
fxLayoutGap.sm="25px"
fxLayoutAlign.xs="start stretch">
  <div fxFlex="33%">
    <p class="cart-title">CART</p>
  </div>

  <div class="cart-table-container" fxFlex fxHide.xs fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
    <p class="cart-subtitle">Item Summary</p>

    <div>
      <table>
        <thead>
          <th class="text-left item-cell" colspan="2">Item</th>
          <th class="text-center">Price</th>
          <th class="quantity-cell text-center">Qty</th>
          <th class="total-cell text-center">Total</th>
        </thead>

        <tbody>
          <tr>
            <td class="item-image-cell">
              <img class="blood-kit-image" src="/assets/wellcore/images/wellcore-blood-kit-cropped.png" alt="Wellcore Blood Sample Kit" />
            </td>
            <td class="text-left item-cell">
              <span>Blood Sample Kit</span>
            </td>
            <td class="text-center">{{ itemPrice | currency:'USD':'symbol':'1.0-0':'en-US' }}</td>
            <td class="quantity-cell">
              <ccr-wellcore-quantity-selector formControlName="amount"></ccr-wellcore-quantity-selector>
            </td>
            <td class="total-cell text-center">{{ cartTotal | currency:'USD':'symbol':'1.0-0':'en-US' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
      <p class="cart-subtitle">Order Summary</p>
      <p class="cart-total">{{ cartTotal | currency:'USD':'symbol':'1.0-0':'en-US' }}</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button [routerLink]="['../checkout']" mat-flat-button class="ccr-button">Check Out</button>
    </div>
  </div>

  <div fxHide.sm fxHide.md fxHide.lg fxHide.xl fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div>
        <img class="blood-kit-image" src="/assets/wellcore/images/wellcore-blood-kit-cropped.png" alt="Wellcore Blood Kit" />
      </div>

      <p class="cart-subtitle">Blood Sample Kit</p>
      <p class="item-price">{{ itemPrice | currency:'USD':'symbol':'1.0-0':'en-US' }}</p>

      <ccr-wellcore-quantity-selector formControlName="amount"></ccr-wellcore-quantity-selector>

      <div class="cart-total-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
        <p class="cart-subtitle small">Order Summary</p>
        <p class="cart-total">{{ cartTotal | currency:'USD':'symbol':'1.0-0':'en-US' }}</p>
      </div>

      <div fxLayout="row" fxLayoutAlign="stretch center">
        <button [routerLink]="['../checkout']" mat-flat-button class="ccr-button">Check Out</button>
      </div>
    </div>
  </div>
</div>