@import 'variables';

$border-color: rgba(mat-color($wellcore, platinum), 0.5);

table {
  border-collapse: collapse;
  margin-bottom: 40px;
  width: 100%;

  tbody,
  thead {
    border-bottom: 1px solid $border-color;
  }

  th,
  td {
    font-size: 20px;
  }

  th {
    font-family: 'Inter Light';
    font-weight: lighter;
    padding-bottom: 10px;
  }

  .item {
    &-cell {
      font-family: 'Inter Light';
      min-width: 15vw;
    }

    &-image-cell {
      padding: 15px;
    }
  }

  .quantity-cell {
    width: 13vw;
  }

  .total-cell {
    min-width: 5vw;
  }
}

.blood-kit-image {
  height: 115px;
  width: auto;
}

.cart {
  padding: 25px;

  &-subtitle {
    font-family: 'Inter Light';
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 0;
  }

  &-table-container {
    margin-top: 15px;

    & > .cart-subtitle:nth-child(1) {
      margin-bottom: 50px !important;
    }
  }

  &-title {
    font-family: 'Trade Gothic Bold Condensed';
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-total {
    color: mat-color($wellcore, platinum);
    font-family: 'Inter Regular';
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
  }
}

@media #{$small-and-down} {
  .blood-kit-image {
    display: block;
    margin: 0 auto;
  }

  .cart {
    &-subtitle {
      font-size: 32px;
      margin-top: 25px;
      margin-bottom: 15px;
      text-align: center;

      &.small {
        margin: 0;
        font-size: 20px;
      }
    }

    &-title {
      text-align: center;
    }

    &-total {
      margin-right: 0;

      &-container {
        border-top: 1px solid $border-color;
        margin: 25px 0;
        padding-top: 15px;
      }
    }

    .item-price {
      font-size: 24px;
      text-align: center;
    }

    .ccr-button {
      display: block;
      width: 100%;
    }
  }
}
