.percent-container {
  font-size: 8px;
}

.stats-big {
  height: 100%;
  padding-bottom: 10px;
}

.metric-heading {
  font-size: 16px !important;
  color: #676563;
}

.metric-number {
  font-size: 30px !important;
}

.metric-text {
  font-size: 16px !important;
  line-height: 1.9;
  text-transform: capitalize;
  color: #676563;
}
