<ng-container>
  <form class="mt-20" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mat-grid-list class="ccr-grid" [cols]="colSpan" rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput required formControlName="firstName"
            [placeholder]="'BOARD.FIRST_NAME' | translate">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput required formControlName="lastName"
            [placeholder]="'BOARD.LAST_NAME' | translate">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <ccr-phone-input formControlName="phone" fxFlex></ccr-phone-input>
      </mat-grid-tile>

      <mat-grid-tile>
        <ccr-date-input [required]="!isProvider" formControlName="birthday" fxFlex></ccr-date-input>
      </mat-grid-tile>

      <mat-grid-tile>
        <ccr-gender-input [required]="!isProvider" formControlName="gender" fxFlex></ccr-gender-input>
      </mat-grid-tile>

      <mat-grid-tile>
        <ccr-form-field-height [required]="!isProvider" formControlName="height"></ccr-form-field-height>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput required email type="email" formControlName="email"
            [placeholder]="'BOARD.EMAIL' | translate">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-select required formControlName="timezone"
            [placeholder]="'BOARD.TIME_ZONE' | translate">
            <mat-option *ngFor="let timezone of timezones"
              [value]="timezone.code">
              {{ timezone.lang[lang] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-select required formControlName="measurementPreference"
            [placeholder]="'BOARD.UNITS_PREFERENCE' | translate">
            <mat-option *ngFor="let unit of units" [value]="unit.value">
              {{ unit.viewValue | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <form-field-lang fxLayout="column"
          formControlName="preferredLocales"
          [placeholder]="'BOARD.LANGUAGE' | translate"></form-field-lang>
      </mat-grid-tile>

    </mat-grid-list>
  </form>

  <div class="mt-40" fxLayoutAlign="center">
    <button
      [disabled]="form.invalid"
      class="ccr-icon-button"
      color="primary"
      mat-button
      (click)="onSubmit()">
      <mat-icon>check</mat-icon> {{'GLOBAL.SAVE' | translate}}
    </button>
  </div>

</ng-container>