<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <div [formGroup]="form" class="ccr-content">
      <div class="ccr-panel">
        <span *ngIf="!isAdmin" class="error" data-cy="adminPermissionRequired">Admin permission is required to modify these settings</span>

        <div class="ccr-grid" fxLayout="column">
          <mat-grid-list [cols]="colSpan" rowHeight="70px">
            <mat-grid-tile>
              <ccr-feature-toggle-input
              data-cy="org-settings-section-features-messages-autothread"
              [inheritable]="false"
              [label]="'GLOBAL.AUTOMATIC_THREAD_PARTICIPATION.DESCRIPTION' | translate"
              [readonly]="!isAdmin"
              formControlName="useAutoThreadParticipation"
              fxFlex></ccr-feature-toggle-input>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <provider-auto-thread-management *ngIf="isAdmin && autoThreadParticipationEnabled" [messagePreferenceId]="messagePreferenceId" [isAdmin]="isAdmin" [organizationId]="organizationId" [organizationName]="organizationName"></provider-auto-thread-management>
      </div>
  </div>
</div>