<!-- CAUTION: any change in this layout needs CSS sync -->
<mat-sidenav-container fxFlexFill>

  <mat-sidenav opened="true" mode="side" disableClose="true"
    (click)="menuOpen($event)"
    [class.open]="layout.menu.opened">

    <app-menu [isOpened]="layout.menu.opened"></app-menu>

  </mat-sidenav>
  <div fxLayout="column">
    <mat-toolbar [color]="palette.toolbar">
      <app-topbar [translations]="translations" [selectedLanguage]="lang" [panelEnabled]="layout.panel.enabled"></app-topbar>
    </mat-toolbar>
    <div fxLayout="row">
      <div fxFlex>
        <router-outlet>

        <ccr-call-rating *ngIf="showVideoRating"></ccr-call-rating>
        </router-outlet>
      </div>
      <app-right-panel *ngIf="panelEnabled && layout.panel.enabled" [class.open]="layout.panel.opened"></app-right-panel>
    </div>
  </div>
</mat-sidenav-container>

<app-footer></app-footer>
