<div>
  <h3 #top>How to Setup your Account</h3>

  <p>An Apple Developer Account is required in order to host your iOS (iPhone and iPad) app in the Apple App Store. This document walks through enrolling in the Apple Developer Program.</p>
  <p>After setting up an Apple Developer Account (or if you already have one), please invite CoachCare to collaborate on your account. CoachCare will then assist in managing your app, and keep it updated and functioning properly.</p>
  <p><em>This entire process of registering your Apple Developer Account will take between a few days to a few weeks.  To help expedite the process, please be sure to submit all the correct materials and respond promptly to any communications from Apple.</em></p>

  <h3>Before You Start</h3>

  <p>If you already have an Apple Developer Account for your company, you can skip down to the <a href="/register/apple#invite">Invite CoachCare to your Apple Developer Account</a> section.</p>
  <p>To create an account for your company, you will need the following:</p>
  <ol>
    <li>A computer or device that can use Apple two-factor authentication. This may be either an <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/en-us/HT205075">iOS device (iPhone, iPad, or iPod Touch), Apple desktop or laptop computer, or Windows desktop or laptop computer</a>. If you have any questions about this requirement, please contact our <a href="mailto:implementation@coachcare.com">Implementation Team</a>.</li>
    <li>Legal Organization or Company Name</li>
    <li>A publicly available website with a domain name that is associated to your company</li>
    <li>A contact phone number that Apple will call to verify information about your company</li>
    <li>An email address, associated with your company, that will be used to regiser the account</li>
  </ol>

  <h3>Apple Developer Enrollment Process</h3>

  <ol>
    <li>Create an Apple ID for your Company
      <p>You must first create an Apple ID for your company, which you will then use to create an Apple Developer Account for your company.  You cannot use your own personal Apple ID. In addition, the email address used for your Apple ID must use your company's website domain name.  Do not use a consumer email account (@gmail.com, @yahoo.com, @hotmail.com, etc). If you do not already have an Apple ID for your company, <a target="_blank" rel="noopener noreferrer" href="https://appleid.apple.com/account">create an Apple ID</a>.
      </p>
    </li>
    <li>Setup Two Factor Authentication for your Apple ID
      <p>As of June 29, 2018, Apple requires your business Apple ID account to have two-factor authentication for improved account security.  Please <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/en-us/HT204915">enable two-factor authentication</a> for you Apple ID account. Please note that this step requires you to have <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/en-us/HT205075">an Apple Device or Windows PC with iCloud for Windows and iTunes installed</a>.  Keep mind that the device or computer used for two-factor authentication must be logged in using your business Apple ID.  Two options are available:
        <ol>
          <li><small><strong>Recommended Approach</strong></small> Purchase and/or maintain a separate Apple Device (iPhone, iPad, Computer, Laptop) or Windows computer or laptop that is always logged in with this Apple ID.  This device or computer would be associated with and used for business purposes only, and your personal device or phone is not used.</li>
          <li>Use a personal device or phone, and log in using your business Apple ID as needed.  For example:
            <ul>
              <li>Your personal iPhone is normally logged into to your personal Apple ID account.</li>
              <li>As needed for business purposes, log out of your personal Apple ID account on your phone or computer, and log in with your business Apple ID</li>
              <li>After authentication is complete (which should only take a few minutes) log out of your business Apple ID and back into your personal Apple ID.</li>
            </ul>
            Typically, clinics will need to access their business Apple ID accounts once every 2-3 months, so this practice is manageable.
          </li>
        </ol>
    </li>
    <li>Register or Locate D-U-N-S Number
      <p>Your organization must have a D-U-N-S Number so that Apple can verify your organization’s identity and legal entity status. These unique nine-digit numbers are assigned by Dun &amp; Bradstreet and are widely used as standard business identifiers.</p>
      <ul>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/enroll/duns-lookup/#/search">Register for or locate your D-U-N-S number</a><br><em><strong>An Apple ID is required before registering for a D-U-N-S number</strong>.<br>Please complete the previous step (Create Apple ID) before proceeding to this point.</em></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/support/d-u-n-s/">More information on the D-U-N-S number</a></li>
      </ul>
    </li>
    <li>Register for an Apple Developer Account
      <p>Next, <a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/programs/enroll/">complete the registration form</a> to enroll in the Apple Developer Account program.</p>
      <p>At the start of the registration process please register as a <strong>Company/Organization</strong>.  If you have any questions about your entity type or intend to register as a different type, please contact our <a href="mailto:implementation@coachcare.com">Implementation Team</a> before continuing.</p>
      <p>After you complete this process, a representative from Apple will contact you at the provided email address and phone number within 24-72 hours.  They will verify information about your company.</p>
    </li>
    <li>Enter Payment information
      <p>After the account has been verified by Apple, you will receive a confirmation email.  Instructions for paying the Apple Developer Program membership will be included.</p>
    </li>
  </ol>

  <h3 id="invite">Invite CoachCare to your Apple Developer Account</h3>

  <p>Once your Apple Developer account is fully active, you must invite CoachCare as an <em>Admin</em> to your App Store Connect account.  To begin:</p>
  <ol>
    <li>Go to the <a target="_blank" rel="noopener noreferrer" href="https://itunesconnect.apple.com/access/users">User and Access section</a> of your App Store Connect account.</li>
    <li>Click the <strong>People</strong> tab at the top of the page.</li>
    <li>Click the "+" button to add a new user (CoachCare).</li>
    <li>Use "CoachCare" for both the <strong>First Name</strong> and <strong>Last Name</strong> fields.</li>
    <li>For the "Email", use <strong>mobile@coachcare.com</strong>.</li>
    <li>Under <strong>Roles</strong> check the <strong>Admin</strong> box.</li>
    <li>Then click the <strong>Invite</strong> button at the bottom.</li>
  </ol>

  <p>The process should now be complete.  Any support or follow up questions can be directed to the <a target="_blank" rel="noopener noreferrer" href="https://coachcare.zendesk.com/hc/en-us/requests/new">CoachCare Support page</a> or your regional sales executive.</p>
</div>
