@import 'variables';

.packages-selector {
  .package-item {
    border: 2px solid var(--primary, mat-color($ccr-primary));
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 160px;
    position: relative;

    .package-header {
      background-color: var(--primary, mat-color($ccr-primary));
      color: mat-color($ccr-contrast, A700);
      height: 40px;
    }

    .package-body {
      min-height: 120px;

      .package-image {
        box-sizing: border-box;
        height: 42px;
        left: calc(50% - 21px);
        position: absolute;
        top: 23px;
        width: 42px;
      }
      .package-content {
        margin-top: 20px;

        .package-name {
          text-align: center;
          font-size: 20px;
          font-weight: bold;
        }
        .package-value {
          font-size: 16px;
          font-style: italic;
        }
      }
    }
  }
}
.packages-footer {
  border: 1px solid mat-color($ccr-contrast, 800);
  padding: 5px;

  .footer-image {
    height: 53px;
    padding: 0 10px;
    width: 80px;
  }

  .footer-sub-text {
    font-size: 13px;
  }
}
