<div class="ccr-heading">
  <a mat-button color="primary" class="ccr-button" routerLink="../">
    {{ 'GLOBAL.BACK' | translate }}
  </a>

  <div class="ccr-name" fxLayout="row" fxLayoutAlign.xs="center">
    <ccr-avatar size="bigger" [account]="item?.id"></ccr-avatar>
    <h2>{{ item?.firstName | capitalize }} {{ item?.lastName | capitalize }}</h2>
  </div>
</div>

<div class="ccr-tabs" fxLayout="row" fxLayoutAlign=" stretch" fxLayoutGap="5px">
  <a fxFlex fxLayoutAlign="center center" routerLinkActive="active" [routerLink]="['data']">{{ 'GLOBAL.PROFILE' | translate }}</a>
  <!-- TODO routing restriction for Admins -->
  <a *ngIf="accountType !== AccountTypeId.Admin" fxFlex fxLayoutAlign="center center" routerLinkActive="active" [routerLink]="['orgs']">{{ 'ADMIN.ASSOCIATIONS' | translate }}</a>
  <!-- <a fxFlex fxLayoutAlign="center center" routerLinkActive="active" [routerLink]="['logs']">{{ 'ADMIN.LOGS._TITLE' | translate }}</a> -->
  <a *ngIf="accountType !== AccountTypeId.Admin" fxFlex fxLayoutAlign="center center" routerLinkActive="active" [routerLink]="['external-identifiers']">{{ 'ADMIN.EXTERNAL_IDENTIFIERS' | translate }}</a>
  <a fxFlex fxLayoutAlign="center center" routerLinkActive="active" [routerLink]="['email-log']">{{ 'ADMIN.EMAIL_LOG' | translate }}</a>
</div>

<div class="ccr-subcomponent">
  <router-outlet></router-outlet>
</div>
