<div class="ccr-heading">
  <div class="ccr-name" fxLayout="row" fxLayoutAlign.xs="center">
    <ccr-avatar size="bigger" [account]="profile?.id" [editable]="true"></ccr-avatar>
    <h2>{{'BOARD.PROFILE' | translate}}</h2>
  </div>
</div>

<p *ngIf="displayOrphanedMessage">{{ 'PROFILE.NO_ACCESS' | translate }}</p>

<div
class="ccr-tabs"
fxFlex="nogrow"
fxLayout="row"
fxLayoutAlign=" stretch">
  <a
  [class.active]="section === 'profile'"
  [routerLink]="['.', { s: 'profile' }]"
  ccrLinkActive="active"
  fxFlex
  fxLayoutAlign="center center">
    {{ 'GLOBAL.PROFILE' | translate }}
  </a>
  <a
  [class.active]="section === 'security'"
  [routerLink]="['.', { s: 'security' }]"
  ccrLinkActive="active"
  fxFlex
  fxLayoutAlign="center center">
    {{ 'GLOBAL.SECURITY' | translate }}
  </a>
  <a
  [class.active]="section === 'calls'"
  [routerLink]="['.', { s: 'calls' }]"
  ccrLinkActive="active"
  fxFlex
  fxLayoutAlign="center center">
    {{ 'REPORTS.COMMS_CALLS' | translate }}
  </a>
</div>

<ng-container [ngSwitch]="section">
  <ng-container *ngSwitchDefault>
    <account-form [profile]="profile" (onProfileSaved)="saveProfile($event)"></account-form>

    <div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="isSaving">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'security'">
    <app-profile-security></app-profile-security>
  </ng-container>

  <ng-container *ngSwitchCase="'calls'">
    <br>
    <app-reports-calls [account]="profile.id"></app-reports-calls>
  </ng-container>
</ng-container>
