<div class="ccr-heading">
  <div class="ccr-name" fxLayout="row" fxLayoutAlign.xs="center">
    <ccr-avatar size="bigger" [account]="profile?.id" [editable]="true"></ccr-avatar>
    <div fxLayout="column" fxLayoutAlign="center start">
      <h2>
        {{'BOARD.PROFILE' | translate}}
        <ccr-help-link [link]="zendeskLink"></ccr-help-link>
      </h2>
      <p>{{ 'GLOBAL.ID' | translate }} {{ profile.id }}</p>
      <ccr-last-login [accountId]="profile.id" [routerLinkArgs]="['.', {s: 'login-history'}]"></ccr-last-login>
    </div>
  </div>
</div>

<p *ngIf="displayOrphanedMessage">{{ 'PROFILE.NO_ACCESS' | translate }}</p>

<div
class="ccr-tabs"
fxFlex="nogrow"
fxLayout="row"
fxLayoutAlign=" stretch">
  <a
  [class.active]="section === 'profile'"
  [routerLink]="['.', { s: 'profile' }]"
  ccrLinkActive="active"
  fxFlex
  fxLayoutAlign="center center">
    {{ 'GLOBAL.PROFILE' | translate }}
  </a>
  <a
  [class.active]="section === 'addresses'"
  [routerLink]="['.', { s: 'addresses' }]"
  ccrLinkActive="active"
  fxFlex
  fxLayoutAlign="center center">
    {{ 'BOARD.ADDRESSES' | translate }}
  </a>
  <a
  [class.active]="section === 'security'"
  [routerLink]="['.', { s: 'security' }]"
  ccrLinkActive="active"
  fxFlex
  fxLayoutAlign="center center">
    {{ 'GLOBAL.SECURITY' | translate }}
  </a>
  <a
  *ngIf="isProvider"
  [class.active]="section === 'communications'"
  [routerLink]="['.', { s: 'communications' }]"
  ccrLinkActive="active"
  fxFlex
  fxLayoutAlign="center center">
    {{ 'REPORTS.COMMS_CALLS' | translate }}
  </a>
  <a
  *ngIf="isProvider"
  [class.active]="section === 'login-history'"
  [routerLink]="['.', { s: 'login-history' }]"
  ccrLinkActive="active"
  fxFlex
  fxLayoutAlign="center center">
    {{ 'GLOBAL.LOGIN_HISTORY' | translate }}
  </a>
</div>

<ng-container [ngSwitch]="section">
  <ng-container *ngSwitchDefault>
    <account-form [profile]="profile" (onProfileSaved)="saveProfile($event)"></account-form>

    <div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="isSaving">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'addresses'">
    <ccr-account-addresses [account]="profile.id" class="medium-margin-top"></ccr-account-addresses>
  </ng-container>
  <ng-container *ngSwitchCase="'security'">
    <app-profile-security></app-profile-security>
  </ng-container>

  <ng-container *ngSwitchCase="'communications'">
    <br>
    <app-reports-calls [account]="profile.id" [listenToReportCriteria]="false"></app-reports-calls>
  </ng-container>

  <ng-container *ngSwitchCase="'login-history'">
    <br>
    <ccr-login-history [account]="profile.id"></ccr-login-history>
  </ng-container>
</ng-container>
