.subtitle {
  font-family: 'Inter Light';
  font-size: 30px;
  font-weight: lighter;
  margin: 0 auto 80px auto !important;
  text-align: center;
  width: 80%;
}

.title {
  font-family: 'Trade Gothic Bold Condensed';
  font-size: 84px;
  font-weight: bold;
  margin: 50px auto !important;
  text-align: center;
  text-transform: uppercase;
  width: 85%;
}
