<div class="rpm-status-panel-container">
    <div *ngIf="status === 'loading'; else displayTracking" fxLayout="column" fxLayoutAlign="center stretch">
        <mat-spinner [diameter]="28" [strokeWidth]="2"></mat-spinner>
    </div>
    <ng-template #displayTracking [ngSwitch]="getStatus()">
        <div [formGroup]="addTimeForm" *ngSwitchCase="'active'" fxLayout="column">
            <div *ngIf="showManualTime" fxFlex class="mb-10" fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutWrap.xs>
                <div fxLayout="row" fxLayoutAlign=" center" fxFlex.gt-xs="49%" fxFlex.xs="grow">
                  <mat-form-field class="ccr-align-right" [floatLabel]="floatLabel">
                    <mat-select [required]="required" formControlName="minutes">
                      <mat-option class="ccr-align-right" *ngFor="let minute of minutes" [value]="minute">
                        {{ minute }}
                      </mat-option>
                    </mat-select>
                    <span matSuffix>{{ 'GLOBAL.MINUTES' | translate | lowercase }}</span>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign=" center" fxFlex.gt-xs="49%" fxFlex.xs="grow">
                  <mat-form-field class="ccr-align-right" [floatLabel]="floatLabel">
                    <mat-select [required]="required" formControlName="seconds">
                      <mat-option class="ccr-align-right" *ngFor="let second of seconds" [value]="second">
                        {{ second }}
                      </mat-option>
                    </mat-select>
                    <span matSuffix>{{ 'GLOBAL.SECONDS' | translate | lowercase }}</span>
                  </mat-form-field>
                </div>
            </div>
            <div *ngIf="showManualTime" fxLayout="row" class="add-time-btn-container">
                <button
                    class="ccr-button mx-auto"
                    color="primary"
                    [disabled]="addTimeForm.invalid"
                    (click)="addManualTime()"
                    mat-button>{{ 'GLOBAL.ADD_TIME' | translate: { serviceType: serviceTypeLabel } }}</button>
            </div>
            <div *ngFor="let billingEntry of rpmStateSummary?.billing" class="code-container">
                <div class="code"><p>{{ billingEntry.code }}</p></div>
                <div>
                    <div *ngIf="!billingEntry.eligibility.next" class="already-eligible-notice" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                        <mat-icon>check_circle_outline</mat-icon>
                    </div>
                </div>
                <div>
                    <span *ngFor="let codeRequirement of billingEntry.eligibility.next?.deps">
                        <ccr-rpm-dependency-icon
                        [matTooltip]="isMetDepsRequirement(billingEntry, codeRequirement) ? '' : ('RPM.DEPENDENCY_ICON_DESCRIPTION' | translate:{code: codeRequirement})"
                        [size]="45"
                        [completed]="isMetDepsRequirement(billingEntry, codeRequirement)"
                        [text]="codeRequirement">
                        </ccr-rpm-dependency-icon>
                    </span>
                </div>
                <div>
                    <ccr-rpm-calendar-icon
                    *ngIf="billingEntry.eligibility?.next?.earliestEligibleAt"
                    [matTooltip]="billingEntry.remainingDays ? ('RPM.CALENDAR_ICON_DESCRIPTION' | translate:{amount: billingEntry.remainingDays}) : ''"
                    [size]="45"
                    [completed]="billingEntry.remainingDays === 0"
                    text="{{ billingEntry.remainingDays }}{{ 'UNIT.DAY_CONDENSED' | translate }}">
                    </ccr-rpm-calendar-icon>
                </div>
                <div>
                    <ccr-rpm-clock-icon
                    *ngIf="billingEntry.eligibility.next?.monitoring"
                    [matTooltip]="billingEntry.eligibility.next?.monitoring.remaining ? ('RPM.CLOCK_ICON_DESCRIPTION' | translate:{amount: billingEntry.eligibility.next?.monitoring.remaining}) : ''"
                    [size]="45"
                    [completed]="billingEntry.eligibility.next?.monitoring.remaining === 0"
                    text="{{ billingEntry.eligibility.next?.monitoring.remaining }}{{ billingEntry.eligibility.next?.monitoring.units | translate }}">
                    </ccr-rpm-clock-icon>
                </div>
                <div>
                    <ccr-rpm-chat-icon
                    *ngIf="billingEntry.eligibility.next?.liveInteraction?.required"
                    [matTooltip]="billingEntry.eligibility.next?.liveInteraction.remaining ? ('RPM.CHAT_ICON_DESCRIPTION' | translate:{amount: billingEntry.eligibility.next?.liveInteraction.remaining}) : ''"
                    [completed]="billingEntry.eligibility.next?.liveInteraction.remaining === 0"
                    [size]="45"
                    text="{{ billingEntry.eligibility.next?.liveInteraction.remaining }}">
                    </ccr-rpm-chat-icon>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'begins-tomorrow'" class="no-program">
            {{ 'RPM.EPISODE_WILL_BE_ENABLED_TOMORROW' | translate }}
        </div>
        <div *ngSwitchCase="'inactive'" class="no-program">
           This patient is not activated for time tracking. Go to Program Settings to manage and activate care programs
        </div>
        <div class="mt-10" fxLayout="row" fxLayoutAlign="space-around center">
            <button
            *ngIf="rpmStateSummary"
            class="ccr-button"
            color="primary"
            (click)="onRefresh(); $event.stopPropagation()"
            mat-button>{{ 'GLOBAL.REFRESH' | translate }}</button>
            <button
            class="ccr-button"
            color="primary"
            (click)="onOpenSettings()"
            data-cy="program_setting_button"
            mat-button>{{ 'GLOBAL.PROGRAM_SETTINGS' | translate }}</button>
            <button
            *ngIf="getStatus() === 'active' && !automaticCareManagementTimeTracking"
            class="ccr-button"
            color="primary"
            (click)="toggleManualTime()"
            mat-button>{{ showManualTime ? ('GLOBAL.CANCEL' | translate) : ('GLOBAL.ADD_TIME' | translate: { serviceType: serviceTypeLabel }) }}</button>
        </div>
    </ng-template>
</div>