.main-video {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}
.sub-video {
  position: absolute;
  right: 0;
}
.default-size {
  width: 35%;
  height: 35%;
}
.fullscreen-size {
  width: 20%;
  height: 20%;
}
