@import 'variables';
@import 'shared/directed-styles';

@media #{$medium-and-up} {
  .cdk-column-name {
    flex: 1.75 !important;
  }
  .cdk-column-address {
    flex: 2 !important;
  }
  .cdk-column-state,
  .cdk-column-zip {
    flex: 0.7 !important;
  }
  .cdk-column-contact {
    flex: 2 !important;
  }
  .cdk-column-actions {
    max-width: 60px;
  }
}

button {
  z-index: 999;

  &.disabled {
    mat-icon {
      color: mat-color($ccr-foreground, divider) !important;
      cursor: default;
    }
  }
}

.mat-cell {
  padding: 5px 5px 5px 0;
  &:last-child {
    @include horizontal-padding-right(0);
  }
}

.mat-row {
  cursor: pointer;
}
