<div class="ccr-container-mini" fxLayout="row" fxLayoutAlign="space-evenly center">
  <ul class="ccr-tabs-center" fxLayout="row wrap"  fxLayoutAlign.gt-xs="center stretch">
    <li *ngIf="components.indexOf('profile') > -1">
      <a mat-button [routerLink]="['.', {s: 'profile'}]" [class.active]="section === 'profile'">
        {{ 'GLOBAL.PROFILE' | translate }}
      </a>
    </li>
    <li *ngIf="components.includes('addresses')">
      <a mat-button [routerLink]="['.', {s: 'addresses'}]" [class.active]="section === 'addresses'">
        {{ 'BOARD.ADDRESSES' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('labels') > -1">
      <a mat-button [routerLink]="['.', {s: 'labels'}]" [class.active]="section === 'labels'">
        {{ 'GLOBAL.PHASES_LABELS' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('phase-history') > -1">
      <a mat-button [routerLink]="['.', {s: 'phase-history'}]" [class.active]="section === 'phase-history'">
        {{ 'GLOBAL.PHASE_HISTORY' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('devices') > -1">
      <a mat-button [routerLink]="['.', {s: 'devices'}]" [class.active]="section === 'devices'">
        {{ 'BOARD.DEVICES' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('forms') > -1">
      <a mat-button [routerLink]="['.', {s: 'forms'}]" [class.active]="section === 'forms'">
        {{ 'BOARD.FORMS' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('sequences') > -1">
      <a mat-button [routerLink]="['.', {s: 'sequences'}]" [class.active]="section === 'sequences'">
        {{ 'SIDENAV.SEQUENCES' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('communications') > -1">
      <a mat-button [routerLink]="['.', {s: 'communications'}]" [class.active]="section === 'communications'">
        {{ 'REPORTS.COMMS_CALLS' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('associations') > -1">
      <a mat-button [routerLink]="['.', {s: 'associations'}]" [class.active]="section === 'associations'">
        {{ 'GLOBAL.CLINICS' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('file-vault') > -1">
      <a mat-button [routerLink]="['.', {s: 'file-vault'}]" [class.active]="section === 'file-vault'">
        {{ 'GLOBAL.FILE_VAULT' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('login-history') > -1">
      <a mat-button [routerLink]="['.', {s: 'login-history'}]" [class.active]="section === 'login-history'">
        {{ 'GLOBAL.LOGIN_HISTORY' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('meetings') > -1">
      <a mat-button [routerLink]="['.', {s: 'meetings'}]" [class.active]="section === 'meetings'">
        {{ 'GLOBAL.MEETINGS' | translate }}
      </a>
    </li>
    <li *ngIf="components.indexOf('goals') > -1">
      <a mat-button [routerLink]="['.', {s: 'goals'}]" [class.active]="section === 'goals'">
        {{ 'GLOBAL.GOALS' | translate }}
      </a>
    </li>
  </ul>
</div>
<!-- <div *ngIf="section === 'forms'" class="ccr-container-mini" fxLayout="row" fxLayoutAlign="flex-end">
  <button
    (click)="assignForm()"
    [disabled]="disableAssignForm"
    class="ccr-icon-button"
    color="primary"
    fxFlex="0 0 auto"
    mat-button>
    <mat-icon>add</mat-icon>
    <span>{{ 'BOARD.ASSIGN_FORM_PATIENT' | translate }}</span>
  </button>
</div> -->
<div class="ccr-dashboard-pane" [ngSwitch]="component">
  <ng-container *ngSwitchCase="'profile'">

    <app-dieter-profile></app-dieter-profile>

  </ng-container>
  <ng-container *ngSwitchCase="'addresses'">

    <ccr-account-addresses [isPatient]="true" [account]="account"></ccr-account-addresses>

  </ng-container>
  <ng-container *ngSwitchCase="'labels'">

    <app-account-phase-list></app-account-phase-list>

  </ng-container>
  <ng-container *ngSwitchCase="'phase-history'">

    <app-dieter-phase-history></app-dieter-phase-history>

  </ng-container>
  <ng-container *ngSwitchCase="'devices'">

    <app-device-status></app-device-status>

  </ng-container>

  <ng-container *ngSwitchCase="'forms'">

    <app-library-dieter-submissions (formSelected)="disableAssignForm = !!$event">
    </app-library-dieter-submissions>

  </ng-container>

  <ng-container *ngSwitchCase="'sequences'">

    <app-dieter-sequences></app-dieter-sequences>

  </ng-container>

  <ng-container *ngSwitchCase="'communications'">
    <app-reports-calls [allowCreation]="true" [account]="account" [requiredAccount]="true" [listenToReportCriteria]="false"></app-reports-calls>
  </ng-container>

  <ng-container *ngSwitchCase="'associations'">
    <p class="ccr-hint">
      {{ 'GLOBAL.ABOUT' | translate }} {{ 'GLOBAL.CLINIC_ASSOCIATION' | translate }}

      <ccr-help-link [link]="associationZendeskLink"></ccr-help-link>
    </p>
    <ccr-account-associations></ccr-account-associations>
  </ng-container>

  <ng-container *ngSwitchCase="'file-vault'">
    <app-dieter-file-vault></app-dieter-file-vault>
  </ng-container>

  <ng-container *ngSwitchCase="'login-history'">
    <ccr-login-history [patientMode]="true"></ccr-login-history>
  </ng-container>

  <ng-container *ngSwitchCase="'meetings'">
    <app-dieter-meetings></app-dieter-meetings>
  </ng-container>

  <ng-container *ngSwitchCase="'goals'">
    <app-dieter-goals></app-dieter-goals>
  </ng-container>
</div>
