<ccr-datasource-overlay
[emptyMsg]="'BOARD.DIETERS_EMPTY_LIST' | translate"
[source]="source"
class="ccr-table ccr-expand-table ccr-table-stats">

    <table mat-table [dataSource]="rows" matSort>

      <ng-container cdkColumnDef="firstName">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span mat-sort-header="firstName">{{ 'BOARD.FIRST_NAME' | translate }}</span>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let row; let i = index">
          <app-patient-firstname-cell
          [row]="row"
          (toggleRow)="toggleRow($event)"
          (showDieter)="showDieter($event)"
          (onLoadMore)="onLoadMore($event, i)"></app-patient-firstname-cell>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="lastName">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span mat-sort-header="lastName">{{ 'BOARD.LAST_NAME' | translate }}</span>
        </mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        (click)="showDieter(row)"
        class="clickable"
        fxLayoutAlign="start center"
        fxFlex.xs="grow">
          <span>{{ 'BOARD.LAST_NAME' | translate }}</span>
          <div *ngIf="row.level === 0" fxFlex fxLayout="row" fxLayoutAlign="start center">
            {{ row.lastName }}
          </div>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="startDate">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span fxLayout="row" fxLayoutAlign="start center" mat-sort-header="startedAt">
            <span>{{ 'BOARD.START_DATE' | translate }}</span>
            &nbsp;
            <ccr-popup-description
            [title]="'BOARD.START_DATE' | translate"
            [description]="'BOARD.START_DATE_DESCRIPTION' | translate"
            ></ccr-popup-description>
          </span>
        </mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        (click)="showDieter(row)"
        class="clickable"
        fxHide.xs>
          <span>{{ 'BOARD.START_DATE' | translate }}</span>
          <div *ngIf="row.level === 0" data-cy="startDate">
            <ng-container
            [ngTemplateOutlet]="row.startedAt ? longdatereg : empty"
            [ngTemplateOutletContext]="{date: row.startedAt, totalDays: row.totalDays}"></ng-container>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="startWeightDate">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span mat-sort-header="weight.first.recordedAt">
            {{ 'BOARD.START_WEIGHT_DATE' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        (click)="showDieter(row)"
        class="clickable"
        fxHide.xs>
          <span>{{ 'BOARD.START_WEIGHT_DATE' | translate }}</span>
          <div *ngIf="row.level === 0">
            <ng-container
            [ngTemplateOutlet]="row.weight?.start?.date ? datereg : empty"
            [ngTemplateOutletContext]="{date: row.weight?.start?.date}"></ng-container>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="startWeight">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span mat-sort-header="weight.first.value">{{ 'BOARD.START_WEIGHT' | translate }}</span>
        </mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        (click)="showDieter(row)"
        class="clickable"
        fxHide.xs>
          <span>{{ 'BOARD.START_WEIGHT' | translate }}</span>
          <div *ngIf="row.level === 0">
            <ng-container
            [ngTemplateOutlet]="row.weight?.start?.value ? weightreg : empty"
            [ngTemplateOutletContext]="{weight: row.weight, weightValue: row.weight?.start?.value}"></ng-container>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="endWeightDate">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span mat-sort-header="weight.last.recordedAt">
            {{ 'BOARD.CURRENT_WEIGHT_DATE' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        (click)="showDieter(row)"
        class="clickable"
        fxHide.xs>
          <div *ngIf="row.level === 0">
            <ng-container
            [ngTemplateOutlet]="row.weight?.end?.date ? datereg : empty"
            [ngTemplateOutletContext]="{date: row.weight?.end?.date}"></ng-container>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="endWeight">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span mat-sort-header="weight.last.value">{{ 'BOARD.CURRENT_WEIGHT' | translate }}</span>
        </mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        (click)="showDieter(row)"
        class="clickable"
        fxHide.xs>
          <div *ngIf="row.level === 0">
            <div fxLayout="row" fxLayoutAlign="start center">
              <ng-container
              [ngTemplateOutlet]="row.weight?.end?.value ? weightreg : empty"
              [ngTemplateOutletContext]="{weight: row.weight, weightValue: row.weight?.end?.value}"></ng-container>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="weightChange">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span mat-sort-header="weight.change.value">
            {{ 'STATS.WEIGHT_CHANGE' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        (click)="showDieter(row)"
        class="clickable"
        fxHide.xs>
        <div *ngIf="row.level === 0">
          <div fxLayout="row" fxLayoutAlign="start center">
            <ng-container
            [ngTemplateOutlet]="row.weight?.change?.value ? weightreg : empty"
            [ngTemplateOutletContext]="{weight: row.weight, weightValue: row.weight?.change?.value}"></ng-container>
          </div>
        </div>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="weightChangePercent">
        <mat-header-cell *cdkHeaderCellDef class="header-align-left">
          <span mat-sort-header="weight.change.percentage">
            {{ 'STATS.WEIGHT_CHANGE_PERCENT' | translate }}
          </span>
        </mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        (click)="showDieter(row)"
        class="clickable"
        fxHide.xs>
          <div *ngIf="row.level === 0">
            <div fxLayout="row" fxLayoutAlign="start center">
            <ng-container
            [ngTemplateOutlet]="row.weight?.change?.value ? weightreg : empty"
            [ngTemplateOutletContext]="{weightPercent: row.weight?.percent}"></ng-container>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="actions" [stickyEnd]="true">
        <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.ACTIONS' | translate }}</mat-header-cell>
        <mat-cell
        *cdkCellDef="let row"
        [hidden]="row.level > 0"
        fxHide.xs>
          <div *ngIf="row.level === 0">
            <button
            [title]="'BOARD.OPEN_IN_NEW' | translate"
            (click)="showDieter(row, true)"
            mat-icon-button>
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button
            [title]="'GLOBAL.EDIT' | translate"
            (click)="onEdit(row)"
            mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button
            *ngIf="hasAdmin"
            [title]="'BOARD.REMOVE' | translate"
            (click)="onRemove(row)"
            mat-icon-button><mat-icon>delete</mat-icon></button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="columns"></mat-header-row>
      <mat-row fxLayoutWrap
        *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
        class="level{{row.level}}" [ngClass]="{
          'row-even': even,
          'row-odd': odd,
          'hidden': row.isHidden,
          'row-expanded': row.isExpanded,
          'row-nested': row.level > 0,
          'row-bottom-border': row.level > 1,
          'last-of-group': row.isLastOfGroup
        }"
      ></mat-row>
    </table>

  </ccr-datasource-overlay>

<ng-template #weightpercent let-weightPercent="weightPercent">
  {{ weightPercent.toFixed(1) }}
  <small>%</small>
</ng-template>

<ng-template #weightreg let-weight="weight" let-weightValue="weightValue">
  {{ weightValue | unitConversion: 'composition' : 1 }}
  <small>{{ 'composition' | unitLabel: weight | translate }}</small>
</ng-template>

<ng-template #longdatereg let-date="date" let-totalDays="totalDays">
    {{ date | amUtc | amDateFormat:'MMM D, YYYY' }}&nbsp;
    ({{ totalDays }} {{ 'UNIT.DAYS' | translate }})
</ng-template>

<ng-template #datereg let-date="date">{{ date | amDateFormat:'MMM D, YYYY' }}</ng-template>

<ng-template #empty>
  <div>-</div>
</ng-template>