<ccr-datasource-overlay
[emptyMsg]="'BOARD.DIETERS_EMPTY_LIST' | translate"
[source]="source"
class="ccr-table ccr-expand-table ccr-table-stats">

<div class="ccr-expandable-table-container">
<div class="ccr-expandable-table dieters">
  <table ccrTableSort>
    <thead class="sticky-header">
      <tr>
        <td class="column-id sticky-column">
          <div>
            <span>{{ 'GLOBAL.ID' | translate }}</span>
          </div>
        </td>
        <td class="column-firstname sticky-column">
          <div>
            <ccr-table-sort-header property="firstName">
              <span>{{ 'BOARD.FIRST_NAME' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-lastname sticky-column">
          <div>
            <ccr-table-sort-header property="lastName" fxFlex>
              <span>{{ 'BOARD.LAST_NAME' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-phone">
          <span>{{ 'BOARD.PHONE_NUMBER' | translate }}</span>
        </td>
        <td class="column-dob">
          <span>{{ 'BOARD.BIRTHDAY' | translate }}</span>
        </td>
        <td *ngFor="let extraColumn of extraColumns" class="column-extra">
          <div>
            <span>{{ extraColumn.name | translate }}</span>
          </div>
        </td>
        <td class="column-bloodpressure">
          <div>
            <ccr-table-sort-header property="metric.value">
              <span>{{ 'MEASUREMENT.BLOOD_PRESSURE' | translate }}</span>
              <mat-icon (click)="openBloodChart(); $event.stopPropagation();">help_outline</mat-icon>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-bloodpressure">
          <div>
            <ccr-table-sort-header property="metric.value">
              <span>{{ 'MEASUREMENT.BLOOD_PRESSURE_DATE' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-currentweight">
          <div>
            <ccr-table-sort-header property="weight.last.value">
              <span>{{ 'BOARD.CURRENT_WEIGHT' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-currentweightdate">
          <div>
            <ccr-table-sort-header property="weight.last.recordedAt">
              <span>{{ 'BOARD.CURRENT_WEIGHT_DATE' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-startdate">
          <div>
            <ccr-table-sort-header property="startedAt">
              <span>{{ 'BOARD.START_DATE' | translate }}</span>
              &nbsp;
              <ccr-popup-description
              [title]="'BOARD.START_DATE' | translate"
              [description]="'BOARD.START_DATE_DESCRIPTION' | translate"
              ></ccr-popup-description>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-startweight">
          <div>
            <ccr-table-sort-header property="weight.first.value">
              <span>{{ 'BOARD.START_WEIGHT' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-startweightdate">
          <div>
            <ccr-table-sort-header property="weight.first.recordedAt">
              <span>{{ 'BOARD.START_WEIGHT_DATE' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-weightchange">
          <div>
            <ccr-table-sort-header property="weight.change.value">
              <span>{{ 'STATS.WEIGHT_CHANGE' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td class="column-weightchangepercent">
          <div>
            <ccr-table-sort-header property="weight.change.percentage">
              <span>{{ 'STATS.WEIGHT_CHANGE_PERCENT' | translate }}</span>
            </ccr-table-sort-header>
          </div>
        </td>
        <td *ngIf="showCurrentBmiColumns" class="column-currentbmidate">
          <div>
            <span>{{ 'BOARD.CURRENT_BMI_DATE' | translate }}</span>
          </div>
        </td>
        <td *ngIf="showCurrentBmiColumns" class="column-currentbmi">
          <div>
            <span>{{ 'BOARD.CURRENT_BMI' | translate }}</span>
          </div>
        </td>
        <td class="column-actions sticky-column sticky-right">{{ 'BOARD.ACTIONS' | translate }}</td>
      </tr>
    </thead>
    <tbody>
    <tr
    *ngFor="let row of rows; let i = index;"
    class="level{{row.level}}"
    [ngClass]="{
      'row-even': i % 2 === 0,
      'row-odd': i % 2 === 1,
      'hidden': row.isHidden,
      'row-expanded': row.isExpanded,
      'row-nested': row.level > 0,
      'row-bottom-border': row.level > 1,
      'last-of-group': row.isLastOfGroup
    }">
      <td class="column-id sticky-column" [attr.colspan]="row.level >= 1 ? 11 : 1">
        <div
          *ngIf="row.level < 1"
          [ngClass]="{ 'clickable': row.level === 0, 'non-clickable': row.level > 0, 'non-empty': !row.isEmpty && row.level < 2 }"
          class="expandable"
          fxLayoutAlign="start center">
        <i
          [class.active]="row.isExpanded"
          (click)="toggleRow(row)"
          aria-hidden="true"
          class="material-icons">
        </i>
        <span>{{ row.id }}</span>
        </div>


        <app-patient-firstname-cell
          *ngIf="row.level >= 1"
          [row]="row"
          (toggleRow)="toggleRow($event)"
          (showDieter)="showDieter($event)"
          (onLoadMore)="onLoadMore($event, i)">
        </app-patient-firstname-cell>
      </td>
      <td class="column-firstname sticky-column">
        <app-patient-firstname-cell
          *ngIf="row.level < 1"
          [row]="row"
          (toggleRow)="toggleRow($event)"
          (showDieter)="showDieter($event)"
          (onLoadMore)="onLoadMore($event, i)">
        </app-patient-firstname-cell>
      </td>
      <td *ngIf="row.level === 0" class="column-lastname sticky-column">{{ row.lastName }}</td>
      <td *ngIf="row.level === 0" class="column-phone">
        <a *ngIf="row.phone"  [href]="'tel:' + row.phone">{{ row.phone }}</a>
      </td>
      <td *ngIf="row.level === 0" class="column-dob">
        <span *ngIf="row.dateOfBirth; else empty">{{ row.dateOfBirth | amDateFormat:'MMM D, YYYY' }}</span>
      </td>
      <ng-container *ngIf="row.level === 0">
        <td *ngFor="let extraColumn of extraColumns" class="column-extra">
          <div *ngIf="row.dataPoints?.[extraColumn.id]; else empty">
            {{ convertToReadableFormat(row.dataPoints[extraColumn.id].value, row.dataPoints[extraColumn.id].type, measurementPreference) }}
            {{ row.dataPoints[extraColumn.id].type.unit }}
          </div>
        </td>
      </ng-container>
      <td *ngIf="row.level === 0" [ngClass]="bloodPressureClasses(row.dataPoints?.['5']?.value, row.dataPoints?.['6']?.value)">
        <div *ngIf="row.dataPoints?.['5'] && row.dataPoints?.['6']; else empty">
          {{ convertToReadableFormat(row.dataPoints['6'].value, row.dataPoints['6'].type, measurementPreference) }} / {{ convertToReadableFormat(row.dataPoints['5'].value, row.dataPoints['5'].type, measurementPreference) }}
          {{ row.dataPoints['5'].type.unit }}
        </div>
      </td>
      <td *ngIf="row.level === 0" [ngClass]="bloodPressureClasses(row.dataPoints?.['5']?.value, row.dataPoints?.['6']?.value)">
        <div *ngIf="row.dataPoints?.['5'] && row.dataPoints?.['6']; else empty">
          {{ row.dataPoints['5'].recordedAt.utc | amUtc | amDateFormat:'MMM D, YYYY' }}
        </div>
      </td>
      <td *ngIf="row.level === 0" class="column-currentweight">
        <div>
          <ng-container
          [ngTemplateOutlet]="row.weight?.end?.value ? weightreg : empty"
          [ngTemplateOutletContext]="{weight: row.weight, weightValue: row.weight?.end?.value}"></ng-container>
        </div>
      </td>
      <td *ngIf="row.level === 0" class="column-currentweightdate">
        <div>
          <ng-container
          [ngTemplateOutlet]="row.weight?.end?.date ? datereg : empty"
          [ngTemplateOutletContext]="{date: row.weight?.end?.date}"></ng-container>
        </div>
      </td>
      <td *ngIf="row.level === 0" class="column-startdate">
        <div data-cy="startDate">
          <ng-container
          [ngTemplateOutlet]="row.startedAt ? longdatereg : empty"
          [ngTemplateOutletContext]="{date: row.startedAt, totalDays: row.totalDays}"></ng-container>
        </div>
      </td>
      <td *ngIf="row.level === 0" class="column-startweight">
        <div>
          <ng-container
          [ngTemplateOutlet]="row.weight?.start?.value ? weightreg : empty"
          [ngTemplateOutletContext]="{weight: row.weight, weightValue: row.weight?.start?.value}"></ng-container>
        </div>
      </td>
      <td *ngIf="row.level === 0" class="column-startweightdate">
        <div>
          <ng-container
          [ngTemplateOutlet]="row.weight?.start?.date ? datereg : empty"
          [ngTemplateOutletContext]="{date: row.weight?.start?.date}"></ng-container>
        </div>
      </td>
      <td *ngIf="row.level === 0" class="column-weightchange">
        <div>
          <ng-container
          [ngTemplateOutlet]="row.weight?.change?.value ? weightreg : empty"
          [ngTemplateOutletContext]="{weight: row.weight, weightValue: row.weight?.change?.value}"></ng-container>
        </div>
      </td>
      <td *ngIf="row.level === 0" class="column-weightchangepercent">
        <div>
          <div>
          <ng-container
          [ngTemplateOutlet]="row.weight?.change?.percent ? weightpercent : empty"
          [ngTemplateOutletContext]="{weightPercent: row.weight?.change?.percent}"></ng-container>
          </div>
        </div>
      </td>
      <td *ngIf="showCurrentBmiColumns && row.level === 0" class="column-currentbmidate">
        <div>
          <ng-container
          [ngTemplateOutlet]="row.dataPoints?.['46'] ? datereg : empty"
          [ngTemplateOutletContext]="{date: row.dataPoints?.['46']?.recordedAt.local}"></ng-container>
        </div>
      </td>
      <td *ngIf="showCurrentBmiColumns && row.level === 0" class="column-currentbmi">
        <div *ngIf="row.dataPoints?.['46'] && row.dataPoints?.['46']; else empty">
          {{ convertToReadableFormat(row.dataPoints['46'].value, row.dataPoints['46'].type, measurementPreference) }}
        </div>
      </td>
      <td class="column-actions sticky-column sticky-right">
        <div *ngIf="row.level === 0">
          <button
          [title]="'BOARD.OPEN_IN_NEW' | translate"
          (click)="showDieter(row, true)"
          mat-icon-button>
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button
          [title]="'GLOBAL.EDIT' | translate"
          (click)="onEdit(row)"
          mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button
          *ngIf="hasAdmin"
          [title]="'BOARD.REMOVE' | translate"
          (click)="onRemove(row)"
          mat-icon-button><mat-icon>delete</mat-icon></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</ccr-datasource-overlay>

<ng-template #weightpercent let-weightPercent="weightPercent">
  {{ weightPercent.toFixed(1) }}
  <small>%</small>
</ng-template>

<ng-template #weightreg let-weight="weight" let-weightValue="weightValue">
  {{ weightValue | unitConversion: 'composition' : 1 }}
  <small>{{ 'composition' | unitLabel: weight | translate }}</small>
</ng-template>

<ng-template #longdatereg let-date="date" let-totalDays="totalDays">
    {{ date | amDateFormat:'MMM D, YYYY' }}&nbsp;
    ({{ totalDays }} {{ 'UNIT.DAYS' | translate }})
</ng-template>

<ng-template #datereg let-date="date">{{ date | amDateFormat:'MMM D, YYYY' }}</ng-template>

<ng-template #empty>
  <div>-</div>
</ng-template>
