@import 'variables';

app-dieters-expandable-table {
  button.mat-icon-button.mat-button-base {
    height: 36px;
    line-height: 36px;
    width: 30px;
  }

  ccr-popup-description {
    margin-top: 4px;
  }

  table {
    min-width: 100%;
    .column {
      &-firstname,
      &-lastname {
        max-width: 200px;
        min-width: 200px;
        position: sticky;
        width: 200px;
        box-sizing: border-box;

        @media (max-width: $breakpoint-tablet) {
          max-width: 150px;
          min-width: 150px;
          width: 150px;
          display: table-cell;

          span {
            width: 150px;
          }
        }
      }

      &-firstname {
        left: 0;

        @media (max-width: $breakpoint-tablet) {
          left: initial;
        }
      }

      &-lastname {
        left: 200px;

        @media (max-width: $breakpoint-tablet) {
          left: initial;
        }
      }

      &-actions {
        border-top: unset;
        height: 36px;
        max-width: 100px;
        min-width: 100px;
        position: sticky;
        right: 0;
        text-align: center;
        top: 0;
        width: 99px;

        mat-icon {
          color: mat-color($ccr-foreground, icon);
        }
      }
      &-startdate {
        min-width: 200px;

        @media (max-width: $breakpoint-tablet) {
          max-width: 150px;
          min-width: 150px;
          width: 150px;

          span {
            width: 150px;
          }
        }
      }
      &-phone {
        max-width: 130px;
        min-width: 130px;
        width: 130px;

        a {
          color: var(--primary);
          text-decoration: none;
        }
      }

      &-currentweightdate,
      &-startweightdate {
        max-width: 120px;
        min-width: 120px;
        width: 120px;
      }

      &-startweight {
        max-width: 120px;
        min-width: 120px;
        width: 120px;
      }

      &-currentweight,
      &-weightchange,
      &-weightchangepercent {
        max-width: 100px;
        min-width: 100px;
        width: 100px;
      }
    }
  }

  tbody {
    .column {
      &-firstname,
      &-lastname {
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &-firstname {
        .material-icons {
          transition: all 0.1s ease-in-out;

          &:before {
            content: 'keyboard_arrow_down';
          }

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  thead {
    .column-firstname,
    .column-lastname,
    .column-actions {
      background-color: mat-color($ccr-background, header);
      z-index: 1;
    }
  }

  .load-more-prompt {
    font-weight: normal;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .row-even {
    .column-firstname,
    .column-lastname,
    .column-actions {
      background: mat-color($ccr-background, even);
    }
  }

  .row-odd {
    .column-firstname,
    .column-lastname,
    .column-actions {
      background: mat-color($ccr-background, odd);
    }
  }

  .row-expanded,
  .row-nested.level1 {
    .column-firstname {
      font-weight: bold;
    }
  }

  .subitem-name {
    font-weight: normal;

    &::before {
      content: '• ';
    }
  }
}
