<div class="mb-10" fxFlex="nogrow" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
  <div class="ccr-title" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
    <h2>
      {{ 'GLOBAL.PATIENTS' | translate }}
    </h2>
    <a mat-button color="primary" class="ccr-button" routerLink="/accounts/patients">
      {{ 'BOARD.BACK_LIST' | translate }}
    </a>
    <a *ngIf="showPatientPDFButton" color="primary" class="ccr-button" mat-button (click)="onShowProgressPDFModal()">
      {{ 'BOARD.PROGRESS_REPORT' | translate }}
    </a>
    <a
    *ngIf="showDoctorPDFButton"
    color="primary"
    class="ccr-button"
    mat-button
    (click)="onShowDoctorPDFModal()">
      {{ 'BOARD.GENERATE_DOCTOR_PDF' | translate }}
    </a>
  </div>

  <div
  fxLayout="row wrap"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="10px"
  >
    <div class="ccr-name" fxFlex="auto" fxLayout="row" fxLayoutAlign="start">
      <ccr-avatar size="bigger" [account]="dieter?.id"></ccr-avatar>
      <div fxLayout="column" fxLayoutAlign="center start">
        <h2>{{ dieter?.firstName | capitalize }} {{ dieter?.lastName | capitalize }}</h2>
        <p>{{ 'GLOBAL.ID' | translate }} {{ dieter?.id }}</p>
        <ccr-last-login
          *ngIf="dieter"
          [accountId]="dieter.id"
          [routerLinkArgs]="['settings', {s: 'login-history'}]">
        </ccr-last-login>
      </div>
    </div>
    <div fxFlex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="end stretch" fxLayoutAlign.lt-sm="start stretch">
      <div fxFlex="nogrow"
      fxLayout="row"
      fxLayoutAlign="end end" fxLayoutAlign.lt-md="center center">
        <ccr-call-control [targets]="[ dieter ]"></ccr-call-control>
        <ccr-help-link [link]="callUserZendeskLink"></ccr-help-link>
      </div>
      <div fxFlex="nogrow" fxFlex.xs="grow"
      fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px"
      fxLayoutAlign="end end" fxLayoutAlign.lt-md="start">
        <button class="ccr-icon-button" color="primary" mat-button (click)="openPatientRpmReportDialog()" data-cy="download-report-button">
          <mat-icon
          class="clickable">file_download</mat-icon>

          {{ 'BOARD.DOWNLOAD_REPORT' | translate }}
      </button>
      </div>
      <div *ngIf="showCareManagement" fxFlex="nogrow" fxFlex.xs="grow"
      fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px"
      fxLayoutAlign="end end" fxLayoutAlign.lt-md="start">
        <small data-cy="manual-time-enabled-notice" *ngIf="!automatedTimeTracking" class="manual-time-enabled">{{ "GLOBAL.AUTOMATIC_TIME_TRACKING_PAUSED" | translate }}</small>
        <app-rpm></app-rpm>
      </div>
    </div>
  </div>

  <div *ngIf="patientIsForeign" class="feature-disabled" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" data-cy="patientAssociationMessage" [formGroup]="form">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <ccr-popup-description
        [title]="'BOARD.FOREIGN_PATIENT_TITLE' | translate"
        [description]="'BOARD.FOREIGN_PATIENT_DESCRIPTION' | translate"
        ></ccr-popup-description>
      <p>{{ 'BOARD.FOREIGN_PATIENT_SHORT' | translate }}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
      <mat-form-field fxFlex floatLabel="never" class="ccr-filter org-selector">
        <mat-select [disableOptionCentering]="true" formControlName="organization">
            <mat-option *ngFor="let org of organizations" [value]="org.id">
            {{ org.name }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-spinner *ngIf="isSwitchingOrg" diameter="24" strokeWidth="3"></mat-spinner>
      <button [disabled]="isSwitchingOrg" class="ccr-button" color="primary" mat-button (click)="onSwitchOrganization()">
        {{ 'BOARD.CONFIRM' | translate }}
    </button>
    </div>

  </div>
  <div *ngIf="timezoneOffset > 0" class="feature-disabled" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <mat-icon>watch_later</mat-icon>
    <p>{{ 'BOARD.PATIENT_TIMEZONE_OFFSET_SHORT' | translate: { time: (timezoneOffsetText | translate: { hour: timezoneOffset }) } }}</p>
  </div>
</div>

<div class="ccr-tabs" fxFlex="nogrow" fxLayout="row" fxLayoutAlign=" stretch">
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [urlLinks]="['dashboard']" [routerLink]="['dashboard']">{{'GLOBAL.DASHBOARD' | translate}}</a>
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [urlLinks]="['journal']" [routerLink]="['journal']">{{'GLOBAL.JOURNAL' | translate}}</a>
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [urlLinks]="['measurements']" [routerLink]="['measurements']">{{'GLOBAL.MEASUREMENTS' | translate}}</a>
  <a
  *ngIf="showMessaging"
  fxFlex
  fxLayoutAlign="center center"
  ccrLinkActive="active"
  [urlLinks]="['messages']"
  [routerLink]="['messages']">{{'GLOBAL.MESSAGES' | translate}}</a>
  <a fxFlex fxLayoutAlign="center center" ccrLinkActive="active" [urlLinks]="['settings']" [routerLink]="['settings']">{{'GLOBAL.MORE' | translate}}</a>
</div>

<div class="ccr-subcomponent" fxFlex="grow">
  <router-outlet></router-outlet>
</div>
