<div matDialogTitle>
  <div>
    <span matDialogTitle [innerHTML]="data.title | translate:data.titleParams"></span>
  </div>
  <button matDialogClose><mat-icon>cancel</mat-icon></button>
</div>

<mat-dialog-content>
  <p [innerHTML]="data.description | translate:data.descriptionParams"></p>

  <div class="qr-code-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <qrcode *ngIf="data.qrData" [qrdata]="data.qrData" [width]="256" [level]="'M'"></qrcode>
  </div>

  <div (click)="downloadQRCode()" class="clickable" fxLayout="row" fxLayoutAlign="center center">
    <a>{{ 'ADMIN.ORGS.DOWNLOAD_QR_CODE' | translate }}</a>
  </div>

  <div hidden>
    <qrcode *ngIf="data.qrData" #downloadableQrCode [qrdata]="data.qrData" [width]="1200" [level]="'M'"></qrcode>
  </div>
</mat-dialog-content>