@import 'shared/directed-styles';

.ccr-grid {
  .mat-grid-tile {
    &-content {
      padding: 0 15px;
      @media #{$medium-and-down} {
        @include horizontal-padding-left(0px);
      }
    }
  }

  .mat-grid-tile .mat-figure {
    justify-content: flex-start;
  }

  .mat-figure > .mat-form-field,
  .mat-figure > .mat-select {
    width: 100%;
  }

  .ccr-subgrid {
    @media #{$medium-and-down} {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
