@import 'variables';

.notice {
  text-align: center;

  &.create {
    font-weight: bold;
    margin-top: 15px;
  }
  &.entry,
  &.no-entry {
    font-weight: bold;
  }

  &.performed-by {
    margin-bottom: 5px;
  }

  &.rpm-cta {
    color: var(--primary, mat-color($ccr-primary));
    cursor: pointer;
    font-weight: normal !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

.user {
  &-container {
    border: 1px solid var(--bg-panel, mat-color($ccr-background, chart));
    margin: 0 auto;
    padding: 15px;

    p {
      max-width: 250px;
      min-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
