<div>
  <p>Für die Einrichtung der benutzerdefinierten mobilen App Ihrer Klinik benötigt CoachCare Informationen über Ihre Klinik und die Anpassungen, die Sie wünschen. Bitte stellen Sie uns die angeforderten Informationen rechtzeitig zur Verfügung. Je schneller wir Ihre Klinikdaten erhalten, desto früher können wir Ihre App freischalten.</p>
  <p>Bitte senden Sie eine E-Mail an <a href=mailto:implementation@coachcare.com>implementation@coachcare.com</a> mit Ihren Antworten auf die folgenden Fragen:</p>

  <h3 #top>Einstellungen und Präferenzen</h3>

  <ol>
    <li>
      <strong>App-Name</strong>
      <ul>
        <li>Dies ist der Name, über den Sie Ihre Kunden im App Store (iOS) oder im Google Play
          Store (Android) finden werden.</li>
        <li><strong>Bitte maximal 12 Zeichen lang</strong>.</li>
      </ul>
    </li>
    <li>
      <strong>Kurze Beschreibung Ihrer Leistungen</strong>
      <ul>
        <li>Bitte beschränken Sie sich bei der Beschreibung auf maximal 80 Zeichen.</li>
        <li>Dies wird im App Store (iOS) und im Google Play Store (Android) angezeigt</li>
      </ul>
    </li>
    <li>
      <strong>Ausführliche Beschreibung Ihrer Leistungen</strong>
      <ul>
        <li>Bitte beschränken Sie sich bei der Beschreibung auf maximal 4000 Zeichen.</li>
        <li>Dies wird im App Store (iOS) und im Google Play Store (Android) angezeigt</li>
      </ul>
    </li>
    <li>
      <strong>Link zur Website Ihrer Klinik</strong>
    </li>
    <li>
      <strong>Nahrungsergänzungsmittel</strong>&nbsp;<em>Optional</em>
      <ul>
        <li>Eine Auflistung aller in Ihrer Klinik verwendeten Nahrungsergänzungsmittel mit Tagesdosis</li>
        <li>Zum Beispiel:
          <ul>
            <li>Multivitamin, 2 pro Tag</li>
            <li>Kalzium, 1 pro Tag</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>Terminplanung</strong>&nbsp;<em>Optional</em>
      <ul>
        <li>Eine Auflistung aller in Ihrer Klinik durchgeführten Besprechungsarten, inklusive der Dauer jedes Termins</li>
        <li>Zum Beispiel:
          <ul>
            <li>Erstuntersuchung, 60 Minuten</li>
            <li>Vorsorgeuntersuchung, 30 Minuten</li>
            <li>Telefonberatung, 15 Minuten</li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>

  <h3>Design</h3>

  <ol>
    <li>
      <strong>Hochauflösendes App-Logo</strong>
      <ul>
        <li><strong>OPTION A: Schicken Sie uns Ihr eigenes Logo</strong>
            <ul>
                <li>Maße: 1024px Breite mal 1024px Höhe für den App Store (iOS) und den Google Play Store (Android).</li>
                <li>Bevorzugtes Format: die Datei muss als .AI, .SVG oder .EPS vorliegen.</li>
            </ul>
        </li>
        <li><strong>OPTION B: Lassen Sie Ihr Kliniklogo von CoachCare gestalten</strong>
          <ul>
            <li>Die Kosten betragen 250,00 $</li>
            <li>Das CoachCare-Designteam erstellt Ihr Logo auf Grundlage Ihrer Klinik-Website und/oder von Notizen, die durch den Klinikkontakt gesendet wurden. Sie erhalten drei Entwürfe zur Auswahl. <em>Soll einer der Entwürfe geändert werden, können zusätzliche Kosten entstehen</em>.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>Anzeigebild</strong>
      <ul>
        <li><strong>OPTION A: Schicken Sie uns Ihr eigenes Anzeigebild</strong>
          <ul>
            <li>Maße: 1024px Breite mal 500px Höhe.</li>
            <li>Bevorzugtes Format: .png</li>
            <li>Dies wird im Google Play Store (Android) angezeigt.<br><em><a href="/assets/google-maps.jpg" target="_blank">Hier finden Sie ein Beispiel für ein Anzeigebild im Google Play Store (Google Maps App)</a></em></li>
          </ul>
        </li>
        <li><strong>OPTION B: Benutzen Sie das Anzeigebild von CoachCare</strong></li>
      </ul>
    </li>
    <li>
      <strong>Primäre und sekundäre Farben</strong>
      <ul>
        <li><strong>OPTION A: Schicken Sie uns Ihre eigenen Farben</strong>
          <ul>
            <li>Format: primäre und sekundäre Farben müssen entweder im HEX- oder RGB-Format vorliegen.</li>
            <li>Zum Beispiel:
              <ul>
                <li>(HEX) Primäre Farbe: #f05d5c, Sekundäre Farbe: #514d4a</li>
                <li>(RGB) Primäre Farbe: 240,93,92, Sekundäre Farbe: 81,77,74</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><strong>OPTION B: Lassen Sie CoachCare die Farben für Ihre Klink wählen</strong></li>
      </ul>
    </li>
  </ol>
</div>