<div class="connected_devices">
    <div fxLayoutAlign="start center">
        <mat-icon>check_circle</mat-icon>
        <p>{{ 'BOARD.CONNECTED_DEVICES' | translate }}</p>
    </div>
    <app-cellular-device-form (onDeviceAdded)="onAdd()"></app-cellular-device-form>
</div>

<ccr-datasource-overlay class="ccr-table" [source]="source">
    <mat-table class="table-card-mobile" [dataSource]="source">
        <ng-container cdkColumnDef="device_type">
            <mat-header-cell *cdkHeaderCellDef fxFlex="35%">{{ 'BOARD.DEVICE_TYPE' | translate }}</mat-header-cell>

            <mat-cell *cdkCellDef="let row" fxLayoutAlign="start center" fxFlex="35%" fxFlex.xs="grow">
                <span>{{ 'BOARD.DEVICE_TYPE' | translate }}</span>
                <span [innerHTML]=" row.identifier | translate "></span>
                <div>{{ row.device.type.name }}</div>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="device_number">
            <mat-header-cell *cdkHeaderCellDef >{{ 'BOARD.DEVICE_NUMBER' | translate }}</mat-header-cell>

            <mat-cell *cdkCellDef="let row" fxFlex.xs="grow">
                <span>{{ 'BOARD.DEVICE_NUMBER' | translate }}</span>
                <span [innerHTML]=" row.identifier | translate "></span>
                <div>{{ row.device.identifier }}</div>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="account">
            <mat-header-cell *cdkHeaderCellDef
                fxLayoutAlign="center center"
                fxLayoutAlign.xs="start center"
                fxFlex="10%">
                {{ 'BOARD.ACCOUNT' | translate }}
            </mat-header-cell>

            <mat-cell *cdkCellDef="let row"
                fxLayoutAlign="center center"
                fxLayoutAlign.xs="start center"
                fxFlex="10%"
                fxFlex.xs="grow"
            >
                <span>{{ 'BOARD.ACCOUNT' | translate }}</span>
                <span [innerHTML]=" row.title | translate "></span>
                <div>{{ row.account.id }}</div>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="createdAt">
            <mat-header-cell *cdkHeaderCellDef
                fxLayoutAlign="center center"
                fxLayoutAlign.xs="start center"
                fxFlex="25%"
            >
                {{ 'BOARD.TIME_ADDED' | translate }}
            </mat-header-cell>

            <mat-cell *cdkCellDef="let row"
                fxLayoutAlign="center center"
                fxLayoutAlign.xs="start center"
                fxFlex="25%"
                fxFlex.xs="grow"
            >
                <span>{{ 'BOARD.TIME_ADDED' | translate }}</span>
                <span [innerHTML]=" row.title | translate "></span>
                <div>{{ row.createdAt | date: 'dd/MM/yyyy hh:mm a' }}</div>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <mat-header-cell *cdkHeaderCellDef>{{'BOARD.ACTIONS' | translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxLayoutAlign="center center" fxLayoutAlign.xs=" center" fxFlex.xs="grow">
              <span>{{ 'BOARD.ACTIONS' | translate }}</span>
              <span [innerHTML]=" row.title | translate "></span>
              <button id="delete-btn" mat-icon-button title="{{'BOARD.REMOVE' | translate}}" (click)="onRemove(row)">
                <mat-icon>delete</mat-icon>
              </button>
              <button id="sync-btn" mat-icon-button title="{{'BOARD.SYNC' | translate}}" (click)="showDialog(row)">
                <mat-icon>sync</mat-icon>
              </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="columns"></mat-header-row>
        <mat-row fxLayoutWrap
          *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
          [ngClass]="{ 'row-even': even, 'row-odd': odd }"
        ></mat-row>
    </mat-table>

</ccr-datasource-overlay>
