dashboard-graph-timeframe-selector {
  div.timeframe-selector {
    &-container {
      align-items: center;
      color: var(--gray);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 15px auto;
    }

    &-item {
      cursor: pointer;
      padding: 7px 10px;
      border: 1px solid var(--selector-contrast);
      flex: 1;
      text-align: center;
      margin: 0px 10px;

      &.active {
        border-color: var(--primary);
        color: var(--primary);
      }
    }
  }
}
