:host {
  height: 100%;
}

ccr-messages,
.ccr-recipients {
  max-height: 75vh;
}

.messaging-disabled {
  background-color: var(--primary-lighten);
  padding: 10px 10px;

  & > mat-icon {
    color: var(--primary);
  }
}

.btn-create-new-message {
  display: none;
}

.unread-button {
  min-height: 30px;
}
@media only screen and (max-width: 730px) {
  .messages-content,
  .messages-user-list,
  .ccr-heading {
    display: none !important;
  }
  .ccr-recipients {
    width: 100%;
    max-width: inherit;
  }
  .ccr-recipients .mat-nav-list .mat-list-item.active {
    border-left: 5px solid #ddddde;
    background: #ffffff;
  }
  ccr-messages,
  .ccr-recipients {
    max-height: 88vh;
  }
  .btn-create-new-message {
    display: block;
  }
}
