<div *ngIf="messagingEnabled; else messagingDisabled" fxFlexFill fxLayout="column">
  <div *ngIf="mode === 'main'" class="ccr-heading" fxFlex="nogrow">
    <div class="ccr-title" fxLayout="row" fxLayoutAlign=" end">
      <h2>
        {{ 'GLOBAL.MESSAGES' | translate }}

        <ccr-help-link [link]="zendeskLink"></ccr-help-link>
      </h2>
    </div>
  </div>

  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="stretch">
    <div
      *ngIf="mode === 'main' || threads.length > 1"
      [class.messages-user-list]="isMessageOpen"
      class="ccr-recipients"
      fxLayout="column"
      fxLayoutGap="10px">
      <div *ngIf="hasUnreadThreads" class="ccr-recipients-scroll unread-button">
        <button [disabled]="isMarkingAsRead" (click)="showMarkUnreadDialog()" fxFlex class="ccr-button" mat-button>
          {{ 'GLOBAL.MESSAGES_MARK_AS_READ' | translate }}
        </button>
      </div>

      <messages-recipients
        *ngIf="mode === 'main' && current && isProvider"
        [accounts]="accounts"
        [current]="current"
        [total]="source?.total"
        (changed)="selectAccounts($event)">
      </messages-recipients>
      <a
        mat-button
        color="primary"
        class="ccr-button btn-create-new-message"
        *ngIf="mode === 'main' && showCreateNewMessageButton"
        (click)="isMessageOpen = !isMessageOpen">
        {{ 'GLOBAL.CREATE_NEW_MESSAGE' | translate }}
      </a>

      <messages-thread-list
        [threads]="threads"
        [active]="active"
        (onReachedEndOfList)="onReachedEndOfList()"
        (onSelectThread)="onSelectThread($event)">
      </messages-thread-list>

      <mat-progress-bar *ngIf="source?.isLoading"
      color="primary" mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <div [class.messages-content]="!isMessageOpen && (mode === 'main' || threads.length > 1)" fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
      <messages-chat-messages
      fxFlex
      fxLayout="column"
      [account]="current"
      [showBackButton]="mode === 'main' || threads.length > 1"
      [thread]="threads[active] ? threads[active] : newThread"
      (lastMessageSent)="threads[active] ?  threads[active].lastMessageSent = $event : null"
      (viewed)="markThreadAsViewed($event)"
      (refresh)="resetThreads()"
      (gotoProfile)="gotoProfile($event)"
      (toggleChatInfo)="chatInfoEnabled = !chatInfoEnabled"
      (onBackToUser)="isMessageOpen = !isMessageOpen"
      (removeThread)="removeThread(active)"
      *ngIf="!chatInfoEnabled"
      ></messages-chat-messages>

      <messages-chat-info
      *ngIf="chatInfoEnabled"
      [mode]="mode"
      [thread]="threads[active] ? threads[active] : newThread"
      (hideChatInfo)="chatInfoEnabled = false"
      (newThread)="onCreateNewThread($event)"
      fxFlex="100%">
      </messages-chat-info>
    </div>
  </div>
</div>

<ng-template #messagingDisabled>
  <div class="messaging-disabled" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <mat-icon>error</mat-icon>
    <p>{{ 'BOARD.MESSAGING_DISABLED' | translate }}</p>
  </div>
</ng-template>
