.address-container {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;

  .ccr-widget {
    .actions {
      background-color: transparent !important;
    }

    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
