<ng-container>
  <div>
    <div class="mt-20 no-margin-top" fxLayoutAlign="start">
      <button
        *ngIf="addressLabels.length > 0"
        [disabled]="form.invalid || form.get('addresses')?.length >= 2"
        (click)="onAddNewAddress()"
        class="ccr-icon-button"
        color="primary"
        type="button"
        mat-button>
        <mat-icon>add</mat-icon> {{ 'BOARD.ADD_NEW_ADDRESS' | translate }}
      </button>
    </div>
    <div class="mt-20" [formGroup]="form">
      <div class="address-container" formArrayName="addresses">
        <ng-container *ngFor="let addressForm of addressesForm.controls; let i = index">
          <div class="ccr-widget" [formGroup]="addressForm">
            <ccr-address-form
            [markAsTouched]="markAsTouched"
            [mode]="account ? 'edit' : 'create'"
            [readonly]="!!account"
            [types]="labelOptions"
            formControlName="address"
            required></ccr-address-form>
            <div class="actions" fxLayout="row" fxLayoutAlign="center">
              <button
                class="ccr-icon-button"
                color="primary"
                [disabled]="isBillingAddressReadonly && userAddresses[i]?.labels.includes(billingAddressLabelId)"
                mat-button
                type="button"
                (click)="onDeleteAddress(i)">
                {{ 'BOARD.DELETE_ADDRESS' | translate }}
              </button>
            </div>
            <p
              *ngIf="isBillingAddressReadonly && userAddresses[i]?.labels.includes(billingAddressLabelId)"
              class="notify">
              {{ 'BOARD.DISABLED_EDIT_BILLING_ADDRESS' | translate }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>