@import 'variables';

.ccr-expandable-table {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: auto;

  &-container {
    overflow: auto;
  }

  &.dieters,
  &.coaches {
    max-height: calc(100vh - 320px);
  }

  &.v2 {
    thead {
      background-color: var(--sidenav, mat-color($ccr-background, header));

      th {
        font-weight: normal;
        height: 40px;
      }
    }

    th,
    td {
      font-size: 16px;
    }
  }

  table {
    position: relative;
    overflow: visible;
    width: 100%;

    caption {
      display: none;
    }
  }

  table,
  th,
  td {
    border-collapse: collapse;
  }

  thead {
    background-color: mat-color($ccr-background, header);
    font-weight: 500;
    text-transform: uppercase;
    &.sticky-header {
      th,
      td {
        background-color: mat-color($ccr-background, header);
        position: sticky;
        top: 0;
        z-index: 2;

        &.sticky-column {
          z-index: 3;
        }

        &.sticky-right {
          right: 0;
        }
      }
    }
  }

  thead,
  tbody {
    & > th,
    & > tr > th,
    & > tr > td {
      font-size: 14px;

      &.sticky-column {
        position: sticky;
        z-index: 2;

        &.sticky-right {
          right: 0;
        }
      }
    }
  }

  tbody {
    & > tr > td {
      line-height: 36px;
      padding: 0 1em;

      &.sticky-column {
        position: sticky;
        z-index: 2;

        &.sticky-right {
          right: 0;
        }
      }
    }
  }

  thead {
    & > tr > td,
    & > tr > th,
    & > th {
      height: 32px;
      padding: 2px 1em;
      text-align: left;
    }
  }

  .row-expanded.level0 {
    border-left: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
  }

  .row-expanded.level1,
  .row-expanded.level2 {
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);

    & > td {
      padding: 0 1em 0 3em;
    }
  }

  .row-expanded.level2.last-of-group {
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
  }

  .row-nested {
    &.level1,
    &.level1 td {
      background-color: var(--contrast-darken) !important;
    }
    &.level2,
    &.level2 td {
      background-color: var(--contrast) !important;
    }
  }
}
