@import 'shared/directed-styles';

.calendar-options {
  overflow: hidden;

  > span {
    font-size: 0.75em;
    line-height: 28px;
    @include horizontal-margin-right(3px);
    min-width: 75px;
    @media #{$medium-and-down} {
      min-width: 70px;
    }
    padding: 0 10px;
    &.meeting {
      border: 1px solid;
      border-left: 2px solid;
      color: var(--primary-lighten-contrast);
    }
    &.available {
      background-color: mat-color($ccr-background, even) !important;
      border: 1px solid mat-color($ccr-foreground, divider);
    }
    &.unavailable {
      background-color: mat-color($ccr-background, odd);
      border: 1px solid mat-color($ccr-foreground, divider);
    }
  }
  > mat-icon {
    color: mat-color($ccr-foreground, icon);
    cursor: help;
    font-size: 18px;
    height: 18px;
    @include horizontal-margin-left(auto);
    @include horizontal-margin-right(7px);
  }
}

.calendar-menu {
  min-width: 96px !important;

  .mat-menu-content {
    padding: 0;
  }
  .mat-menu-item {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
  }
}

.calendar {
  border-collapse: collapse;
  border-color: grey;
  border-spacing: 2px;
  color: var(--text, mat-color($ccr-foreground, text));
  display: table;
  font-size: 0.85em;
  z-index: -1;
  width: 100%;

  &.week {
    thead {
      display: table;
      th {
        width: 13.3%;
      }
    }
  }
  thead {
    display: none;
    vertical-align: middle;
    width: 100%;
    th {
      font-size: 0.9em;
      font-weight: 400;
      height: 30px;
      text-align: center;
      text-transform: uppercase;
    }
    th:first-of-type {
      width: 65px;
    }
  }
  tbody {
    width: 100%;
    tr {
      overflow: visible;
      width: 100%;
      display: table;
      height: 25px;
      td {
        position: relative;
        overflow: visible;
        width: calc(14.2% - 11.2px);
        border: 1px solid mat-color($ccr-foreground, divider);
        border-width: 1px 1px 0px 1px;
        background-color: mat-color($ccr-background, odd);
        &.available {
          background-color: mat-color($ccr-background, even);
        }

        .meeting {
          border: 1px solid;
          border-left: 2px solid;
          color: var(--primary-lighten-contrast);
          font-size: 0.8em;
          left: 0;
          line-height: 16px;
          overflow: hidden;
          position: absolute;
          width: calc(100% - 3px);
          z-index: 1;

          .meeting-content {
            margin: 3px 10px;
          }
          .meeting-title {
            font-weight: bold;
            line-height: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .meeting-selectable {
          cursor: pointer;
        }
        .meeting-selected {
          border: 1px solid var(--primary);
          border-left: 2px solid var(--primary);
          box-shadow: 1px 0 0 mat-color($ccr-background, box-shadow);
        }
        .meeting-unavailable {
          background-color: mat-color($ccr-background, odd);
          border-color: mat-color($ccr-background, tools);
        }
        &:first-of-type {
          width: 65px;
          border: none;
          font-size: 0.9em;
          font-weight: 400;
          text-transform: uppercase;
          background-color: var(--primary-contrast-light);
        }
      }
      &:last-of-type {
        td {
          border-width: 1px;
        }
      }
    }
  }

  &.month {
    display: table !important;
    border-collapse: initial;
    border-spacing: 0px;

    thead {
      display: table-header-group;
      th {
        width: 14.3%;
      }
    }

    tbody {
      tr {
        height: 100px;
        display: table-row;
        td {
          width: initial;
          border-width: 0 0 1px 1px;
          height: 100px;
          &:first-of-type {
            width: initial;
            border: 1px solid mat-color($ccr-foreground, divider);
            border-width: 0 0 1px 1px;
            background-color: mat-color($ccr-background, odd);
            &.available {
              background-color: mat-color($ccr-background, even);
              cursor: pointer;
            }
          }

          &.available {
            cursor: pointer;
          }

          &:last-child {
            border-right-width: 1px;
          }

          &.selected {
            background-color: var(--primary-lighten);
          }
        }

        &:first-child {
          td {
            border-top-width: 1px;
          }
        }

        &.tr-expand {
          height: 0px;
          min-height: 0px;
          transition: min-height 0.3s;

          td {
            height: initial;
          }

          &:not(.open) {
            td {
              border-width: 0px;
              padding: 0;
            }
          }

          &.open {
            height: initial;
            min-height: 100px;
          }
        }
      }
    }
  }
}
