.ccr-table-picker {
  display: block;
  border: 1px solid transparent;
  margin-bottom: 1.296875em;

  .ccr-table {
    &.ccr-empty,
    &.ccr-errors,
    &.ccr-loading {
      min-height: 124px;
    }

    .ccr-overlay {
      mat-spinner {
        padding-top: 0;
      }
    }

    .mat-table {
      .mat-row {
        @media #{$small-and-down} {
          padding: 0 0 5px 0;
        }
      }

      .cdk-column-actions {
        flex: 0 0 15%;
        @media #{$small-and-down} {
          min-width: 50px;
        }
      }

      .mat-cell {
        &.cdk-column-actions {
          span.ccr-picked,
          mat-icon.ccr-picked {
            color: var(--accent);
          }
        }
      }
    }
  }

  &.ng-invalid.ng-touched[required] {
    border-color: var(--warn);

    .cdk-column-actions {
      button .mat-icon {
        border: 1px solid var(--warn);
        border-radius: 14px;
      }
    }
  }
}
