<div>
  <h3 #top>Como configurar sua conta</h3>
  <p>Uma conta Apple Developer é necessária para hospedar seus iOS (iPhone e iPad) aplicativo na Apple App Store. Este documento orienta através de inscrição no programa Apple Developer.</p>
  <p>Depois de configurar uma conta de desenvolvedor Apple (ou se você já tiver um), por favor convidar CoachCare para colaborar em sua conta. CoachCare, então, ajudar a gerir a sua aplicação, e mantê-lo atualizado e funcionando corretamente.</p>
  <p><em>Todo esse processo de registrar sua conta de desenvolvedor Apple vai demorar entre alguns dias a algumas semanas. Para ajudar a acelerar o processo, por favor, certifique-se de enviar todos os materiais corretos e responder prontamente a quaisquer comunicações da Apple.</em></p>
  <h3>Antes de começar</h3>
  <p>Se você já tem uma conta Apple Developer para sua empresa, você pode pular até a <a href="/register/apple#invite">Convidar CoachCare para sua conta de desenvolvedor da Apple</a> seção.</p>
  <p>Para criar uma conta para sua empresa, você terá o seguinte:</p>
  <ol>
    <li>Um computador ou dispositivo que pode usar o Apple autenticação de dois fatores. Isso pode ser qualquer um dos dispositivos iOS um <a href="https://support.apple.com/en-us/HT205075" rel="noopener" target="_blank">(iPhone, iPad ou iPod Touch), de desktop da apple ou computador portátil, ou Windows desktop ou laptop computador</a> . Se você tem dúvidas sobre este requisito, contacte a nossa <a href="mailto:implementation@coachcare.com">Equipa de Implementação</a>.
    </li>
    <li>Organização Legal ou Nome da Empresa</li>
    <li>Um site disponível ao público com um nome de domínio que está associado à sua empresa</li>
    <li>Um número de telefone de contacto que a Apple vai chamar para verificar as informações sobre a sua empresa</li>
    <li>Um endereço de e-mail, associado com a sua empresa, que será usado para regiser a conta</li>
  </ol>
  <h3>Apple Processo desenvolvedor inscrição</h3>
  <ol>
    <li>Criar um ID Apple para sua Empresa
      <p>Você deve primeiro criar um ID Apple para sua empresa, que você vai usar para criar uma conta de desenvolvedor da Apple para sua empresa. Você não pode usar o seu próprio pessoal de Apple ID. Além disso, o endereço de email usado para o seu ID da Apple deve usar o nome de domínio do site da sua empresa. Não use uma conta de consumidor e-mail (@ gmail.com, @ yahoo.com, @ hotmail.com, etc). Se você não tiver um Apple ID para sua empresa, <a href="https://appleid.apple.com/account" rel="noopener noreferrer" target="_blank">criar um</a> ID Apple .</p>
    </li>
    <li>Autenticação Fator Setup Dois para o seu Apple ID
      <p>Em 29 de junho de 2018, a Apple exige sua empresa ID Apple conta para a autenticação de dois fatores para segurança da conta melhorada. <a href="https://support.apple.com/en-us/HT204915" rel="noopener noreferrer" target="_blank">permitir</a> autenticação de dois fatores para você conta Apple ID. Por favor note que este passo exige que você tenha <a href="https://support.apple.com/en-us/HT205075" rel="noopener noreferrer" target="_blank">um dispositivo Apple ou PC Windows com o iCloud para Windows e iTunes instalado</a> . Tenha em mente que o dispositivo ou computador usado para autenticação de dois fatores deve estar logado com o seu negócio de Apple ID. Duas opções estão disponíveis:</p>
      <ol>
        <li><small><strong>abordagem recomendada</strong></small> Compra e / ou manter um dispositivo da Apple separado (iPhone, iPad, computador, portátil) ou computador Windows ou laptop que está sempre conectado com este a Apple EU IRIA. Este dispositivo ou computador estaria associada e usado apenas para fins comerciais, e seu dispositivo pessoal ou o telefone não é utilizado.</li>
        <li>Use um dispositivo pessoal ou telefone, e faça o login usando o seu negócio a Apple ID, conforme necessário. Por exemplo:
          <ul>
            <li>O seu iPhone pessoal é normalmente conectado em sua conta da Apple ID pessoal.</li>
            <li>Quando necessário para fins comerciais, saia da sua conta Apple ID pessoal em seu telefone ou computador, e faça login com seu negócio de Apple ID</li>
            <li>Após a autenticação for concluída (que só deve demorar alguns minutos) saia da sua Apple ID negócios e de volta para o seu Apple ID pessoal.</li>
          </ul>Normalmente, as clínicas terão de acessar suas contas Apple ID negócios uma vez a cada 2-3 meses, de modo que esta prática é administrável.
        </li>
      </ol>
    </li>
    <li>Registo ou localizar D-L-N-S
      <p>A sua organização deve ter um Número D-U-N-S de modo que a Apple pode verificar o estado de identidade e personalidade jurídica da sua organização. Estes números exclusivos de nove dígitos são atribuídos pela Dun & amp; Bradstreet e são amplamente utilizados como identificadores comerciais padrão.</p>
      <ul>
        <li>
          <a href="https://developer.apple.com/enroll/duns-lookup/#/search" rel="noopener noreferrer" target="_blank">registrar ou localizar o seu número DUNS</a><br>
          <em><strong>uma ID da Apple é necessária antes de se inscrever para um número DUNS</strong> .<br>
          por favor, complete a etapa anterior (Criar ID Apple) antes de proceder a este ponto.</em>
        </li>
        <li>
          <a href="https://developer.apple.com/support/d-u-n-s/" rel="noopener noreferrer" target="_blank">Mais informações sobre o número D-L-N-S</a>
        </li>
      </ul>
    </li>
    <li>se para uma conta Apple Developer
      <p>Em seguida, <a href="https://developer.apple.com/programs/enroll/" rel="noopener noreferrer" target="_blank">completar o</a> formulário de inscrição para se inscrever no Apple programa de desenvolvedor da conta.</p>
      <p>No início do processo de registo, por favor registrar-se como <strong>Empresa / Organização</strong> . Se você tem dúvidas sobre o tipo de entidade ou a intenção de registrar-se como um tipo diferente, entre em contato com a nossa Equipa de Implementação <a href="mailto:implementation@coachcare.com"></a> antes de continuar.</p>
      <p>Depois de concluir este processo, um representante da Apple irá contactá-lo no endereço de e-mail fornecido e número de telefone dentro de 24-72 horas. Eles vão verificar as informações sobre a sua empresa.</p>
    </li>
    <li>Insira as informações de pagamento
      <p>Depois que a conta foi verificada pela Apple, você receberá um email de confirmação. Instruções para pagar os membros da Apple Developer Program serão incluídos.</p>
    </li>
  </ol>
  <h3 id="invite">Convidar CoachCare para sua conta de desenvolvedor da Apple</h3>
  <p>Uma vez que sua conta do desenvolvedor Apple é totalmente ativo, você deve convidar CoachCare como um <em>Administrador</em> na sua conta loja App Connect. Para começar:</p>
  <ol>
    <li>Vá para o <a href="https://itunesconnect.apple.com/access/users" rel="noopener noreferrer" target="_blank">usuário e seção Acesso</a> de sua App Store Ligação conta.
    </li>
    <li>Clique em <strong>Pessoas</strong> guia na parte superior da página.</li>
    <li>Clique no botão "+" para adicionar um novo usuário (CoachCare).</li>
    <li>Use "CoachCare" tanto para o <strong>Nome</strong> e <strong>Apelido</strong> campos.</li>
    <li>Para o "e-mail", use <strong>mobile@coachcare.com</strong> .</li>
    <li>Em <strong>Funções</strong> verificar o <strong>admin</strong> .</li>
    <li>Em seguida, clique no botão <strong>convida</strong> botão na parte inferior.</li>
  </ol>
  <p>O processo agora deve ser completa. Qualquer apoio ou acompanhamento perguntas podem ser dirigidas ao <a href="https://coachcare.zendesk.com/hc/en-us/requests/new" rel="noopener noreferrer" target="_blank">Suporte CoachCare página</a> ou o seu executivo de vendas regional.</p>
</div>
