<div>
  <p>Per installare l’app mobile personalizzata della vostra clinica, CoachCare avrà bisogno di informazioni sulla vostra clinica e alcune delle personalizzazioni che desiderate. Vi preghiamo di fare uno sforzo affinché le informazioni richieste siano fornite in modo tempestivo. Prima riceveremo i dettagli della vostra clinica, prima potremo rilasciare l’app.</p>
  <p>Vi preghiamo di inviare un’e-mail a<a href="mailto:implementation@coachcare.com">implementation@coachcare.com</a> con le risposte ai seguenti elementi:</p>
  <h3 #top>Impostazioni e Preferenze</h3>
  <ol>
    <li>
      <strong>Nome App</strong>
      <ul>
        <li>Questo sarà il nome che i clienti cercheranno nell'App Store (iOS) o nel Google Play Store (Android).</li>
        <li><strong>Vi preghiamo di limitarlo a 12 caratteri</strong>.</li>
      </ul>
    </li>
    <li>
      <strong>Breve descrizione dei vostri servizi</strong>
      <ul>
        <li>Ti preghiamo di limitare questa descrizione a un massimo di 80 caratteri.</li>
        <li>Questa sarà mostrata su App Store (iOS) e Google Play Store (Android)</li>
      </ul>
    </li>
    <li>
      <strong>Descrizione completa dei vostri servizi</strong>
      <ul>
        <li>Ti preghiamo di limitare questa descrizione a un massimo di 4000 caratteri.</li>
        <li>Questa sarà mostrata su App Store (iOS) e Google Play Store (Android)</li>
      </ul>
    </li>
    <li><strong>Link al sito web della clinica</strong></li>
    <li>
      <strong>Integratori</strong>&nbsp;<em>Opzionale</em>
      <ul>
        <li>Un elenco di tutti gli integratori utilizzati nella clinica, con il dosaggio giornaliero.</li>
        <li>Ad esempio:
          <ul>
            <li>MultiVitaminico, 2 al giorno</li>
            <li>Calcio, 1 al giorno</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>Struttura della programmazione</strong>&nbsp;<em>Opzionale</em>
      <ul>
        <li>Un elenco di tutti i tipi di incontri tenuti presso l’ambulatorio, con la durata di ogni appuntamento</li>
        <li>Ad esempio:
          <ul>
            <li>Consulto Iniziale, 60 minuti</li>
            <li>Consulto Settimanale, 30 minuti</li>
            <li>Controllo Telefonico, 15 minuti</li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>
  <h3>Design</h3>
  <ol>
    <li>
      <strong>Logo dell’app in alta risoluzione</strong>
      <ul>
        <li>
          <strong>OPZIONE A: Inviare il vostro logo</strong>
          <ul>
            <li>Dimensioni: 1024px Larghezza per 1024px Altezza per App Store (iOS) e Google Play Store (Android).</li>
            <li>Formato Preferito: il file deve essere nel formato .AI, .SVG, or .EPS.</li>
          </ul>
        </li>
        <li>
          <strong>OPZIONE B: Lasciare che CoachCare crei il logo della clinica</strong>
          <ul>
            <li>Al prezzo di $250,00</li>
            <li>Il team di design di CoachCare creerà il logo in base al sito web della clinica e/o alle note inviate dal collegamento con la clinica. Vi verranno fornite tre prove tra cui scegliere.<em>Modifiche/cambi da apportare ad una qualsiasi di queste prove potrebbe portare a costi aggiuntivi</em>.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>Immagine di presentazione</strong>
      <ul>
        <li>
          <strong>OPZIONE A: Inviare la vostra immagine di presentazione</strong>
          <ul>
            <li>Dimensioni: 1024px Larghezza per 500px Altezza.</li>
            <li>Formato Preferito: formato png.</li>
            <li>Questo sarà mostrato su Google Play Store (Android).<br>
            <em><a href="/assets/google-maps.jpg" target="_blank">Esempio di un’immagine di presentazione in Google Play Store (App Google Maps)</a></em></li>
          </ul>
        </li>
        <li><strong>OPZIONE B: Usare l’immagine di presentazione di CoachCare</strong></li>
      </ul>
    </li>
    <li>
      <strong>Colori primario e secondario</strong>
      <ul>
        <li>
          <strong>OPZIONE A: Inviare i vostri colori</strong>
          <ul>
            <li>Formato: i colori primario e secondario devono essere in formato HEX o RGB.</li>
            <li>Ad Esempio:
              <ul>
                <li>(HEX) Colore primario: #f05d5c, Colore secondario: #514d4a</li>
                <li>(RGB) Colore primario: 240,93,92, Colore secondario: 81,77,74</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><strong>OPZIONE B: Lasciare che CoachCare scelga i colori della vostra clinica</strong></li>
      </ul>
    </li>
  </ol>
</div>
