
<div class="ccr-heading">
  <div class="ccr-title" fxLayout="row" fxLayoutAlign="end">
    <h2 fxFlex>
      {{'SIDENAV.SCHEDULE_VIEW' | translate}}

      <ccr-help-link [link]="zendeskLink"></ccr-help-link>
    </h2>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap.xs="10px">
  <div fxFlex="0 1 auto" fxLayoutAlign="start" fxLayoutAlign.xs="center" class="calendar-options">
    <span class="available">{{'BOARD.AVAILABLE' | translate}}</span>
    <span class="unavailable">{{'BOARD.UNAVAILABLE' | translate}}</span>
    <!-- <mat-icon [matTooltip]="'BOARD.SCHEDULE_TOOLTIP' | translate">help</mat-icon> -->
  </div>

  <div fxFlex="auto" fxFlex.xs="1 1 100%" fxLayoutAlign="end" fxLayoutAlign.xs="center" fxLayoutAlign.sm="start" fxLayoutGap="7px">
    <div>
      <button type="button" mat-button class="ccr-icon-button" (click)="showClinicSelectDialog()">
        <mat-icon>arrow_drop_down</mat-icon>
        <span class="truncate">{{ selectedOrg ? selectedOrg.name : ('BOARD.ANY_CLINIC' | translate) }}</span>
      </button>
    </div>
    <ccr-select-user
      [title]="'BOARD.SELECT_SCHEDULE' | translate"
      [default]="'BOARD.MY_SCHEDULE' | translate"
      [onlyProviders]="true"
    ></ccr-select-user>
    <div class="ccr-button-group">
      <button type="button" mat-button class="ccr-icon-button"
      (click)="changeTimeRange('month')" [class.active]="timerange === 'month'"
      [matTooltip]="'BOARD.DAILY_VIEW' | translate" matTooltipPosition="above">
        <mat-icon>view_module</mat-icon>
        {{'GLOBAL.MONTH' | translate}}
      </button>
      <button type="button" mat-button class="ccr-icon-button"
      (click)="changeTimeRange('day')" [class.active]="timerange === 'day'"
      [matTooltip]="'BOARD.DAILY_VIEW' | translate" matTooltipPosition="above">
        <mat-icon>view_day</mat-icon>
        {{'GLOBAL.DAY' | translate}}
      </button>
      <button type="button" mat-button class="ccr-icon-button"
      (click)="changeTimeRange('week')" [class.active]="timerange === 'week'"
      [matTooltip]="'BOARD.WEEKLY_VIEW' | translate" matTooltipPosition="above">
        <mat-icon>view_week</mat-icon>
        {{'GLOBAL.WEEK' | translate}}
      </button>
    </div>
  </div>
</div>

<date-navigator
[date]="dates.current"
[max]="false"
[timeframe]="timerange"
(selectedDate)="selectedDate($event)"
direction="forward">
</date-navigator>

<div *ngIf="hasLoaded" class="calendar-wrapper">
  <table *ngIf="timerange !== 'month'" fxFlex="grow" fxLayout="column" class="calendar" [class.day]="timerange === 'day'" [class.week]="timerange === 'week'">
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let date of days">{{ date }}</th>
      </tr>
    </thead>
    <tbody #tbody class="calendar-body" data-cy="schedule-calendar-view-body">
      <tr #trow *ngFor="let block of timeBlocks; let i = index;" [class.seven-am-row]="i === 28">
        <td>{{(i % 2 === 0) ? block.display : ''}}</td>
        <td *ngFor="let cell of block.cells" [class.available]="cell?.isAvailable">
          <div *ngIf="cell?.meetings?.length" class="meeting"
          [class.meeting-selectable]="cell.meetings[0].access === 'full'"
          [class.meeting-selected]="cell.meetings[0].id === selectedMeeting"
          [class.meeting-unavailable]="cell.meetings[0].type?.id === '4'"
          [style.height.px]="calculateHeight(cell.meetings[0])"
          [style.top.%]="calculateTop(cell.meetings[0])"
          [style.background]="cell.meetings[0]?.colors?.light"
          [style.border-color]="cell.meetings[0]?.colors?.light"
          [style.border-left-color]="cell.meetings[0]?.colors?.default"
          [style.color]="cell.meetings[0]?.colors?.contrast"
          (click)="clickMeeting(cell.meetings[0])">
            <div class="meeting-content">
              <div class="meeting-time">{{ cell.meetings[0].timeToDisplay }}</div>
              <div class="meeting-title">{{ cell.meetings[0].title | translate }}</div>
              <div
              *ngIf="cell.meetings[0].attendees && cell.meetings[0].attendees.length"
              class="meeting-participans">
              <span *ngIf="cell.meetings[0].attendees.length === 1">
                {{ 'BOARD.SCHEDULE_ATTENDEE' | translate:{ amount: cell.meetings[0].attendees.length } }}
              </span>
              <span *ngIf="cell.meetings[0].attendees.length > 1">
                {{ 'BOARD.SCHEDULE_ATTENDEES' | translate:{ amount: cell.meetings[0].attendees.length } }}
              </span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="timerange === 'month'" class="month-calendar-container">
    <table fxFlex="grow" fxLayout="column" class="calendar month">
      <thead>
        <tr>
          <th>{{'GLOBAL.SUNDAY' | translate}}</th>
          <th>{{'GLOBAL.MONDAY' | translate}}</th>
          <th>{{'GLOBAL.TUESDAY' | translate}}</th>
          <th>{{'GLOBAL.WEDNESDAY' | translate}}</th>
          <th>{{'GLOBAL.THURSDAY' | translate}}</th>
          <th>{{'GLOBAL.FRIDAY' | translate}}</th>
          <th>{{'GLOBAL.SATURDAY' | translate}}</th>
        </tr>
      </thead>
      <tbody #tbody class="calendar-body" data-cy="schedule-calendar-view-body">
        <tr #trow *ngFor="let block of timeBlocks">
          <td *ngFor="let cell of block.cells" [class.available]="cell?.isAvailable" [class.cell-highlight]="cell?.isToday">
            <div class="month-cell-wrap">
              <div class="month-cell-date">
                <p>{{ cell.time | amDateFormat:'D' }}</p>
              </div>
              <div class="month-cell-container">
                <div *ngFor="let meeting of cell.meetings | slice:0:3;" class="month-meeting" (click)="clickMeeting(meeting)">
                  <div
                    class="meeting-badge"
                    [style.background-color]="meeting.colors?.default"
                  ></div>
                  <div class="meeting-time">{{ meeting.timeToDisplay }}</div>
                  <div class="meeting-title">{{ meeting.title | translate }}</div>
                </div>
                <div *ngIf="cell.meetings.length > 3" class="month-meeting-more" (click)="viewAllMeetings(cell)">{{'BOARD.SEE_MORE' | translate}}</div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
