@import 'variables';
@import 'shared/directed-styles';

:host {
  display: flex;
  flex-direction: column !important;
  height: 100%;
  max-width: 100% !important;

  > * {
    flex-shrink: 0;
  }
}

@media #{$medium-and-down} {
  ccr-select-user,
  ccr-select-user + div {
    padding-top: 7px;
  }
}

date-navigator {
  margin-top: 10px;
}

.cell-highlight {
  background-color: var(--primary-a26) !important;

  .month-meeting {
    &:hover {
      background: var(--primary-a40) !important;
    }
  }
}

.calendar-wrapper {
  flex: 1;
  display: block !important;
  height: 100%;
  overflow-x: hidden;
}
.calendar {
  height: 100%;
}
.calendar-body {
  flex: 1 auto;
  width: 100%;

  .month-cell-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;

    .month-cell-date {
      margin-bottom: 5px;
      p {
        font-size: 18px;
        text-align: right;
      }
    }

    .month-cell-container {
      flex: 1;

      .month-meeting {
        display: flex;
        align-items: center;
        font-size: 12px;
        height: 25%;
        flex-wrap: nowrap;

        &:hover {
          background: whitesmoke;
        }

        .meeting-badge {
          width: 10px;
          min-width: 10px;
          height: 10px;
          min-height: 10px;
          border-radius: 50%;
          margin-right: 5px;
        }

        .meeting-time {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 5px;

          @media #{$medium-and-down} {
            display: none;
          }
        }

        .meeting-title {
          font-weight: bold;
          line-height: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .month-meeting-more {
        font-size: 12px;
        font-weight: bold;
        height: 25%;
        display: flex;
        align-items: center;
        padding-left: 5px;

        &:hover {
          background: whitesmoke;
        }
      }
    }

    > p {
      font-size: 12px;
    }
  }

  .month-meeting-wrap {
    display: flex;
    flex-wrap: wrap;

    .meeting {
      position: relative;
      width: auto;
      margin: 5px;
    }
  }
}

.truncate {
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
