@import 'variables';
@import 'shared/directed-styles';
:host {
  display: flex;
  flex-direction: column !important;
  height: 100%;
  max-width: 100% !important;

  > * {
    flex-shrink: 0;
  }
}

@media #{$medium-and-down} {
  ccr-select-user,
  ccr-select-user + div {
    padding-top: 7px;
  }
}

date-navigator {
  margin-top: 10px;
}

.calendar-wrapper {
  flex: 1;
  display: block !important;
  height: 100%;
  overflow-x: hidden;
}
.calendar {
  height: 100%;
}
.calendar-body {
  flex: 1 auto;
  width: 100%;

  .month-cell-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;

    .month-cell-date {
      p {
        font-size: 18px;
        text-align: right;
      }
    }

    > p {
      font-size: 12px;
    }
  }

  .month-meeting-wrap {
    display: flex;
    flex-wrap: wrap;

    .meeting {
      position: relative;
      width: auto;
      margin: 5px;
    }
  }
}

.truncate {
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
