app-default-dashboard {
  .ccr-chart {
    .ccr-container {
      margin-bottom: 0px !important;
      margin-top: 12px;
      min-height: 280px;
    }
  }

  .next-meeting-container {
    width: 100%;
  }
}
