<div>
  <h3>
    <mat-icon>people</mat-icon>
    <span>{{'RIGHT_PANEL.FOR_THIS_PATIENT' | translate}}</span>
  </h3>

  <h4 matSubheader *ngIf="shouldShowDaysheetButton">
    <mat-icon>event_note</mat-icon>
    <span>{{ 'BOARD.NOTES' | translate }}</span>
    <ccr-popup-description
    class="sidebar-header-placement"
    [title]="'BOARD.NOTES' | translate"
    [description]="'LIBRARY.FORMS.SUBMISSION_LISTING_EXPLANATION_NOTES_DESCRIPTION' | translate"
    ></ccr-popup-description>
  </h4>

  <div
  *ngIf="shouldShowDaysheetButton"
  class="items-create"
  fxLayout="column"
  fxLayoutAlign="center stretch"
  fxLayoutGap="10px">
      <button
      (click)="showDaysheetDialog()"
      class="ccr-icon-button"
      color="primary"
      mat-button
      type="button">
        <mat-icon>add</mat-icon>
        {{ 'BOARD.ADD_NEW_DAYSHEET' | translate }}
      </button>

      <button
      (click)="showNoteDialog()"
      class="ccr-icon-button"
      color="primary"
      mat-button
      type="button">
        <mat-icon>add</mat-icon>
        {{'BOARD.ADD_NEW_NOTE' | translate}}
      </button>
  </div>

  <app-rightpanel-notes-container *ngIf="shouldShowDaysheetButton" [refresh$]="notesRefresh$"></app-rightpanel-notes-container>

  <h4 matSubheader>
    <mat-icon>add_circle_outline</mat-icon>
    <span>{{ 'BOARD.NEW_MEASUREMENTS' | translate }}</span>
  </h4>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [max]="recordedDate" formControlName="recordedAt" [placeholder]="'GLOBAL.DATE' | translate" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker type="date" startView="month" #picker></mat-datepicker>
    </mat-form-field>

    <div class="component-heading">
      <span class="mat-form-field-label">{{ 'BOARD.CATEGORY' | translate }}</span>
    </div>
    <mat-radio-group fxLayout='column' [(ngModel)]="measurementType" [ngModelOptions]="{standalone: true}" (change)="initForm($event)">
      <mat-radio-button
        *ngIf="hiddenMeasurementTabs.indexOf('circumference') === -1"
        value="circumference">
        {{'GLOBAL.CIRCUMFERENCE' | translate}}
      </mat-radio-button>
      <mat-radio-button
        *ngIf="hiddenMeasurementTabs.indexOf('composition') === -1"
        value="composition">
        {{'GLOBAL.COMPOSITION' | translate}}
      </mat-radio-button>
      <mat-radio-button
        *ngIf="hiddenMeasurementTabs.indexOf('energy') === -1"
        value="energy">
        {{'GLOBAL.ENERGY' | translate}}
      </mat-radio-button>
      <mat-radio-button
        *ngIf="hiddenMeasurementTabs.indexOf('vitals') === -1"
        value="vitals">
        {{'GLOBAL.VITALS' | translate}}
      </mat-radio-button>
    </mat-radio-group>

    <div formArrayName="circumference">
      <div *ngFor="let detail of circumference.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="waist" numberOnly
          [placeholder]="'MEASUREMENT.WAIST' | translate">
          <span matSuffix>{{ 'circumference' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="arm" numberOnly
          [placeholder]="'MEASUREMENT.ARM' | translate">
          <span matSuffix>{{ 'circumference' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="chest" numberOnly
          [placeholder]="'MEASUREMENT.CHEST' | translate">
          <span matSuffix>{{ 'circumference' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="hip" numberOnly
          [placeholder]="'MEASUREMENT.HIP' | translate">
          <span matSuffix>{{ 'circumference' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="thigh" numberOnly
          [placeholder]="'MEASUREMENT.THIGH' | translate">
          <span matSuffix>{{ 'circumference' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="neck" numberOnly
          [placeholder]="'MEASUREMENT.NECK' | translate">
          <span matSuffix>{{ 'circumference' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="thorax" numberOnly
          [placeholder]="'MEASUREMENT.THORAX' | translate">
          <span matSuffix>{{ 'circumference' | unitLabel | translate }}</span>
        </mat-form-field>
      </div>
    </div>

    <div formArrayName="composition">
      <div *ngFor="let detail of composition.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="weight" numberOnly
          [placeholder]="'MEASUREMENT.WEIGHT' | translate" (change)="onCompositionChange('weight')">
          <span matSuffix>{{ 'composition' | unitLabel | translate }}</span>
          <mat-error>{{ 'NOTIFY.ERROR.VALUE_NOT_EMPTY' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="bodyFat" numberOnly max="100"
          [placeholder]="'RIGHT_PANEL.BODY_FAT_PERC' | translate" (change)="onCompositionChange('bodyFat')">
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="bodyFatLbs" numberOnly
          [placeholder]="'RIGHT_PANEL.BODY_FAT_LBS' | translate" (change)="onCompositionChange('bodyFatLbs')">
          <span matSuffix>{{ 'composition' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="visceralFat" numberOnly max="100"
          [placeholder]="'RIGHT_PANEL.VISCERAL_FAT_PERC' | translate" (change)="onCompositionChange('visceralFat')">
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="visceralFatLbs" numberOnly
          [placeholder]="'RIGHT_PANEL.VISCERAL_FAT_LBS' | translate" (change)="onCompositionChange('visceralFatLbs')">
          <span matSuffix>{{ 'composition' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="visceralFatTanita" numberOnly max="100"
          [placeholder]="'RIGHT_PANEL.VISCERAL_FAT_TANITA' | translate">
          <span matSuffix>{{ 'UNIT.UNITS' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="visceralAdiposeTissue" numberOnly
          [placeholder]="'MEASUREMENT.VISCERAL_ADIP_TISSUE' | translate" (change)="onCompositionChange('visceralAdiposeTissue')">
          <span matSuffix>{{ 'UNIT.LT' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="waterPercentage" numberOnly
          [placeholder]="'RIGHT_PANEL.BODY_WATER_PERC' | translate" (change)="onCompositionChange('waterPercentage')">
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="waterLbs" numberOnly
          [placeholder]="'RIGHT_PANEL.BODY_WATER_LBS' | translate" (change)="onCompositionChange('waterLbs')">
          <span matSuffix>{{ 'composition' | unitLabel | translate }}</span>
        </mat-form-field>

        <mat-form-field *ngIf="filteredFields.indexOf('ketones') === -1" class="ccr-align-right">
          <input matInput formControlName="ketones" numberOnly
          [placeholder]="'MEASUREMENT.KETONES' | translate" (change)="onCompositionChange('ketones')">
          <span matSuffix>{{ 'UNIT.MMOL' | translate }}/{{ 'UNIT.LT' | translate }}</span>
        </mat-form-field>
      </div>
    </div>
    <div formArrayName="energy">
      <div *ngFor="let detail of energy.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="steps" numberOnly [wholeNumber]="true"
          [placeholder]="'MEASUREMENT.STEPS' | translate">
          <span matSuffix>{{ 'UNIT.STEPS' | translate }}</span>
        </mat-form-field>

        <mat-form-field>
          <input matInput
            formControlName="sleepStartTime"
            [matDatepicker]="startPicker"
            (dateChange)="sleepStartTimeChange($event)"
            [placeholder]="'MEASUREMENT.SLEEP_STARTTIME' | translate"
            readonly="true">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker type="time" startView="clock" #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput
            formControlName="sleepEndTime"
            [matDatepicker]="endPicker"
            (dateChange)="sleepEndTimeChange($event)"
            [placeholder]="'MEASUREMENT.SLEEP_ENDTIME' | translate"
            readonly="true">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker type="datetime" startView="clock" #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div formArrayName="vitals">
      <div *ngFor="let detail of vitals.controls; let i=index" [formGroupName]="i">
        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="totalCholesterol" numberOnly
          [placeholder]="'MEASUREMENT.TOTAL_CHOLESTEROL' | translate" [wholeNumber]="true">
          <span matSuffix>{{ 'UNIT.MGR' | translate }} / {{ 'UNIT.DLT' | translate }}</span>
          <mat-error>{{ 'NOTIFY.ERROR.VALUE_NOT_EMPTY' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="ldl" numberOnly max="100"
          [placeholder]="'MEASUREMENT.LOW_DENSITY_LIPOPROTEIN' | translate" [wholeNumber]="true">
          <span matSuffix>{{ 'UNIT.MGR' | translate }} / {{ 'UNIT.DLT' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="hdl" numberOnly
          [placeholder]="'MEASUREMENT.HIGH_DENSITY_LIPOPROTEIN' | translate" [wholeNumber]="true">
          <span matSuffix>{{ 'UNIT.MGR' | translate }} / {{ 'UNIT.DLT' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="vldl" numberOnly max="100"
          [placeholder]="'MEASUREMENT.VERY_LOW_DENSITY_LIPOPROTEIN' | translate" [wholeNumber]="true">
          <span matSuffix>{{ 'UNIT.MGR' | translate }} / {{ 'UNIT.DLT' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="triglycerides" numberOnly
          [placeholder]="'MEASUREMENT.TRIGLYCERIDES' | translate" [wholeNumber]="true">
          <span matSuffix>{{ 'UNIT.MGR' | translate }} / {{ 'UNIT.DLT' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="fastingGlucose" numberOnly max="100"
          [placeholder]="'MEASUREMENT.FASTING_GLUCOSE' | translate" [wholeNumber]="true">
          <span matSuffix>{{ 'UNIT.MGR' | translate }} / {{ 'UNIT.DLT' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="hba1c" numberOnly
          [placeholder]="'MEASUREMENT.HBA1C' | translate">
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="insulin" numberOnly
          [placeholder]="'MEASUREMENT.INSULIN' | translate" [wholeNumber]="true">
          <span matSuffix>uU/{{ 'UNIT.MLT' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="hsCrp" numberOnly
          [placeholder]="'MEASUREMENT.HSCRP' | translate">
          <span matSuffix>{{ 'UNIT.MGR' | translate }}/{{ 'UNIT.LT' | translate }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="temperature" numberOnly
          [placeholder]="'MEASUREMENT.TEMPERATURE' | translate">
          <span matSuffix>{{ measurementPreference === 'metric' || measurementPreference === 'uk' ? '&#8451;' : '&#8457;' }}</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="heartRate" numberOnly
          [placeholder]="'MEASUREMENT.HEART_RATE' | translate" [wholeNumber]="true">
          <span matSuffix>/ min</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="bloodPressureSystolic" numberOnly
          [placeholder]="'MEASUREMENT.BLOOD_PRESSURE_SYSTOLIC' | translate" [wholeNumber]="true">
          <span matSuffix>/ mmHg</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="bloodPressureDiastolic" numberOnly
          [placeholder]="'MEASUREMENT.BLOOD_PRESSURE_DIASTOLIC' | translate" [wholeNumber]="true">
          <span matSuffix>/ mmHg</span>
        </mat-form-field>

        <mat-form-field class="ccr-align-right">
          <input matInput formControlName="respirationRate" numberOnly
          [placeholder]="'MEASUREMENT.RESPIRATION_RATE' | translate" [wholeNumber]="true">
          <span matSuffix>/ min</span>
        </mat-form-field>
      </div>
    </div>

    <ng-container *ngIf="formUtils.hasErrors(form)">
      <mat-error *ngIf="formUtils.getError('validateSleepTimes');">{{ formUtils.getError('validateSleepTimes') | translate }}</mat-error>
      <mat-error *ngIf="formUtils.getError('validateBloodPressure');">{{ 'NOTIFY.ERROR.BLOOD_PRESSURE_REQUIRED' | translate }}</mat-error>
      <mat-error *ngIf="formUtils.getError('max'); else default">{{ 'NOTIFY.ERROR.FIELD_MAX_VALUE' | translate }}</mat-error>
      <ng-template #default>
        <mat-error>{{ 'NOTIFY.ERROR.COMPLETE_ONE_FIELD' | translate }}</mat-error>
      </ng-template>
    </ng-container>

    <div class="action-buttons">
      <a mat-button color="primary" (click)="onSubmit()" class="ccr-icon-button">
        <mat-icon>add</mat-icon>
        {{ 'BOARD.ADD_MEASUREMENT' | translate }}
      </a>
    </div>
  </form>

  <div
  *ngIf="shouldShowTimezoneNotice"
  class="timezone-notice-container"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="5px">
    <ccr-popup-description
      [description]="'BOARD.MEASUREMENT_TIMEZONE_NOTICE_DESCRIPTION' | translate"
      [title]="'BOARD.MEASUREMENT_TIMEZONE_NOTICE_TITLE' | translate">
    </ccr-popup-description>

    <small>{{ 'BOARD.MEASUREMENT_TIMEZONE_NOTICE' | translate }}</small>
  </div>
</div>
