<div class="call-notification" xFlex fxLayout="column" fxLayoutAlign="center center">
  <button
  (click)="onAcceptAudio()"
  [class.disabled]="!callState?.hasAudioDeviceAccess || !callState.audioInputDevices?.length || acceptedCall"
  [disabled]="acceptedCall"
  mat-mini-fab>
    <mat-icon>phone</mat-icon>
    <ccr-popup-description
      *ngIf="!callState?.hasAudioDeviceAccess || !callState.audioInputDevices?.length"
      [title]="'CALL.MICROPHONE_ACCESS_BLOCKED' | translate"
      [description]="'CALL.MICROPHONE_ACCESS_BLOCKED_HELPTEXT' | translate"
      [showIntro]="false"
      [trigger]="audioPopupTrigger"
    ></ccr-popup-description>
  </button>
  <label>{{ 'CALL.ACCEPT_AUDIO' | translate }}</label>
</div>
<div
*ngIf="callState?.hasAudioDeviceAccess && callState.audioInputDevices?.length && callState?.hasVideoDeviceAccess"
class="call-notification"
fxLayout="column"
fxLayoutAlign="center center"
xFlex>
  <button mat-mini-fab [class.disabled]="acceptedCall" [disabled]="acceptedCall" (click)="onAcceptVideo()">
    <mat-icon>videocam</mat-icon>
  </button>
  <label>{{ 'CALL.ACCEPT_VIDEO' | translate }}</label>
</div>
 <div class="call-notification" xFlex fxLayout="column" fxLayoutAlign="center center">
  <button mat-mini-fab [class.disabled]="acceptedCall" [disabled]="acceptedCall" (click)="onRejectCall()">
    <mat-icon>call_end</mat-icon>
  </button>
  <label>{{ 'CALL.REJECT' | translate }}</label>
</div>
