dashboard-modal {
  #modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(255, 255, 255, 0.5);
    transition: transform 0.3s;
    transform: translateY(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.open {
      transform: translateY(0);
    }

    #modal-wrap {
      width: 80%;
      height: initial;
      background-color: white;
      box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 75%);
      border-radius: 5px;

      #modal-header {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-bottom: 1px solid #b5b3b3;
        position: relative;

        #close-btn {
          background-image: url('../../../assets/img/close.png');
          width: 35px;
          height: 35px;
          background-position: center;
          background-size: contain;
          cursor: pointer;
          position: absolute;
          right: 10px;
        }

        #modal-title {
          font-size: 20px;
          color: var(--text);
        }
      }

      #modal-body {
        padding: 10px;
        flex: 1;
      }
    }

    &.full {
      #modal-wrap {
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: none;
      }
    }
  }
}
