<div dir="rtl">
  <h3 #top>כיצד להגדיר את החשבון שלך</h3>

  <p>יש צורך בחשבון Apple Developer על מנת לארח את אפליקציית ה-iOS שלך (iPhone ו- iPad) בחנות Apple App. מסמך זה עובר על ההרשמה לתוכנית Apple Developer.</p>
  <p>לאחר הגדרת חשבון Apple Developer (או במידה וכבר יש לך חשבון), יש להזמין את CoachCare לשתף פעולה בחשבון שלך. CoachCare יוכלו לסייע לך בניהול, עדכון ותפקוד תקין של האפליקציה שלך.</p>
  <p><em>תהליך זה של רישום חשבון Apple Developer ייקח בין מספר ימים למספר שבועות. כדי לעזור לזרז את התהליך, יש להקפיד להגיש את כל החומרים הנכונים ולהגיב לתקשורת עם חברת Apple.</em></p>

  <h3>לפני שמתחילים</h3>

  <p>אם ברשותך חשבון Apple Developer עבור החברה שלך, אפשר לדלג מטה <a href="/register/apple#invite">ולהזמין את CoachCare לחשבון Apple Developer</a> שלך.</p>
  <p>כדי ליצור חשבון עבור החברה שלך, יש צורך ב:</p>
  <ol>
    <li>מחשב או מכשיר אשר יכול להשתמש באימות דו-גורמי של Apple.<a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/en-us/HT205075"> זה יכול להיות מכשיר כל מכשיר iOS כגון iPhone, iPad, או iPod Touch, מחשב שולחני או מחשב נייד של Apple או מחשב שולחני או מחשב נייד של Windows</a>. אם יש לך שאלות על דרישה זו, אנא צרו קשר עם <a href="mailto:implementation@coachcare.com">צוות היישום</a>​ שלנו.</li>
    <li>ארגון משפטי או שם החברה</li>
    <li>אתר אינטרנט פעיל עם שם המשויך לחברה שלך</li>
    <li>מספר טלפון ליצירת קשר בו חברת Apple תוכל ליצור קשר ולאמת פרטים אודות החברה</li>
    <li>כתובת אימייל, המשויכת לחברה שלך, שתשמש כדי לרשום מחדש את החשבון</li>
  </ol>

  <h3>תהליך ההרשמה ל-Apple Developer</h3>

  <ol>
    <li>יצירת Apple ID עבור החברה שלך
      <p>תחילה עליך ליצור Apple ID עבור החברה, אשר לאחר מכן ישמש ליצירת חשבון Apple Develope עבור החברה שלך. לא ניתן להשתמש ב-Apple ID הפרטי שלך. בנוסף, כתובת האימייל המשמשת את ה-Apple ID שלך חייבת להשתמש בשם הדומיין של האתר שלך. אין להשתמש בחשבון אימייל כללי כגון gmail.com, @yahoo.com, @hotmail.com@, וכו. במידה ועדיין אין לך Apple ID עבור החברה שלך, יש <a target="_blank" rel="noopener noreferrer" href="https://appleid.apple.com/account">ליצור Apple ID</a>.</p>
    </li>
    <li>הגדרת אימות דו-גורמי עבור ה-Apple ID שלך
      <p>נכון ל-29 ביוני, 2018, Apple דורשת מכל חשבון Apple ID אימות דו-גורמי עבור שיפור אבטחת החשבון. יש לאפשר <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/en-us/HT204915">אימות דו-גורמי</a> עבורך חשבון Apple ID. יש לשים לב כי שלב זה מחייב להיות בעל מכשיר <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/en-us/HT205075">Apple או Windows PC עם iCloud עבור Windows ו- iTunes מותקן</a>. יש לזכור כי המכשיר או המחשב המשמש לאימות דו-גורמי חייב להיות מחובר בעזרת Apple ID של העסק שלך. שתי אפשרויות זמינות:</p>
        <ol>
          <li><small><strong>גישה מומלצת</strong></small> רכישה ו / או שמירה על מכשיר Apple נפרד (iPhone, iPad, מחשב, מחשב נייד) או מחשב Windows או מחשב נייד שתמיד מחובר עם ה-Apple ID הזה. מכשיר או מחשב זה ישויכו לשימוש למטרות עסקיות בלבד, ולא ייעשה שימוש במכשיר או בטלפון האישיים שלך.</li>
          <li>השתמש במכשיר אישי או בטלפון, והיכנס באמצעות Apple ID העסקי שלך לפי הצורך. לדוגמה: 
            <ul>
              <li>מכשיר ה-iPhone שלך בדרך כלל מחובר אל החשבון Apple ID האישי שלך.</li>
              <li>כנדרש למטרות עסקיות, התנתק מחשבון Apple ID האישי בטלפון או במחשב, והיכנס באמצעות Apple ID העסקי שלך</li>
              <li>עם השלמת האימות (אשר ייקח רק כמה דקות) יש להתנתק מה-Apple ID העסקי ולהתחבר חזרה ל-Apple ID האישי שלך.</li>
            </ul>
            בדרך כלל, מרפאות יצטרכו לגשת לחשבון Apple ID עסקי פעם ב-2-3 חודשים, פעולה זו אינה מסובכת.
          </li>
        </ol>
    </li>
    <li>הרשמה או איתור מספר D-U-N-S
      <p>על הארגון שלך להיות בעל מספר D-U-N-S כך ש- Apple תוכל לאמת את זהות הארגון ואת הסטטוס המשפטי. מספר יחודי זה בעל תשע ספרות הוקצע על ידי Dun &amp; Bradstreet, נמצא בשימוש נרחב ומשמש כמזהה עסקי סטנדרטי.</p>
      <ul>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/enroll/duns-lookup/#/search">הרשמה או איתור מספר D-U-N-S שלך</a><br><em><strong>נדרש Apple ID לפני ההרשמה למספר D-U-N-S.</strong>.<br>יש להשלים את השלב הקודם (יצירת Apple ID) לפני שממשיכים לנקודה זו.</em></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/support/d-u-n-s/">מידע נוסף על מספר D-U-N-S</a></li>
      </ul>
    </li>
    <li>הרשמה לקבלת חשבון Apple Developer
      <p>לאחר מכן, <a target="_blank" rel="noopener noreferrer" href="https://developer.apple.com/programs/enroll/">יש למלא את טופס</a> ההרשמה כדי להירשם לתוכנית חשבון Apple Developer.</p>
      <p>בתחילת תהליך ההרשמה יש להירשם <strong>כארגון/חברה</strong>. אם יש לך שאלות בנוגע לסוג העסק שלך או שברצונך להירשם כסוג אחר, יש ליצור קשר עם <a href="mailto:implementation@coachcare.com">צוות היישום</a> שלנו לפני ההרשמה.</p>
      <p>לאחר השלמת תהליך זה, נציג Apple יצור אתכם קשר במספר טלפון וכתובת האימייל שסופקה תוך 24-72 שעות. הם יאמתו מידע אודות החברה שלך.</p>
    </li>
    <li>יש להזין את פרטי התשלום 
      <p>אחרי אימות החשבון על ידי Apple, יתקבל אימייל אישור. יכללו הוראות לתשלום החברות בתוכנית Apple Developer.</p>
    </li>
  </ol>

  <h3 id="invite">יש להזמין את CoachCare לחשבון Apple developer שלך</h3>

  <p>לאחר שחשבון Apple Developer שלך פעיל באופן מלא, עליך להזמין את CoachCare כמנהל בחשבון שלך. יהיה עליך להזמין את CoachCare גם לחשבון ה-iTunes Developer שלך וגם לחשבון iTunes Connect. כדי להתחיל:</p>
  <ol>
    <li>עבור אל הקטע <a target="_blank" rel="noopener noreferrer" href="https://itunesconnect.apple.com/access/users"> משתמש וגישה </a> של חשבון App Store Connect שלך.</li>
    <li>לחץ על הכרטיסייה <strong>אנשים</strong> בחלק העליון של הדף.</li>
    <li>לחץ על הלחצן "+" כדי להוסיף משתמש חדש (CoachCare).</li>
    <li>השתמש ב- "CoachCare" עבור השדות <strong> שם פרטי </strong>ו<strong> שם משפחה </strong>.</li>
    <li>עבור הודעת האימייל, השתמש ב <strong>mobile@coachcare.com</strong>.</li>
    <li>תחת <strong>תפקידים</strong> סמן את התיבה <strong>מנהל מערכת</strong>.</li>
    <li>לאחר מכן לחץ על הלחצן <strong>הזמן</strong> למטה.</li>
  </ol>

  <p>התהליך הושלם. כל תמיכה או שאלות ניתן להפנות אל <a target="_blank" rel="noopener noreferrer" href="https://coachcare.zendesk.com/hc/en-us/requests/new">דף תמיכה של CoachCare</a> או לפנות אל מנהל המכירות האזורי שלך.</p>
</div>
