<div class="ccr-htools" fxLayout="row" fxLayoutAlign="space-between center">
  <ul class="ccr-breadcrumbs">
    <li fxFlex="nogrow">
      <a [class.selected]="!route.length" (click)="goToRoute(-1)" class="clickable" fxLayoutAlign=" center"
      [ccrDropzone]="{ data: root.content, isDroppable: true, isLongDroppable: false }" (ccrDrop)="dropContent($event)">
        <span *ngIf="mode !== 'vault'">{{ 'LIBRARY.CONTENT.ROOT' | translate }}</span>
        <span *ngIf="mode === 'vault'">{{ 'GLOBAL.FILE_VAULT_TITLE' | translate:{account: accountName} }}</span>
      </a>
    </li>

    <ng-container *ngIf="allowBreadcrumbs">
    <ng-container *ngFor="let r of route; let i = index;">
        <li fxFlex="nogrow" fxLayoutAlign=" stretch">
            <mat-icon>chevron_right</mat-icon>
            <a [class.selected]="i === route.length - 1" (click)="goToRoute(i)" fxLayoutAlign=" center"
            class="clickable" [ccrDropzone]="{ data: r.content, isDroppable: true, isLongDroppable: false }" (ccrDrop)="dropContent($event)">
            <span>{{ r.content.name }}</span>
            </a>
        </li>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!allowBreadcrumbs && route.length">
        <div class="parent-folder-button" fxLayout="column" fxLayoutAlign="center center">
        <button
        (click)="goToRoute(route.length > 1 ? route.length - 2 : -1)"
        class="ccr-button"
        color="primary"
        mat-button>{{ 'LIBRARY.CONTENT.PARENT_FOLDER' | translate }}</button>
        </div>
    </ng-container>
  </ul>

  <div fxLayout="row" fxLayoutAlign="end center">
    <!--
    <mat-slide-toggle labelPosition="after" [(ngModel)]="paginationEnabled">
        {{ 'GLOBAL.PAGINATION' | translate }}
    </mat-slide-toggle>
    -->
    <ccr-paginator fxFlex="nogrow" #paginator
    [disabled]="!paginationEnabled"
    [length]="source.total"
    [pageIndex]="source.pageIndex"
    [pageSize]="source.pageSize"
    (page)="setPage($event)"
    ></ccr-paginator>
  </div>

</div>

<div class="ccr-edit-table">
    <mat-table [dataSource]="source" class="ccr-edit-table" matSort>
        <ng-container cdkColumnDef="selector">
            <mat-header-cell *cdkHeaderCellDef fxFlex="36px">&nbsp;</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index;" fxFlex="36px">
                <mat-checkbox [checked]="isChecked(row)" (change)="onToggleSelection(row)"></mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="index">
            <mat-header-cell *cdkHeaderCellDef fxFlex="36px">&nbsp;</mat-header-cell>
            <mat-cell *cdkCellDef="let row; let i = index;" fxFlex="36px">
                {{ currentPage * paginator.pageSize + (i + 1) }}
            </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="icon">
            <mat-header-cell *cdkHeaderCellDef fxFlex="36px">&nbsp;</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="36px">
                <mat-icon
                class="row-icon"
                [fontSet]="row.icon.set"
                [fontIcon]="row.icon.name"
                [svgIcon]="row.icon.svgIcon"
                fxLayout="column"
                fxLayoutAlign="center">
                    {{ row.icon.set ? '' : row.icon.name }}
                </mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="name" [formGroup]="form">
            <mat-header-cell *cdkHeaderCellDef>{{ 'LIBRARY.CONTENT.FOLDER_NAME' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="clickable">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1%">
                    <app-content-file-explorer-inline-editor [required]="true" bindForm="name" [overwriteControl]="true"
                        *ngIf="rowOnEdition.id === row.id && rowOnEdition.prop === 'name'; else nameCell"
                        [content]="rowOnEdition.fullName" (save)="saveChanges()" (cancel)="toggleEdit(row, false)">
                    </app-content-file-explorer-inline-editor>
                    <ng-template #nameCell>
                        <div class="edit-icon-container" fxLayout="row" fxLayoutAlign="start center">
                            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="4px">
                                <span>
                                    {{ row.name }}
                                    <mat-icon class="private-icon" *ngIf="!row.isPublic && !row.hasPackageAssociations" [matTooltip]="'LIBRARY.CONTENT.LOCK_CONTENT_TOOLTIP' | translate">lock</mat-icon>
                                </span>
                                <small class="text-secondary" *ngIf="row.isForeign">
                                    {{ 'LIBRARY.CONTENT.FROM' | translate:{organization: row.organization.name} }}
                                </small>
                            </div>
                            <button type="button" class="edit-icon" mat-icon-button
                                title="{{ 'GLOBAL.EDIT' | translate }}" (click)="toggleEdit(row, 'name', true); $event.stopPropagation();"
                                *ngIf="allowInlineEdit && row.isAdmin">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="description" [formGroup]="form">
            <mat-header-cell *cdkHeaderCellDef>{{ 'LIBRARY.CONTENT.DESCRIPTION' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="clickable">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1%">
                    <app-content-file-explorer-inline-editor bindForm="description" [overwriteControl]="true"
                        *ngIf="rowOnEdition.id === row.id && rowOnEdition.prop === 'description'; else descriptionCell"
                        [content]="rowOnEdition.description" (save)="saveChanges()" (cancel)="toggleEdit(row, false)">
                    </app-content-file-explorer-inline-editor>
                    <ng-template #descriptionCell>
                        <div class="edit-icon-container">
                            {{ (row.description | translate) || ('LIBRARY.CONTENT.NO_DESCRIPTION' | translate) | maxChars:25 }}
                            <button class="edit-icon" mat-icon-button
                                title="{{ 'GLOBAL.EDIT' | translate }}"
                                *ngIf="allowInlineEdit && row.isAdmin" (click)="toggleEdit(row, 'description', true); $event.stopPropagation();">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="createdAt">
            <mat-header-cell *cdkHeaderCellDef fxFlex="15%" mat-sort-header>{{ 'LIBRARY.CONTENT.CREATED' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="15%">
                {{ row.createdAt | amDateFormat:'ddd, MMM D YYYY' }}
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="availability">
            <mat-header-cell *cdkHeaderCellDef fxFlex="18%">{{ 'LIBRARY.CONTENT.AVAILABILITY' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="clickable" fxFlex="18%">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1%">
                    {{ row.isPublic | ccrBinary:{ true: 'LIBRARY.CONTENT.PUBLIC',
                        false: ( row.hasPackageAssociations | ccrBinary:{ true:'LIBRARY.CONTENT.SELECTED_PACKAGES', false: 'LIBRARY.CONTENT.PRIVATE' } )
                    } | translate }}
                </div>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.ACTIONS' | translate }}</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="file-icon" fontSet="fas" fontIcon="fa-edit" (click)="onEdit(row); $event.stopPropagation()" [class.disabled]="!row.isAdmin" [matTooltip]="'LIBRARY.CONTENT.EDIT_CONTENT_TOOLTIP' | translate"></mat-icon>
                <ccr-icon-move-folder class="file-icon" [class.disabled]="!row.isAdmin" fxLayout="column" fxLayoutAlign="center center" (click)="onMove(row)" [matTooltip]="'LIBRARY.CONTENT.MOVE_CONTENT_TOOLTIP' | translate"></ccr-icon-move-folder>
                <mat-icon class="file-icon" [class.disabled]="!row.metadata || !row.metadata.url" (click)="onOpen(row)" [matTooltip]="'LIBRARY.CONTENT.PREVIEW_CONTENT_TOOLTIP' | translate">launch</mat-icon>
                <mat-icon class="file-icon" (click)="onDelete(row)" [class.disabled]="!row.isAdmin" [matTooltip]="'LIBRARY.CONTENT.DELETE_CONTENT_TOOLTIP' | translate">delete</mat-icon>
                <mat-icon  *ngIf="mode !== 'vault'" class="file-icon" (click)="onCopy(row)" [class.disabled]="!row.isAdmin" [matTooltip]="'LIBRARY.CONTENT.CLONE_CONTENT' | translate">content_copy</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="columns"></mat-header-row>
        <mat-row fxLayoutWrap
          *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
          [ngClass]="{ 'row-even': even, 'row-odd': odd, 'last-inherited': row.isLastForeign }" class="clickable"
          (dblclick)="openDirectory(row)" [ccrDraggable]="{ data: row, isDraggable: row.isAdmin && rowOnEdition.id !== row.id && !row.isForeign }"
          [ccrDropzone]="{ data: row, isDroppable: row.isFolder && !row.isForeign, isLongDroppable: row.isAdmin && !row.isForeign}"
          (ccrDrop)="dropContent($event)" (ccrLongDrop)="sortContent($event)"
        ></mat-row>
    </mat-table>
</div>
