<div fxLayout="row" fxLayoutGap="1%">
  <div fxLayout="row" fxFlex fxLayoutGap="1%">
    <ccr-stat-count fxFlex
      title="{{ 'STATS.DIASTOLIC' | translate }}"
      [record]="diastolic"
    ></ccr-stat-count>
  </div>
  <div fxLayout="row" fxFlex fxLayoutGap="1%">
    <ccr-stat-count fxFlex
      title="{{ 'STATS.SYSTOLIC' | translate }}"
      [record]="systolic"
    ></ccr-stat-count>
  </div>
  <div fxLayout="row" fxFlex fxLayoutGap="1%">
    <ccr-stat-count fxFlex
      title="{{ 'STATS.HEART_RATE' | translate }}"
      [record]="heartRate"
    ></ccr-stat-count>
  </div>
</div>
