<div class="ccr-table" [class.ccr-loading]="source.isLoading" [class.ccr-empty]="source.isEmpty" [class.ccr-errors]="source.hasErrors()">

  <mat-table [dataSource]="source">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef fxFlex.xs="100%">ID</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ row.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="appName">
      <mat-header-cell *matHeaderCellDef fxFlex.xs="100%">{{ 'ADMIN.LOGS.APP_NAME' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ row.appName }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="uri">
      <mat-header-cell *matHeaderCellDef fxFlex.xs="100%">URI</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ row.uri }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef fxFlex.xs="100%">{{ 'ADMIN.LOGS.CREATED_AT' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ formatDate(row.createdAt) }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row fxLayout="row wrap" *matRowDef="let row; columns: columns; let even = even; let odd = odd"
      [ngClass]="{
        'row-even': even,
        'row-odd': odd
      }">
    </mat-row>
  </mat-table>

  <ccr-table-overlay [source]="source" [emptyMsg]="'NOTIFY.ERROR.NO_LOG_MESSAGES' | translate"></ccr-table-overlay>
</div>
