@import 'shared/directed-styles';
@import 'variables';

div,
div > button {
  width: 100%;
}

.min {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

@media only screen and (max-width: $breakpoint-tablet) {
  .ccr-icon-button {
    border: none;
  }

  .disabled-icon {
    opacity: 0.3;
  }
}
