
<div
*ngIf="callState?.subaccountId !== '' && callState.isSupported && callState.conferencingEnabled; else disabled_call_icon"
[matTooltip]="toolTipMessage"
fxLayout="row"
fxLayoutAlign="center center"
fxLayoutGap="5px"
matTooltipPosition="above">
  <button
  *ngIf="mode === 0"
  [class.active]="true"
  [disabled]="callState?.isCallStarted || !callState?.hasAudioDeviceAccess || targets?.length > 1"
  [matMenuTriggerFor]="billableServices.length ? menu : emptyMenu"
  (click)="$event.stopPropagation() ;billableServices.length ? undefined : onClick()"
  class="ccr-icon-button"
  color="primary"
  mat-button
  type="button">
    <mat-icon>videocam</mat-icon>
    <span fxHide.xs>{{ 'BOARD.CALL_USER' | translate }}</span>
  </button>
  <div
  *ngIf="mode === 1 && !callState.isCallStarted && callState?.hasAudioDeviceAccess && targets?.length === 1"
  [matMenuTriggerFor]="billableServices.length ? menu : emptyMenu"
  (click)="$event.stopPropagation(); billableServices.length ? undefined : onClick()"
  class="clickable">
    <mat-icon class="min">videocam</mat-icon>
  </div>
  <ccr-popup-description
  *ngIf="mode === 0 && !callState?.hasAudioDeviceAccess"
  [title]="'CALL.MICROPHONE_ACCESS_BLOCKED' | translate"
  [description]="'CALL.MICROPHONE_ACCESS_BLOCKED_HELPTEXT' | translate"
  [showIntro]="false">
  </ccr-popup-description>

  <mat-menu #menu="matMenu" class="user-controls" [overlapTrigger]="false" xPosition="before">
    <button mat-menu-item [disabled]="true">{{ 'CALL.BILLABLE_SERVICE_MENU_HEADER' | translate }}</button>
    <button *ngFor="let billServ of billableServices" (click)="onClick(billServ)" mat-menu-item>
      <span>{{ billServ.displayName | translate }}</span>
    </button>
  </mat-menu>

  <mat-menu #emptyMenu="matMenu"></mat-menu>
</div>
<ng-template #disabled_call_icon>
  <span *ngIf="showDisabledIcon">
    <mat-icon class="disabled-icon">videocam</mat-icon>
  </span>
</ng-template>