<div class="ccr-table" [class.ccr-loading]="source.isLoading" [class.ccr-empty]="source.isEmpty" [class.ccr-errors]="source.hasErrors()">

  <mat-table [dataSource]="source">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.ID' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ row.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.ORGANIZATION' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ row.organization }}
        <i class="ccr-marker" *ngIf="row.isInherited">&nbsp;*</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="locale">
      <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.LOCALE' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ row.locale }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="operation">
      <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.OPERATION' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ row.operation }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.CATEGORY' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign=" center" fxFlex.xs="100%">
        {{ row.category }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.ACTIONS' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayoutAlign="end center" fxLayoutAlign.xs=" center" fxFlex.xs="100%">
        <span (click)="onEdit(row)">{{ 'GLOBAL.EDIT' | translate }}</span>
        <button
          [disabled]="row.isInherited"
          [title]="'GLOBAL.EDIT' | translate"
          (click)="onEdit(row)"
          mat-icon-button>
          <mat-icon [class.disabled]="row.isInherited">edit</mat-icon>
        </button>

        <span (click)="onDelete(row)">{{ 'GLOBAL.DELETE' | translate }}</span>
        <button
          [disabled]="row.isInherited"
          [title]="'GLOBAL.DELETE' | translate"
          (click)="onDelete(row)"
          mat-icon-button>
            <mat-icon [class.disabled]="row.isInherited">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row fxLayout="row wrap"
    *matRowDef="let row; columns: columns; let even = even; let odd = odd"
    [ngClass]="{ 'row-even': even, 'row-odd': odd }"
    ></mat-row>
  </mat-table>

  <ccr-table-overlay [source]="source" [emptyMsg]="'NOTIFY.ERROR.NO_EMAIL_TEMPLATES' | translate"></ccr-table-overlay>

  <p class="footnotes" *ngIf="source.showMarker">
    <i class="ccr-marker">*</i> {{ 'ADMIN.ORGS.EMAIL_TEMPLATE_INHERITED' | translate }}
  </p>
</div>
