<ccr-datasource-overlay class="ccr-table ccr-expand-table ccr-table-stats" [source]="source">
    <div class="header-row">
      <div>{{ 'GLOBAL.DATE' | translate }}</div>
      <div>{{ 'BOARD.CALORIES' | translate }}</div>
      <div>{{ 'BOARD.PROTEIN' | translate }}</div>
      <div>{{ 'BOARD.CARB' | translate }}</div>
      <div>{{ 'BOARD.FAT' | translate }}</div>
      <div>{{ 'BOARD.OTHERS' | translate }}</div>
    </div>
    <div *ngFor="let row of rows" class="table-container" [ngClass]="{
      'newday-row': row.level === 0,
      'mealtype-row': row.level === 1 && !row.consumedDate,
      'meal-row': row.level === 2,
      'hidden': row.level > 0 && row.isHidden,
      'shaded': row.shading === 1
    }">
      <div *ngIf="row.level === 0" (click)="toggleRow(row)" class="bold" [ngClass]="{'clickable': row.hasMeals}">
        <mat-icon aria-hidden="false" aria-label="home icon" *ngIf="row.hasMeals && !row.isExpanded">keyboard_arrow_down</mat-icon>
        <mat-icon aria-hidden="false" aria-label="home icon" *ngIf="row.hasMeals && row.isExpanded">keyboard_arrow_up</mat-icon>
        {{ row.consumedDate | amDateFormat:'dddd, MMM D' }}
      </div>
      <div *ngIf="row.level === 1 && !row.consumedDate" (click)="toggleRow(row)" class="bold" [ngClass]="{'clickable': row.hasMeals}">
        <mat-icon aria-hidden="false" aria-label="home icon" *ngIf="row.hasMeals && !row.isExpanded">keyboard_arrow_down</mat-icon>
        <mat-icon aria-hidden="false" aria-label="home icon" *ngIf="row.hasMeals && row.isExpanded">keyboard_arrow_up</mat-icon>
        {{ row.type | translate }}
      </div>
      <div *ngIf="row.level === 2">
        <div *ngIf="row.image?.thumbnail" (click)="onOpenThumbnail(row)" class="meal-image-thumbnail" [ngClass]="{'clickable' : row.image.thumbnail !== 'assets/image-placeholder.png'}">
          <img [src]="row.image.thumbnail">
        </div>
        <div>
          <span class="bold">{{ row.name }}</span>
          <span *ngIf="showFoodMoodAndNote && row.note">
            <ccr-popup-description
            class="notes-popup-description"
            icon="text_snippet"
            [showIntro]="false"
            [title]="'GLOBAL.NOTES' | translate"
            [description]="row.note"
            dialogWidth="50%"
            ></ccr-popup-description>
          </span>
          <br *ngIf="row.serving">
          <small *ngIf="row.serving" class="lowercase-text serving-amount">
            {{ row.serving | fraction }} {{ 'GLOBAL.FOOD_KEYS' | translate }}
          </small>
          <br *ngIf="row.level !== 1 && !row.consumedAtMidnight">
          <small *ngIf="row.level !== 1 && !row.consumedAtMidnight">{{ row.consumedDate | amDateFormat:'h:mm a' }}</small>
        </div>
        <div *ngIf="showFoodMoodAndNote && row.moodRating">
          <mat-icon class="meal-mood-rating-icon" [style.color]="getMoodIconColor(row)">{{getMoodIcon(row)}}</mat-icon>
        </div>
        <div *ngIf="row.serving">
          <small>
            <ul class="serving-ingredients">
              <li *ngFor="let ingredient of row.ingredients">
                {{ ingredient.ingredient.name }}
                <span *ngIf="ingredient.ingredient.brand">({{ ingredient.ingredient.brand }})</span><br/>
                <span class="lowercase-text">{{ ingredient.quantity }} x {{ ingredient.description }}</span>
              </li>
            </ul>
          </small>
        </div>
      </div>
      <div class="calories">{{ row.calories ? (row.calories | number) : '-' }}</div>
      <div class="protein">
        {{ row.protein ? ((row.protein / 1000).toFixed(0) | number) : '-' }}
        <small *ngIf="row.protein">{{ 'UNIT.G' | translate }}</small>
      </div>
      <div class="carb">
        <div>
          {{ row.carbohydrate ? ((row.carbohydrate / 1000).toFixed(0) | number) : '-' }}
          <small *ngIf="row.carbohydrate">{{ 'UNIT.G' | translate }}</small>
        </div>
        <div *ngIf="row.carbohydrate">
          <span>
            {{ 'BOARD.FIBER' | translate }} {{ row.fiber / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.G' | translate }}</small>
          </span>
          <span>
            <ccr-popup-description
            class="small-popup-description"
            [title]="'BOARD.NET_CARBS' | translate"
            [description]="'BOARD.NET_CARBS_DESCRIPTION' | translate"
            ></ccr-popup-description>
            {{ 'BOARD.NET_CARBS' | translate }} {{ row.netCarbs / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.G' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.SUGAR' | translate }} {{ row.sugar / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.G' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.ADDED_SUGAR' | translate }} {{ row.addedSugar / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.G' | translate }}</small>
          </span>
        </div>
      </div>
      <div class="fat">
        <div>
          {{ row.totalFat ? ((row.totalFat / 1000).toFixed(0) | number) : '-' }}
          <small *ngIf="row.totalFat">{{ 'UNIT.G' | translate }}</small>
        </div>
        <div *ngIf="row.totalFat">
          <span>
            {{ 'BOARD.MONO_FAT' | translate }} {{ row.monounsaturatedFat / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.G' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.POLY_FAT' | translate }} {{ row.polyunsaturatedFat / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.G' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.SAT_FAT' | translate }} {{ row.saturatedFat / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.G' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.TRANS_FAT' | translate }} {{ row.transFat / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.G' | translate }}</small>
          </span>
        </div>
      </div>
      <div class="others">
        <div *ngIf="checkOthersContents(row); else empty">
          <span>
            {{ 'BOARD.CHOLESTEROL' | translate }} {{ row.cholesterol | number:'1.0-1' }}
            <small>{{ 'UNIT.MGR' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.SODIUM' | translate }} {{ row.sodium | number:'1.0-1' }}
            <small>{{ 'UNIT.MGR' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.CALCIUM' | translate }} {{ row.calcium | number:'1.0-1' }}
            <small>{{ 'UNIT.MGR' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.IRON' | translate }} {{ row.iron / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.MGR' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.POTASSIUM' | translate }} {{ row.potassium | number:'1.0-1' }}
            <small>{{ 'UNIT.MGR' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.VITAMIN_A' | translate }} {{ row.vitaminA / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.UGR' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.VITAMIN_B' | translate }} {{ row.vitaminB / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.UGR' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.VITAMIN_C' | translate }} {{ row.vitaminC / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.MGR' | translate }}</small>
          </span>
          <span>
            {{ 'BOARD.VITAMIN_D' | translate }} {{ row.vitaminD / 1000 | number:'1.0-1' }}
            <small>{{ 'UNIT.UGR' | translate }}</small>
          </span>
        </div>
      </div>
    </div>
</ccr-datasource-overlay>

<ng-template #empty>-</ng-template>
