<ccr-datasource-overlay class="ccr-table ccr-expand-table ccr-table-stats" [source]="source">

  <ng-template #empty>-</ng-template>

  <mat-table [dataSource]="rows">

    <ng-container cdkColumnDef="date">
      <mat-header-cell *cdkHeaderCellDef>{{ 'GLOBAL.DATE' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" start" fxFlex.xs="grow">
        <app-dieter-food-mealname-cell [row]="row" (click)="toggleRow(row)">
        </app-dieter-food-mealname-cell>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="calories">
      <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.CALORIES' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" start" fxFlex.xs="grow">
        <span>{{ 'BOARD.CALORIES' | translate }}</span>
        <ng-container *ngIf="row.calories; else empty">
          {{ row.calories | number }}
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="protein">
      <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.PROTEIN' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" start" fxFlex.xs="grow">
        <span>{{ 'BOARD.PROTEIN' | translate }}</span>
        <ng-container *ngIf="row.protein; else empty">
          {{ (row.protein / 1000).toFixed(0) | number }}
          <small>{{ 'UNIT.G' | translate }}</small>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="carb">
      <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.CARB' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" start" fxFlex.xs="grow">
        <app-dieter-food-carb-cell *ngIf="row.carbohydrate; else empty" [row]="row"></app-dieter-food-carb-cell>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="fat">
      <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.FAT' | translate }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxLayoutAlign=" start" fxFlex.xs="grow">
        <app-dieter-food-fat-cell *ngIf="row.totalFat; else empty" [row]="row"></app-dieter-food-fat-cell>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="columns"></mat-header-row>
    <mat-row fxLayoutWrap
      *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
      class="level{{row.level}}" [ngClass]="{
        'row-even': even,
        'row-odd': odd,
        'hidden': row.isHidden,
        'row-expanded': row.isExpanded,
        'row-nested': row.level > 0,
        'row-bottom-border': row.level > 1
      }"
    ></mat-row>
  </mat-table>

</ccr-datasource-overlay>
