@import 'shared/directed-styles';
@import 'variables';

app-dieter-journal-food-table {
  ccr-datasource-overlay {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;

    > div {
      flex: 0 100%;
      padding: 15px 0;

      &.table-container {
        padding-left: 15px;
        padding-right: 15px;
      }

      &.header-row,
      &.newday-row,
      &.mealtype-row,
      &.meal-row {
        display: flex;

        .bold {
          font-weight: bold;
        }

        &.hidden {
          display: none;
        }

        &.shaded {
          background-color: #f0f0f0;
        }

        > div:first-child {
          flex: 35%;
          position: relative;

          > mat-icon {
            left: -25px;
            position: absolute;
            top: -3px;
          }
        }
        > div {
          flex: 0 15%;
          text-align: right;

          &:first-child {
            text-align: left;
          }
        }
      }

      &.header-row {
        background-color: #e4e3e3;
        font-weight: bold;
        padding: 15px;
        text-transform: uppercase;
      }

      &.newday-row {
        border-top: 2px solid #ddd;

        > div:first-child {
          font-weight: bold;
          text-indent: 25px;
        }
      }
      &.newday-row:first-child {
        border-top: none;
      }

      &.mealtype-row {
        > div:first-child {
          text-indent: 35px;
        }
      }

      &.meal-row {
        > div:first-child {
          > .meal-image-thumbnail {
            float: left;
            text-indent: 25px;

            margin: 0 5px;
            &.clickable {
              cursor: pointer;
            }

            img {
              height: auto;
              width: 50px;
            }
          }
        }
      }

      .carb,
      .fat {
        > div {
          margin-right: 5px;
        }
        > div:last-child {
          align-items: flex-end;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          font-size: 12px;
          margin-top: 4px;
          place-content: flex-end space-around;
        }
      }
    }
  }

  .meal-image-thumbnail {
    margin: 0 5px;
    &.clickable {
      cursor: pointer;
    }

    img {
      height: auto;
      width: 50px;
    }
  }

  .level2 {
    .mat-cell {
      .expandable {
        padding: 0 15px 5px 36px;
      }
    }
  }

  .serving-ingredients {
    margin-left: 5px;
  }

  .lowercase-text {
    text-transform: lowercase;
  }

  .meal-name {
    font-weight: bold;
    margin-right: 5px;
  }

  .row-bottom-border {
    border-bottom: 1px solid var(--bg-panel) !important;
    padding-bottom: 10px;
  }

  .serving-amount {
    font-style: oblique;
    text-transform: lowercase;
  }

  .small-popup-description {
    mat-icon {
      font-size: 15px !important;
      height: 18px !important;
      width: 15px !important;
    }
  }
}
