h4 {
  width: 100%;
}

.font-icon {
  font-size: 14px !important;
}

:host {
  height: 100%;
  overflow-y: auto;
}

.reminder-wrapper {
  height: 100%;

  .alert-item-wrapper {
    min-height: 93px;
    max-height: 300px;
    overflow-y: auto;

    .alert-item {
      height: fit-content;
    }
  }

  .notes-container-wrapper {
    overflow: hidden;
    min-height: 200px;
  }
}

.click-to-expand-notice {
  display: block;
  margin: 5px 0;
}

.collapsed-wrapper {
  max-height: 0;
  overflow: hidden;
  height: 0;
  padding: 0 !important;
  width: 100%;
}
