.font-icon {
  font-size: 14px !important;
}

:host {
  height: 100%;
  overflow-y: auto;
}

.reminder-wrapper {
  height: 100%;

  .alert-item-wrapper {
    .alert-item {
      height: fit-content;
    }
  }

  .notes-container-wrapper {
    overflow: hidden;
    min-height: 200px;
  }
}
