<div class="messages-header" fxFlex="nogrow" fxLayout="column" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <div class="arrow_back">
      <mat-icon class="clickable" (click)="onHideChatInfo()">arrow_back_ios</mat-icon>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign="stretch center">
        <span fxFlex>{{ 'BOARD.THREAD_INFO' | translate }}</span>

        <mat-icon class="clickable" fxHide.lt-md (click)="onHideChatInfo()">clear</mat-icon>
      </div>

      <div *ngIf="thread.organization" fxLayout="row" fxLayoutAlign="start center" class="assoc-with-clinic">
        <ccr-popup-description
        [title]="'BOARD.MESSAGE_THREAD_ASSOCIATED_CLINIC' | translate"
        [description]="'BOARD.MESSAGE_THREAD_ASSOCIATED_CLINIC_DESC' | translate:{clinicName: thread.organization.name, clinicId: thread.organization.id, id: thread.threadId}"
        icon="info"
        ></ccr-popup-description>
        <p [innerHTML]="'BOARD.THREAD_ASSOCIATED_WITH_CLINIC' | translate:{name: thread.organization.name, id: thread.organization.id}"></p>
      </div>
    </div>
  </div>
</div>

<div class="messages-body">
  <p>{{ 'BOARD.THREAD_MEMBER_LIST' | translate }}</p>

  <div fxLayout="column" fxLayoutGap="10px">
    <div class="recipient-list">
      <div *ngFor="let user of thread?.allRecipients" class="recipient-item">
        <ccr-user-card
          fxFlex
          [allowUserLinking]="isProvider"
          [allowUserLinkingBlank]="isProvider"
          [showCallButton]="isProvider && user.id !== currentUser.id"
          [showRemoveButton]="false"
          [user]="user"
          [fullWidth]="true"
        ></ccr-user-card>

        <div *ngIf="isProvider && user.id !== currentUser.id" fxLayout="row" fxLayoutAlign="stretch center" fxLayoutGap="4px">
          <mat-icon
          *ngIf="thread?.allRecipients.length > 2"
          [matTooltip]="'BOARD.CREATE_NEW_THREAD_WITH_MEMBER' | translate:{user: user}"
          (click)="onCreateNewThread(user)"
          class="clickable chat-button">
            chat
          </mat-icon>

          <mat-icon
          *ngIf="thread?.allRecipients.length > 2"
          [matTooltip]="'BOARD.THREAD_REMOVE_MEMBER' | translate:{user: user}"
          (click)="onRemoveUser(user)"
          class="clickable delete-button">
            delete
          </mat-icon>

          <mat-icon
          *ngIf="thread?.allRecipients.length <= 2"
          [matTooltip]="'BOARD.THREAD_UNABLE_REMOVE_MEMBER' | translate:{user: user}"
          class="delete-button disabled">
            delete
          </mat-icon>
        </div>

        <mat-icon
        *ngIf="isProvider && user.id === currentUser.id"
        [matTooltip]="'BOARD.THREAD_UNABLE_REMOVE_YOURSELF' | translate"
        class="delete-button disabled">
          delete
        </mat-icon>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <button
      *ngIf="isProvider"
      mat-button type="button" color="primary"
      class="ccr-icon-button" (click)="openAddMemberDialog()">
        <mat-icon>add</mat-icon>
        {{ 'BOARD.ADD_MEMBER' | translate }}
      </button>
    </div>
  </div>
</div>
