<div dir='rtl'>
  <p>لإعداد التطبيق المحمول المخصص لعيادتك، سيحتاج CoachCare إلى معلومات حول عيادتك وبعض التخصيصات التي تريدها. يرجى بذل جهد لتوفير المعلومات المطلوبة في الوقت المناسب. وكلما تقلينا تفاصيل عيادتك بصورة أسرع تمكنا من إطلاق تطبيقك بشكل أسرع.</p>
  <p>يرجى إرسال بريد إلكتروني إلى <a href=mailto:implementation@coachcare.com>implementation@coachcare.com</a> مع ردودكم على البنود التالية:</p>

  <h3 #top>الإعدادات والتفضيلات</h3>

  <ol>
    <li>
      <strong>اسم التطبيق</strong>
      <ul>
        <li>سيكون هذا هو الاسم الذي سيبحث به عملاؤك عبر متجر التطبيقات (على iOS) أو متجر جوجل بلاي (على أندرويد). <strong>يرجى الالتزام بحد 12 حرفا</strong>.</li>
      </ul>
    </li>
    <li>
      <strong>وصف موجز لخدماتك</strong>
      <ul>
        <li>يرجى تحديد هذا الوصف بثمانية أحرف.</li>
        <li>سيتم عرض ذلك على متجر التطبيقات (على iOS) أو متجر جوجل بلاي (على أندرويد).</li>
      </ul>
    </li>
    <li>
      <strong>وصف كامل لخدماتك</strong>
      <ul>
        <li>يرجى تحديد هذا الوصف بعدد 4000 حرف.</li>
        <li>سيتم عرض ذلك على متجر التطبيقات (على iOS) أو متجر جوجل بلاي (على أندرويد).</li>
      </ul>
    </li>
    <li>
      <strong>رابط إلى موقع عيادتك</strong>
    </li>
    <li>
      <strong>المكملات</strong>&nbsp;<em>اختياري</em>
      <ul>
        <li>قائمة تشمل جميع المكملات الغذائية المستخدمة في عيادتكم، بجانب الجرعة اليومية.</li>
        <li>مثال:
          <ul>
            <li>فيتامينات متعددة، 2 في اليوم</li>
            <li>كالسيوم، 1 في اليوم</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>هيكل جدول المواعيد</strong>&nbsp;<em>الاختياري</em>
      <ul>
        <li>قائمة بجميع أنواع الاجتماعات المستخدمة في عيادتك، مع مدة/مدد كل موعد</li>
        <li>مثال:
          <ul>
            <li>استشارة أولية، 60 دقيقة</li>
            <li>استشارة أسبوعية، 30 دقيقة</li>
            <li>محادثة هاتفية، 15 دقيقة</li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>

  <h3>التصميم</h3>

  <ol>
    <li>
      <strong>شعار التطبيق عالي الدقة</strong>
      <ul>
        <li><strong>الخيار (أ): أرسل الشعار الخاص بك</strong>
            <ul>
                <li>الحجم: عرض 1024 بكسل × طول 1024 بكسل لمتجر التطبيقات (على iOS) أو متجر جوجل بلاي (على أندرويد).</li>
                <li>التنسيق المفضل: يجب أن يكون الملف بتنسيق .AI أو .SVG أو .EPS.</li>
            </ul>
        </li>
        <li><strong>الخيار (ب): اسمح لـ CoachCare ببناء شعار عيادتك</strong>
          <ul>
            <li>التكلفة 250.00 دولار</li>
            <li>سيقوم فريق تصميم CoachCare بإنشاء شعارك بناء على موقع الويب الخاص بالعيادة و/أو الملاحظات المرسلة من قبل مسؤول الاتصال بالعيادة. سيتم تزويدك بثلاث نماذج للاختيار من بينها. <em>التعديلات أو التغييرات على أي من هذه النماذج قد تكلف رسوما إضافية</em>.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>صورة مميزة</strong>
      <ul>
        <li><strong>الخيار (أ): أرسل صورتك المميزة</strong>
          <ul>
            <li>الحجم: عرض 1024 بكسل × طول 500 بكسل.</li>
            <li>التنسيق المفضل: تنسيق png.</li>
            <li>سيتم عرض هذه الصورة على متجر جوجل بلاي (على أندرويد).<br><em><a href="/assets/google-maps.jpg" target="_blank">مثال على صورة مميزة في متجر جوجل بلاي (تطبيق خرائط جوجل)</a></em></li>
          </ul>
        </li>
        <li><strong>الخيار (ب): استخدم صورة CoachCare المميزة</strong></li>
      </ul>
    </li>
    <li>
      <strong>الألوان الأساسية والثانوية</strong>
      <ul>
        <li><strong>الخيار (أ): أرسل الألوان الخاصة بك</strong>
          <ul>
            <li>التنسيق: يجب أن تكون الألوان الأساسية والثانوية بتنسيق HEX أو RGB.</li>
            <li>مثال:
              <ul>
                <li>(HEX) اللون الأساسي: #f05d5c، اللون الثانوي: #514d4a</li>
                <li>(RGB) اللون الأساسي: 240,93,92، اللون الثانوي: 81,77,74</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><strong>الخيار (ب): اسمح لـ CoachCare باختيار ألوان عيادتك</strong></li>
      </ul>
    </li>
  </ol>
</div>
