<div class="ccr-heading">
  <div class="ccr-title" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutWrap.xs fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start start">
      <h2 fxFlex>
        {{ 'GLOBAL.PATIENTS' | translate }}

        <ccr-help-link [link]="zendeskLink"></ccr-help-link>
      </h2>
      <h2>
        <small class="count" *ngIf="totalCount"><strong>{{ totalCount }}</strong> {{ 'GLOBAL.PATIENTS' | translate }}</small>
      </h2>
    </div>

    <a *ngIf="isPatientCreationEnabled"
    mat-button color="primary" class="ccr-icon-button"
    fxFlex="nogrow" (click)="createDialog()"
    data-cy="new-patient-button">
      <mat-icon>add</mat-icon>
      <span>{{ 'BOARD.PATIENT_NEW' | translate }}</span>
    </a>
  </div>

  <div class="ccr-htools" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" fxLayoutAlign.xs="space-between center">
    <ccr-package-filter (change)="onPackageFilter($event);" fxFlex></ccr-package-filter>

    <button mat-button fxFlex="nogrow" class="ccr-align-center"
    [disabled]="!source.isLoaded || source.isEmpty" (click)="downloadCSV()" fxHide.xs
    data-cy="download-csv-button">
      {{ 'REPORTS.EXPORT_CSV' | translate }}
      <mat-icon>file_download</mat-icon>
    </button>

    <ccr-page-size-selector
      defaultPageSize="10"
      [defaultPageSizeStorageKey]="defaultPageSizeStorageKey"
      [disabled]="!source.isLoaded"
    ></ccr-page-size-selector>

    <ccr-paginator fxFlex="nogrow" #paginator
      [length]="source.total"
      [pageIndex]="source.pageIndex"
      [pageSize]="source.pageSize"
      (page)="source.pageIndex = $event.pageIndex"
    ></ccr-paginator>
  </div>
</div>

<app-dieters-expandable-table [source]="source" (sorted)="onSorted()"></app-dieters-expandable-table>

<div class="mt-10" fxLayout.xs="column" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="start start">
  <a class="ccr-highlighted" [routerLink]="['/reports/statistics/activity/weight']">
    <small>{{ 'REPORTS.WEIGHT_CHANGE_REPORT' | translate }}</small>
  </a>
  <a class="ccr-highlighted" [routerLink]="['/reports/overview/enrollments']">
    <small>{{ 'REPORTS.ENROLLMENTS_TITLE' | translate }}</small>
  </a>
</div>