p {
  display: inline;
  font-size: 12px;
  left: -30px;
  margin: 0;
  position: relative;
  top: -5px;
}

svg {
  g {
    text {
      fill: var(--text) !important;
      stroke: var(--text) !important;
    }
  }

  &.completed {
    g {
      path {
        fill: var(--primary) !important;
      }

      polyline {
        stroke: var(--primary) !important;
      }
    }
  }
}
