<p [innerHTML]="'PAGE.REGISTER.STEP3.DEFAULT.ALL_DONE' | translate"></p>
<p [innerHTML]="'PAGE.REGISTER.STEP3.DEFAULT.EMAIL_CONFIRMATION' | translate"></p>
<p [innerHTML]="'PAGE.REGISTER.STEP3.DEFAULT.CUSTOM_COACHCARE' | translate: orgName"></p>
<p [innerHTML]="'PAGE.REGISTER.STEP3.DEFAULT.NEAR_COMPLETION' | translate"></p>

<div fxLayoutAlign="center">
  <button class="nextStep" mat-button type="button" (click)="refresh()">
    {{ 'PAGE.REGISTER.STEP3.DEFAULT.REGISTER_NEW_CLINIC' | translate }}
  </button>
</div>