<div class="ccr-title" fxLayout="row" fxLayoutAlign=" end">
  <h2 fxFlex>
    {{ 'BOARD.APPOINTMENT_NEW' | translate }}
  </h2>
</div>
<div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="appointment-body" fxLayout="column" fxFlex fxLayout.gt-sm="row" fxLayoutAlign=" stretch" fxLayoutGap="20px">
  <div fxFlex="25%">
    <form [formGroup]="form" novalidate >
      <div class="static-field">
        <label>{{ 'RIGHT_PANEL.MEETING_TYPE' | translate }}</label>
        <p>{{ 'BOARD.WELLCORE_CONSULTATION' | translate }}</p>
      </div>
      <div class="static-field">
        <label>{{ 'BOARD.DURATION' | translate }}</label>
        <p>10 {{ 'GLOBAL.MINUTES' | translate }}</p>
      </div>
      <div class="static-field">
        <label>{{ 'BOARD.PREFERRED_PROVIDER' | translate }}</label>
        <p>{{ 'BOARD.WELLCORE_PROVIDER' | translate }}</p>
      </div>
    </form>
  </div>
  <div fxFlex="40%">
    <mat-calendar
      [minDate]="now"
      [selected]="selectedDate"
      (selectedChange)="onSelectDate($event)"
      [showActionControls]="false"
    ></mat-calendar>
  </div>
  <div *ngIf="coaches.length; else noCoachesError" fxFlex="35%" class="time-slots-wrap">
    <div *ngIf="timeSlots.length; else noTimeSlotsError" class="time-slots">
      <div
        *ngFor="let slot of timeSlots"
        (click)="onSelectSlot(slot)"
        [class]="selectedSlot && slot.slotStartTime.local === selectedSlot.slotStartTime.local ? 'time-slot active' : 'time-slot'">
        <p>{{ slot.slotStartTime.local | amDateFormat:'hh:mm a' }}</p>
      </div>
    </div>
  </div>
</div>
<div class="appointment-actions" fxLayout="column" fxLayoutAlign="center end">
  <div>
    <p *ngIf="selectedSlot">{{ selectedSlot.slotStartTime.local | amDateFormat:'LLLL' }}</p>
    <button [disabled]="form.invalid" (click)="onSubmit()" class="ccr-button" color="primary" mat-button>
      <span>{{ 'BOARD.APPOINTMENT_BOOK' | translate }}</span>
    </button>
  </div>
</div>

<ng-template #noCoachesError>
  <mat-error class="ccr-text-center">{{ 'NOTIFY.ERROR.NO_COACHES_FOR_STATE' | translate }}</mat-error>
</ng-template>

<ng-template #noTimeSlotsError>
  <mat-error class="ccr-text-center">{{ 'NOTIFY.ERROR.NO_AVAILABLE_COACHES_FOR_DAY' | translate }}</mat-error>
</ng-template>