<section fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
  <div class="ccr-title" fxLayout="row" fxLayoutAlign=" end">
    <button mat-icon-button routerLink="/schedule/mosaic">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h4 class="title" fxFlex>
      {{ 'BOARD.APPOINTMENT_NEW' | translate }}
    </h4>
  </div>

  <div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="new-appointment-body" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start stretch" fxLayoutGap="35px">
    <div fxFlex.gt-sm="50%" fxFlex="100%">
      <mat-calendar
        class="new-appointment-calendar"
        [dateFilter]="calendarDateFilter"
        [minDate]="now"
        [maxDate]="maxDate"
        [selected]="selectedDate"
        [showActionControls]="false"
        [showCalendarControls]="false"
        (monthSelected)="onMonthChange($event)"
        (selectedChange)="onSelectDate($event)"
      ></mat-calendar>
    </div>
    <div fxFlex.gt-sm="50%" class="time-slots-body">
      <div *ngIf="coaches.length; else noCoachesError">
        <div *ngIf="timeSlots.length; else noTimeSlotsError" class="timeslots-container">
          <div class="time-slots-wrap" *ngIf="morningSlots.length">
            <div class="time-slots-header">{{ 'BOARD.MORNING' | translate }}</div>
            <div class="time-slots">
              <div
                *ngFor="let slot of morningSlots"
                (click)="onSelectSlot(slot)"
                [class]="selectedSlot && slot.slotStartTime.local === selectedSlot.slotStartTime.local ? 'time-slot active' : 'time-slot'">
                <p>{{ slot.slotStartTime.local | amDateFormat:'hh:mm A' }}</p>
              </div>
            </div>
          </div>
          <div class="time-slots-wrap" *ngIf="afternoonSlots.length">
            <div class="time-slots-header">{{ 'BOARD.AFTERNOON' | translate }}</div>
            <div class="time-slots">
              <div
                *ngFor="let slot of afternoonSlots"
                (click)="onSelectSlot(slot)"
                [class]="selectedSlot && slot.slotStartTime.local === selectedSlot.slotStartTime.local ? 'time-slot active' : 'time-slot'">
                <p>{{ slot.slotStartTime.local | amDateFormat:'hh:mm A' }}</p>
              </div>
            </div>
          </div>
          <div class="time-slots-wrap" *ngIf="eveningSlots.length">
            <div class="time-slots-header">{{ 'BOARD.EVENING' | translate }}</div>
            <div class="time-slots">
              <div
                *ngFor="let slot of eveningSlots"
                (click)="onSelectSlot(slot)"
                [class]="selectedSlot && slot.slotStartTime.local === selectedSlot.slotStartTime.local ? 'time-slot active' : 'time-slot'">
                <p>{{ slot.slotStartTime.local | amDateFormat:'hh:mm A' }}</p>
              </div>
            </div>
          </div>
          <div class="time-slots-wrap" *ngIf="nightSlots.length">
            <div class="time-slots-header">{{ 'BOARD.NIGHT' | translate }}</div>
            <div class="time-slots">
              <div
                *ngFor="let slot of nightSlots"
                (click)="onSelectSlot(slot)"
                [class]="selectedSlot && slot.slotStartTime.local === selectedSlot.slotStartTime.local ? 'time-slot active' : 'time-slot'">
                <p>{{ slot.slotStartTime.local | amDateFormat:'hh:mm A' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="appointment-actions" fxLayout="row" fxLayoutAlign="end center">
    <div fxFlex.gt-sm="50%" fxFlex="100%" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="19px">
      <ccr-meeting-container *ngIf="selectedSlotAsMeeting" [meeting]="selectedSlotAsMeeting"></ccr-meeting-container>
      <button [disabled]="form.invalid" (click)="onSubmit()" class="ccr-button" color="primary" mat-button>
        <span>{{ 'BOARD.CONFIRM' | translate }}</span>
      </button>
    </div>
  </div>
</section>

<ng-template #noCoachesError>
  <mat-error class="ccr-text-center">{{ 'NOTIFY.ERROR.NO_COACHES_FOR_STATE' | translate }}</mat-error>
</ng-template>

<ng-template #noTimeSlotsError>
  <mat-error class="ccr-text-center">{{ 'NOTIFY.ERROR.NO_AVAILABLE_COACHES_FOR_DAY' | translate }}</mat-error>
</ng-template>