.ccr-table {
  mat-table {
    .cdk-column-email {
      flex: 2 !important;
    }
    .cdk-column-actions {
      min-width: 60px;
      max-width: 60px;
    }
    &.notClickable {
      mat-row {
        mat-cell {
          &:hover {
            cursor: auto !important;
          }
        }
      }
    }
    button.disabled {
      opacity: 0.5;
      mat-icon {
        cursor: auto !important;
      }
    }
  }
}
