<div
[formGroup]="form"
fxLayout="row"
fxLayout.xs="column"
fxLayoutAlign="space-evenly start"
fxLayoutAlign.xs="start stretch"
fxLayoutGap="40px">
  <div formArrayName="radioQuestions" fxFlex="50%" fxLayout="column" fxLayoutGap="15px">
    <div *ngFor="let question of radioQuestions; let i = index" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
      <h6 class="input-label" fxFlex="20%">{{ question.title }}</h6>

      <mat-radio-group [formControlName]="i" fxLayout="row" fxLayoutGap="15px">
        <mat-radio-button *ngFor="let option of question.options; let i = index" [value]="option">{{ option }}</mat-radio-button>
      </mat-radio-group>

      <mat-error *ngIf="form.controls['radioQuestions'].controls[i].touched && form.controls['radioQuestions'].controls[i].hasError('required')">
        <small>This field is required</small>
      </mat-error>
    </div>
  </div>

  <div formArrayName="checkboxQuestions" fxFlex fxLayout="column" fxLayoutGap="15px">
    <div *ngFor="let question of checkboxQuestions; let i = index" [formArrayName]="i">
      <h6 class="input-label">{{ question.title }}</h6>

      <div fxLayout="column" fxLayoutGap="5px">
        <mat-checkbox *ngFor="let option of question.options; let j = index" [formControlName]="j">{{ option }}</mat-checkbox>
      </div>

      <mat-error *ngIf="form.controls['checkboxQuestions'].controls[i].touched && form.controls['checkboxQuestions'].controls[i].hasError('required')">
        <small>This field is required</small>
      </mat-error>
    </div>
  </div>
</div>