<mat-card>
  <mat-card-header>
    <h2 mat-card-title>{{ 'GLOBAL.FORGOT_PASSWORD' | translate }}</h2>
  </mat-card-header>

  <mat-card-content fxLayout="column" fxLayoutGap="12px">
    <form [formGroup]="form" (keydown.enter)="onSubmit()" #resetForm="ngForm" fxLayout="column" fxLayoutGap="10px">
      <ccr-form-field-email
      focus required
      formControlName="email"
      [placeholder]="'GLOBAL.EMAIL_ADDRESS' | translate">
        <mat-error>{{ 'NOTIFY.ERROR.INVALID_EMAIL' | translate }}</mat-error>
      </ccr-form-field-email>

      <button mat-flat-button color="primary" type="submit" class="ccr-button"
      [disabled]="isProcessing" (click)="onSubmit()">
        {{ 'GLOBAL.REQUEST_RESET' | translate }}
      </button>
    </form>

    <a mat-button color="primary" routerLink="/" class="ccr-button">
      {{ 'GLOBAL.SIGN_IN' | translate }}
    </a>
  </mat-card-content>
</mat-card>
