<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
  <section
    *ngIf="!eligibleToSelfSchedule"
    class="ccr-full-width warning"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="stretch center"
    fxLayoutAlign.lt-sm="start start"
    fxLayoutGap="15px">
    <h4 class="subtitle" fxFlex>
      {{ 'GLOBAL.ATTENTION' | translate }}<br>
      <span class="subtext">{{ 'BOARD.FINISH_ONBOARDING_TO_SCHEDULE' | translate }}</span>
    </h4>
    <button
      color="accent"
      mat-flat-button
      routerLink="/dashboard">
      {{ 'GLOBAL.ONBOARDING' | translate }}
    </button>
  </section>

  <section
    class="ccr-full-width"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="stretch center"
    fxLayoutAlign.lt-sm="start start"
    fxLayoutGap="15px">
    <h4 class="title" fxFlex>{{ 'BOARD.APPOINTMENT_NEW' | translate }}</h4>
    <button
      [disabled]="!eligibleToSelfSchedule"
      color="accent"
      mat-flat-button
      routerLink="/new-appointment">
      {{ 'BOARD.TO_SCHEDULE' | translate }}
    </button>
  </section>

  <div
  class="ccr-full-width"
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-between top"
  fxLayoutAlign.lt-sm="start stretch"
  fxLayoutGap="25px"
  fxLayoutGap.lt-sm="15px">
    <section fxFlex>
      <header fxLayout="row" fxLayoutAlign="stretch center" fxLayoutGap="10px">
        <h4 class="title" fxFlex>{{ 'MEETINGS.UPCOMING' | translate }}</h4>
      </header>

      <div
        *ngIf="nextMeetings.length; else noNextMeetings"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="20px">
        <ccr-meeting-container
          *ngFor="let meeting of nextMeetings"
          [cancellable]="true"
          [disabled]="isLoading"
          [meeting]="meeting"
          (onCancel)="showCancelMeetingDialog(meeting)"
          class="ccr-full-width">
        </ccr-meeting-container>
      </div>
    </section>

    <section fxFlex>
      <header fxLayout="row" fxLayoutAlign="stretch center">
        <h4 class="title" fxFlex>{{ 'MEETINGS.PAST' | translate }}</h4>
      </header>

      <div
        *ngIf="pastMeetings.length; else noPastMeetings"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="20px">
        <ccr-meeting-container
          *ngFor="let meeting of pastMeetings"
          [disabled]="isLoading"
          [meeting]="meeting">
        </ccr-meeting-container>
      </div>
    </section>
  </div>
</div>

<ng-template #noNextMeetings>
  <p class="empty-list-notice">{{ 'BOARD.NO_UPCOMING_APPOINTMENTS' | translate }}</p>
</ng-template>
<ng-template #noPastMeetings>
  <p class="empty-list-notice">{{ 'BOARD.NO_PAST_APPOINTMENTS' | translate }}</p>
</ng-template>