<div>
  <h3 #top>Come Configurare il tuo Account</h3>
  <p>Un Account Sviluppatore Apple è necessario al fine di ospitare l’app iOS (iPhone e iPad) nell’Apple App Store. Questo documento guida attraverso l’iscrizione al Programma Sviluppatori Apple.</p>
  <p>Dopo aver creato un Account Sviluppatore Apple (o se ne hai già uno), ti preghiamo di invitare CoachCare a collaborare al tuo account. CoachCare ti aiuterà a gestire la tua app, e a tenerla aggiornata e funzionante a dovere.</p>
  <p><em>L’intero processo di registrazione dell’ Account Sviluppatore Apple richiederà da pochi giorni ad alcune settimane. Per contribuire ad accelerare il processo, ti preghiamo di accertarti di presentare tutti i materiali corretti e rispondere prontamente alle eventuali comunicazioni da parte di Apple.</em></p>
  <h3>Prima di Iniziare</h3>
  <p>Se hai già un Account Sviluppatore Apple per la tua società, puoi passare alla sezione <a href="/register/apple#invite">Invita CoachCare al tuo Account Sviluppatore Apple</a> .</p>
  <p>Per creare un account per la tua azienda, è necessario quanto segue:</p>
  <ol>
    <li>Un computer o un dispositivo in grado di utilizzare l’autenticazione a due fattori di Apple. Questo può essere sia un <a href="https://support.apple.com/en-us/HT205075" rel="noopener noreferrer" target="_blank">dispositivo iOS (iPhone, iPad, o iPod Touch), desktop o computer laptop Apple, o desktop o computer laptop Windows</a>. Se avessi domande riguardo questo requisite, ti preghiamo di contattare il nostro <a href="mailto:implementation@coachcare.com">Team di Implementazione</a>.
    </li>
    <li>Organizzazione Legale o Ragione Sociale</li>
    <li>Un sito web accessibile al pubblico con un nome di dominio associato alla tua società</li>
    <li>Un numero di telefono che Apple chiamerà per verificare le informazioni sulla tua società</li>
    <li>Un indirizzo e-mail, associato alla società, che verrà utilizzato per registrare l'account</li>
  </ol>
  <h3>Processo di Iscrizione come Sviluppatore Apple</h3>
  <ol>
    <li>Crea un Apple ID per la tua Società
      <p>È necessario innanzitutto creare un Apple ID per la tua società, che sarà quindi utilizzabile per creare un Account Sviluppatore Apple. Non è possibile utilizzare il proprio Apple ID personale. Inoltre, l'indirizzo di posta elettronica utilizzato per l’Apple ID deve utilizzare il nome di dominio del sito web della tua società. Non utilizzare un account e-mail di consumo (@ gmail.com, @ yahoo.com, @ hotmail.com, ecc.). Se non si dispone già di un Apple ID per la tua società, <a href="https://appleid.apple.com/account" rel="noopener noreferrer" target="_blank">crea un Apple ID</a>.</p>
    </li>
    <li>Configura l’Autentificazione a Due Fattori per il tuo Apple ID
      <p>A partire dal 29 giugno 2018, Apple richiede che l’account Apple ID abbia l’autentificazione a due fattori per migliorare la sicurezza dell'account. Ti preghiamo di <a href="https://support.apple.com/en-us/HT204915" rel="noopener noreferrer" target="_blank">abilitare l’autentificazione a due fattori</a> per il tuo account Apple ID. Ti preghiamo di notare che questo passaggio richiede di avere <a href="https://support.apple.com/en-us/HT205075" rel="noopener noreferrer" target="_blank">un dispositivo Apple o PC Windows con iCloud per Windows e iTunes installato</a>. Ricorda che il dispositivo o il computer utilizzato per l'autenticazione a due fattori devono aver effettuato l’accesso utilizzando l’Apple ID societario. Sono disponibili due opzioni:</p>
      <ol>
        <li><small><strong>Approccio Raccomandato</strong></small> Acquista e/o mantieni un Dispositivo Apple separato (iPhone, iPad, Computer, Laptop) o computer o laptop Windows sempre connesso con questo di Apple ID. Questo dispositivo o computer sarebbe associato e utilizzato solo a scopi commerciali, e il tuo dispositivo personale o telefono non sarà utilizzato.</li>
        <li>Utilizza un dispositivo personale o telefono, e accedi utilizzando il tuo Apple ID societario, quando necessario. Per esempio:
          <ul>
            <li>Il tuo iPhone personale è normalmente connesso al tuo account personale Apple ID.</li>
            <li>All’occorrenza per motivi di lavoro, esci dal tuo account personale Apple ID sul tuo telefono o computer, e accedi con il tuo Apple ID societario</li>
            <li>Una volta completata l’autentificazione (che dovrebbe richiedere solo pochi minuti) esci dall’Apple ID societario e torna al tuo Apple ID personale.</li>
          </ul>In genere, le cliniche dovranno accedere al proprio account Apple ID societario una volta ogni 2-3 mesi, quindi la pratica è gestibile.
        </li>
      </ol>
    </li>
    <li>Registra o Localizza il Numero D-U-N-S
      <p>L'organizzazione deve avere un numero di D-U-N-S in modo che Apple possa verificare l’identità e lo status giuridico dell’organizzazione. Questi numeri unici a nove cifre vengono assegnati da Dun &amp; Bradstreet e sono ampiamente utilizzati come identificatori aziendali standard.</p>
      <ul>
        <li>
          <a href="https://developer.apple.com/enroll/duns-lookup/#/search" rel="noopener noreferrer" target="_blank">Registrare o individuare il numero D-U-N-S</a><br>
          <em><strong>È necessario un Apple ID prima di registrarsi per un numero D-U-N-S</strong>.<br>
          Ti preghiamo di completare il passaggio precedente (Crea un Apple ID) prima di procedere con questo punto.</em>
        </li>
        <li>
          <a href="https://developer.apple.com/support/d-u-n-s/" rel="noopener noreferrer" target="_blank">Maggiori informazioni sul numero D-U-N-S</a>
        </li>
      </ul>
    </li>
    <li>Registrati per ottenere un Account Sviluppatore Apple
      <p>Poi, <a href="https://developer.apple.com/programs/enroll/" rel="noopener noreferrer" target="_blank">compila il modulo di registrazione</a> per iscriverti al programma Account Sviluppatore Apple.</p>
      <p>All'inizio del processo di registrazione puoi registrarti come <strong>Società/Organizzazione</strong>. In caso di domande sul tuo tipo di entità o intendessi registrarti come un tipo diverso, ti preghiamo di contattare il nostro <a href="mailto:implementation@coachcare.com">Team di Implementazione</a> prima di continuare.</p>
      <p>Dopo aver completato questo processo, un rappresentante Apple ti contatterà all'indirizzo e-mail e al numero di telefono forniti entro 24-72 ore. Verificheranno le informazioni riguardo società.</p>
    </li>
    <li>Inserisci le informazioni di Pagamento
      <p>Dopo la verifica dell'account da parte di Apple, riceverai un’e-mail di conferma.Saranno incluse le istruzioni di pagamento per la membership al Programma Sviluppatori Apple.</p>
    </li>
  </ol>
  <h3 id="invite">Invita CoachCare al tuo Account Sviluppatore Apple</h3>
  <p>Quando il tuo Account Sviluppatore Apple sarà in piena attività, dovrai invitare CoachCare come <em>Amministratore</em> al tuo account App Store Connect. Per cominciare:</p>
  <ol>
    <li>Vai alla <a href="https://itunesconnect.apple.com/access/users" rel="noopener noreferrer" target="_blank">sezione Utente e Accesso</a> del tuo account App Store Connect.
    </li>
    <li>Clicca sulla scheda <strong>Persone</strong> in cima alla pagina.</li>
    <li>Clicca sul pulsante "+" per aggiungere un nuovo utente (CoachCare).</li>
    <li>Usa "CoachCare" in entrambi i campi <strong>Nome</strong> e <strong>Cognome</strong>.</li>
    <li>Come "E-mail", usa <strong>mobile@coachcare.com</strong>.</li>
    <li>In <strong>Ruoli</strong> spunta la casella <strong>Admin</strong>.</li>
    <li>Poi clicca sul pulsante <strong>Invita</strong> in basso.</li>
  </ol>
  <p>Il procedimento dovrebbe essere completo. Qualsiasi assistenza o ulteriore domanda può essere diretta alla <a href="https://coachcare.zendesk.com/hc/en-us/requests/new" rel="noopener noreferrer" target="_blank">pagina di Assistenza CoachCare</a> o al tuo responsabile vendite locale.</p>
</div>
