<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
  <app-quick-date-range [min]="min" [timeframe]="quickTimeframe" (select)="onQuickSelect($event)" fxFlex="25%" fxFill></app-quick-date-range>

  <div class="container" fxFlex="75%">
    <mat-grid-list cols="6" rowHeight="30px">
      <mat-grid-tile [colspan]="1" (click)="changeDate(false)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <input
              [matDatepicker]="pickerStart"
              [min]="_min"
              [max]="_end"
              (dateChange)="pickStart($event.value)"/>
            <mat-datepicker
              #pickerStart
              [showCalendarControls]="startView === 'month'"
              [startAt]="_start"
              [startView]="startView === 'week' ? 'month' : startView"
              (monthSelected)="onSelectMonth('start', $event)"
              (yearSelected)="onSelectYear('start', $event)"></mat-datepicker>
            <mat-datepicker-toggle
              *ngIf="!fixedPeriod?.startDate"
              [for]="pickerStart"></mat-datepicker-toggle>
            <span (click)="pickerStart.open()">
              {{ _start.format(_dateFormat) }}
            </span>
          </div>
          <div class="text-separator">
            {{ 'GLOBAL.TO' | translate }}
          </div>
          <div>
            <input
              [matDatepicker]="pickerEnd"
              [min]="_start"
              [max]="_limit"
              (dateChange)="pickEnd($event.value)"/>
            <span (click)="pickerEnd.open()">
              {{ _end.format(_dateFormat) }}
            </span>
            <mat-datepicker-toggle
              *ngIf="!fixedPeriod?.endDate"
              [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker
              #pickerEnd
              [showCalendarControls]="startView === 'month'"
              [startAt]="_end"
              [startView]="startView === 'week' ? 'month' : startView"
              (monthSelected)="onSelectMonth('end', $event)"
              (yearSelected)="onSelectYear('end', $event)"></mat-datepicker>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="1"
        (click)="changeDate(true)"
        [class.disabled]="_maxReached">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
