.custom-page-header-caption {
  background: #504c4a;
  margin-bottom: 15px;
  opacity: 0.75;
  padding: 0 20px;

  h2 {
    bottom: unset !important;
    display: block !important;
    left: unset !important;
    position: relative !important;
    right: unset !important;
    text-align: center;
  }
}
