@import 'variables';

$circle-limit: 125px;

.average-explainer {
  color: #807d7c;
  display: block;
  font-size: 11px;
  margin-top: 12px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.food-circle-list {
  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }

  .gray-box {
    justify-content: center;
    height: 129px;
    background-color: mat-color($ccr-background, app-bar);
  }

  .subtext {
    font-size: 12px;
    margin: 0 auto 0.5em auto;
    text-align: center;
    text-transform: uppercase;
    width: 90%;

    &-value {
      color: var(--primary);
      font-weight: bold;
      text-align: right;
      text-transform: lowercase;
      width: 20px;
    }
  }
}

progress-circle {
  margin: 0 auto;
  max-width: $circle-limit;
  width: $circle-limit;
  min-width: $circle-limit;
  &.calories {
    width: 65%;
  }
}
