<div class="ccr-container">
  <div class="food-circle-list">
    <div class="food-circle" cy-data="food-circle">
      <progress-circle class="calories"
        [headertext]="'GRAPH.DAILY_AVG_CALORIES' | translate"
        [value]="data.calories.avg"
        [maximumvalue]="data.calories.goal">
      </progress-circle>
    </div>
    <div class="food-circle" cy-data="food-circle">
      <progress-circle class="protein"
        [headertext]="'GRAPH.DAILY_AVG_PROTEIN' | translate"
        [value]="data.protein.avg / 1000"
        [decimalPlaces]="1"
        [maximumvalue]="data.protein.goal"
        [measurementUnit]="'g'">
      </progress-circle>
    </div>
    <div class="food-circle" cy-data="food-circle">
      <progress-circle class="carb"
        [headertext]="'GRAPH.DAILY_AVG_CARB' | translate"
        [value]="data.carbohydrate.avg / 1000"
        [decimalPlaces]="1"
        [maximumvalue]="data.carbohydrate.goal"
        [measurementUnit]="'g'">
      </progress-circle>
      <p class="subtext">{{ 'GRAPH.DAILY_AVG_NET_CARBS' | translate }} <span class="subtext-value">{{ data.netCarbs.avg / 1000 | number:'1.0-1' }}{{ 'UNIT.G' | translate }}</span></p>
      <p class="subtext">{{ 'GRAPH.DAILY_AVG_FIBER' | translate }} <span class="subtext-value">{{ data.fiber.avg / 1000 | number:'1.0-1' }}{{ 'UNIT.G' | translate }}</span></p>
      <p class="subtext">{{ 'GRAPH.DAILY_AVG_SUGAR' | translate }} <span class="subtext-value">{{ data.sugar.avg / 1000 | number:'1.0-1' }}{{ 'UNIT.G' | translate }}</span></p>
    </div>
    <div class="food-circle" cy-data="food-circle">
      <progress-circle class="fat"
        [headertext]="'GRAPH.DAILY_AVG_FAT' | translate"
        [value]="data.totalFat.avg / 1000"
        [decimalPlaces]="1"
        [maximumvalue]="data.totalFat.goal"
        [measurementUnit]="'g'">
      </progress-circle>
      <p class="subtext">{{ 'GRAPH.DAILY_AVG_S_FAT' | translate }} <span class="subtext-value">{{ data.saturatedFat.avg / 1000 | number:'1.0-1' }}{{ 'UNIT.G' | translate }}</span></p>
    </div>
    <div class="food-circle gray-box" cy-data="food-circle">
      <p class="subtext">{{ 'GRAPH.DAILY_AVG_SODIUM' | translate }} <span class="subtext-value">{{ data.sodium.avg | number:'1.0-1' }}{{ 'UNIT.MGR' | translate }}</span></p>
      <p class="subtext">{{ 'GRAPH.DAILY_AVG_CHOLESTEROL' | translate }} <span class="subtext-value">{{ data.cholesterol.avg | number:'1.0-1' }}{{ 'UNIT.MGR' | translate }}</span></p>
    </div>
  </div>
  <small class="average-explainer">{{ 'GRAPH.DAILY_AVG_NOTICE' | translate }}</small>
</div>

<app-dieter-journal-food-table
  [source]="source"
></app-dieter-journal-food-table>
