
<p class="ccr-hint initial">
  {{ 'GLOBAL.ABOUT' | translate }} {{ 'GLOBAL.PATIENT' | translate }} {{ 'GLOBAL.MEASUREMENTS' | translate }}

  <ccr-help-link [link]="zendeskLink"></ccr-help-link>
</p>

<div class="ccr-container-mini" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center stretch" fxLayoutWrap.xs>
  <div fxFlex="79%">
    <app-dieter-measurements-tabs [section]="section" (onSelect)="onSelectTab($event)"></app-dieter-measurements-tabs>
  </div>

  <div fxFlex="20%" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px" fxLayoutAlign.xs="center stretch" fxLayoutWrap.xs>
    <a *ngIf="useNewEndpoint && allowListView && view !== 'list'" mat-button class="ccr-icon-button" fxFlex="0 0 150px" fxFlex.xs="grow" (click)="toggleView('list')">
      <mat-icon>view_headline</mat-icon>
      <span>{{ 'BOARD.VIEW_AS_LIST' | translate }}</span>
    </a>

    <a *ngIf="(!useNewEndpoint || !allowListView) && view !== 'table'" mat-button class="ccr-icon-button" fxFlex="0 0 150px" fxFlex.xs="grow" (click)="toggleView('table')">
        <mat-icon>view_headline</mat-icon>
        <span>{{ 'BOARD.VIEW_AS_TABLE' | translate }}</span>
    </a>

    <a *ngIf="view !== 'chart'" mat-button class="ccr-icon-button" fxFlex="0 0 150px" fxFlex.xs="grow" (click)="toggleView('chart')">
      <mat-icon>show_chart</mat-icon>
      <span>{{ 'BOARD.VIEW_AS_CHART' | translate }}</span>
    </a>
  </div>
</div>

<div
[hidden]="view === 'list'"
fxLayout="column"
fxLayoutAlign="center space-around"
fxLayoutGap="25px">
  <date-navigator [max]="section !== 'food'" [timeframe]="timeframe" [date]="dates.current" (selectedDate)="updateDates($event)"></date-navigator>
</div>

<div [hidden]="view !== 'list'" fxLayout="column" fxLayoutAlign="center end">
  <ccr-paginator fxFlex="nogrow" #paginator
    [inverse]="true"
    [length]="source.total"
    [pageIndex]="source.pageIndex"
    [pageSize]="source.pageSize"
    (page)="source.pageIndex = $event.pageIndex"
  ></ccr-paginator>
</div>

<div class="ccr-dashboard-pane" [ngSwitch]="view">
  <ng-container *ngSwitchCase="'chart'">

    <app-dieter-measurements-chart
      *ngIf="!useNewTable"
      [embedded]="true"
      [source]="source"
      [metrics]="chartColumns"
      [timeframe]="timeframe"
      [views]="['day', 'week', 'month', 'year', 'alltime']"
      (change)="chartChanged($event)"
    ></app-dieter-measurements-chart>

    <ccr-measurements-chart-v2
      *ngIf="useNewTable"
      [dates]="dates"
      [embedded]="true"
      [label]="selectedLabel"
      [timeframe]="timeframe"
      (onChange)="chartV2Changed($event)"
    ></ccr-measurements-chart-v2>

  </ng-container>

  <ng-container *ngSwitchCase="'list'">
    <app-dieter-measurements-table
    *ngIf="!useNewTable"
      [source]="source"
      [columns]="columns"
      [sections]="sections"
      [section]="section"
    ></app-dieter-measurements-table>

    <app-dieter-measurements-table-v2 *ngIf="useNewTable && selectedLabel" [dates]="dates" [label]="selectedLabel">
    </app-dieter-measurements-table-v2>
  </ng-container>

  <ng-container *ngSwitchCase="'table'">
    <app-dieter-measurements-table
      *ngIf="!useNewTable"
      [source]="source"
      [columns]="columns"
      [sections]="sections"
      [section]="section"
    ></app-dieter-measurements-table>

    <app-dieter-measurements-table-v2 *ngIf="useNewTable && selectedLabel" [dates]="dates" [label]="selectedLabel">
    </app-dieter-measurements-table-v2>
  </ng-container>
</div>
