.help-enabled.help-accessall .help-accessall,
.help-enabled.help-admin .help-admin {
  li {
    margin-bottom: 10px;
  }

  p.no-margin {
    margin: 0;
  }

  display: block;
}

.ccr-htools {
  .mat-form-field-wrapper {
    margin-bottom: -1.25em + 0.75;
  }
}
