<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="pagination-controls" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <div fxFlex="nogrow">
            <button [disabled]="!sequence" (click)="onAddRecipients()" class="ccr-icon-button" color="primary" mat-button data-cy="sequence-enroll">
                <mat-icon>add_circle_outline</mat-icon>
                {{ 'SEQUENCING.ADD_RECIPIENTS' | translate }}
            </button>
        </div>

        <div fxFlex>
            <button [disabled]="!sequence || source.total === 0" (click)="onBulkRemoveRecipients()" class="ccr-icon-button" color="primary" mat-button data-cy="sequence-unenroll">
                <mat-icon>delete</mat-icon>
                {{ 'SEQUENCING.BULK_REMOVE_RECIPIENTS' | translate }}
            </button>
        </div>

        <ccr-paginator fxFlex="nogrow" #paginator [source]="source"></ccr-paginator>
    </div>

    <div>
        <ccr-datasource-overlay
        [emptyMsg]="'SEQUENCING.ENROLLEES_EMPTY_LIST' | translate"
        [source]="source"
        class="ccr-table">
            <mat-table [dataSource]="source">
                <ng-container cdkColumnDef="name">
                <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.NAME' | translate }}</mat-header-cell>
                <mat-cell
                *cdkCellDef="let row"
                (click)="onGoToPatientProfile(row)"
                class="link-name"
                fxLayoutAlign="start center"
                fxLayoutAlign.xs=" center"
                fxFlex.xs="grow">
                    {{ row.account.firstName }} {{ row.account.lastName }}
                </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="createdAt">
                <mat-header-cell *cdkHeaderCellDef>{{ 'SEQUENCING.CREATED_AT' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxLayoutAlign="start center" fxLayoutAlign.xs=" center" fxFlex.xs="grow">
                    {{ row.createdAt | amDateFormat:'ddd, MMM D YYYY' }}
                </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="isActive">
                <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.STATUS' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxLayoutAlign="start center" fxLayoutAlign.xs=" center" fxFlex.xs="grow">
                    {{ row.isActive ? ('GLOBAL.ACTIVE' | translate) : ('GLOBAL.INACTIVE' | translate) }}
                </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="actions">
                <mat-header-cell *cdkHeaderCellDef>{{ 'BOARD.ACTIONS' | translate }}</mat-header-cell>
                <mat-cell *cdkCellDef="let row" fxFlex.xs="grow">
                    <mat-icon (click)="onViewEnrollmentTriggers(row)">search</mat-icon>
                    <mat-icon (click)="onDeleteEnrollment(row)">delete</mat-icon>
                </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="columns"></mat-header-row>
                <mat-row fxLayoutWrap
                    *cdkRowDef="let row; columns: columns; let even = even; let odd = odd"
                    [ngClass]="{ 'row-even': even, 'row-odd': odd }"
                    class="clickable"
                ></mat-row>
            </mat-table>
        </ccr-datasource-overlay>
    </div>
</div>