<p>{{ 'PAGE.REGISTER.STEP2.PAYMENT_INFO' | translate }}</p>

<form role="form" id="payment-form" class="stripe-form" (keydown.enter)="onSubmit()">
  <div class="section-header">{{ 'PAGE.REGISTER.STEP2.BILLING_INFORMATION' | translate }}</div>

  <div class="card-number" id="card-number" #cardNumber></div>

  <div fxLayoutAlign="space-between">
    <div fxFlex="1 1 48%" class="card-expiry" id="card-expiry" #cardExpiry></div>
    <div fxFlex="1 1 25%" class="card-cvc" id="card-cvc" #cardCvc></div>
  </div>

  <div class="error-message">{{ errorMessage }}</div>

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%">
    <mat-checkbox [(ngModel)]="acceptedCheckbox" [ngModelOptions]="{standalone: true}">
    </mat-checkbox>

    <label [innerHTML]="'PAGE.REGISTER.STEP2.CONFIRMATION_BOX_MESSAGE' | translate:{msaLink: linkMsa || 'LINK.MSA' | translate}"></label>
  </div>

  <div fxLayoutAlign="center" fxLayoutGap="1%">
    <button *ngIf="!required" class="nextStep" mat-button type="button" (click)="onSkip()">
      {{ 'PAGE.REGISTER.STEP2.SKIP' | translate }}
    </button>
    <button class="nextStep" mat-button type="button" [disabled]="isLoading || isProcessing || !acceptedCheckbox" (click)="onSubmit()">
      {{ 'GLOBAL.CONTINUE' | translate }}
    </button>
  </div>
</form>
