/* You can add global styles to this file, and also import other style files */
@import 'app/src/styles/styles';

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
  font-family: 'Montserrat';
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}
