<div class="ccr-heading">
    <div class="ccr-title" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutWrap.xs fxLayoutGap="10px">
      <h2>{{ 'GLOBAL.PATIENTS' | translate }}</h2>
    </div>

    <div class="ccr-htools" fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="space-between center">
      <button mat-button fxFlex="nogrow" class="ccr-align-center"
      [disabled]="!dietersSource.isLoaded || dietersSource.isEmpty" (click)="downloadCSV()" fxHide.xs
      data-cy="download-csv-button">
        {{ 'REPORTS.EXPORT_CSV' | translate }}
        <mat-icon>file_download</mat-icon>
      </button>

      <ccr-paginator fxFlex="nogrow" #paginator
        [length]="dietersSource.total"
        [pageIndex]="dietersSource.pageIndex"
        [pageSize]="dietersSource.pageSize"
        (page)="dietersSource.pageIndex = $event.pageIndex"
      ></ccr-paginator>
    </div>
  </div>

  <ccr-dieters-table
    [source]="dietersSource"
    [editable]="true"
    (onSorted)="onSorted($event)">
  </ccr-dieters-table>
