<div class="ccr-grid" fxLayout="column">
  <mat-grid-list [cols]="colSpan" rowHeight="70px">
    <mat-grid-tile>
      <ccr-logo #logo fxFlex="nogrow" size="form"
        [id]="orgId"
        [url]="logoUrl"
        fileName="logoFilename"
        [editable]="orgId"
        (change)="updateLogo('logoUrl', $event)">
        <mat-hint>{{ 'ADMIN.ORGS.SETTINGS.LOGO_HINT' | translate }}</mat-hint>
      </ccr-logo>
    </mat-grid-tile>
    <mat-grid-tile>
      <ccr-logo #logo fxFlex="nogrow" size="form"
        [id]="orgId"
        [url]="iconUrl"
        name="icon"
        fileName="iconFilename"
        [editable]="orgId"
        (change)="updateLogo('iconUrl', $event)">
        <mat-hint>{{ 'ADMIN.ORGS.SETTINGS.ICON_HINT' | translate }}</mat-hint>
      </ccr-logo>
    </mat-grid-tile>
    <mat-grid-tile>
      <ccr-logo #logo fxFlex="nogrow" size="form"
        [id]="orgId"
        [url]="splashUrl"
        name="splash"
        fileName="splashFilename"
        [editable]="orgId"
        (change)="updateLogo('splashUrl', $event)">
        <mat-hint>{{ 'ADMIN.ORGS.SETTINGS.SPLASH_HINT' | translate }}</mat-hint>
      </ccr-logo>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="ccr-grid" fxLayout="column">
  <mat-grid-list [cols]="3" [formGroup]="form" rowHeight="80px">
    <mat-grid-tile>
      <mat-form-field class="readonly">
        <input matInput
        formControlName="logoFilename"
        readonly>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="readonly">
        <input matInput
        formControlName="iconFilename"
        readonly>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="readonly">
        <input matInput
        formControlName="splashFilename"
        readonly>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>

