<div matDialogTitle>
    <div>
        <span fxLayout="row" fxLayoutAlign="start center">
            <span>{{ 'CARE_SERVICES.CARE_MANAGEMENT' | translate }}<ng-container *ngIf="status === 'new_entry'"> - {{ 'CARE_SERVICES.ACTIVATE_SERVICE' | translate:{service: newEntryType.serviceType.name} }}</ng-container></span>
            <mat-icon class="rpm-help-icon" (click)="showAboutPage()">help_outline</mat-icon>
        </span>
    </div>
    <button class="matdialogclose" matDialogClose><mat-icon>cancel</mat-icon></button>
</div>


<div class="mat-dialog-separator"></div>

<mat-dialog-content>
    <div [ngSwitch]="status">
    <div *ngSwitchCase="'initial'" [formGroup]="form">
        <h3 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <mat-icon color="primary">check_circle</mat-icon>
            <span>{{ 'CARE_SERVICES.ACTIVE_SESSIONS' | translate }}</span>
        </h3>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
            <app-dialog-care-mgmt-card
                *ngFor="let type of careServiceTypes"
                [canEnableCareEntry]="canEnableCareService"
                [careServiceType]="type"
                [careEntry]="getCareEntry(type.serviceType.id)"
                [hasConflict]="hasConflict(type.serviceType.id)"
                (addCareEntry)="onAddCareEntry($event)"
                (inspectCareEntry)="onInspectCareEntry($event)">
            </app-dialog-care-mgmt-card>
        </div>
        <h3 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <mat-icon color="text">schedule</mat-icon>
            <span>{{ 'CARE_SERVICES.PAST_SESSIONS' | translate }}</span>
        </h3>
        <div class="ccr-expandable-table v2">
            <table>
                <caption hidden>{{ 'CARE_SERVICES.PAST_SESSIONS' | translate }}</caption>
                <thead>
                    <th>{{ 'MEASUREMENT.PROGRAM' | translate }}</th>
                    <th>{{ 'BOARD.START_DATE' | translate }}</th>
                    <th>{{ 'BOARD.END_DATE' | translate }}</th>
                    <th>{{ 'CARE_SERVICES.DISABLED_BY' | translate }}</th>
                    <th class="ccr-text-center">{{ 'BOARD.DETAILS' | translate }}</th>
                </thead>

                <tbody>
                    <tr *ngFor="let entry of pastCareEntries">
                        <td>{{ entry.rpmState.serviceType.name }}</td>
                        <td>{{ entry.rpmState.startedAt | amDateFormat:'MM/DD/YYYY' }}</td>
                        <td>{{ entry.rpmState.createdAt | amDateFormat:'MM/DD/YYYY' }}</td>
                        <td>{{ entry.rpmState.createdBy.firstName }} {{ entry.rpmState.createdBy.lastName }}</td>
                        <td class="ccr-text-center">
                            <button
                            [disableRipple]="true"
                            (click)="onInspectCareEntry(entry)"
                            class="inspect-button"
                            mat-icon-button
                            color="text">
                            <mat-icon fontSet="material-icons-outlined">navigate_next</mat-icon>
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngSwitchCase="'view_session'" [formGroup]="form">
        <app-dialog-rpm-entry-card
        *ngIf="client"
        [accessibleOrganizations]="accessibleOrganizations"
        [canDisableRPM]="canDisableRPM"
        [client]="client"
        [entryIsActive]="entryIsActive"
        [entryPending]="entryPending"
        [inaccessibleOrganizations]="inaccessibleOrganizations"
        [rpmEntry]="rpmEntry">
        </app-dialog-rpm-entry-card>

        <br>

        <app-dialog-rpm-edit-form
            *ngIf="entryIsActive"
            [rpmEntry]="rpmEntry"
            formControlName="editEntry">
        </app-dialog-rpm-edit-form>
    </div>

    <div *ngSwitchCase="'edit_entry'" [formGroup]="form">
        <app-dialog-rpm-edit-form
            [mode]="'edit'"
            [rpmEntry]="rpmEntry"
            [showModeToggle]="false"
            formControlName="editEntry">
        </app-dialog-rpm-edit-form>
    </div>

    <div *ngSwitchCase="'edit_supervising_provider'" [formGroup]="form">
        <app-dialog-rpm-supervising-provider-edit-form
            [rpmEntry]="rpmEntry"
            formControlName="editSupervisingProvider">
        </app-dialog-rpm-supervising-provider-edit-form>
    </div>


    <div *ngSwitchCase="'new_entry'" [formGroup]="form">
        <app-dialog-rpm-enable-form
            formControlName="enableForm"
            [accessibleOrganizations]="accessibleOrganizations"
            [nextStep$]="nextStep$"
            [type]="newEntryType"
            (enableFormStep)="onEnableFormStepChange($event)">
        </app-dialog-rpm-enable-form>
    </div>

    <div *ngSwitchCase="'remove_entry'" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <p class="notice remove-entry" [innerHTML]="'CARE_SERVICES.DEACTIVATE_SERVICE_PROMPT_CONTENT' | translate:{service:rpmEntry.rpmState.serviceType.name}"></p>

        <div [formGroup]="deactivateRpmForm" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="60%" fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <mat-radio-group
                        fxLayout="column"
                        fxLayoutGap="10px"
                        formControlName="deactivationReason"
                    >
                        <mat-radio-button *ngFor="let deactivationReason of deactivationReasons" [value]="deactivationReason.id">{{ deactivationReason.description }}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field *ngIf="requiresDeactivationNote">
                    <textarea matInput matTextareaAutosize matAutosizeMinRows="3" formControlName="note" [placeholder]="'GLOBAL.NOTES' | translate"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'about'" [innerHTML]="'RPM.ABOUT_RPM' | translate"></div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div [ngSwitch]="status">
        <div *ngSwitchCase="'remove_entry'">
            <button
            (click)="disableRPM()"
            [disabled]="!canDisableRPM || deactivateRpmForm.invalid"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'GLOBAL.YES' | translate }}</button>

            <button
            (click)="goBack()"
            class="ccr-button"
            mat-button>{{ 'GLOBAL.NO' | translate }}</button>
        </div>

        <div *ngSwitchCase="'edit_entry'">
            <button
            [disabled]="form.get('editEntry').invalid"
            (click)="updateRPMEntry()"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'LIBRARY.CONTENT.SAVE_CHANGES' | translate }}</button>

            <button
            (click)="cancelEdition()"
            class="ccr-button"
            mat-button>{{ 'GLOBAL.BACK' | translate }}</button>
        </div>

        <div *ngSwitchCase="'edit_supervising_provider'">
            <button
            data-cy="change-supervising-provider-save-changes-button"
            [disabled]="form.get('editSupervisingProvider').invalid"
            (click)="updateSupervisingProvider()"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'LIBRARY.CONTENT.SAVE_CHANGES' | translate }}</button>

            <button
            (click)="cancelEdition()"
            class="ccr-button"
            *ngIf="!closeAfterChange"
            mat-button>{{ 'GLOBAL.BACK' | translate }}</button>

            <button *ngIf="closeAfterChange" class="ccr-button" mat-button matDialogClose>
                {{ 'GLOBAL.CLOSE' | translate }}
            </button>
        </div>

        <div *ngSwitchCase="'new_entry'" fxLayoutAlign="center center">
            <button
            *ngIf="currentStepperStep < stepperStepLength"
            [disabled]="form.get('enableForm').invalid"
            (click)="nextStep$.next()"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'GLOBAL.NEXT' | translate }}</button>

            <button
            *ngIf="currentStepperStep === stepperStepLength"
            (click)="enableRPM()"
            [disabled]="form.get('enableForm').invalid"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'CARE_SERVICES.ENABLE_SERVICE' | translate:{service: newEntryType.serviceType.name} }}</button>

            <button (click)="goBack()" class="ccr-button" mat-button>
                {{ 'GLOBAL.BACK' | translate }}
            </button>
        </div>

        <div *ngSwitchCase="'about'">
            <button
            (click)="goBack()"
            class="ccr-button"
            mat-button>
                {{ 'GLOBAL.BACK' | translate }}
            </button>
        </div>

        <div *ngSwitchCase="'new_entry'" fxLayoutAlign="start center">
            <span class="mt-20 mb-10" *ngIf="currentStepperStep === stepperStepLength && shouldStartImmediately">
                {{ 'CARE_SERVICES.SERVICE_WILL_BE_ENABLED_IMMEDIATELY' | translate:{service: newEntryType.serviceType.name} }}
            </span>
            <span class="mt-20 mb-10" *ngIf="currentStepperStep === stepperStepLength && !shouldStartImmediately">
                {{ 'CARE_SERVICES.SERVICE_WILL_BE_ENABLED_TOMORROW' | translate:{service: newEntryType.serviceType.name} }}
            </span>
        </div>

        <div *ngSwitchCase="'initial'">
            <button class="ccr-button" mat-button matDialogClose>
                {{ 'GLOBAL.CLOSE' | translate }}
            </button>
        </div>

        <div *ngSwitchCase="'view_session'">
            <button
            data-cy="change-supervising-provider-button"
            *ngIf="entryIsActive"
            (click)="status = 'edit_supervising_provider'"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'RPM.CHANGE_SUPERVISING_PROVIDER' | translate }}</button>

            <button
            *ngIf="entryIsActive"
            (click)="onEditDiagnosis()"
            [disabled]="!accessibleOrganizations.length"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'RPM.EDIT_DIAGNOSIS' | translate }}</button>

            <button
            *ngIf="entryIsActive"
            [disabled]="!canDisableRPM"
            (click)="status = 'remove_entry'"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'CARE_SERVICES.DISABLE_SERVICE' | translate:{service: rpmEntry.rpmState.serviceType.name} }}</button>

            <button (click)="goBack()" class="ccr-button" mat-button>
                {{ 'GLOBAL.BACK' | translate }}
            </button>
        </div>

        <div *ngSwitchDefault>
            <button class="ccr-button" mat-button matDialogClose>
                {{ 'GLOBAL.CLOSE' | translate }}
            </button>
        </div>
    </div>
</mat-dialog-actions>