@import 'variables';

app-dialog-rpm-status {
  mat-form-field {
    width: 100%;
  }

  mat-checkbox {
    .mat-checkbox-layout {
      display: inline;
      line-height: 150%;
      .mat-checkbox-label {
        white-space: normal;
      }
    }
  }

  mat-icon.disabled {
    color: mat-color($ccr-background, tools) !important;
    cursor: default !important;
  }

  small,
  p {
    &.highlighted {
      color: var(--primary);
    }
  }

  .agreement-form {
    margin-top: 15px;
  }

  .device-prompt-container {
    margin-top: 20px;
  }

  .notice {
    text-align: center;

    &.create {
      font-weight: bold;
      margin-top: 15px;
    }
    &.entry,
    &.no-entry {
      font-weight: bold;
    }

    &.performed-by {
      margin-bottom: 5px;
    }

    &.rpm-cta {
      color: var(--primary, mat-color($ccr-primary));
      cursor: pointer;
      font-weight: normal !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .rpm-help-icon {
    cursor: pointer;
    margin: 0 10px;
  }

  .separator {
    border: 1px solid var(--bg-panel, mat-color($ccr-background, chart));
    height: 0;
    margin: 15px auto 25px auto;
    width: 90%;
  }

  .user {
    &-container {
      border: 1px solid var(--bg-panel, mat-color($ccr-background, chart));
      margin: 0 auto;
      padding: 15px;

      p {
        max-width: 250px;
        min-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
