<div matDialogTitle>
    <div>
        <span>
        <span>{{ 'RPM.RPM_CREATE_TITLE' | translate }}</span>
        <mat-icon class="rpm-help-icon" (click)="showAboutPage()">help_outline</mat-icon>
        </span>
    </div>
    <button class="matdialogclose" [matDialogClose]="updatedEntry"><mat-icon>cancel</mat-icon></button>
</div>


<div class="mat-dialog-separator"></div>

<mat-dialog-content>
    <div [ngSwitch]="status">
    <div *ngSwitchCase="'has_entry'" [formGroup]="form">
        <app-dialog-rpm-entry-card
            *ngIf="client"
            [accessibleOrganizations]="accessibleOrganizations"
            [canDisableRPM]="canDisableRPM"
            [client]="client"
            [entryIsActive]="entryIsActive"
            [entryPending]="entryPending"
            [inaccessibleOrganizations]="inaccessibleOrganizations"
            [rpmEntry]="rpmEntry">
        </app-dialog-rpm-entry-card>

        <br>

        <app-dialog-rpm-edit-form
            *ngIf="entryIsActive"
            [entryAge]="entryAge"
            [rpmEntry]="rpmEntry"
            formControlName="editEntry">
        </app-dialog-rpm-edit-form>
    </div>

    <div *ngSwitchCase="'edit_entry'" [formGroup]="form">
        <app-dialog-rpm-edit-form
            [entryAge]="entryAge"
            [mode]="'edit'"
            [rpmEntry]="rpmEntry"
            [showModeToggle]="false"
            formControlName="editEntry">
        </app-dialog-rpm-edit-form>
    </div>

    <div *ngSwitchCase="'edit_supervising_provider'" [formGroup]="form">
        <app-dialog-rpm-supervising-provider-edit-form
            [rpmEntry]="rpmEntry"
            formControlName="editSupervisingProvider">
        </app-dialog-rpm-supervising-provider-edit-form>
    </div>


    <div *ngSwitchCase="'new_entry'" [formGroup]="form">
        <app-dialog-rpm-enable-form
            formControlName="enableForm"
            [accessibleOrganizations]="accessibleOrganizations"
            [nextStep$]="nextStep$"
            (enableFormStep)="onEnableFormStepChange($event)">
        </app-dialog-rpm-enable-form>
    </div>

    <div *ngSwitchCase="'remove_entry'" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <p class="notice remove-entry" [innerHTML]="'RPM.DEACTIVATE_PROMPT_CONTENT' | translate"></p>

        <div [formGroup]="deactivateRpmForm" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="60%" fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <mat-radio-group
                        fxLayout="column"
                        fxLayoutGap="10px"
                        formControlName="deactivationReason"
                    >
                        <mat-radio-button *ngFor="let deactivationReason of deactivationReasons" [value]="deactivationReason.id">{{ deactivationReason.description }}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field *ngIf="requiresDeactivationNote">
                    <textarea matInput matTextareaAutosize matAutosizeMinRows="3" formControlName="note" [placeholder]="'GLOBAL.NOTES' | translate"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'about'" [innerHTML]="'RPM.ABOUT_RPM' | translate"></div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div [ngSwitch]="status">
        <div *ngSwitchCase="'remove_entry'">
            <button
            (click)="disableRPM()"
            [disabled]="!canDisableRPM || deactivateRpmForm.invalid"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'GLOBAL.YES' | translate }}</button>

            <button
            (click)="status = 'has_entry'"
            class="ccr-button"
            mat-button>{{ 'GLOBAL.NO' | translate }}</button>
        </div>

        <div *ngSwitchCase="'edit_entry'">
            <button
            [disabled]="form.get('editEntry').invalid"
            (click)="updateRPMEntry()"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'LIBRARY.CONTENT.SAVE_CHANGES' | translate }}</button>

            <button
            (click)="cancelEdition()"
            class="ccr-button"
            mat-button>{{ 'GLOBAL.BACK' | translate }}</button>
        </div>

        <div *ngSwitchCase="'edit_supervising_provider'">
            <button
            data-cy="change-supervising-provider-save-changes-button"
            [disabled]="form.get('editSupervisingProvider').invalid"
            (click)="updateSupervisingProvider()"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'LIBRARY.CONTENT.SAVE_CHANGES' | translate }}</button>

            <button
            (click)="cancelEdition()"
            class="ccr-button"
            *ngIf="!closeAfterChange"
            mat-button>{{ 'GLOBAL.BACK' | translate }}</button>

            <button *ngIf="closeAfterChange" class="ccr-button" mat-button matDialogClose>
                {{ 'GLOBAL.CLOSE' | translate }}
            </button>
        </div>

        <div *ngSwitchCase="'new_entry'" fxLayoutAlign="center center">
            <button
            *ngIf="currentStepperStep < 2"
            [disabled]="form.get('enableForm').invalid"
            (click)="nextStep$.next()"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'GLOBAL.NEXT' | translate }}</button>

            <button
            *ngIf="currentStepperStep === 2"
            (click)="enableRPM()"
            [disabled]="form.get('enableForm').invalid"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'RPM.ENABLE_RPM' | translate }}</button>

            <button
            class="ccr-button"
            mat-button
            matDialogClose>
                {{ 'GLOBAL.CLOSE' | translate }}
            </button>
        </div>

        <div *ngSwitchCase="'about'">
            <button
            (click)="status = statusCache"
            class="ccr-button"
            mat-button>
                {{ 'GLOBAL.BACK' | translate }}
            </button>
        </div>

        <div *ngSwitchCase="'new_entry'" fxLayoutAlign="start center">
            <span class="mt-20 mb-10" *ngIf="currentStepperStep === 2">{{ 'RPM.RPM_WILL_BE_ENABLED_TOMORROW' | translate }}</span>
        </div>

        <div *ngSwitchDefault>
            <button
            *ngIf="!entryIsActive"
            (click)="statusCache = status; status === 'new_entry' ? enableRPM() : status = 'new_entry'"
            [disabled]="(!accessibleOrganizations || !accessibleOrganizations.length) || (status === 'new_entry' && form.invalid)"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'RPM.ENABLE_RPM' | translate }}</button>

            <button
            data-cy="change-supervising-provider-button"
            *ngIf="entryIsActive"
            (click)="status = 'edit_supervising_provider'"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'RPM.CHANGE_SUPERVISING_PROVIDER' | translate }}</button>

            <button
            *ngIf="entryIsActive"
            (click)="status = 'edit_entry'"
            [disabled]="entryAge === 'after24Edited' || !accessibleOrganizations.length"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'RPM.EDIT_DIAGNOSIS' | translate }}</button>

            <button
            *ngIf="entryIsActive"
            [disabled]="!canDisableRPM"
            (click)="status = 'remove_entry'"
            class="ccr-button"
            color="primary"
            mat-button>{{ 'RPM.DISABLE_RPM' | translate }}</button>

            <button class="ccr-button" mat-button [matDialogClose]="updatedEntry">
                {{ 'GLOBAL.CLOSE' | translate }}
            </button>
        </div>
    </div>
</mat-dialog-actions>