h4 {
  margin: 0;
  margin-bottom: 15px !important;
  text-transform: capitalize;
}

p {
  margin: 0;
}

small.highlighted {
  color: var(--primary);
  margin-bottom: 20px !important;
}

.medium-margin-bottom {
  margin-bottom: 25px !important;
}
