svg {
  g {
    text {
      fill: var(--text) !important;
      stroke: var(--text) !important;
    }
  }

  &.completed {
    g {
      path {
        fill: var(--primary) !important;
      }

      polyline {
        stroke: var(--primary) !important;
      }
    }
  }
}
