<div class="ccr-heading">
    <div class="ccr-title" fxLayout="row" fxLayoutAlign="end">
        <h2 fxFlex>{{'SIDENAV.SCHEDULE_LIST' | translate}}</h2>
    </div>
</div>

<div [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="35px">
    <!-- search bar filter -->
    <div fxFlex="grow" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div>
            <ccr-organization-search
            *ngIf="!selectedClinic"
            (onSelect)="onSelectClinic($event)"
            prefixIcon="business">
            </ccr-organization-search>

            <div *ngIf="selectedClinic">
                <mat-chip-list>
                    <mat-chip>
                        {{ selectedClinic.name }}
                        <mat-icon (click)="onRemoveClinic()" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div *ngIf="!filteredAccounts.length">
                <ccr-user-search
                [allowSelf]="true"
                [excludes]="filteredAccounts"
                [label]="'BOARD.SEARCH_BY_ACCOUNT_NAME_OR_EMAIL' | translate"
                prefixIcon="person"
                (select)="onAddAccount($event)"></ccr-user-search>
            </div>
            <div *ngIf="filteredAccounts.length">
                <mat-chip-list>
                    <mat-chip *ngFor="let account of filteredAccounts; let i = index;" [removable]="true">
                        {{ 'BOARD.MEETINGS_WITH_USER' | translate:{ user: account.firstName + ' ' + account.lastName } }}
                        <mat-icon (click)="onRemoveAccount($event)" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>

    <!-- date filters -->
    <div fxFlex="40%" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <div fxFlex>
                <ccr-date-input [placeholder]="'BOARD.START_DATE' | translate" formControlName="startDate" fxFlex></ccr-date-input>
            </div>
            <div fxFlex>
                <ccr-date-input [placeholder]="'BOARD.END_DATE' | translate" formControlName="endDate" fxFlex></ccr-date-input>
            </div>
        </div>

        <div fxFlex>
            <div class="ccr-button-group">
                <button
                [class.active]="form.value.quickSelect === 'past'"
                [matTooltip]="'BOARD.PAST' | translate"
                (click)="toggleQuickSelect('past')"
                class="ccr-icon-button"
                matTooltipPosition="above"
                mat-button
                type="button">
                  <mat-icon>view_day</mat-icon>
                  {{ 'BOARD.PAST' | translate }}
                </button>
                <button
                [class.active]="form.value.quickSelect === 'upcoming'"
                [matTooltip]="'BOARD.UPCOMING' | translate"
                (click)="toggleQuickSelect('upcoming')"
                class="ccr-icon-button"
                matTooltipPosition="above"
                mat-button
                type="button">
                  <mat-icon>view_week</mat-icon>
                  {{ 'BOARD.UPCOMING' | translate }}
                </button>
                <button
                [class.active]="form.value.quickSelect === 'all'"
                [matTooltip]="'BOARD.UPCOMING' | translate"
                (click)="toggleQuickSelect('all')"
                class="ccr-icon-button"
                matTooltipPosition="above"
                mat-button
                type="button">
                  <mat-icon>view_week</mat-icon>
                  {{ 'BOARD.ALL_MEETINGS' | translate }}
                </button>
            </div>
        </div>
    </div>
    </div>

    <!-- table buttons -->
    <div class="ccr-htools" fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="space-between center">
        <button
        [disabled]="!meetingsSource.result?.length || meetingsSource.isLoading"
        (click)="downloadCSV()"
        mat-button
        fxFlex="nogrow"
        class="ccr-align-center">
            {{ 'REPORTS.EXPORT_CSV' | translate }}
            <mat-icon>file_download</mat-icon>
        </button>

        <ccr-paginator fxFlex="nogrow" #paginator
            [length]="meetingsSource.total"
            [pageIndex]="meetingsSource.pageIndex"
            [pageSize]="meetingsSource.pageSize"
            (page)="meetingsSource.pageIndex = $event.pageIndex"
        ></ccr-paginator>
    </div>

    <!-- table -->
    <div>
        <app-schedule-list-table [source]="meetingsSource"></app-schedule-list-table>
    </div>
</div>