<div>
  <p>Para configurar la aplicación móvil personalizada de tu clínica, CoachCare necesitará conocer información sobre la misma y algunos de los parámetros de configuración que deseas. Por favor, haz un esfuerzo para proporcionar la información solicitada de manera puntual. Cuanto más rápido recibamos estos detalles sobre la clínica, más rápido podremos hacer el lanzamiento de tu aplicación.</p>
  <p>Envía un correo electrónico a <a href=mailto:implementation@coachcare.com>implementation@coachcare.com</a> con tus respuestas a los siguientes elementos:</p>

  <h3 #top>Configuración y preferencias</h3>

  <ol>
    <li>
      <strong>Nombre de la aplicación</strong>
      <ul>
        <li>Este será el nombre que buscarán tus clientes a través de la App Store (iOS) o Google Play Store (Android).</li>
        <li><strong>Por favor, limítalo a 12 caracteres.</strong>.</li>
      </ul>
    </li>
    <li>
      <strong>Breve descripción de tus servicios</strong>
      <ul>
        <li>Por favor, limita esta descripción a un máximo de 80 caracteres.</li>
        <li>Esto es lo que aparecerá en la App Store (iOS) y en la Google Play Store (Android)</li>
      </ul>
    </li>
    <li>
      <strong>Descripción completa de los servicios.</strong>
      <ul>
        <li>Por favor, limita esta descripción a un máximo de 4000 caracteres.</li>
        <li>Esto es lo que aparecerá en la App Store (iOS) y en la Google Play Store (Android)</li>
      </ul>
    </li>
    <li>
      <strong>Enlace al sitio web de tu clínica</strong>
    </li>
    <li><strong>Suplementos</strong>&nbsp;<em>Opcionales</em>
      <ul>
        <li>Una lista de todos los suplementos utilizados en tu clínica, incluyendo la dosificación diaria.</li>
        <li>Por ejemplo:
          <ul>
            <li>Multivitamínico, 2 por día.</li>
            <li>Calcio, 1 por día.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li><strong>Estructura de horario</strong>&nbsp;<em>Opcional</em>
      <ul>
        <li>Una lista con todos los tipos de reuniones que se utilizan en tu clínica, incluyendo la duración de cada cita.</li>
        <li>Por ejemplo:
          <ul>
            <li>Consulta inicial, 60 minutos.</li>
            <li>Consulta semanal, 30 minutos.</li>
            <li>Chequeo telefónico, 15 minutos.</li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>

  <h3>Diseño</h3>

  <ol>
    <li>
      <strong>Logo de la aplicación en alta resolución</strong>
      <ul>
        <li><strong>OPCIÓN A: Envía tu propio logo.</strong>
            <ul>
                <li>Tamaño: 1024 píxeles de ancho por 1024 píxeles de alto para la App Store (iOS) y Google Play Store (Android).</li>
                <li>Formato preferido: el archivo debe estar en formato .AI, .SVG o .EPS.</li>
            </ul>
        </li>
        <li><strong>OPCIÓN B: Permite que CoachCare cree el logo de tu clínica</strong>
          <ul>
            <li>El costo es de 250,00$.</li>
            <li>El equipo de diseñadores de CoachCare creará un logo para tu clínica utilizando como referencia el sitio web y/o las notas enviadas por la persona de enlace con la clínica. Te ofreceremos tres pruebas entre las que puedes elegir. <em>Las ediciones/cambios en cualquiera de estas pruebas pueden generar costos adicionales</em>.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>Foto principal</strong>
      <ul>
        <li><strong>OPCIÓN A: Envía tu propia imagen destacada</strong>
          <ul>
            <li>Tamaño: 1024px de ancho por 500px de altura.</li>
            <li>Formato preferido: formato png.</li>
            <li>Esto es lo que aparecerá en Google Play Store (Android).<br><em><a href="/assets/google-maps.jpg" target="_blank">Ejemplo de una imagen principal en Google Play Store (aplicación Google Maps).</a></em></li>
          </ul>
        </li>
        <li><strong>OPCIÓN B: Usa la imagen destacada de CoachCare.</strong></li>
      </ul>
    </li>
    <li>
      <strong>Colores primarios y secundarios.</strong>
      <ul>
        <li><strong>OPCIÓN A: Presenta tus propios colores.</strong>
          <ul>
            <li>Formato: los colores primarios y secundarios deben estar en formato HEX o RGB.</li>
            <li>Por ejemplo:
              <ul>
                <li>(HEX) Color primario: #f05d5c, Color secundario: #514d4a.</li>
                <li>(RGB) (RGB) Color primario: 240,93,92, Color secundario: 81,77,74.</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><strong>OPCIÓN B: Permite que CoachCare elija los colores de tu clínica</strong></li>
      </ul>
    </li>
  </ol>
</div>
