:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.notes-container {
  flex: 1;
  overflow-y: auto;

  mat-spinner {
    display: block;
    margin: 0 auto;
  }
}

.empty-container {
  text-align: center;
}
