@import 'variables';

.ccr-expandable-table {
  display: block;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  padding-bottom: 25px;
  max-height: calc(100vh - 505px);
  width: 100%;

  table {
    margin-right: 0;
    width: 100%;

    td {
      height: 36px;
      min-height: 36px;
    }

    th {
      height: 32px;
      min-height: 32px;
    }

    td:first-of-type,
    th:first-of-type {
      border-right: 1px solid rgba(0, 0, 0, 0.22);
    }

    thead {
      font-size: 14px;

      .date-cell,
      .actions-cell {
        background-color: mat-color($ccr-background, header);
      }
    }

    .actions-cell {
      min-width: 75px;
    }

    .common-cell {
      min-width: 50px;
    }

    .metadata-cell {
      min-width: 225px;

      ul {
        line-height: 24px;
        margin-block-start: 0;
        padding-inline-start: 15px;
      }
    }

    .wide-cell {
      min-width: 60px !important;

      ccr-popup-description {
        margin-right: 10px;
      }
    }

    .very-wide-cell {
      min-width: 165px !important;

      ccr-popup-description {
        margin-right: 10px;
      }
    }

    .date-cell {
      left: 0;
      min-width: 125px;
      max-width: 125px;
      width: 125px;
    }

    .device-cell {
      min-width: 50px;
    }

    .row-even {
      .actions-cell {
        background: mat-color($ccr-background, even);
      }
    }

    .row-odd {
      .actions-cell {
        background: mat-color($ccr-background, odd);
      }
    }

    .pain-intensity {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.ccr-text-weight-normal {
  font-weight: normal !important;
}

.empty-column-notice {
  color: var(--primary);
  margin-top: 35px;
}

.small {
  font-size: 11px;
}
