<ccr-datasource-overlay *ngIf="columns?.length; else emptyColumns" [source]="source">
  <div class="ccr-table ccr-expand-table ccr-table-stats">
    <div class="ccr-expandable-table">
      <table>
        <caption hidden>{{ 'GLOBAL.MEASUREMENTS' | translate }}</caption>
        <thead>
          <th class="date-cell" scope="col">{{ 'GLOBAL.DATE' | translate }}</th>
          <th class="device-cell" scope="col">{{ 'MEASUREMENT.DEVICE' | translate }}</th>
          <th
          *ngFor="let column of columns"
          [ngClass]="{ 'wide-cell': column.id === '12' || column.id === '43' || column.id === '45' }"
          class="common-cell"
          scope="col">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" scope="col">
              <div>{{ column.name | translate }}</div>
              <div [ngSwitch]="column.id" fxFlex>
                <ccr-popup-description
                *ngSwitchCase="'12'"
                [title]="'MEASUREMENT.VISCERAL_FAT' | translate"
                [description]="'MEASUREMENT.VISCERAL_FAT_PERCENTAGE_ABOUT' | translate"
                ></ccr-popup-description>
                <ccr-popup-description
                *ngSwitchCase="'43'"
                isGrid="true"
                [gridData]="visceralFatRatingTooltip"
                ></ccr-popup-description>
                <ccr-popup-description
                *ngSwitchCase="'45'"
                [title]="'MEASUREMENT.VISCERAL_ADIP_TISSUE' | translate"
                [description]="'MEASUREMENT.VISCERAL_ADIP_TISSUE_ABOUT' | translate"
                ></ccr-popup-description>
              </div>
            </div>
          </th>
          <th class="actions-cell" scope="col">
            <div fxLayout="row" fxLayoutAlign="center center">
              {{ 'BOARD.ACTIONS' | translate }}
            </div>
          </th>
        </thead>
        <tbody *ngIf="rows?.length">
          <tr
          *ngFor="let row of rows; let i = index;"
          [ngClass]="{
            'row-even': i % 2 === 0,
            'row-odd': i % 2 === 1
          }">
            <td
            class="ccr-text-weight-bold date-cell"
            [class.ccr-text-right]="!row.shouldShowDate"
            [class.ccr-text-weight-normal]="!row.shouldShowDate">
              <span>
                {{ row.recordedAt.utc | amDateFormat:(row.shouldShowDate ? 'ddd MMM D, YYYY' : 'h:mm a') }}
              </span>
            </td>
            <td class="device-cell">
              <div *ngIf="!row.shouldShowDate">
                <span *ngIf="row.source.name; else emptyCell">{{ row.source.name }}</span>
              </div>
            </td>
            <td
            *ngFor="let column of columns"
            class="common-cell"
            [ngClass]="{ 'wide-cell': column.id === '12' || column.id === '43' || column.id === '45' }"
            [ngSwitch]="column.id">
              <div *ngIf="!row.shouldShowDate">
                <ng-container *ngSwitchCase="'3'">
                  <ng-container *ngTemplateOutlet="entryWithWeight; context: { row: row, column: column }"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'50'">
                  <ng-container *ngTemplateOutlet="entryWithWeight; context: { row: row, column: column }"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'12'">
                  <ng-container *ngTemplateOutlet="entryWithWeight; context: { row: row, column: column }"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'13'">
                  <ng-container *ngTemplateOutlet="entryWithWeight; context: { row: row, column: column }"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'47'">
                  <span *ngIf="getGroupValue(row, column.id) !== null; else emptyCell">
                    {{ getGroupValue(row, column.id) | unitConvertToReadable:getGroupType(row, column.id) | number }}
                  </span>
                </ng-container>

                <ng-container *ngSwitchCase="'48'">
                  <span *ngIf="getGroupValue(row, column.id) !== null; else emptyCell">
                    {{ convertToHms(getGroupValue(row, column.id)) }} <span>{{ 'UNIT.HOURS' | translate }}</span>
                  </span>
                </ng-container>

                <ng-container *ngSwitchCase="'distance'">
                  <ng-container *ngTemplateOutlet="distanceEntry; context: {row: row, column: column}"></ng-container>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <span *ngIf="getGroupValue(row, column.id) !== null; else emptyCell">
                    {{ getGroupValue(row, column.id) | unitConvertToReadable:getGroupType(row, column.id) }}<span class="small">&nbsp;{{ getGroupUnit(row, column.id) }}</span>
                  </span>
                </ng-container>
              </div>
            </td>
            <td class="actions-cell">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon
                *ngIf="!row.isEmpty"
                [class.disabled]="!row.canBeDeleted"
                (click)="onDeleteGroup(row)"
                class="clickable">delete</mat-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</ccr-datasource-overlay>

<p *ngIf="source.showDistanceNote" class="footnotes">
  <em class="ccr-marker">*</em> {{ 'MEASUREMENT.DISTANCE_NOTE' | translate }}
</p>

<p class="footnotes" *ngIf="source.hasTooMuchForSingleDay">
  <em class="ccr-marker">*</em> {{ 'MEASUREMENT.MORE_DATA_EXISTS_FOR_DAY' | translate }}
</p>

<ng-template #entryWithWeight let-row="row" let-column="column">
  <span *ngIf="getGroupValue(row, column.id) !== null && getGroupWeightProportion(row, column.id) !== null; else emptyCell">
    {{ getGroupWeightProportion(row, column.id) | unitConvertToReadable:getGroupType(row, '1') }}<span class="small">&nbsp;{{ getGroupUnit(row, '1') }}</span>
    <span class="small">&nbsp;({{ getGroupValue(row, column.id) | unitConvertToReadable:getGroupType(row, column.id) }}%)</span>
  </span>
</ng-template>
<ng-template #distanceEntry let-row="row" let-column="column">
  <span *ngIf="getGroupValue(row, '47') !== null; else emptyCell">
    {{ getGroupDistance(row) }}<span class="small">&nbsp;{{ getDistanceUnit() }}</span>
    <em *ngIf="source.showDistanceNote" class="ccr-marker">&nbsp;*</em>
  </span>
</ng-template>
<ng-template #emptyCell>-</ng-template>
<ng-template #emptyColumns>
  <div fxLayout="row" fxLayoutAlign="center center">
    <p class="empty-column-notice">{{ 'NOTIFY.ERROR.NO_DATA_POINT_FOR_LABEL' | translate }}</p>
  </div>
</ng-template>