<ccr-datasource-overlay [source]="source">
  <div class="ccr-table ccr-expand-table ccr-table-stats">
    <div class="ccr-expandable-table">
      <table ccrTableSort>
        <caption hidden>{{ 'GLOBAL.MEASUREMENTS' | translate }}</caption>
        <thead class="sticky-header">
          <th class="date-cell sticky-column" scope="col">
            <ccr-table-sort-header property="recordedAt">
              {{ 'GLOBAL.DATE' | translate }}
            </ccr-table-sort-header>
          </th>
          <th class="device-cell" scope="col">{{ 'MEASUREMENT.DEVICE' | translate }}</th>
          <th
          *ngFor="let column of columns"
          [ngClass]="{ 'wide-cell':
                          column.id === '12' ||
                          column.id === '43' ||
                          column.id === '45',
                        'very-wide-cell':
                          column.id === '55' ||
                          column.id === '56' ||
                          column.id === '57'
                      }"
          class="common-cell"
          scope="col">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" scope="col">
              <div>{{ column.name | translate }}</div>
              <div [ngSwitch]="column.id" fxFlex>
                <ccr-popup-description
                *ngSwitchCase="'12'"
                [title]="'MEASUREMENT.VISCERAL_FAT' | translate"
                [description]="'MEASUREMENT.VISCERAL_FAT_PERCENTAGE_ABOUT' | translate"
                ></ccr-popup-description>
                <ccr-popup-description
                *ngSwitchCase="'43'"
                isGrid="true"
                [gridData]="visceralFatRatingTooltip"
                ></ccr-popup-description>
                <ccr-popup-description
                *ngSwitchCase="'45'"
                [title]="'MEASUREMENT.VISCERAL_ADIP_TISSUE' | translate"
                [description]="'MEASUREMENT.VISCERAL_ADIP_TISSUE_ABOUT' | translate"
                ></ccr-popup-description>
              </div>
            </div>
          </th>
          <th class="actions-cell sticky-column sticky-right" scope="col">
            <div fxLayout="row" fxLayoutAlign="center center">
              {{ 'BOARD.ACTIONS' | translate }}
            </div>
          </th>
        </thead>
        <tbody *ngIf="rows?.length">
          <tr
          *ngFor="let row of rows; let i = index;"
          [ngClass]="{
            'row-even': i % 2 === 0,
            'row-odd': i % 2 === 1
          }">
            <ng-container *ngTemplateOutlet="!row.isLoadMore ? measurementRow : loadMoreLink; context: {row: row, columns: columns, index: i}">
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!columns?.length;" fxLayout="row" fxLayoutAlign="center center">
        <p class="empty-column-notice">{{ 'NOTIFY.ERROR.NO_DATA_POINT_FOR_LABEL' | translate }}</p>
      </div>
    </div>
    </div>
</ccr-datasource-overlay>

<p *ngIf="source.showDistanceNote" class="footnotes">
  <em class="ccr-marker">*</em> {{ 'MEASUREMENT.DISTANCE_NOTE' | translate }}
</p>

<p class="footnotes" *ngIf="source.hasTooMuchForSingleDay">
  <em class="ccr-marker">*</em> {{ 'MEASUREMENT.MORE_DATA_EXISTS_FOR_DAY' | translate }}
</p>

<ng-template #entryWithWeight let-row="row" let-column="column">
  <span *ngIf="getGroupValue(row, column.id) !== null && getGroupWeightProportion(row, column.id) !== null; else emptyCell">
    {{ getGroupWeightProportion(row, column.id) | unitConvertToReadable:getGroupType(row, '1') }}<span class="small">&nbsp;{{ getGroupUnit(row, '1') }}</span>
    <span class="small">&nbsp;({{ getGroupValue(row, column.id) | unitConvertToReadable:getGroupType(row, column.id) }}%)</span>
  </span>
</ng-template>

<ng-template #distanceEntry let-row="row" let-column="column">
  <span *ngIf="getGroupValue(row, '47') !== null; else emptyCell">
    {{ getGroupDistance(row) }}<span class="small">&nbsp;{{ getDistanceUnit() }}</span>
    <em *ngIf="source.showDistanceNote" class="ccr-marker">&nbsp;*</em>
  </span>
</ng-template>

<ng-template #emptyCell>-</ng-template>

<ng-template #loadMoreLink let-row="row" let-columns="columns" let-index="index">
  <td></td>
  <td [attr.colspan]="columns.length + 2">
    <small
    class="ccr-highlighted ccr-link"
    [class.disabled]="isLoadingMore"
    (click)="onLoadMore(row, index)">{{ 'GLOBAL.LOAD_MORE' | translate }}...</small>
  </td>
</ng-template>

<ng-template #measurementRow let-row="row">
  <td
    class="ccr-text-weight-bold date-cell sticky-column"
    [class.ccr-text-right]="row.shouldShowTime">
    <span *ngIf="row.shouldShowDate">
      {{ row.recordedAt.utc | amDateFormat: 'ddd MMM D, YYYY' }}
    </span>
    <span *ngIf="row.shouldShowTime" class="ccr-text-weight-normal">
      {{ row.recordedAt.utc | amDateFormat: 'h:mm a' }}
    </span>
  </td>

  <td class="device-cell">
    <div *ngIf="!row.isEmpty; else emptyCell">
      <span *ngIf="row.source.name; else emptyCell">{{ row.source.name }}</span>
    </div>
  </td>

  <td
  *ngFor="let column of columns"
  class="common-cell"
  [ngClass]="{ 'wide-cell':
                  column.id === '12' ||
                  column.id === '43' ||
                  column.id === '45',
                'very-wide-cell':
                  column.id === '55' ||
                  column.id === '56' ||
                  column.id === '57'
              }"
  [ngSwitch]="column.id">
    <div *ngIf="!row.isEmpty; else emptyCell">
      <ng-container *ngSwitchCase="'3'">
        <ng-container *ngTemplateOutlet="entryWithWeight; context: { row: row, column: column }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'50'">
        <ng-container *ngTemplateOutlet="entryWithWeight; context: { row: row, column: column }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'12'">
        <ng-container *ngTemplateOutlet="entryWithWeight; context: { row: row, column: column }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'13'">
        <ng-container *ngTemplateOutlet="entryWithWeight; context: { row: row, column: column }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'47'">
        <span *ngIf="getGroupValue(row, column.id) !== null; else emptyCell">
          {{ getGroupValue(row, column.id) | unitConvertToReadable:getGroupType(row, column.id) | number }}
        </span>
      </ng-container>

      <ng-container *ngSwitchCase="'48'">
        <span *ngIf="getGroupValue(row, column.id) !== null; else emptyCell">
          {{ getGroupValue(row, column.id) | convertToHms }} <span>{{ 'UNIT.HOURS' | translate }}</span>
        </span>
      </ng-container>

      <ng-container *ngSwitchCase="'55'">
        <ng-container *ngTemplateOutlet="mappedEntry; context: { row: row, column: column }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'56'">
        <ng-container *ngTemplateOutlet="mappedEntry; context: { row: row, column: column }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'57'">
        <ng-container *ngTemplateOutlet="mappedEntry; context: { row: row, column: column }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'58'">
        <span *ngIf="getGroupValue(row, column.id) !== null; else emptyCell">
          {{ getGroupValue(row, column.id) | convertToMinutes:2 }} <span>{{ 'GLOBAL.MINUTES' | translate }}</span>
        </span>
      </ng-container>

      <ng-container *ngSwitchCase="'distance'">
        <ng-container *ngTemplateOutlet="distanceEntry; context: {row: row, column: column}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <span *ngIf="getGroupValue(row, column.id) !== null; else emptyCell">
          {{ getGroupValue(row, column.id) | unitConvertToReadable:getGroupType(row, column.id) }}<span class="small">&nbsp;{{ getGroupUnit(row, column.id) }}</span>
        </span>
      </ng-container>
    </div>
  </td>

  <td class="actions-cell sticky-column sticky-right">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon
      *ngIf="!row.isEmpty"
      [class.disabled]="!row.canBeDeleted"
      (click)="onDeleteGroup(row)"
      class="clickable">delete</mat-icon>
    </div>
  </td>
</ng-template>

<ng-template #mappedEntry let-row="row" let-column="column">
  <span *ngIf="getGroupValue(row, column.id) !== null; else emptyCell">
    {{ getGroupValue(row, column.id) | unitMapToReadable:getGroupType(row, column.id) }}
  </span>
</ng-template>