@import 'variables';

.ccr-expandable-table {
  display: block;
  max-width: 100%;
  overflow-x: scroll;
  padding-bottom: 25px;
  width: 100%;

  table {
    margin-right: 0;
    width: 100%;

    td {
      height: 36px;
      min-height: 36px;
    }

    thead {
      .date-cell,
      .actions-cell {
        background-color: mat-color($ccr-background, header);
      }
    }

    .actions-cell {
      right: 0;
      min-width: 75px;
      position: sticky;
    }

    .common-cell {
      min-width: 125px;
    }

    .wide-cell {
      min-width: 180px !important;
    }

    .date-cell {
      left: 0;
      min-width: 125px;
      position: sticky;
    }

    .device-cell {
      min-width: 125px;
    }

    .row-even {
      .actions-cell {
        background: mat-color($ccr-background, even);
      }
    }

    .row-odd {
      .actions-cell {
        background: mat-color($ccr-background, odd);
      }
    }
  }
}

.ccr-text-weight-normal {
  font-weight: normal !important;
}

.empty-column-notice {
  color: var(--primary);
  margin-top: 35px;
}

.small {
  font-size: 11px;
}
