a {
  color: var(--primary) !important;
}

img {
  margin: 0 auto;
}

li {
  margin: 10px 0;
}

mat-spinner {
  margin-bottom: 25px;
}

ul {
  margin-top: 0;
}

.options-container {
  margin: 0 auto;
  width: 70%;
}

.qr-code-wrapper {
  margin: 15px 0;
}

.regen {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.setup-container {
  height: 100%;
}
