@import 'variables';

.ccr-name > img {
  height: 70px;
  width: 70px;
}

.mfa-button-container {
  height: 50px;
}

.device-sync-tile {
  @media (max-width: $md-min) {
    height: 300px !important;
  }
}
