<div class="ccr-heading">
  <div class="ccr-title" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutWrap.xs fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start start">
      <h2 fxFlex>
        {{ 'GLOBAL.COACHES' | translate }}

        <ccr-help-link [link]="zendeskLink"></ccr-help-link>
      </h2>
      <h2>
        <small class="count" *ngIf="source.totalCount"><strong>{{ source.totalCount }}</strong> {{ 'GLOBAL.COACHES' | translate }}</small>
      </h2>
    </div>

    <a *ngIf="clinic?.permissions.admin"
    mat-button color="primary" class="ccr-icon-button"
    fxFlex="nogrow" (click)="createDialog()">
      <mat-icon>add</mat-icon>
      <span>{{ 'BOARD.COACH_NEW' | translate }}</span>
    </a>
  </div>

  <div class="ccr-htools" fxLayout="row" fxLayoutAlign="end center">
    <!-- Export CSV button here -->
    <button mat-button fxFlex="nogrow" class="ccr-align-center"
    [disabled]="!source.isLoaded || source.isEmpty" (click)="downloadCSV()" fxHide.xs
    data-cy="download-csv-button">
      {{ 'REPORTS.EXPORT_CSV' | translate }}
      <mat-icon>file_download</mat-icon>
    </button>

    <ccr-paginator fxFlex="nogrow" #paginator
      [source]="source"
    ></ccr-paginator>
  </div>
</div>

<app-coaches-table
  [source]="source"
  (onSorted)="onSorted($event)"
  [showActions]="admin">
</app-coaches-table>
