<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
  <h4
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px">
    <span>{{ 'GLOBAL.DIAGNOSIS' | translate }}</span>
  </h4>

  <div
  [formGroup]="form"
  class="agreement-form"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="15px">
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'RPM.PRIMARY_DIAGNOSIS' | translate }}</mat-label>
      <textarea [readonly]="mode === 'readonly'" formControlName="primaryDiagnosis" matInput></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>{{ isRequiredSecondaryDiagnosis ? ('RPM.SECONDARY_DIAGNOSIS' | translate) : ('RPM.SECONDARY_DIAGNOSIS_OPTIONAL' | translate) }}</mat-label>
      <textarea [readonly]="mode === 'readonly'" formControlName="secondaryDiagnosis" matInput></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>{{ 'CARE_SERVICES.INSURANCE_INFORMATION' | translate }}</mat-label>
      <textarea [readonly]="mode === 'readonly'" formControlName="otherDiagnosis" matInput></textarea>
    </mat-form-field>

    <mat-form-field
    [hidden]="(mode === 'readonly' && !form.get('note').value)"
    class="example-full-width">
      <mat-label>{{ 'RPM.EXPLANATION' | translate }}</mat-label>
      <textarea [readonly]="mode === 'readonly'" formControlName="note" matInput></textarea>
    </mat-form-field>
  </div>
</div>