<div>
  <p>Para configurar o aplicativo personalizado móvel da sua clínica, CoachCare vai precisar de informações sobre sua clínica e algumas das personalizações que você gostaria. Por favor, faça um esforço para fornecer as informações solicitadas em tempo hábil. Quanto mais rápido receber informações de sua clínica, mais cedo será capaz de lançar seu aplicativo.</p>
  <p>Por favor enviar e-mail <a href="mailto:implementation@coachcare.com">implementation@coachcare.com</a> com suas respostas para os seguintes itens:</p>
  <h3 #top>Configurações e Preferências</h3>
  <ol>
    <li>
      <strong>Nome do aplicativo</strong>
      <ul>
        <li>Este será o nome de seus clientes irão procurar através da App Store (iOS) ou Play Google Store (Android).</li>
        <li><strong>Por favor, limite de 12 caracteres</strong> .</li>
      </ul>
    </li>
    <li>
      <strong>Breve descrição de seus serviços</strong>
      <ul>
        <li>Por favor, limitar esta descrição para até 8o caracteres.</li>
        <li>Este será mostrado na App Store (iOS) e do Google Play Store (Android)</li>
      </ul>
    </li>
    <li>
      <strong>A inscrição completa dos seus serviços</strong>
      <ul>
        <li>Por favor, limitar esta descrição para até 4000 caracteres.</li>
        <li>Este será mostrado na App Store (iOS) e do Google Play Store (Android)</li>
      </ul>
    </li>
    <li><strong>Link para o site de sua clínica</strong></li>
    <li>
      <strong>Suplementos</strong> & nbsp; <em>Opcional</em>
      <ul>
        <li>A lista de todos os suplementos utilizados na sua clínica, juntamente com dose diária.</li>
        <li>Por exemplo:
          <ul>
            <li>MultiVitamin, 2 por dia</li>
            <li>O cálcio, 1 por dia</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>estrutura Horário</strong> & nbsp; <em>Opcional</em>
      <ul>
        <li>A lista de todos os tipos de reuniões utilizados na sua clínica, com comprimento (s) de cada nomeação</li>
        <li>Por exemplo:
          <ul>
            <li>Consulta inicial, 60 minutos</li>
            <li>Consulta Weekly, 30 minutos</li>
            <li>Telefone Entrada, 15 minutos</li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>
  <h3>Design</h3>
  <ol>
    <li>
      <strong>de alta resolução do logotipo aplicativo</strong>
      <ul>
        <li>
          <strong>Opção A: Envie seu próprio logotipo</strong>
          <ul>
            <li>Tamanho: 1024px largura por 1024px de altura para a App Store (iOS) e do Google Play Store (Android).</li>
            <li>Format preferidos:. O arquivo deve estar no .AI, .SVG, ou .EPS formato</li>
          </ul>
        </li>
        <li>
          <strong>Opção B: Permitir CoachCare para construir o logotipo de sua clínica</strong>
          <ul>
            <li>O custo é de R $ 250,00</li>
            <li>equipe de design CoachCare irá criar o seu logotipo com base em seu website clínica e / ou notas enviadas por liason clínica. Você será fornecido com três provas para escolher. <em>Edições / alterações a qualquer destas provas podem ter custos adicionais</em> .</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <strong>imagem Destaque</strong>
      <ul>
        <li>
          <strong>Opção A: Envie seu próprio imagem caracterizada</strong>
          <ul>
            <li>Tamanho: 1024px largura por 500px Altura.</li>
            <li>Format preferidos:. Png</li>
            <li>Este será exibido no Google Play Store (Android).<br>
            <em><a href="/assets/google-maps.jpg" target="_blank">Exemplo de uma imagem recurso no Google Play Store (Google Maps App)</a></em></li>
          </ul>
        </li>
        <li><strong>OPÇÃO B: Imagem destaque do Uso CoachCare</strong></li>
      </ul>
    </li>
    <li>cores <strong>primárias e secundárias</strong>
      <ul>
        <li>
          <strong>Opção A: Envie as suas próprias cores</strong>
          <ul>
            <li>Formato: cores primárias e secundárias devem estar no formato RGB HEX ou.</li>
            <li>Por exemplo:
              <ul>
                <li>(HEX) de cores primárias: # f05d5c, cor secundária: # 514d4a</li>
                <li>(RGB) de cores primárias: 240,93,92, cor secundária: 81,77,74</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><strong>Opção B: Permitir CoachCare para escolher as cores da sua clínica</strong></li>
      </ul>
    </li>
  </ol>
</div>
