<div matDialogTitle>
  <div fxFlex fxLayoutAlign="start center" fxLayoutGap="5px">
    <mat-icon color="primary">settings</mat-icon>
    <span>{{ 'CALL.SETTINGS' | translate }}</span>
  </div>
  <button (click)="onClose()" matDialogClose>
    <mat-icon>cancel</mat-icon>
  </button>
</div>

<div class="mat-dialog-separator"></div>

<mat-dialog-content>
  <ccr-call-settings-form></ccr-call-settings-form>
</mat-dialog-content>

<div *ngIf="deviceInfo.browser.toLowerCase() === BROWSER_TYPES.CHROME && !callState.hasAudioDeviceAccess" class="chrome-notice">
  <p>{{ 'CALL.CHROME_BLOCKED_NOTICE' | translate }}</p>
</div>
