<p class="ccr-hint lowercase">
  {{ 'GLOBAL.ABOUT' | translate }} {{ 'GLOBAL.PATIENT' | translate }} {{ 'GLOBAL.DASHBOARD' | translate }}
  <ccr-help-link [link]="zendeskLink"></ccr-help-link>
  <span data-cy="summary-box-device-type" [attr.data-value]='summaryBoxDeviceType'></span>
</p>

<app-weight-dieter-summary-boxes *ngIf="summaryBoxDeviceType === 'weight'"></app-weight-dieter-summary-boxes>
<app-glucose-dieter-summary-boxes *ngIf="summaryBoxDeviceType === 'glucometer'"></app-glucose-dieter-summary-boxes>
<app-blood-pressure-dieter-summary-boxes *ngIf="summaryBoxDeviceType === 'bloodPressure'"></app-blood-pressure-dieter-summary-boxes>
<app-oximeter-dieter-summary-boxes *ngIf="summaryBoxDeviceType === 'pulseOximeter'"></app-oximeter-dieter-summary-boxes>