<div fxLayout="row" fxLayoutGap="1%">
    <div [fxFlex]="selectedContent ? '70%' : '100%'" class="file-explorer-wrapper" [class.scrollable]="mode === 'list'">
        <ccr-datasource-overlay
        [inaccessible]="useMode === 'vault' && (!organization || !organization.permissions.allowClientPhi)"
        [ngSwitch]="mode"
        [source]="datasource"
        class="ccr-table">
            <app-content-file-explorer-table
                *ngSwitchCase="'list'"
                [mode]="useMode"
                [source]="datasource"
                [events]="events"
                [organization]="organization"
            ></app-content-file-explorer-table>

            <app-content-file-explorer-grid
                *ngSwitchCase="'grid'"
                [source]="datasource"
                [events]="events"
            ></app-content-file-explorer-grid>
        </ccr-datasource-overlay>
    </div>

    <div *ngIf="selectedContent" fxFlex="30%">
        <app-content-file-explorer-details
            [content]="selectedContent"
            [events]="events"
        ></app-content-file-explorer-details>
    </div>
</div>

<app-content-file-upload-tracker *ngIf="shouldShowUploadTracker"></app-content-file-upload-tracker>
