<div class="shake-it-page-header">
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5%" fxLayoutGap.xs="0">
      <div class="header-banner">
        <img [src]="logoUrl">
        <p>{{ 'PAGE.REGISTER.HERO.SHAKEIT.POWERED_BY' | translate }}</p>
      </div>
      <div class="container" fxLayout="row" fxFlex="80%" fxLayoutAlign="space-between center">
        <div fxFlex="40%">
          <p class="welcome-text">{{ 'PAGE.REGISTER.HERO.SHAKEIT.WELCOME_TITLE' | translate }}</p>
          <p class="description-text">{{ 'PAGE.REGISTER.HERO.SHAKEIT.WELCOME_MESSAGE' | translate }}</p>
        </div>

        <div class="side-image" fxFlex="60%">
          &nbsp;
        </div>
      </div>
  </div>
</div>