app-add-consultation {
  .org-search-container {
    overflow-x: hidden;

    ccr-organization-search {
      width: 100%;

      mat-select {
        margin-bottom: 15px !important;

        div.mat-select-value {
          display: block;
          width: 185px;
        }
      }
    }
  }

  .meeting-type-color-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 1px;
  }
}
