.review-container {
  button.mat-icon-button {
    mat-icon {
      margin-top: -12px;
    }
  }

  .review-content {
    margin-bottom: 30px;

    .review-subtitle {
      font-weight: 200;
      font-size: 25px;
      font-family: 'Inter Light';
      padding-bottom: 20px;
      border-bottom: 1px solid #8dbdd850;
    }

    .review-item {
      font-weight: 200;
      font-size: 16px;
      font-family: 'Inter Light';
      width: 100%;

      &span {
        font-weight: 400;
      }
    }
  }
}
