<div class="ccr-wellcore-form-title">Review Order</div>
<div class="review-container">
  <div class="review-content" *ngIf="checkoutData.accountInfo">
    <p class="review-subtitle">Cart Info</p>
    <div class="cart-info-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div *ngFor="let item of cartItems" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
          <div>
            <img
            [alt]="item.attributes.name"
            class="mini-product-image"
            src="/assets/wellcore/images/wellcore-blood-kit-cropped.png" />
          </div>
          <p>{{ item.attributes.name }}</p>
        </div>
      </div>

      <div *ngIf="cartInfo" fxFlex="20%" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">
        <span>Subtotal: {{ cartInfo.attributes.pre_tax_total | currency:'USD':'symbol':'1.0-0':'en-US' }}</span>
        <span>Tax: {{ cartInfo.attributes.tax_total | currency:'USD':'symbol':'1.0-0':'en-US' }}</span>
        <span>Grand Total: {{ cartInfo.attributes.total | currency:'USD':'symbol':'1.0-0':'en-US' }}</span>
      </div>
    </div>
    <p class="review-subtitle">
      Account Info
      <button (click)="goToStep(0)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </p>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>First Name: </span>{{ checkoutData.accountInfo.firstName }}</p>
      <p class="review-item"><span>Last Name: </span>{{ checkoutData.accountInfo.lastName }}</p>
    </div>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>Phone Number: </span>{{ checkoutData.accountInfo.phoneNumber }}</p>
      <p class="review-item"><span>Email Address: </span>{{ checkoutData.accountInfo.email }}</p>
    </div>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>Gender: </span>{{ checkoutData.accountInfo.gender }}</p>
      <p class="review-item"><span>Height: </span>{{ checkoutData.accountInfo.height ? checkoutData.accountInfo.height + 'ft' : '' }}</p>
    </div>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>Birthday: </span>
        {{ checkoutData.accountInfo.birthday ? (checkoutData.accountInfo.birthday | amDateFormat:'YYYY/MM/DD') : '' }}
      </p>
    </div>
  </div>
  <div class="review-content">
    <p class="review-subtitle">
      Shipping Address
      <button (click)="goToStep(1)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </p>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>First Name: </span>{{ checkoutData.shippingInfo?.firstName }}</p>
      <p class="review-item"><span>Last Name: </span>{{ checkoutData.shippingInfo?.lastName }}</p>
    </div>
    <p class="review-item"><span>Address 1: </span>{{ checkoutData.shippingInfo?.address1 }}</p>
    <p class="review-item"><span>Address 2: </span>{{ checkoutData.shippingInfo?.address2 }}</p>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>City: </span>{{ checkoutData.shippingInfo?.city }}</p>
      <p class="review-item"><span>State: </span>{{ checkoutData.shippingInfo?.state }}</p>
      <p class="review-item"><span>Zip: </span>{{ checkoutData.shippingInfo?.zip }}</p>
    </div>
  </div>
  <div class="review-content">
    <p class="review-subtitle">
      Billing Address
      <button (click)="goToStep(2)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </p>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>First Name: </span>{{ checkoutData.paymentInfo?.billingInfo.firstName }}</p>
      <p class="review-item"><span>Last Name: </span>{{ checkoutData.paymentInfo?.billingInfo.lastName }}</p>
    </div>
    <p class="review-item"><span>Address 1: </span>{{ checkoutData.paymentInfo?.billingInfo.address1 }}</p>
    <p class="review-item"><span>Address 2: </span>{{ checkoutData.paymentInfo?.billingInfo.address2 }}</p>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>City: </span>{{ checkoutData.paymentInfo?.billingInfo.city }}</p>
      <p class="review-item"><span>State: </span>{{ checkoutData.paymentInfo?.billingInfo.state }}</p>
      <p class="review-item"><span>Zip: </span>{{ checkoutData.paymentInfo?.billingInfo.zip }}</p>
    </div>
  </div>
  <div class="review-content">
    <p class="review-subtitle">
      Payment Info
      <button (click)="goToStep(3)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </p>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.sm="start stretch"
      fxLayoutGap="50px"
      fxLayoutGap.sm="10px"
    >
      <p class="review-item"><span>Card Number: </span><sapn *ngIf="checkoutData.paymentInfo?.creditCardInfo.last4">************{{ checkoutData.paymentInfo?.creditCardInfo.last4 }}</sapn></p>
      <p class="review-item"><span>Expiration: </span>{{ checkoutData.paymentInfo?.creditCardInfo.exp_month }}/{{ checkoutData.paymentInfo?.creditCardInfo.exp_year }}</p>
    </div>
  </div>
</div>