<div matDialogTitle>
    <div>{{ title | translate }} | {{ date | amDateFormat:'MMM D, YYYY' }}</div>
    <button [matDialogClose]="refreshOrigin" matDialogClose><mat-icon>cancel</mat-icon></button>
</div>

<div class="mat-dialog-separator"></div>

<mat-dialog-content>
    <ccr-datasource-overlay class="ccr-table ccr-table-stats" [source]="source">

    <table mat-table [dataSource]="source">

        <ng-template #empty>-</ng-template>

        <ng-container matColumnDef="date" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.HOUR' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            {{ row.recordedAt | amDateFormat:'hh:mm:ss a' }}
        </td>
        </ng-container>

        <ng-container matColumnDef="device">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.DEVICE' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.device; else empty">
            {{ row.device.title }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.WEIGHT' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.weight; else empty">
            {{ row.weight.toFixed(1) }}
            <small>{{ 'composition' | unitLabel: row.weight | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="bmi">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.BMI' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.bmi; else empty">
            {{ row.bmi.toFixed(1) }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="visceralFatPercentage">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.VISCERAL_FAT' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.visceralFatPercentage; else empty">
            {{ row.visceralFat.toFixed(1) }}
            <small>{{ 'composition' | unitLabel: row.visceralFat | translate }}</small>
            <small>({{ row.visceralFatPercentage.toFixed(1) }}%)</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="visceralFatTanita">
        <th mat-header-cell *matHeaderCellDef>
            <span>{{ 'MEASUREMENT.VISCERAL_FAT_TANITA.VISCERAL_FAT_TANITA' | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.visceralFatTanita; else empty">
            {{ row.visceralFatTanita.toFixed() }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="bodyFat">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.BODY_FAT' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.bodyFat; else empty">
            {{ row.bodyFat.toFixed(1) }}
            <small>{{ 'composition' | unitLabel: row.bodyFat | translate }}</small>
            <small>({{ row.bodyFatPercentage.toFixed(1) }}%)</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="leanMass">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.LEAN_MASS' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.leanMass; else empty">
            {{ row.leanMass.toFixed(1) }}
            <small>{{ 'composition' | unitLabel: row.leanMass | translate }}</small>
            <small>({{ row.leanMassPercentage.toFixed(1) }}%)</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="waterPercentage">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.HYDRATION' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.water; else empty">
            {{ row.water.toFixed(1) }}
            <small>{{ 'composition' | unitLabel: row.leanMass | translate }}</small>
            <small>({{ row.waterPercentage.toFixed(1) }}%)</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="waist">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.WAIST' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.waist; else empty">
            {{ row.waist.toFixed(1) }}
            <small>{{ 'circumference' | unitLabel | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="arm">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.ARM' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.arm; else empty">
            {{ row.arm.toFixed(1) }}
            <small>{{ 'circumference' | unitLabel | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="chest">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.CHEST' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.chest; else empty">
            {{ row.chest.toFixed(1) }}
            <small>{{ 'circumference' | unitLabel | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="hip">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.HIP' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.hip; else empty">
            {{ row.hip.toFixed(1) }}
            <small>{{ 'circumference' | unitLabel | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="thigh">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.THIGH' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.thigh; else empty">
            {{ row.thigh.toFixed(1) }}
            <small>{{ 'circumference' | unitLabel | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="steps">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.STEPS' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.stepTotal; else empty">
            {{ row.stepTotal | number }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="average">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.STEP_AVERAGE' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.stepAverage; else empty">
            {{ row.stepAverage | number }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.DISTANCE' | translate }}</th>
        <td mat-cell *matCellDef="let row; let index = index;">
            <ng-container *ngIf="row.distanceTotal; else empty">
            {{ row.distanceTotal.toFixed(2) }} <small>{{ 'distance' | unitLabel | translate }}</small>
            <i class="ccr-marker" *ngIf="source.distanceNote[index]">&nbsp;*</i>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.CALORIES' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.calories; else empty">
            {{ row.calories | number }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="protein">
        <th mat-header-cell *matHeaderCellDef>{{ 'BOARD.PROTEIN' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.protein; else empty">
            {{ row.protein.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="carbohydrates">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.CARBS' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.carbohydrates; else empty">
            {{ row.carbohydrates.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="totalFat">
        <th mat-header-cell *matHeaderCellDef>{{ 'BOARD.FAT' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.totalFat; else empty">
            {{ row.totalFat.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.SLEEP' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.sleepMinutes; else empty">
            {{ row.sleepMinutes.toFixed(1) | number }} <small>{{ 'UNIT.HRS' | translate }}</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="sleepQuality">
        <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.RESTFULNESS' | translate }}</th>
        <td mat-cell *matCellDef="let row">
            <!-- TODO add a help description here -->
            <ng-container *ngIf="row.sleepQuality; else empty">
            {{ row.sleepQuality }}<small class="perc">%</small>
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="totalCholesterol">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.TOTAL_CHOLESTEROL' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.totalCholesterol; else empty">
            {{ row.totalCholesterol }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="ldl">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.LDL' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.ldl; else empty">
            {{ row.ldl }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="hdl">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.HDL' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.hdl; else empty">
            {{ row.hdl }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="vldl">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.VLDL' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.vldl; else empty">
            {{ row.vldl }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="triglycerides">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.TRIGLYCERIDES' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.triglycerides; else empty">
            {{ row.triglycerides }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="fastingGlucose">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.FASTING_GLUCOSE' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.fastingGlucose; else empty">
            {{ row.fastingGlucose }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="hba1c">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.HBA1C' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.hba1c; else empty">
            {{ row.hba1c }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="hsCrp">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.HSCRP' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.hsCrp; else empty">
            {{ row.hsCrp }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.TEMPERATURE' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.temperature; else empty">
            {{ row.temperature }}
            </ng-container>
            <!-- TODO unitLabel temperature -->
        </td>
        </ng-container>

        <ng-container matColumnDef="respirationRate">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.RESPIRATION_RATE' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.respirationRate; else empty">
            {{ row.respirationRate }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="heartRate">
        <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.HEART_RATE' | translate}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.heartRate; else empty">
            {{ row.heartRate }}
            </ng-container>
        </td>
        </ng-container>

        <ng-container matColumnDef="actions" [stickyEnd]="true">
            <th mat-header-cell *matHeaderCellDef>{{ 'BOARD.ACTIONS' | translate }}</th>
            <td mat-cell *matCellDef="let row" class="action-icon">
                <mat-icon [matTooltip]="'MEASUREMENT.DELETE' | translate" (click)="deleteMeasurement(row)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row
        *matRowDef="let row; columns: columns; let even = even; let odd = odd; let i = index"
        [ngClass]="{ 'row-even': even, 'row-odd': odd, 'most-recent': i === (source._data.data.length - 1) }">
        </tr>
    </table>

    </ccr-datasource-overlay>

    <div class="table-guide" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div>&nbsp;</div>
        <p>{{ 'MEASUREMENT.TABLE_SUMMARY_HINT' | translate }}</p>
    </div>

</mat-dialog-content>