@import 'variables';
@import 'shared/directed-styles';

$table-guide-element-size: 18px;
$table-guide-font-size: 12px;

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  @include horizontal-padding-left(15px !important);
}

.action-icon {
  cursor: pointer;
  text-align: center;
}

.mat-header-row th:last-of-type {
  background: mat-color($ccr-background, header);
}

.most-recent,
.most-recent td:first-of-type,
.most-recent td:last-of-type {
  background: var(--accent) !important;
}

.row-even td:last-of-type {
  background: mat-color($ccr-background, even);
}

.row-odd td:last-of-type {
  background: mat-color($ccr-background, odd);
}

.table-guide {
  margin-top: 20px;
  & > div {
    background: var(--accent);
    border-radius: 50%;
    height: $table-guide-element-size;
    width: $table-guide-element-size;
  }

  & > p {
    font-size: $table-guide-font-size;
    line-height: $table-guide-font-size;
  }
}
