<div fxLayout="column">
  <div class="ccr-heading">
    <div class="ccr-title" fxLayout="row" fxLayoutAlign=" end">
      <h2 fxFlex>
        {{ 'SIDENAV.DASHBOARD' | translate }}
      </h2>
    </div>
  </div>
  <div *ngIf="isPatient && !isLoading">
    <p>{{ 'BOARD.WELCOME_WELLCORE' | translate }}</p>
    <ul class="patient-tasks">
      <li>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <a mat-button color="primary" class="ccr-button" [routerLink]="[medicalIntakeFormLink]" [state]="{ autoAssignForm: !submittedMedicalIntakeForm }">
            {{ 'BOARD.COMPLETE_MY_ONBOARDING_QUESTIONNAIRE' | translate }}
          </a>
          <mat-icon *ngIf="submittedMedicalIntakeForm">check_circle</mat-icon>
        </div>
      </li>
      <li>
        <button mat-button routerLink="/test-results" [disabled]="!eligibleToSelfSchedule">
          {{ 'BOARD.SEE_MY_BLOOD_ANALYSIS' | translate }}
        </button>
      </li>
      <li>
          <button mat-button routerLink="/new-appointment" [disabled]="!eligibleToSelfSchedule">
            {{ 'BOARD.SCHEDULE_PROVIDER_VIDEO_CONFERENCE_CALL' | translate }}
          </button>
      </li>
    </ul>

    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
      <h3>{{ 'BOARD.MY_PROGRESS' | translate }}</h3>

      <ccr-measurements-chart-v2
      [dates]="dates"
      [label]="selectedLabel">
      </ccr-measurements-chart-v2>
    </div>
  </div>

  <div>
    <ccr-next-meeting></ccr-next-meeting>
  </div>
</div>

<div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
