<div fxLayout="column">
  <div class="ccr-heading">
    <div class="ccr-title" fxLayout="row" fxLayoutAlign=" end">
      <h2 fxFlex>
        {{ 'SIDENAV.DASHBOARD' | translate }}
      </h2>
    </div>
  </div>
  <div *ngIf="isPatient">
    <p>{{ 'BOARD.WELCOME_WELLCORE' | translate }}</p>
    <ul *ngIf="!isLoading" class="patient-tasks">
      <li>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <a mat-button color="primary" class="ccr-button" [routerLink]="[medicalIntakeFormLink]">
            {{ 'BOARD.COMPLETE_MY_ONBOARDING_QUESTIONNAIRE' | translate }}
          </a>
          <mat-icon *ngIf="submittedMedicalIntakeForm">check_circle</mat-icon>
        </div>
      </li>
      <li>
        <button mat-button routerLink="/test-results" disabled>
          {{ 'BOARD.SEE_MY_BLOOD_ANALYSIS' | translate }}
        </button>
      </li>
      <li *ngIf="!eligibleToSelfSchedule">
          <button mat-button routerLink="/new-appointment" disabled>
            {{ 'BOARD.SCHEDULE_PROVIDER_VIDEO_CONFERENCE_CALL' | translate }}
          </button>
        </li>
    </ul>
  </div>

  <div>
    <ccr-next-meeting></ccr-next-meeting>
  </div>
</div>

<div fxLayoutAlign="center center" class="ccr-overlay" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
