<ccr-page-section [orgId]="this.context.organizationId" class="page-header" section="REGISTER.HEADER"></ccr-page-section>

<div class="page-content">

  <div *ngIf="showLogo" class="logo-wrapper">
    <img [src]="logoUrl">
  </div>

  <ccr-page-section *ngIf="hideTitle" [orgId]="this.context.organizationId" section="REGISTER.HEADER_TITLE"></ccr-page-section>

  <mat-horizontal-stepper linear #stepper [class]="hideSteps ? '' : 'hide-header'">

    <mat-step [stepControl]="step1" [editable]="false">
      <ccr-page-register-clinic-info
        [formGroup]="step1"
        [orgName]="orgName"
        (nextStep)="nextStep(stepper)"
      ></ccr-page-register-clinic-info>
    </mat-step>

    <mat-step
    [stepControl]="step2"
    [editable]="false"
    *ngIf="paymentRequired !== undefined">
      <ccr-page-register-clinic-payment
        [formGroup]="step2"
        [isLoading]="isLoading"
        [required]="paymentRequired"
        (nextStep)="nextStep(stepper)"
      ></ccr-page-register-clinic-payment>
    </mat-step>

    <mat-step>
      <ccr-page-section [orgId]="this.context.organizationId" section="REGISTER.LAST_STEP"></ccr-page-section>
    </mat-step>

  </mat-horizontal-stepper>

  <mat-progress-bar *ngIf="isLoading"
    color="primary" mode="indeterminate"
  ></mat-progress-bar>
</div>
