<div class="ccr-wellcore-form-title">Shipping Information</div>
<form class="ccr-wellcore-form" [formGroup]="formGroup">
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="start stretch"
    fxLayoutGap="50px"
    fxLayoutGap.sm="0px"
  >
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">First Name <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="firstName">
        <mat-error *ngIf="formGroup.get('firstName').getError('required')">First name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Last Name <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="lastName">
        <mat-error *ngIf="formGroup.get('lastName').getError('required')">Last name is required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="ccr-wellcore-field">
    <label class="ccr-wellcore-label">Address Line 1 <span>*</span></label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="address1">
      <mat-error *ngIf="formGroup.get('address1').getError('required')">Address Line 1 is required</mat-error>
    </mat-form-field>
  </div>
  <div class="ccr-wellcore-field">
    <label class="ccr-wellcore-label">Address Line 2</label>
    <mat-form-field appearance="outline">
      <input matInput formControlName="address2">
    </mat-form-field>
  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="start stretch"
    fxLayoutGap="50px"
    fxLayoutGap.sm="0px"
  >
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">City <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="city">
        <mat-error *ngIf="formGroup.get('city').getError('required')">City is required</mat-error>
      </mat-form-field>
    </div>
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">State <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="state">
        <mat-error *ngIf="formGroup.get('state').getError('required')">State is required</mat-error>
      </mat-form-field>
    </div>

  </div>
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.sm="start stretch"
    fxLayoutGap="50px"
    fxLayoutGap.sm="0px"
  >
    <div class="ccr-wellcore-field">
      <label class="ccr-wellcore-label">Zip <span>*</span></label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="zip">
        <mat-error *ngIf="formGroup.get('zip').getError('required')">Zip is required</mat-error>
      </mat-form-field>
    </div>
    <div class="ccr-wellcore-field">
    </div>
  </div>
</form>