<div>
  <h3 #top>So richten Sie Ihr Konto ein</h3>
  <p>Sie benötigen einen Apple Developer Account, um Ihre iOS (iPhone und iPad) App im Apple App Store zu hosten. Dieses Dokument führt Sie durch die Registrierung für das Apple Developer Programm.</p>
  <p>Nachdem Sie den Apple Developer Account eingerichtet haben (oder wenn Sie bereits einen haben), senden Sie bitte eine Einladung an CoachCare, an Ihrem Account mitzuarbeiten. CoachCare hilft Ihnen dann bei der Verwaltung Ihrer App und sorgt dafür, dass diese immer auf dem neuesten Stand ist und ordnungsgemäß funktioniert.</p>
  <p><em>Der gesamte Registrierungsvorgang für Ihren Apple Developer Account dauert einige Tage bis einige Wochen. Um den Prozess zu beschleunigen, stellen Sie bitte sicher, dass Sie die korrekten Dokumente und Informationen einreichen und umgehend auf alle Nachrichten von Apple reagieren.</em></p>
  <h3>Bevor Sie beginnen</h3>
  <p>Wenn Sie bereits einen Apple Developer Account für Ihr Unternehmen haben, können Sie gleich zum Abschnitt <a href="/register/apple#invite">CoachCare zu Ihrem Apple Developer Account einladen</a> wechseln.</p>
  <p>Um ein Konto für Ihr Unternehmen zu erstellen, benötigen Sie Folgendes:</p>
  <ol>
    <li>Einen Computer oder Gerät, das die Apple Zwei-Faktor-Authentifizierung verwenden kann. Das kann entweder ein <a href="https://support.apple.com/en-us/HT205075" rel="noopener noreferrer" target="_blank">iOS Gerät (iPhone, iPad oder iPod Touch), ein Apple Desktop- oder Laptop-Computer oder ein Windows Desktop- oder Laptop-Computer</a> sein. Wenn Sie Fragen zu diesen Anforderungen haben, wenden Sie sich bitte an unser <a href="mailto:implementation@coachcare.com">Implementierungsteam</a>.
    </li>
    <li>Rechtliche Organisation oder Firmenname</li>
    <li>Eine öffentlich zugängliche Website mit einem Domainnamen, der Ihrem Unternehmen zugeordnet ist</li>
    <li>Eine Telefonnummer, die Apple anrufen wird, um Informationen über Ihr Unternehmen zu überprüfen</li>
    <li>Eine E-Mail-Adresse, die Ihrem Unternehmen zugeordnet ist und mit der das Konto registriert wird</li>
  </ol>
  <h3>Apple Developer Registrierungsprozess</h3>
  <ol>
    <li>Erstellen Sie eine Apple ID für Ihr Unternehmen
      <p>Zuerst müssen Sie eine Apple ID für Ihr Unternehmen erstellen, die Sie dann benutzen können, um einen Apple Developer Account für Ihr Unternehmen einzurichten. Ihre eigene persönliche Apple ID können Sie dafür nicht verwenden. Darüber hinaus muss die für Ihre Apple ID verwendete E-Mail-Adresse den Domain-Namen der Website Ihres Unternehmens beinhalten. Bitte benutzen Sie also kein Konto eines E-Mail-Dienstes wie @gmail.com, @yahoo.com, @hotmail.com etc. Wenn Sie noch keine Apple ID für Ihr Unternehmen haben, <a href="https://appleid.apple.com/account" rel="noopener noreferrer" target="_blank">erstellen Sie eine Apple ID</a>.</p>
    </li>
    <li>Richten Sie die Zwei-Faktor-Authentifizierung für Ihre Apple ID ein
      <p>Seit dem 29 Juni 2018 verlangt Apple, dass Apple ID-Konten für Unternehmen über eine Zwei-Faktor-Authentifizierung verfügen, um die Kontosicherheit zu gewährleisten. Bitte <a href="https://support.apple.com/en-us/HT204915" rel="noopener noreferrer" target="_blank">aktivieren Sie die Zwei-Faktor-Authentifizierung</a> für Ihr Apple ID-Konto. Bitte beachten Sie, dass für diesen Schritt <a href="https://support.apple.com/en-us/HT205075" rel="noopener noreferrer" target="_blank">ein Apple-Gerät oder ein Windows-PC, auf dem iCloud für Windows und iTunes installiert sind</a>, erforderlich ist. Beachten Sie außerdem, dass das Gerät oder der Computer, der für die Zwei-Faktor-Authentifizierung verwendet wird, mit Ihrer Apple Business ID angemeldet sein muss. Hier gibt es zwei Optionen:</p>
      <ol>
        <li><small><strong>Empfohlener Ansatz</strong></small>Kaufen und/oder verwenden Sie ein separates Apple-Gerät (iPhone, iPad, Computer, Laptop) oder einen Windows-Computer oder Laptop, der immer mit dieser Apple ID angemeldet ist. Dieses Gerät oder dieser Computer wird ausschließlich für geschäftliche Zwecke verwendet und Ihr persönliches Gerät oder Telefon wird nicht verwendet.</li>
        <li>Verwenden Sie ein persönliches Gerät oder Telefon und melden Sie sich bei Bedarf mit Ihrer Apple Business ID an. Zum Beispiel:
          <ul>
            <li>Ihr persönliches iPhone ist normalerweise mit Ihrem persönlichen Apple ID-Konto angemeldet.</li>
            <li>Wenn Sie dieses für geschäftliche Zwecke brauchen, loggen Sie sich aus Ihrem persönlichen Apple ID-Konto auf Ihrem Telefon oder Computer aus und melden Sie sich mit Ihrer Apple Business ID an.</li>
            <li>Nachdem die Authentifizierung abgeschlossen ist (was nur wenige Minuten dauern sollte), melden Sie sich von Ihrer Apple Business ID ab und wieder mit Ihrer persönlichen Apple ID an.</li>
          </ul>In der Regel müssen Kliniken alle 2-3 Monate auf ihre Apple Business ID-Konten zugreifen, sodass der Aufwand überschaubar ist.
        </li>
      </ol>
    </li>
    <li>Registrierung oder Ermittlung der D-U-N-S Nummer
      <p>Ihre Organisation muss über eine D-U-N-S Nummer verfügen, damit Apple Ihre Organisation auf ihre Identität und Rechtspersönlichkeit überprüfen kann. Diese eindeutigen neunstelligen Nummern werden von Dun &amp; Bradstreet vergeben und sind als Standard-Identifikationsnummern für Unternehmen weit verbreitet.</p>
      <ul>
        <li>
          <a href="https://developer.apple.com/enroll/duns-lookup/#/search" rel="noopener noreferrer" target="_blank">Registrieren oder ermitteln Sie Ihre D-U-N-S Nummer</a><br>
          <em><strong>Bevor Sie sich für eine D-U-N-S Nummer registrieren können, brauchen Sie eine Apple ID.</strong>.<br>
          Bitte führen Sie den vorherigen Schritt (Apple ID erstellen) aus, bevor Sie mit diesem Punkt fortfahren.</em>
        </li>
        <li>
          <a href="https://developer.apple.com/support/d-u-n-s/" rel="noopener noreferrer" target="_blank">Mehr Informationen zur D-U-N-S Nummer</a>
        </li>
      </ul>
    </li>
    <li>Registrierung für einen Apple Developer Account
      <p>Anschließend <a href="https://developer.apple.com/programs/enroll/" rel="noopener noreferrer" target="_blank">füllen Sie das Registrierungsformular aus</a>, um sich für das Apple Developer Account Programm anzumelden.</p>
      <p>Zu Beginn des Registrierungsprozesses registrieren Sie sich bitte als <strong>Firma/Organisation</strong>. Wenn Sie Fragen zu Ihrem Unternehmenstyp haben oder beabsichtigen, sich als ein anderer Typ zu registrieren, wenden Sie sich bitte an unser <a href="mailto:implementation@coachcare.com">Implementierungsteam</a>, bevor Sie fortfahren.</p>
      <p>Nachdem Sie diesen Prozess abgeschlossen haben, wird sich ein Vertreter von Apple innerhalb von 24 bis 72 Stunden unter der angegebenen E-Mail-Adresse und Telefonnummer mit Ihnen in Verbindung setzen, um die Informationen über Ihr Unternehmen zu überprüfen.</p>
    </li>
    <li>Zahlungsinformationen eingeben
      <p>Nachdem das Konto von Apple verifiziert wurde, erhalten Sie eine Bestätigungs-E-Mail, in der Sie auch Anweisungen zur Zahlung des Mitgliedschaftsbeitrags für das Apple Developer Programm finden.</p>
    </li>
  </ol>
  <h3 id="invite">CoachCare zu Ihrem Apple Developer Account einladen</h3>
  <p>Sobald Ihr Apple Developer-Konto vollständig aktiviert ist, müssen Sie CoachCare als Administrator in Ihr App Store Connect-Konto einladen. Das funktioniert so:</p>
  <ol>
    <li>Öffnen Sie das Menü<a href="https://itunesconnect.apple.com/access/users" rel="noopener noreferrer" target="_blank">Benutzer und Zugriffsrechte</a> in Ihrem App Store Connect-Konto.
    </li>
    <li>Klicken Sie auf den Tab <strong>Personen</strong>, der sich oben auf der Seite befindet.</li>
    <li>Klicken Sie auf das Plus-Symbol ("+"), um einen neuen Benutzer (CoachCare) hinzuzufügen.</li>
    <li>Tragen Sie "CoachCare" sowohl im Feld <strong>Vorname</strong> als auch im Feld <strong>Nachname</strong> ein.</li>
    <li>Als "E-Mail" benutzen Sie bitte <strong>mobile@coachcare.com</strong>.</li>
    <li>Unter <strong>Rollen</strong> setzen Sie das Häkchen bitte bei <strong>Administrator</strong>.</li>
    <li>Dann klicken Sie auf die Schaltfläche <strong>Einladen</strong> ganz unten.</li>
  </ol>
  <p>Der Prozess sollte nun abgeschlossen sein. Mit allen Support- oder Folgefragen können Sie sich an die <a href="https://coachcare.zendesk.com/hc/en-us/requests/new" rel="noopener noreferrer" target="_blank">CoachCare Support-Seite</a> oder Ihren regionalen Vertriebspartner wenden.</p>
</div>
