dashboard-date-range-selector {
  .date-range-container {
    align-items: center;
    background-color: var(--selector-background-light);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 15px;
    margin: 0 10px;

    p {
      text-align: center;
      margin: 10px 0;
      color: var(--text);
    }

    span {
      cursor: pointer;
    }
  }
}
