<div>
  <h3 #top>Comment configurer votre compte</h3>
  <p>Un compte Apple Developer est nécessaire afin d'héberger votre application iOS (iPhone et iPad) dans l'App Store d'Apple. Ce document guide à travers l'inscription au programme Apple Developer.</p>
  <p>Après avoir configuré un compte Apple Developer (ou si vous avez déjà un), s'il vous plaît inviter CoachCare à collaborer à votre compte. CoachCare alors aider à gérer votre application, et le tenir à jour et fonctionne correctement.</p>
  <p><em>L'ensemble de ce processus d'enregistrement de votre compte Apple Developer prendra entre quelques jours à quelques semaines. Pour accélérer le processus, s'il vous plaît assurez-vous de soumettre tous les bons matériaux et répondre rapidement à toute communication d'Apple.</em></p>
  <h3>Avant de commencer</h3>
  <p>Si vous avez déjà un compte Apple Developer pour votre entreprise, vous pouvez passer à la <a href="/register/apple#invite">Inviter CoachCare à votre compte Apple Developer</a> section.</p>
  <p>Pour créer un compte pour votre entreprise, vous aurez besoin de:</p>
  <ol>
    <li>Un ordinateur ou un appareil qui peut utiliser l'authentification Apple à deux facteurs. Cela peut être soit un appareil iOS <a href="https://support.apple.com/en-us/HT205075" rel="noopener noreferrer" target="_blank">(iPhone, iPad ou iPod Touch), bureau apple ou un ordinateur portable ou de bureau Windows ou</a> un ordinateur portable. Si vous avez des questions au sujet de cette exigence, s'il vous plaît contacter notre <a href="mailto:implementation@coachcare.com"></a> équipe de mise en œuvre.
    </li>
    <li>Organisation juridique ou Nom de l'entreprise</li>
    <li>Un site Web public avec un nom de domaine associé à votre entreprise</li>
    <li>Un numéro de téléphone de contact que Apple va appeler pour vérifier les informations sur votre entreprise</li>
    <li>Une adresse e-mail associée à votre entreprise, qui sera utilisé pour le compte regiser</li>
  </ol>
  <h3>Apple Processus d'inscription des développeurs</h3>
  <ol>
    <li>Créer un identifiant Apple pour votre entreprise
      <p>Vous devez d'abord créer un identifiant Apple pour votre entreprise, que vous utiliserez ensuite pour créer un compte Apple Developer pour votre entreprise. Vous ne pouvez pas utiliser votre propre Apple ID personnel. De plus, l'adresse e-mail utilisée pour votre Apple ID doit utiliser le nom de domaine du site Web de votre entreprise. Ne pas utiliser un compte e-mail à la consommation (@ gmail.com, @ yahoo.com, @ hotmail.com, etc.). Si vous ne possédez pas déjà un identifiant Apple pour votre entreprise, <a href="https://appleid.apple.com/account" rel="noopener noreferrer" target="_blank">créer un identifiant Apple</a> .</p>
    </li>
    <li>Configuration de l'authentification à deux facteurs pour votre Apple ID
      <p>Au 29 Juin 2018, Apple exige votre entreprise d'Apple ID compte pour l'authentification à deux facteurs pour la sécurité des comptes améliorée. <a href="https://support.apple.com/en-us/HT204915" rel="noopener noreferrer" target="_blank">s'il vous plaît permettent</a> d'authentification à deux facteurs pour vous compte Apple ID. S'il vous plaît noter que cette étape vous oblige à avoir <a href="https://support.apple.com/en-us/HT205075" rel="noopener noreferrer" target="_blank">un appareil Apple ou Windows PC avec iCloud pour Windows et iTunes installé</a> . Gardez à l'esprit que le périphérique ou l'ordinateur utilisé pour l'authentification à deux facteurs doivent être enregistrés dans l'utilisation de votre entreprise ID Apple. Deux options sont disponibles:</p>
      <ol>
        <li><small><strong>Approche recommandée</strong></small> Achat et / ou maintenir un appareil d'Apple distinct (iPhone, iPad, ordinateur, ordinateur portable) ou Windows ou un ordinateur portable qui est toujours connecté avec cette pomme ID. Cet appareil ou ordinateur seraient associés et utilisés uniquement à des fins commerciales, et votre appareil personnel ou par téléphone n'est pas utilisé.</li>
        <li>Utilisez un appareil personnel ou par téléphone, et connectez-vous à l'aide de votre entreprise Apple ID au besoin. Par exemple:
          <ul>
            <li>Votre iPhone personnel est normalement connecté à votre compte Apple ID personnel.</li>
            <li>Au besoin à des fins commerciales, vous déconnecter de votre compte Apple ID personnel sur votre téléphone ou votre ordinateur et connectez-vous avec votre entreprise Apple ID</li>
            <li>Une fois l'authentification terminée (qui ne devrait prendre que quelques minutes) vous déconnecter de votre ID Apple d'affaires et de nouveau dans votre Apple ID personnel.</li>
          </ul>En règle générale, les cliniques devront accéder à leurs comptes d'identification d'Apple entreprise une fois tous les 2-3 mois, de sorte que cette pratique est gérable.
        </li>
      </ol>
    </li>
    <li>Inscrivez-vous ou situer D-U-N-S
      <p>Votre organisme doit avoir un D-U-N-S de sorte que Apple peut vérifier l'identité de votre organisation et le statut entité juridique. Ces chiffres à neuf chiffres uniques sont attribués par Dun & amp; Bradstreet et sont largement utilisés comme identificateurs d'entreprise standard.</p>
      <ul>
        <li>
          <a href="https://developer.apple.com/enroll/duns-lookup/#/search" rel="noopener noreferrer" target="_blank">Inscrivez-vous pour ou localiser votre numéro DUNS</a><br>
          <em><strong>un identifiant Apple est nécessaire avant de vous inscrire pour un numéro DUNS</strong> .<br>
          S'il vous plaît compléter l'étape précédente (Créer Apple ID) avant de passer à ce point.</em>
        </li>
        <li>
          <a href="https://developer.apple.com/support/d-u-n-s/" rel="noopener noreferrer" target="_blank">Plus d'informations sur le nombre D-U-N-S</a>
        </li>
      </ul>
    </li>
    <li>Inscrivez-vous pour un compte Apple Developer
      <p>Ensuite, <a href="https://developer.apple.com/programs/enroll/" rel="noopener noreferrer" target="_blank">remplir le formulaire d'inscription</a> pour vous inscrire à Apple programme de compte développeur.</p>
      <p>Au début du processus d'inscription s'inscrire s'il vous plaît comme <strong>Entreprise / Organisation</strong> . Si vous avez des questions au sujet de votre type d'entité ou avez l'intention d'enregistrer comme un autre type, s'il vous plaît contacter notre <a href="mailto:implementation@coachcare.com"></a> de l'équipe de mise en œuvre avant de continuer.</p>
      <p>Après avoir terminé ce processus, un représentant d'Apple vous contacter à l'adresse e-mail fournie et le numéro de téléphone dans les 24-72 heures. Ils vérifieront les informations sur votre entreprise.</p>
    </li>
    <li>Entrez les informations de paiement
      <p>Une fois le compte a été vérifié par Apple, vous recevrez un e-mail de confirmation. Instructions pour payer les membres du programme Apple Developer seront inclus.</p>
    </li>
  </ol>
  <h3 id="invite">Inviter CoachCare à votre compte Apple Developer</h3>
  <p>Une fois votre compte Apple Developer est pleinement actif, vous devez inviter CoachCare comme <em>Admin</em> à votre compte App Store Connect. Pour commencer:</p>
  <ol>
    <li>Accédez au de <a href="https://itunesconnect.apple.com/access/users" rel="noopener" target="_blank">l'utilisateur et la section Accès</a> de votre App Store Connect compte.
    </li>
    <li>Cliquez sur l'onglet <strong>Les gens</strong> en haut de la page.</li>
    <li>Cliquez sur le bouton "+" pour ajouter un nouvel utilisateur (CoachCare).</li>
    <li>Utilisez "CoachCare" pour les <strong>Prénom</strong> et <strong>Nom</strong> champs.</li>
    <li>Pour le "E-mail", utilisez <strong>mobile@coachcare.com</strong> .</li>
    <li>Sous <strong>Rôles</strong> Vérifier <strong>Admin</strong> .</li>
    <li>Cliquez ensuite sur le <strong>Inviter</strong> en bas.</li>
  </ol>
  <p>Le processus devrait maintenant être terminée. Tout soutien ou de suivi des questions peuvent être adressées à <a href="https://coachcare.zendesk.com/hc/en-us/requests/new" rel="noopener" target="_blank">CoachCare Support</a> ou votre directeur régional des ventes.</p>
</div>
