<ccr-datasource-overlay class="ccr-table ccr-table-stats" [source]="source">

  <table mat-table [dataSource]="source">

    <ng-template #empty>-</ng-template>

    <ng-container matColumnDef="date" [sticky]="true">
      <th mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.DATE' | translate }}</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{ 'ccr-text-right': !row.isHeader && !row.isEmpty }">
        <ng-container *ngIf="row.isHeader">
            {{ row.date | amDateFormat:'ddd MMM D, YYYY' }}
        </ng-container>
        <ng-container *ngIf="!row.isHeader">
            {{ !row.isEmpty && row.usesNewAPI ? (row.date | amDateFormat:'h:mm a') : (row.date | amDateFormat:'ddd MMM D, YYYY') }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="device">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.DEVICE' | translate }}</th>
      <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!row.isHeader">
          <ng-container *ngIf="row.device; else empty">
              {{ row.device.title }}
          </ng-container>
          </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="steps">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.STEPS' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.stepTotal; else empty">
          <p>{{ row.stepTotal | number }}<small *ngIf="row.stepEntries.length < 2">&nbsp;{{ row.stepEntries[0].device.name }}</small></p>
          <div *ngIf="row.stepEntries.length >= 2">
            <small *ngFor="let entry of row.stepEntries" class="small-value">
              <span>{{ entry.device.name }}</span>
              <span>&nbsp;{{ entry.steps | number }}</span>
            </small>
          </div>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="average">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.STEP_AVERAGE' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.stepAverage; else empty">
          {{ row.stepAverage | number }}
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.DISTANCE' | translate }}</th>
      <td mat-cell *matCellDef="let row; let index = index;">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.distanceTotal; else empty">
          <p>
            {{ row.distanceTotal.toFixed(2) }} <small>{{ 'distance' | unitLabel | translate }}</small>
            <i class="ccr-marker" *ngIf="source.distanceNote[index]">&nbsp;*</i>
          </p>
          <div *ngIf="row.stepEntries.length >= 2">
            <small *ngFor="let entry of row.stepEntries" class="small-value">
              <span>{{ entry.distance | number }}</span>
              <span>&nbsp;{{ 'distance' | unitLabel | translate }}</span>
            </small>
          </div>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.CALORIES' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.calories; else empty">
          {{ row.calories | number }}
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef>{{ 'BOARD.PROTEIN' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.protein; else empty">
          {{ row.protein.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="carbohydrates">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.CARBS' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.carbohydrates; else empty">
          {{ row.carbohydrates.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalFat">
      <th mat-header-cell *matHeaderCellDef>{{ 'BOARD.FAT' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.totalFat; else empty">
          {{ row.totalFat.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalCholesterol">
      <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.TOTAL_CHOLESTEROL' | translate}}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.totalCholesterol; else empty">
          {{ row.totalCholesterol }}
          <small>{{ 'UNIT.MGR' | translate }}/{{ 'UNIT.DLT' | translate }}</small>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" [stickyEnd]="true">
      <th mat-header-cell *matHeaderCellDef>{{ 'BOARD.ACTIONS' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="action-icon">
        <div [class.hidden]="row.isHeader || row.isEmpty">
          <mat-icon
          [ngClass]="{ 'disabled': !row.device, 'clickable': row.device }"
          [matTooltip]="'MEASUREMENT.DELETE' | translate"
          (click)="deleteBodyMeasurement(row)">delete</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: columns; let even = even; let odd = odd;"
      [ngClass]="{ 'row-even': row.usesNewAPI ? row.even : even, 'row-odd': row.usesNewAPI ? row.odd : odd, 'header': row.isHeader, 'bold': row.usesNewAPI ? row.isEmpty : true }">
    </tr>
  </table>

  <p class="footnotes" *ngIf="source.distanceNote.includes(true)">
    <i class="ccr-marker">*</i> {{ 'MEASUREMENT.DISTANCE_NOTE' | translate }}
  </p>

  <p class="footnotes" *ngIf="source.hasTooMuchForSingleDay">
    <i class="ccr-marker">*</i> {{ 'MEASUREMENT.MORE_DATA_EXISTS_FOR_DAY' | translate }}
  </p>

</ccr-datasource-overlay>
