<ccr-datasource-overlay class="ccr-table ccr-table-stats" [source]="source">

  <table mat-table [dataSource]="source">

    <ng-template #empty>-</ng-template>

    <ng-container matColumnDef="date" [sticky]="true">
      <th mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.DATE' | translate }}</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{ 'ccr-text-right': !row.isHeader && !row.isEmpty }">
        <ng-container *ngIf="row.isHeader">
            {{ row.date | amDateFormat:'ddd MMM D, YYYY' }}
        </ng-container>
        <ng-container *ngIf="!row.isHeader">
            {{ !row.isEmpty && row.usesNewAPI ? (row.date | amDateFormat:'h:mm a') : (row.date | amDateFormat:'ddd MMM D, YYYY') }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="device">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.DEVICE' | translate }}</th>
      <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!row.isHeader">
          <ng-container *ngIf="row.device; else empty">
              {{ row.device.title }}
          </ng-container>
          </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.CALORIES' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.calories; else empty">
          {{ row.calories | number }}
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef>{{ 'BOARD.PROTEIN' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.protein; else empty">
          {{ row.protein.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="carbohydrates">
      <th mat-header-cell *matHeaderCellDef>{{ 'MEASUREMENT.CARBS' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.carbohydrates; else empty">
          {{ row.carbohydrates.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalFat">
      <th mat-header-cell *matHeaderCellDef>{{ 'BOARD.FAT' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.totalFat; else empty">
          {{ row.totalFat.toFixed(1) | number }}<small>{{ 'UNIT.G' | translate }}</small>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalCholesterol">
      <th mat-header-cell *matHeaderCellDef>{{'MEASUREMENT.TOTAL_CHOLESTEROL' | translate}}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isHeader">
        <ng-container *ngIf="row.totalCholesterol; else empty">
          {{ row.totalCholesterol }}
          <small>{{ 'UNIT.MGR' | translate }}/{{ 'UNIT.DLT' | translate }}</small>
        </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: columns; let even = even; let odd = odd;"
      [ngClass]="{ 'row-even': row.usesNewAPI ? row.even : even, 'row-odd': row.usesNewAPI ? row.odd : odd, 'header': row.isHeader, 'bold': row.usesNewAPI ? row.isEmpty : true }">
    </tr>
  </table>

  <p class="footnotes" *ngIf="source.distanceNote.includes(true)">
    <i class="ccr-marker">*</i> {{ 'MEASUREMENT.DISTANCE_NOTE' | translate }}
  </p>

  <p class="footnotes" *ngIf="source.hasTooMuchForSingleDay">
    <i class="ccr-marker">*</i> {{ 'MEASUREMENT.MORE_DATA_EXISTS_FOR_DAY' | translate }}
  </p>

</ccr-datasource-overlay>
