<div matDialogTitle>
  <div>
    <span matDialogTitle [innerHTML]="'ADMIN.ORGS.ASSOC_ACTIVE_CAMPAIGN' | translate"></span>
  </div>
  <button matDialogClose><mat-icon>cancel</mat-icon></button>
</div>

<div class="mat-dialog-separator"></div>

<mat-dialog-content [formGroup]="form">
  <div *ngIf="isLoading">
    <mat-spinner diameter="40" strokeWidth="3"></mat-spinner>
  </div>

  <div
  *ngIf="!isLoading"
  class="form-container"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="10px">
  <mat-form-field floatLabel="always">
    <mat-select formControlName="campaign" [placeholder]="'ADMIN.ORGS.ACTIVE_CAMPAIGN_LISTS' | translate">
      <mat-option *ngFor="let campaign of activeCampaigns" [value]="campaign.id">{{ campaign.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
  <button [disabled]="form.invalid" (click)="onSubmit()" class="ccr-button" color="warn" mat-raised-button>
    <span>{{ 'GLOBAL.ASSOCIATE' | translate }}</span>
  </button>

  <button class="ccr-button" mat-button matDialogClose>
    <span>{{ 'GLOBAL.CANCEL' | translate }}</span>
  </button>
</mat-dialog-actions>